.picker button{
border-color: transparent
}


.btn {
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px 0px 15px 0px;
}
.btn,
.btn-primary,
.btn:hover,
.btn-primary:hover,
.btn:focus,
.btn-primary:focus {
font-size: 1em;
color: #333 !important;
background-color: transparent !important;
background-image: none !important;
border-radius: 0 !important;
box-shadow: none;
text-shadow: 0 0 0;
border: 0 !important;
border-bottom: 1px solid #9e9e9e !important;
line-height: 33px;
text-align: left;
text-transform: capitalize;
margin-bottom: 20px;
width: unset;    
}


.cancel, .cancel:hover, .cancel:focus, 
.edit_details .cancel, .edit_details button.cancel:hover{
background-color: transparent !important;
border: 1px solid #5a7b90 !important;
color: #333 !important;
box-shadow: 0 2px 2px 0 rgba(68, 59, 70, 0.14), 0 3px 1px -2px rgba(76, 84, 111, 0.2), 0 1px 5px 0 rgba(55, 98, 152, 0.12);
border-radius: 3px;
position: relative;
font-size: 1em;
font-weight: 400;
text-transform: uppercase;
letter-spacing: 0;
will-change: box-shadow, transform;
transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
text-align: center;
box-sizing: border-box;
font-size: 1em;
margin-right: 36px;
}

	.cancel:hover, .cancel:focus, 
	.edit_details button.cancel:hover {
    box-shadow: 0 14px 26px -12px rgba(65, 46, 128, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(39, 153, 176, 0.2);
    border: 1px solid #1d6762 !important;

	}




.btn-black-bg, .btn-black-bg:hover, .btn-black-bg:focus{
background-color: #333 !important;
border: 1px solid #222 !important;
color: #fff !important;
box-shadow: 0 2px 2px 0 rgba(68, 59, 70, 0.14), 0 3px 1px -2px rgba(76, 84, 111, 0.2), 0 1px 5px 0 rgba(55, 98, 152, 0.12);
border-radius: 3px;
position: relative;
font-size: 1em;
font-weight: 400;
text-transform: uppercase;
letter-spacing: 0;
will-change: box-shadow, transform;
transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
text-align: center;
}

	.btn-black-bg:hover, .btn-black-bg:focus {
    box-shadow: 0 14px 26px -12px rgba(65, 46, 128, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(39, 153, 176, 0.2);
	border: 1px solid #000  !important;
	}




.modal-header .close{
    font-size: 36px;	
line-height: 40px;
margin: 18px 16px 0 0 !important;
padding-right: 0;
border-radius: 18px;
will-change: box-shadow, transform;
transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.close:focus, .close:hover {
color: #333;
text-decoration: none;
cursor: pointer;
filter: alpha(opacity=50);
opacity: 1;
background: transparent;
box-shadow: 0 14px 26px -12px rgba(156, 39, 176, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(156, 39, 176, 0.2);
}	


form .new_row button.client_submit,form .new_row button.cancel,button.client_submit {
margin-left: 20px !important;
width: 130px !important;
box-sizing: border-box;
font-size: 15px !important;
height:40px !important;
text-align: center;
}


.holdings-table-section #cashBondsCol, .tradesPage-table tr td #tradesCol, #tradesCol, #cashBondsCol,
.holdings-table-section #cashBondsCol:hover, .tradesPage-table tr td #tradesCol:hover, #tradesCol:hover, #cashBondsCol:hover{
    background-color: transparent !important;
    border: 1px solid #81d4de !important;
    color: #474747 !important;
    box-shadow: 0 2px 1px 0 rgba(75, 123, 200, 0.14), 0 3px 1px -2px rgba(75, 160, 200, 0.2), 0 1px 5px 0 rgba(75, 164, 200, 0.12);
border-radius: 3px;
position: relative;
font-size: 1em;
font-weight: 400;
text-transform: uppercase;
letter-spacing: 0;
will-change: box-shadow, transform;
transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
text-align: center;
width: auto !important;
padding: 5px 24px;
}

	.holdings-table-section #cashBondsCol:hover, .tradesPage-table tr td #tradesCol:hover, #tradesCol:hover, #cashBondsCol:hover {
    box-shadow: 0 14px 26px -12px rgba(75, 102, 200, 0.42), 0 4px 23px 0px rgba(75, 171, 200, 0.12), 0 8px 10px -5px rgba(75, 191, 200, 0.2);
    border: 1px solid #0678d2 !important;
    color: #333 !important;
	}




button.dropdown-button,
button.dropdown-button:hover{
width: 100%;
}