body {
    margin: 0px;
    padding: 0px;
}
ul li {
    list-style-type: none;
}
/* Home page css start here */

.container {
    padding-left: 35px;
    padding-right: 35px;
    width: 100%;
}


.jumbotron {
    background-image: url('../images/fin.jpg');
    background-size: cover;
    text-align: center;
    margin-left:-1px !important;
}
.jumbotron .heading {
    /*padding: 1.2em 0;*/
    padding-bottom: 1.0em;
}
.jumbotron p {
    padding: 0 10%;
}
.jumbo-links {
    padding: 2em 0;
}
.jumbo-links div a, .jumbo-links div a:hover, .jumbo-links div a:focus{
    font-size: 25px;
    color: #039be5 !important;
}

.home-text {
    width: 78%;
    margin: 0 auto;
}
.home-text h2 {
    padding-bottom: 0.5em;
}
.home_headtag{
    border: 1px solid #333;
    line-height: 54px;
    height: 52px;
    font-size: 28px;
    width: 90%;
    margin: 10px auto 20px !important;
    background-color: #333;
    color: #fff;
}
.line-height-39{
  line-height:39px !important;
}
.square-div,
.square-content {
    padding: 3em;
}
.relative {
    position: relative;
}
.full-width {
    width: 100%;
    height: auto;
}
.square-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    color: #fff;
    padding-top: 55%;
}
.square-div,
.square-content {
    padding: 3em;
}
.table>thead>tr>th{
   border-bottom:0 !important;
}
/* Home page css end here */
/* clients-details.html css start here */

.no_padding {
    padding: 0px;
}
.header_left {
    display: flex;
}
.header_left > div {
    height: 38px;
    line-height: 39px;
    padding: 0px;
    width: 42px;
    display: inline-block;
}
.header_left > div:last-child {
    font-size: 17px;
    background-color: #333333;
    color: #fff;
    line-height:40px;
    padding-left: 12px;
    width: calc(100% - 41px);
}
.navbar-default{
  box-shadow:none !important;
}

.client_details {
    margin-bottom: 10px
}
.client_details input[type="password"],.client_details input[type="text"] {
  color: #333 !important;
}

.client_in{
  background-color: #25292E;
 }

.client_details,
.advisor-details,
.modal-content{
background: -moz-linear-gradient(-45deg, rgba(255,203,59,1) 0%, rgba(255,191,54,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,203,59,1)), color-stop(100%, rgba(255,191,54,1)));
background: -webkit-linear-gradient(-45deg, rgba(255,203,59,1) 0%, rgba(255,191,54,1) 100%);
background: -o-linear-gradient(-45deg, rgba(255,203,59,1) 0%, rgba(255,191,54,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(255,203,59,1) 0%, rgba(255,191,54,1) 100%);
background: linear-gradient(135deg, rgb(112, 206, 251) 0%, rgb(118, 187, 241) 100%);
}
.modal-content{
border-radius: 4px;
}

.sub_title > h4 {
  margin: 0px;
  font-weight: bold;
  font-size: 17px;
  line-height: 40px;
}
.margin-left_col {
  margin-left: 8%;
}
.sub_title {
  padding-left: 30px;
  height: 40px;
  padding-right: 30px;
}
.sub_title > h4{
  width: 85.33333%;
}
label {
  display: block;
}
button,
input,
select,
textarea {
  width: 100%;
  margin-bottom: 12px;
}
button,
input,
select,
textarea,
button:hover,
input:hover,
select:hover,
textarea:hover {
/*  border: 1px solid rgb(169, 169, 169);
  z-index: 100;
  background-color: #fff;
  */
}

.margin_right2 {
  margin-right: 8%;
}
.width_col {
  width: 31.6%;
}
.margin_col {
  margin: 0px 2.6%;
}
.title-padding {
  margin-top: 10px;
  margin-bottom: 0px;
}
.margin_col2 {
  margin: 0px 4%;
  width: 41%;
}
.margin_width {
  width: 33%;
}
.width_col2 {
  width: 50%;
}
.width_input {
  width: 95%;
}

/*.fa {*/
  /*padding: 13px 0px;*/
  /*background: #31373D;*/
  /*width: 44px;*/
  /*padding-left: 10px;*/
/*}*/
/* clients-details.html css end here */

#middle-container {
    padding-top: 4px;
}
.navbar-default {
    border: 0px;
}

.nested_li {
    padding-left: 65px;
}
.over_view:before {
    content: "\f002";
}
.client_detail:before {
    content: "\f015";
}
.clients_list:before {
    content: "\f015";
}
.assets:before {
    content: "\f0c0";
}
.expenses:before {
    content: "\f16c";
}
.risks:before {
    content: "\f13e";
}
.assets_class:before {
    content: "\f1e8";
}
.risks_calibrations:before {
    content: "\f1b0";
}
.projected_cash:before {
    content: "\f135";
}
.asset_allocations:before {
    content: "\f013";
}
.product_allocation:before {
    content: "\f0ec";
}
.scenario:before {
    content: "\f201";
}
.saving_plans:before {
    content: "\f042";
}
.investments:before {
    content: "\f080";
}
.income:before {
    content: "\f1c0";
}
.product_allocation:after {
    content: "";
    padding-bottom: 50px;
    background-color: #31373D;
}
.nav_li_last > span {
    height: 360px;
    background-color: #31373D;
    width: 42px;
    display: inline-block;
}
.nav_li_last {
    height: 296px;
}
.container.navbar.navbar-app {
    border-radius: 0 !important;
    padding-left: 30px;
    padding-right: 30px;
}
.clients_side_menu .client_detail:before,.clients_side_menu .client_detail,
.clients_menu .clients_list:before,.clients_menu .clients_list,
.risks_calibrations_menu .risks_calibrations,
.risks_calibrations_menu .risks_calibrations:before,
.assets_class_menu .assets_class:before,.assets_class_menu .assets_class,
.assets_allocations_menu .asset_allocations:before,
.assets_allocations_menu .asset_allocations,
.investements_menu .investments,.investements_menu .investments:before,
.savings_menu .saving_plans ,.savings_menu .saving_plans:before,
.income_page .income, .income_page .income:before,
.expenses_page .expenses, .expenses_page .expenses:before,
.product_allocation_page .product_allocation, .product_allocation_page .product_allocation:before,
.overview_page .over_view , .overview_page .over_view:before{
    background-color: #454E57;
}
.datepicker.picker__input.needsclick{
    color: #9e9e9e;
}
/*.nav-selectd {
    background-color: #eee;
}*/

.BtnSavePortfolio .btn-black-bg, 
.BtnSavePortfolio .btn-black-bg:hover, 
.BtnSavePortfolio .btn-black-bg:focus{
  bottom: 0;
  position: absolute;
  right: 0;
}


md-radio-button.RiskTol{
  float: left;
  padding-top:10px;
  margin-bottom: 0;
}

span.RiskTol{
    float: left;
    padding: 4px 0 0 8px;
    font-weight: 600;
    color: #474747;
    font-size: 1.25em;
}

input.RiskTol{
    clear: both;
    font-weight: 600;
    font-size: 1.5em !important;
    margin-bottom: 0px !important; 
    height: 2.5em !important;
}

.padding-top-10{
  padding-top: 20px;
}




.RCmargin-top-20,
.margin-top-20{
    margin-top: 20px;
}

.RCmargin-top-40,
.margin-top-40{
    margin-top: 40px;
}



@media (min-width: 1200px){
.BtnSavePortfolio {
    height: 70px;
}
}
/**/



@media (min-width: 992px){
.BtnSavePortfolio {
    height: 139px;
}
}
/**/


@media (max-width: 991px){
.BtnSavePortfolio {
    height: 60px;
}
md-radio-button.RiskTol{
  float: left;
  padding: 28px 0 0 0;
}
span.RiskTol{
    float: left;
    padding: 14px;
    font-weight: 600;
    color: #474747;
    font-size: 1.25em;
    width: 7em
}
input.RiskTol{
      clear: both;
    font-weight: 600;
    font-size: 1.25em;
     margin-bottom: 0px !important; 
         height: 3em;
}
.RiskTolPaddingBottom{
padding-bottom: 20px;
}
}
/**/





@media (max-width: 768px){


.RCmargin-top-20{
    margin-top: 10px;
}

.RCmargin-top-40{
    margin-top: 10px;
}


}



md-slider ._md-thumb:after {
    left: 20px;
}


.risks_calibrations_menu .risks_calibrations:before {
    color: #fff;
}
/* customizing materialize css start here */

.navbar-fixed-top {
    padding: 0;
    z-index: 2000;
}


input.needsclick {
/*    border-top: 0px;
    border-right: 0px;
    box-shadow: none!important;
*/
}

label {
    margin-bottom: 0px;
}

.btn .caret {
    margin-left: 2px;
}







.navbar-app,
.sub_title,
.header_left {
  border-bottom: 2px solid #e0ecf4;
}
/* =====================================
   Risk_calibrations.html css start here
   ===================================== */

#chosenHorizon,
#chosenRisk,
#chosenReturn {
    width: 32px;
    text-align: center;
    color: #333;
    font-weight: bold;
    font-size: 14px;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 5px;
    height: 28px;
    line-height:30px;
}
#risk-slider label,
#horizon-slider label {
    /*margin-bottom: 8px !important;*/
}
#slider {
  margin-left: 10px;
}
#input-area > div {
  /*background-color: #32D4DA;*/
  /*width: 31.3%;*/
  margin-right: 3%;
  padding-top: 15px;
  padding-bottom: 15px;
}
#input-area > div:last-child {
    margin-right: 0;
}
input[type=range] {
  height: 16px;
  background-color: rgb(216, 216, 216);
  border: none;
  -webkit-appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #fff !important;
  opacity: 1;
  width: 20px;
  height: 20px;
  top: -4px;
  position: relative;
  z-index: 1000;
  box-shadow: none !important;
  border: none !important;
}
input[type=range]::-webkit-slider-runnable-track,
input[type=range]:active::-webkit-slider-runnable-track,
input[type=range]:focus::-webkit-slider-runnable-track {
  background-color: rgb(216, 216, 216);
}
.flex_risks {
  display: flex;
  align-items: center;
  text-align: center;
}
.risks_high_chart {
  padding-top: 20px;
}
.risks_chart{
  margin-top:20px;
}
.risks_chart, .risks_high_chart{
   /*background-color: rgb(231,231,231); */
}
.highcharts-button {
  display: inline-block !important;
}
#input-area .iterations {
  background-color: transparent;
  margin: 0px;
  padding: 0px;
}
 #simulate{
  width: 130px;
  float: right;
  height: 40px;
  margin-top: 20px;
  font-size: 15px !important;
}


.risks_high_chart_1{
  /*padding-top: 125px;*/
  padding-left: 0px;
}
.iterations_number{
  line-height:2.5rem;
  font-size: 16px;
}
.no_padding_right{
  padding-right:0px !important;
}
.no_padding_left{
  padding-left:0px !important;
}
.asset-select > .fa-chevron-right {
  padding: 9px 13px 9px 13px;
  width: auto;
  color: #fff;
  font-size: 15px;
  background-color: #777;
}
/*#simulation > .highcharts-container{
    left: -20px;
}*/
/*=======================================
    Risk_calibrations.html css end here
======================================== */
/*=======================================
  Assets class allocation css start here
======================================== */

.assets_class_section {
  padding: 0px 0px 20px;
  /*height: 387px;*/
  overflow: auto;
  border:1px solid #666 !important;
}
.selected-assets .assets_class_section{
  /*height: 290px;*/
}

.width_class{
  width:91.3%;
}
.categories {
  font-size: 17px;
  font-weight: bold;
  padding-left: 0%;
  line-height: 30px;
  color: rgb(75, 74, 70);
  border-bottom: 1px solid #9e9e9e;
  /*margin-bottom: 5px;*/
  height: 40px;
  line-height: 42px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;    
  cursor: pointer;
  padding-left:10px;
  background-color: #9be0ea !important;
  border: none !important;
}
.subcategories li {
  font-size: 17px;
  padding: 0px 0px 0px 5%;
  line-height: 25px;
  color: rgb(75, 74, 70);
  background-repeat: no-repeat;
  background-size: 2%;
  background-position: 2% 48%;
  -webkit-user-select: none;
  cursor: pointer;
}
.selection_msg {
  font-size: 15px;
  padding-right: 5%;
  padding-top: 10px;
  color: rgb(75, 74, 70);
}

.RowSection{
  clear: both;
}




ul.subcategories1 {
  padding:0 !important;

}

.subcategories1 li {
padding: 12px 16px;
}

.subcategories1 li:hover {
background: #eee;
}




.subcategories1 li:after{
content: "\f14a ";
position: absolute;
top: 50%;
font-family: Fontawesome;
left: 8px;
text-indent: 0;
font-size: 1.25em;
color: transparent;
transform: translateY(-50%);
} 

.subcategories1 li.subselected{
position: relative;
background: #eee;
padding-left: 36px;
}

.subcategories1 li.subselected:after {
color: #009636;
}



.selection_msg .selection_count {
    font-size: 4.5rem;
    font-weight: 500;
    display: block;
    text-align: left;
}
.selection_msg #numSelectedLabel {
    font-size: 1.25rem;
    display: block;
    margin-top: -10px;
    text-align: left;
}




.subcategories,
.minus,
.plus {
  cursor: pointer;
}
.subcategories {
  padding: 0px;
  display: none;
}
.background-blue {
  background-color: #84DDDF;
}
.color-blue {
  color: #84DDDF;
}
.assets_class_list .subcategories {
    /*display:none;*/
}
.assets_class_section .assets_class_list:nth-child(2) .subcategories {
    /*display:block;*/
}
.assets_class_section .assets_class_list:nth-child(2) .subcategories.hide {
    /*display: none !important;*/
}
.minus,
.assets_class_section .assets_class_list:nth-child(2) .categories > div .plus {
    /*display:none;*/
}
.assets_class_section .assets_class_list:nth-child(2) .categories > div .minus {
  display: inline-block;
}
.assets_class_section .assets_class_list:nth-child(2) .categories {
  border-bottom: 1px solid #333;
}
.fa-plus-circle,
.fa-minus-circle {
  background: none !important;
  font-size: 18px;
}
.open {
  display: block !important;
}
.all_classes .minus .fa,
.all_classes .plus .fa {
  padding: 0px
}
li:focus {
   outline: none;
}
.all_classes {
  font-size: 20px;
  border-bottom: 1px solid #333;
  padding: 5px 0px !important;
  cursor: pointer;
  padding-left: 10px !important;
}
.fa-minus-circle,
.fa-plus-circle {
  padding: 12px;
}
.padding-lef{
  padding-left:40px;
}
.padding_rig{
  padding-right:30px;
}
/*.selected-assets .subcategories  li{
  display:none;
}*/
.selected-assets .subcategories li.subselected, .selected-assets .subcategories li.background-blue{
  /*display:block;*/
  background-color:transparent;
  /*color:#84DDDF;*/

}
.selected-assets .subcategories li{
  position: relative;
  line-height:30px;
}
.fa.fa-times-circle.pull-right{
  font-size: 20px;
  width: 20px;
  padding: 0 !important;
  background-color: transparent;
  right: 30px;
  margin-right: 15px;
  color: red;
  padding-top: 6px !important;
}
.selected-assets .subcategories li > span{
  content: "\f057";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: red;
  font-size: 16px;
  position: absolute;
  top: 5px;
  right: 15px;
  padding: 0;
  width: 19px;
  height: 19px;
  text-align: center;
  vertical-align: sub;
  padding: 0 !important;
  display: flex;
  align-items: center;
  padding-left: 2px !important;
}
.selected-assets .subcategories{
  /*display:block;*/
}
.assets_class_section .fa-minus-circle, .assets_class_section .fa-plus-circle{
  padding: 12px 14px;
}
/*.categories2_0 .plus{
  display:none !important;
}
.categories2_0 .minus{
  display:inline-block !important;
}*/
.assets_class_section{
  border:none !important;
  background-color: transparent !important;
}
.assets_class_list{
  background-color:#ffffff !important;
  margin-bottom: 15px;
  border: 1px solid rgb(214,214,214) !Important;
}
/*.assets_class_list0, .assets_class_list1,.assets_class_list2{
  margin-bottom:0 !important;
  border-bottom: none !important;
}*/
.asset-select .fa.fa-chevron-left{
  padding-left:0 !important;
  padding-right:0 !important;
  color: #ffffff;
  width: 27px;
  text-align: center;
  background-color: #888;
}



.stocks-assets, .assets_class_list3, .assets_class_list5, .assets_class_list4, 
.assets_class_list0, .assets_class_list1, .assets_class_list2 {
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 40px;
}

@media only screen and (max-width: 768px) {

.stocks-assets, .assets_class_list3, .assets_class_list5, 
.assets_class_list4, .assets_class_list0, .assets_class_list1, .assets_class_list2 {
    max-height: 400px;
    overflow-y: auto;
    margin-bottom: 50px;
}

.AssetAllocationCharts{
    display: none;
}


}







.assets_class_list0 > div.categories, .assets_class_list1 > div.categories, 
.assets_class_list2 > div.categories,.assets_class_list0 > ul, .assets_class_list1 > ul, 
.assets_class_list2 > ul{
   border-right: 1px solid rgb(214,214,214);
}
.categories.categories_5, .categories.categories_4, .categories.categories_3,
.categories.categories_0, .categories.categories_1, .categories.categories_2,
.assets_class_section .categories.categories{
  border-bottom: none !important;
}
.assets_class_list > .subcategories.hide{
  border-top:none;
}
.assets_class_list > .subcategories.show{
  border-top:1px solid rgb(214,214,214);
  margin-bottom: 0;
  padding-bottom: 4px;
  padding-top: 5px;
  border: none !important;
}
.stocks-assets {
  border-bottom: 1px solid rgb(214,214,214);
  border-top: 1px solid rgb(214,214,214)!important;
  border: none !important;
}
.assets_class_list.assets_class_list0{
  border-top-width:0 !important;
}
/*.assets_class_list.assets_class_list0, .assets_class_list.assets_class_list1,
 .assets_class_list.assets_class_list2{
  border-right-width:0 !important;
}*/
.selected-assets .assets_class_section{
  padding-bottom:0 !important;
}
.stocks-assets.selection.noselected{
  border-width: 0 !important;
}
.asset-class-selection-section, .selected-assets{
  width: 45%;
}
.selected-assets .fa.fa-times-circle.pull-right{
  margin-right: 4%;
  font-size: 18px;
}
.assets_class_page .highcharts-legend-item > text,
.assets_class_page #assetClassRiskReturn .highcharts-data-labels > g > text{
  font-weight:normal !important;
}
/*=======================================
   Assets class allocation css end here
======================================== */
/*=======================================
   Assets allocation css start here
======================================== */


.expert {
  font-size: 25px;
  color: #5B5153;
  font-weight: bold;
  padding-bottom: 30px !important;
}
.click_account > div,
.Performance > div,
.Portfolio > div {
    padding: 0px;
    /*margin-bottom: 25px;*/
}
.head_account {
    letter-spacing: 0px;
    margin-bottom:10px;
}
.head_account2{
    margin-bottom:20px;
}
.head_account > div {
    /*width: 70%;*/
    /*padding-left: 5px;*/
    font-weight: bold;
}
.assets_allocations_page input {
    height: 2rem;
    background-color: #fff !important;
    border-bottom: 0px !important;
    border-top: 1px solid #666;
    border-right: 1px solid #666;
    width: 40%;
    text-align:center;

}
.click_account input, .click_account input:hover, .click_account input:focus,
.click_account .select-wrapper input{
    border: 1px solid rgb(154,154,154) !important; 
    border-radius: 5px;
    margin-left:1px;
}
input[type="text"].no-border:hover, input[type="text"].no-border:focus{
    border:0 !important;
}
input[type="text"].no-border{
    width:40%;
}
.input-group-addon{
    position: absolute;
    display: inline-block;
    text-align: center;
    padding-left: 0px;
    width: 9%;
    padding-right: 0px;
    right: 67%;
    /* top: 1px; */
    font-size: 12px;
    height: 1.7rem;
    line-height: 1.3rem;
    border-radius: 0;
    background-color: #fff;
    border: 0;
    margin-top: 1px;
}
.click_account  .input-field{
    position:relative;
}
.click_account .input-field label,
.assets_allocations_page input {
    color: #333 !important;
}

.assets_allocations_page .input-field {
    margin-top: 0px;
}
.click_account .input-field label {
    transform: translateY(-163%) !important;
    color: #333 !important;
}
.border-left-bottom {
    border-left: 1px solid #333;
    border-bottom: 1px solid #333;
}
.Portfolio th {
    color: rgb(106, 103, 110);
    text-align: center;
}
.Portfolio > div > div {
    text-align: center;
    letter-spacing: 0px;
    font-size: 13px;
    height: 38px;
    padding: 2px 0px;
}
.Portfolio .input-field {
    text-align: center;
}

.Portfolio {
    /*background-color: rgb(204, 204, 152);*/
}
.assets_allocations_page .Portfolio input {
    width: 49%;
    margin-bottom: 0px !important;
    height: 1.5rem;
    border-right:0 !important;
    border-top:0 !important;
    /*border-bottom: 1px solid #9e9e9e !important;*/
    background-color: transparent !important;
}

.Portfolio.table>thead>tr>th:last-child{
    border-right: 1px solid #D6D1D1 !important;
}
#bar_chart .highcharts-button + .highcharts-grid + .highcharts-grid > path, 
#bar_chart .highcharts-axis-labels.highcharts-yaxis-labels > text{
    display:none !important;
}
.select_click{
    padding: 0px 4% 0 1px!important;
}
.click_account .select-wrapper input{
    height: 2rem !important;
    line-height: 2rem !important;
    color:#333 !important;
    width: 55%;
}
#bar_chart .highcharts-axis-labels.highcharts-xaxis-labels{
    /*position: absolute;
    top: -33px !important;
    transform-origin: top !important;
    transform: translateY(-73px);*/
}
#bar_chart .highcharts-grid + .highcharts-axis, #bar_chart .highcharts-legend .highcharts-legend-item,
#bar_chart .highcharts-axis  + .highcharts-axis{
    display:none;
}

.click_account .select_click {
        margin-top:5px !important;
 }
 .select_click label{
    /*margin-top: -3px !important;*/
    margin-bottom:13px !important;
}
#bar_chart .highcharts-series.highcharts-series-0.highcharts-tracker rect, 
#bar_chart .highcharts-series.highcharts-series-0.highcharts-tracker rect{
    fill: #779DCB !important;
}
#optimize{
    float: right;
}


#semi_circle_chart{
  max-width: auto !important; 
}


#semi_circle_chart > .highcharts-container > svg > .highcharts-legend + text{
    display:none !important;
}

.asset_table{
    width:100%;
}

.asset-allocation-portfolio{
  background-color:#ffffff;
  padding-left:20px;
  padding-right:20px;
  padding-top:10px;
}
#bar_chart > div > svg > rect,
.highcharts-button rect{
    fill: rgb(231,231,231) !important;
}
.click_account .no-border{
    border:0 !important;
    margin-bottom:5px !important;
    text-align:left;
    color:#333 !important;
}
.horizon_yr label{
    margin-bottom: 10px;
    margin-top: 4px;
}
.highcharts-axis-labels.highcharts-xaxis-labels text:nth-child(6),
.highcharts-series.highcharts-series-0.highcharts-tracker rect:nth-child(6){
   /*display:none !important;*/
}
#simulation2 .highcharts-axis-labels.highcharts-xaxis-labels text:nth-child(6),
#simulation .highcharts-series.highcharts-series-0.highcharts-tracker rect:nth-child(6){
   display:inline-block !important;
}
.charts_section{
    /*margin-top:10px;*/
    margin-bottom:20px;
}
/*=======================================
   Assets allocation css end here
======================================== */
/*=======================================
   Investements css end here
======================================== */
.investements_page input, .investements_page input:hover, .investements_page input:focus,
.savings_page:focus,
.income_page input,.income_page input:hover, .income_page input:focus,
.expenses_page input,.expenses_page input:hover, .expenses_page input:focus,
.clientsList_page input, .clientsList_page input:hover, .clientsList_page:focus {
   height: 1.5rem !important;
   margin-bottom:0px !important;
   background-color: transparent;
   /*border:1px solid #eee !important;*/
   width: 90%;
   padding: 0px 0px 0px 5px;
   line-height: 2.0rem !important;
   border-bottom-width:0 !important;
   text-align: center;
   overflow: hidden;
   text-overflow: ellipsis;
}

.investements_page select,.savings_page select, .expenses_page select,.income_page select, .clientsList_page select{
  border:0px !important;
}


.add_row, .add_row:hover, .add_row:focus {
    /*border: 2px solid #4285F4 !important;*/
    color: #0d47a1 !important;
    background-color:#fff !important;
    text-align:center;
    padding:0px !important;
    height:2rem !important;
    line-height:1.8rem !important;
    width: 15% !important;
    background-color: #fff !important;
    border: 1px solid #666 !important;
    color: #333 !important;
    border:none !important;
}
.delete_row, .delete_row:hover, .delete_row:focus, .edit_row, .edit_row:focus, .edit_row:hover {
    border: 2px solid #2BBBAD !important;
    text-align:center;
    height: 2rem !important;
    line-height: 1.8rem !important;
    margin-bottom: 0px !important;
    border: 1px solid #999 !important;
    color: #333 !important;
    padding: 0px 5px !important;
    background-color: rgb(44,187,207) !important;
    border: none !important;
}



.investements_page select, .savings_page select,
.income_page select, .expenses_page select {
    /*display: block;*/
    height: 1.7rem;
    vertical-align: middle;
    margin-bottom: 0px;
    /*border-bottom: 1px solid rgb(159,159,159) !important;*/
    background-color: transparent;
}
.background_color{
    background: linear-gradient(135deg, rgb(216, 220, 222) 0%, rgb(183, 223, 228) 100%) !important;
    border-radius: 4px;
}
.add_row .fa.fa-plus
{
    background-color: #fff;
    color: #333;
    font-size: 13px;
    line-height: normal;
    padding: 0px;
    width: 12px;
}

.investements_page .delete_row, .investements_page .delete_row:hover, .investements_page .delete_row:focus{
    width:40%;
}
/*=======================================
   Investements css end here
======================================== */
/*=======================================
   savingss css end here
======================================== */

/*=======================================
   savingss css end here
======================================== */
                                  
.income_page .delete_row, .expenses_page .delete_row{
    width: 47%;
}


.sub_title{
    display:flex;
    align-items: center;
}
.sub_title .add_row{
    margin-bottom:0px !important;
    margin-left: 2px;
}
.loading-spinner{
    background-color:#fff !important;
}
.table-striped{
    /*margin-left:1px;*/
}
.table-striped tbody{
  border-top: 3px solid #eeeeee !important;
}

select:focus{
    border:none !important;
    outline: 0;
}

 .highcharts-title > tspan:hover{
    font-size:15px !important;
    transition:0.5s;
 }
 .highcharts-title > tspan {
    color: #4D7FBA !important;
}
.savings_page select>option:hover{
    color:red !important;
}
select option:hover {
   box-shadow: 0 0 10px 100px #1882A8 inset !important;
}
/* ===============================
Product allocation css start here
=================================== */
.product_table input, .product_table .input-field{
   margin:0 !important;
}
.product_table input{
    height:1.7rem;
    background-color:transparent;
    border:none !important;
}

.portfolio_weight {
  width: 85px;
}
.product_table input{
    text-align:center;
    /*padding-left: 5px;*/
}
.success_msg{
    font-size: 13px;
    color:green;
    display:none;
}
.product_table > tbody > tr > td:last-child > div > input{
    width: 75%;
    float: right;
}
.product_table.table>thead>tr>th:last-child {
  border-right: 1px solid #969696 !important;
}
.product_allocation_page .container-fluid > div > div > h5{
    margin-top:0;
    font-weight: bold;
    font-size: 17px;
}

.product-scroll-table{
    width: 100% !important;
    /*overflow: auto !important;
    height: 357px !important;*/
}
/* ===============================
Product allocation css end here
=================================== */
.asset_table  > thead > tr > th:nth-child(8),
.asset_table > thead > tr > th:nth-child(7),
.asset_table > thead > tr > th:nth-child(9),
.product_table > thead > tr > th:last-child{
  background-color: #2cbbcf !important;
}

h5 {
    font-size: 1.3rem;
}
.client_details  label{
    letter-spacing:0;
}

.forgot_password_page .forgot-submit{
  margin: 15px auto 20px !important;
  height: 40px;
  line-height: 40px;
}
.forgot_password_page #form{
  margin-bottom:20px !important;
}

/*=======================================
   cashflow css start here
======================================== */
#cashflowgraph {
  min-width: 310px;
  max-width: 800px;
  height: 400px;
  margin: 0 auto
}
/*=======================================
   cashflow css end here
======================================== */
                                  
/* ===============================
overview css start here
=================================== */
#iterations_overview{
  width: 25%;
  text-align: center;
  height: 2rem;
  background-color:transparent;
}
#simulate_overview{
    float: right;
}
.number_iterations{
  line-height: 3.5rem;
}
#client_positioning .highcharts-axis > path, 
#client_performance .highcharts-axis > path,
#client_target .highcharts-axis > path {
  display:none;
}
#client_positioning .highcharts-axis > path:last-child, 
#client_performance .highcharts-axis > path:last-child,
#client_target .highcharts-axis > path:last-child{
  display: block !important;
}
.charts_1{
  padding-top: 20px !important;
}
#client_positioning .highcharts-title > tspan, #client_performance .highcharts-title > tspan,
#client_target .highcharts-title > tspan {
  font-size:19px !important;
  display:none;
}
/* ===============================
overview css end here
=================================== */


.new_row .select button{
  /*
   border-bottom:1px solid #999 !important;   margin-bottom:35px !important; 
   */
}


.new_row .close, .new_row .close:focus, .new_row .close:hover{
  border:none !important;
  margin-bottom: 0;
}
.modal-header h5{
color: #333 !important;
    margin: 0 !important;
    line-height: 80px;
    text-transform: uppercase;
    font-weight: 600;
}


.savings_page .edit_row, .savings_page .edit_row:focus, .savings_page .edit_row:hover{
  margin-bottom:5px !important;
}
.modal-header{
  height: 80px;
  padding-top:0;
  padding-right:0;
  border-bottom: 1px solid transparent;
}
/*.modal-header h5{

}*/



.income_action {
  width: 55px;
}


.cashBondsAction {
  min-width: 100px !important;
  width: 100px !important;
}
/*=====================================
Login page css start here
======================================= */
/*#login{
  width: 38%;
  padding-top:2em;
  margin: auto;
  min-height:525px;
 }
 #login input:hover, #login input:focus, #login input{
   background-color: transparent !important;
   height:2.8rem !important;
   line-height:4rem !important;
 }
 .login form {
  margin-bottom:20px;
  margin-left: 0;
  padding: 30px 25px;
  background: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
  box-shadow: 0 1px 3px rgba(0,0,0,.13);
  border-radius: 5px;
}
.login .button-primary {
  float: right;
  margin-bottom:0 !important;
  height: 32px;
  line-height: 30px;
  background: #333;
  border-color: #333;
  -webkit-box-shadow: 0 1px 0 #333;
  box-shadow: 0 1px 0 #333;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  text-align:center;
}
.login .button-primary:hover, .login .button-primary:focus {
  background: #333;
  border-color: #333;
}
 .login .button-primary:focus{
  box-shadow: 0 1px 0 #0073aa,0 0 2px 1px #33b3db;
}
#login .input-field{
  margin-top:0 !important;
}

#forgot_password{
  color:#333 !important;
  padding-left:25px;
  font-weight:bold;
}
#login .input-field label.active {
  transform: translateY(-90%);
}
*/
[type=checkbox]:checked+label:before{
  top: 0px;
  left: -3px;
  width: 11px;
  height: 16px !important;
}
[type=checkbox]+label:before{
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  z-index: 0;
  border: 1px solid #5a5a5a;
}
[type=checkbox].filled-in:not(:checked)+label:after {
  height: 16px;
  width: 16px;
  background-color: transparent;
  border: 1px solid #5a5a5a;
  top: 4px;
  z-index: 0;
}
[type=checkbox].filled-in:checked+label:before {
   top: -1px;
}
[type=checkbox].filled-in:checked+label:after{
  border: 2px solid rgb(108,160,247) !important;
  background-color: rgb(108,160,247) !important;
}
[type=checkbox]+label, [type=radio]:checked+label, [type=radio]:not(:checked)+label{
  padding-left: 25px;
}
#login input,#login input:focus,#login input:active,#login input:hover {
  height: 40px !important;
  box-sizing: border-box;
  background-color: #fff !important;
  padding-top: 12px;
  font-size: 15px;
  padding-left: 12px !important;
  margin-bottom: 20px !important;
}
#login form .signup-button, #login form .signup-button:hover, #login form .signup-button:focus {
  width: 100%;
  color: #ffe1b1 !important;
  background-color: #686868 !important;
  padding: 0;
  line-height: 30px;
  box-sizing: border-box;
  padding-top: 2px;
  font-size: 19px !important;
  height: 40px !important;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  border: none !important;
  font-weight:normal !important;
}
#login .login-button,#login .login-button:hover,#login .login-button:focus {
  width: 100%;
  background-color: #686868 !important;
  color: #fff !important;
  font-size: 19px !important;
  line-height: 30px;
  box-sizing: border-box;
  padding-top: 2px;
  padding-bottom: 0;
  height: 40px !important;
  text-transform: uppercase;
  text-align: center;
  padding-right: 0;
}

.black-text.normal.finveselogo img {
  height: 21px;
  margin-left: 5px;
  margin-top: 6px;
  margin-bottom: 10px;
}
#login .signin-forgot-link {
  position: absolute;
  position: relative;
  top: -50px;
  right: -81%;
  height: 40px;
}
.black-text.finveselogo span.color-red{
  font-size: 19px;
  margin-top: 1px;
  display: inline-block;
}
#login{
  background-color: #eeeeee;
  padding: 1.2em 2em 0.8em;
  width: 35%;
  margin: 35px auto;
  /*border: 1px solid #d0d0d0;*/
  border-radius:5px;
}
.signup_page #login{
  width:40%;
}
.forgot_password_page.signup_page #login{
  width:35%;
}
.passwordhints{
  color:#080808;
  padding-bottom:10px;
  text-align:left;
  padding-top:5px;
}
.password-updated #login{
  padding-bottom: 25px;
  padding-top: 25px;
}
.black-text.normal.finveselogo.text-center{
  margin-top: 5px;
  margin-bottom: 17px;
}
#login .signin-forgot-link a {
  color: #ACACAC !important;
  font-size:14px;
}
#login .errormsg {
  padding-left: 13px !important;
  position: absolute;
  /* top: -5px !important; */
  margin-bottom: 0 !important;
  margin-top: -20px !important;
  height: 20px !important;
  box-sizing: border-box;
  text-align:left;
  font-size: 14px;
}
#login .submit.input-field {
  margin-top: 17px;
}
.newto {
  color: #4c4c4c;
  display: inline-block;
  font-size: 18px;
}
.terms.black-text.normal.join-agree {
  padding: 0 !important;
  margin-bottom: 25px;
  font-size: 14px;
  margin-top: 7px;
  text-align: left;
  letter-spacing: 0;
}
#login input[type=checkbox] {
  opacity: 1;
  display: inline-block;
  float: left;
  position: relative;
  margin-right: 7px;
  margin-left: 0;
  width: 16px !important;
  height: 16px !important;
  margin-bottom: 22px;
  visibility: visible;
  left: 0;
}
.terms.black-text.normal.join-agree > a {
  text-decoration: underline !important;
  color: #000;
}
.inavalid-message{ 
  margin-top: 10px;
  letter-spacing: 0;
  font-weight: bold;
  font-size: 14px;
  position: relative;
  top: 6px;
}
.margin0auto{
  margin: 0 auto;
}
@media(min-width:900px) and (max-width:1024px){

  #login {
    width: 45%;
  }
  .signup_page #login{
    width: 50%;
  }

}
@media(min-width:768px) and (max-width:899px){

  #login {
    width: 60%;
  }
  .signup_page #login{
    width: 70%;
  }
  #login .padding-right-0{
    padding-left:0 !important;
  }
  #login .padding-left-0{
    padding-right:0 !important;
  }

}
/*=====================================
Login page css end here
======================================= */

/*=====================================
Forgot Password page css start here
======================================= */
.signin_exclusive {
    font-size: 1.1em;
}
.signin_exclusive {
  text-align: center;
  color: #383838;
  font-size: 28px;
  margin-bottom: 5px;
}
/*.signinsidecontent {
  padding: 2em;
}*/
.signin-content h4, .signin-content {
  color: #FFF;
}
.signin-content {
  margin: 0px auto;
  float: none;
  margin-top: 2em;
  padding: 0;
}
.borderaround {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 2em;
}
.signin-content {
  margin: 0px auto;
  float: none;
  margin-top: 2em;
  padding: 0;
  margin-bottom: 2em;
}
.forgot_password_page form .btn-block, .forgot_password_page form .btn-block:hover,
.forgot_password_page form .btn-block:focus {
  background: #333 !important;
  color: #fff !important;
  text-align: center !important;
  border: 1px solid #333 !important;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom:0 !important;
}
.errormsg {
  float: left;
  display: block;
  margin-top: -17px;
  margin-bottom: 10px;
  color: #ef343e;
}
/* form entry fields styles start here */


form .modal.fade.new_row.in{
  padding-top: 55px;
}

form .new_row .select button {
  /*
  border-bottom: 1px solid rgb(169, 169, 169) !important;
  margin-bottom: 35px !important;
  line-height: 40px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #cdcdcd !important;
  padding-left: 8px !important;
  padding-top: 5px;
  text-align: left;
  color: #616161 !important;
  */
}


form .modal .errormsg {
  margin-top: -33px !important;
  position: relative;
  padding-left:9px;
}
.modal .compensation.select .errormsg{
  left: 1% !important; 
}

.client_details .btn-flat.picker__today,.client_details .btn-flat.picker__today,
.client_details .btn-flat.picker__clear, .client_details .btn-flat.picker__close,
.advisor-details .btn-flat.picker__today ,
.advisor-details .btn-flat.picker__clear, .advisor-details .btn-flat.picker__close{
  text-align: center !important;
  padding-top:0 !important;
  font-size:15px;
}

/* form entry fields styles end here */
.navbar-fixed-top{
  z-index: 2000;
}

.signup_page [type=radio]+label:after,.signup_page [type=radio]+label:before{
  top:30px;
}
.phcode .col-xs-3 {
  width: 50px!important;
  display: inline-block!important;
}
.phcode .col-xs-9 {
  width: calc(100% - 50px)!important;
  display: inline-block!important;
}


.country-field{
  margin-bottom:8px !important;
}
.country-field .btn-country{
  padding-bottom:5px !important;
}
.btn-country, .btn-country:focus, .btn-country:hover {
  width: 100%;
  padding: 0;
  text-align: left;
  color: #9e9e9e;
  margin-top: 0!important;
  box-shadow: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  background-color: transparent;
  margin-bottom: 1em!important;
  padding-left: 12px!important;
  padding-right: 12px!important;
  font-size: 13px!important;
  border-bottom:1px solid #999 !important;
  padding-left:0 !important;
  margin-top:10px !important;
}

.micon img {
  padding: 8px 15% 0;
}

.micon img, .micon div {
  display: block;
  text-align: center;
  margin-bottom: 8px;
  color: #000!important;
}
.midalign{
  margin-top: 10px;
  margin-bottom: 10px;
}
.verification_msg{
  color:#333;
}
.singup_font{
  font-weight: bold;
  cursor:pointer;
}
.singup_render{
  padding-top:20px !important;
  padding-bottom:10px;
}
/*=====================================
Forgot Password page css end here
======================================= */

.clientsList_page .delete_row{
  width:38%;
}
.delete_row{
  margin:0 2%;
}

.clientsList_page .modal-header{
  display:none;
}
.col_black{
  color:#333;
  font-size:16px;
}
.confirm{
  background-color:#333 !important;
  opacity:1 !important;
}
.cancel, .cancel:hover, .cancel:focus{
  opacity:1;
}
.delete_body{
  border: 1px solid #ccc;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.clientsList_page .modal-dialog{
  margin-top:18%;
}

.active.left-15{
  left:15px !important;
}
.padding_top_30{
  padding-top:30px !important;
}
.logo_img img{
  height:45px;
}


.picker__year-display, .picker__day-display, .picker__month-display{
  float: left;
  width: 33%;
  font-size:2.1rem !important
}
.picker__box .picker__date-display{
  padding-bottom: 50px;
}
.picker__weekday-display{
  margin-bottom: 17px;
}
.picker--opened .picker__frame {
  top: 2%;
}

.picker__wrap {
  width: 105%;
}

.img_status_parents img {
  display: inline-block;
  height: 50px;
  margin-top:25px;
}
.verification-page form{
  padding:0 !important;
}
.verify_email form, .verification-page form{
  padding-bottom:20px !important;
}
.btn.btn-block.btnd.button.button-primary.button-large, .btn.btn-block.btnd{
  text-align:center !important;
}
form .btn-block, form .btn-block:focus, form .btn-block:hover{
  background-color: #000!important;
  color: #fff!important;
  border-radius: 0;
}
.flag {
    width: 18px;
    height: 12px;
    background: url(flags.png) no-repeat;
}
.codeDiv .btn {    
    width: 50px;
    float: left;
    box-shadow: none;
    color: #333!important;
    font-size: 16px;
    background-color: transparent!important;
    border: none;
    height: 35px;
    margin: 0;
    padding: 0;
    padding-left: 5px;
    border-bottom: 1px solid #999 !important;
    padding-bottom: 45PX;
}
.btn-code>i {
  margin-left: 5px;
  color: #A2A2A2;
}
.flag.flag-us {
  background-position: -270px -156px;
}
.flag.flag-sg {
  background-position: -270px -132px;
}
.btn-code>span {
  display: inline-block;
}

#countriesCodeDown{
  width:150px !important;
}
.bold_blck{
  color:#333 !important;
  font-weight:bold;
}
.slick-next, .slick-prev{
    background-color:#333 !important;
    width:80px !important;
    height: 2.3rem !important;
    opacity:1 !important;
    border:1px solid #333 !important;
    top: 107% !important;
}
.slick-prev:before,
.slick-next:before,.slick-prev:before:hover,
.slick-next:before:hover{
  color:#fff !important;
  height:28px !important;
  line-height:28px !important; 
  font-size: 17px; 
}
.slick-prev:before {
  content:'Prev';
}
.slick-prev {
    left:0%;
}
.slick-next {
    left:3%;
}
#product_stack .highcharts-series.highcharts-series-1.highcharts-tracker > rect,
#product_stack .highcharts-series.highcharts-series-0.highcharts-tracker > rect{
    stroke:transparent !important;
}

#product_stack [id^="highcharts-"] .highcharts-background{
    fill: #ccc !important;
}
#product_stack .highcharts-container svg rect{
    /*fill:#ccc;*/
}
.product_chart_parent{
  background-color:#ccc !important;
    /*margin-left: 1%;*/
    /*width:33%!important;*/
    /*margin-top: 15px;*/
}
.slick-next:before {
    content: 'Next';
}
.asset_class_3, .asset_class_2, .asset_class_1, .asset_class_4{
    font-size:18px;
}
#save_products{
   position: relative;
   /*top: -15px;*/
   font-size: 17px !important;
   font-weight: normal;
   text-transform: capitalize;
   color: #ccc !important;
}



#chosenHorizon, #chosenRisk, #chosenReturn,#chosenHorizon:focus, #chosenRisk:focus, #chosenReturn:focus{
  color:#fff !important;
}
.slider-value, .slider-value:hover, .slider-value:focus{
  margin: 0 !important;
  height: auto !important;
  border: 1px solid #666 !important;
  text-align: center;
}
.flex_risks .slider-value, .flex_risks .slider-value:hover,.flex_risks .slider-value:focus{
  margin-bottom: 0 !important;
  padding-left: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 46px !important;
  border: 1px solid #A8A8A8 !important;
  text-align:center;
}
#input-area > div , #input-area > div .flex_risks, #input-area > div .flex_risks > div{
  /*padding-left:0 !important;*/
}
#save-simulate button{
  padding: 0 20px !important;
  width: 130px;
  font-size: 15px !important;
  height: 40px;
  line-height: 40px;
}
#iterations, #input-area .iterations{
  /*width:150px !important;*/
  /*color: #fff !Important;
  border-color: #fff !important;*/
}
#input-area > div{
  padding-bottom:0 !important;
  padding-top: 0px;
}
#intial_invest{
  margin-bottom: 20px !important;
}
.risks_high_chart_2{
  /*display:none;*/
}
.risks_high_chart{
  padding-top:0 !important;
}
.risks_calibrations_page .risk, .client_details .client, .expenses_page .client, .clientdashboard_page .client,
.clientsList_page .client,.clienthistory_page .client,.advisor_allocation .advisor,
.savings_page .client, .investements_page .client, .income_page .client, .assets_allocations_page .allocation,
.product_allocation_page .product, .cashflow .client, .overview_page .advisor, .assets_class_page .allocation,
.advisor_assetsallocations_page .advisor, .trades_page .product{
  border-bottom: 3px solid #2cbbcf;
}
.assets_class_page .advisor_allocation .allocation, .advisor_assetsallocations_page .allocation{
  border-bottom:none !important;
}
.risks_calibrations_page .risk > a, .client_details .client > a, .expenses_page .client > a, 
.clientsList_page .client > a, .assets_allocations_page .allocation > a,.product_allocation_page .product > a
.savings_page .client > a, .investements_page .client > a, .income_page .client > a,
.overview_page .advisor > a, .assets_class_page .allocation > a {
  color:#ffffff;
}

.iterations-label{
  top: -15px;
  color:#333 !important;
}
.padding-top-20{
  padding-top:20px !important;
}

/*.desired-risk, .index9{
  display:none;
}*/

md-radio-button:focus{
  outline:none !important;
}


.padding-right-15{
  padding-right:15px !important;
}

.background-color-yash{
  background-color: #EAEAEA;
  min-height:750px;
}

.risks_chart{
  margin-top:0 !important;
}

.flex_risks .range-field{
  padding-left:0 !important;
}


.background-color-yash > div#input-area{
  padding-right:20px;
}
.width-78{
  width:78% !important;
}
.navbar-header .navbar-brand{
  padding-left:0 !important;
  left:-2%;
}


button .fa-times{
  background-color: transparent !important;
  padding: 0 !important;
  color: #356D9C !important;
  width: auto;
}
 .delete_row, .edit_row, .delete_row:hover, .edit_row:hover, .delete_row:focus, .edit_row:focus{
  width:auto !important;
  padding-left: 6px !important;
  padding-right: 6px !important;
}


.btn.btn-border-default.waves-effect.delete_row.edit_row > img.history{
  height: 19px;
  vertical-align: text-top;
}
.delete_row.width-19per{
  width:35px !important;
}



.sub_title .add_row, .sub_title .add_row:hover, .sub_title .add_row:focus{
  font-size:15px !important;
  width:17% !important;
}

.savings_page .edit_row, .savings_page .edit_row:focus, .savings_page .edit_row:hover{
  margin-bottom:0 !important;
}
.income_page, .investements_page, .clientsList_page, .savings_page, .expenses_page{
  min-height:400px;
}
.risks_high_chart_2{
  padding-left:5px !important;
}

.view-icon{
  height: 20px;
  float: right;
  padding-right: 15px;
  vertical-align: middle;
  margin-top: 3px;
  cursor:pointer;
  -webkit-filter: invert(50%);
  filter: invert(50%);
}
.margin-bottom-0{
  margin-bottom:0 !important;
}
.padding-left-15{
  padding-left:20px !important;
}
.margin-bottom-0.padding-left-15.risk-title{
  text-align:center !important;
  text-transform: uppercase;
}
.padding-12{
  padding: 20px 12% !important;
}
.sub_title{
  padding-right:0 !important;
}
.margin-bottom-20{
  margin-bottom:20px;
}

.padding-right-20{
  padding-right:20px !important;
}
.padding-right-10{
  padding-right:10px !important;
}
.padding-right-5{
  padding-right:5px !important;
}
.padding-left-20{
  padding-left:20px !important;
}
.padding-left-5{
  padding-left:5px !important;
}
.product_allocation_page .risk-title{
  width: 100%;
  border-right: 1px solid #333;
}
 .product_allocation_page .asset_class_2 .risk-title{
  width: 100%;
  border-right: 1px solid #333;
}
.product_allocation_page .asset_class_3 .risk-title {
  width: 100%;
  border-right: 1px solid #333;
}
.product_allocation_page .asset_class_4 .risk-title {
  width: 100%;
  border-right: 1px solid #333;
}
.product_allocation_page .asset_class_5 .risk-title {
  width: 100%;
  border-right: 1px solid #333;
}
.slick-prev, .slick-next {
  position: relative;
  display:inline-block;
  width: 45px !important;
  top: 24px !important;
}
.slick-next:before, .slick-prev::before{
  font-family: FontAwesome;
  font-style: normal;
  text-decoration: inherit;
  color: #ffffff;
  font-size: 28px;
  padding-right: 0.5em;
  position: absolute;
  top: 3px;
  font-weight: bold;
}
.slick-prev::before{
  content:"\f104" !important;
  left:16px !important;

}
.slick-next:before{
  content:"\f105" !important;
  left:17px !important;
}
.slick-slider {
  margin-bottom: 0 !important;
}
/*#save_products{
  top:-24px;
}*/
.padding-left-20{
  padding-left:20px !important;
}
.padding-left-10{
  padding-left:10px !important;
}

.ui-progressbar .ui-progressbar-value {
  margin: 0; 
  height: 100%;
  background-color: #2196F3;
}
#progressbar {
  height:19px;
}
#progress-value{
  font-size:30px;
}
#products-number{
  width: 9px;
  border: none;
  background-color: transparent;
  margin-bottom: 0 !important;
  color: #333 !important;
  text-align: center;
  font-size: 14px;
  height:auto !important;
}
#products-number:focus{
  outline:none !important;
  background-color:transparent !important;
}
.modal.fade.new_row .errormsg{
  margin-bottom:0 !important;
  font-size:15px;
  margin-top: -40px;
}

.margin-top-0{
  margin-top:0 !important;
}
.select-errormsg{
  position:relative;
  margin-top: -19px !important;
  right: 39% !important;
  float:right !important;
}
#selected8 + .select-errormsg{
  right: 27% !important;
}
#selected9 + .select-errormsg{
  right: 36% !important;
  margin-bottom: 10px !important;
}
#selected6 + .select-errormsg{
  right: 44% !important;
}
.padding-left-20{
  padding-left:20px!important;
}
.overview_page .margin-bottom-0.padding-left-15.risk-title, .risks_calibrations_page .risk-title {
  text-align: center !important;
  padding-top: 7px;
  padding-left: 13px !important;
  height:62px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.overview_page .margin-bottom-0.padding-left-15.risk-title span, .risks_calibrations_page .risk-title span{
  width:94%;
  font-size: 19px !important;
}
.overview_page .view-icon {
  vertical-align: middle;
  padding-left: 3px;
}
#client_target .highcharts-axis {
  transform: translate(0px,-20px); 
}

#input-area > .iterations.layout-row {
  width: 100%;
}

#input-area > .iterations md-slider{
padding-top: 17px;
margin: 0
}

.padding-right-20.layout-row, .flex_risks .range-field.padding-right-20{
  padding-right:25px !important;
}
.margin-bottom-20{
  margin-bottom:20px !important;
}

.assets_class_page  .risk-title{
  text-align:center;
}
.bg-color-e7e7{
  background-color: #E7E7E7;
}
md-radio-button ._md-label{
  margin-left:15px;
}
.input_border {
  padding-right:25px !important;
  padding-left: 5px !important;
}
.padding-right-0{
  padding-right:0 !important;
}
#semi_circle_chart .highcharts-title {
  display:none !important;
}

.padding-left-10{
  padding-left:10px;
}
.padding-left-60{
  padding-left:60px;
}
.padding-left-90{
  padding-left:89px;
}
#risk-simulation-normal, #risk-wealth-normal, .full-simultation {
  display:none;
}
/*#simulation .highcharts-container svg, #simulation .highcharts-container svg rect{
  min-width: calc(100% - 10px);
}
.widthcalc{
  width: calc(100% - 20px) !important;
}*/
.full-simultation{
  background-color: #fff;
}
.default-checked md-radio-button.md-checked ._md-on, .default-checked md-radio-button ._md-on {
  -webkit-transform: scale(.5) !important;
  transform: scale(.5) !important;
  background-color: rgba(255,87,34,0.87);
}
.default-checked .md-warn ._md-off{
  border-color: rgba(255,87,34,0.87) !important;
}


.display-flex-baseline{
  display:flex;
  align-items: baseline;
}
.input_border > span{
  padding-right:20px;
}
.padding-left-15{
  padding-left:15px !important;
}
.padding-left-20{
  padding-left: 20px !important;
}
.margin-top-20{
  margin-top:20px;
}
.padding-left-0{
  padding-left:0 !important;
}
.position-relative .risk-title.margin-bottom-0.text-left.padding-left-15{
  border:none !important;
  background-color:#494949 !important;
}
.position-relative .risk-title.margin-bottom-0.text-left.padding-left-15 span{
  color: #EEEEEE !important;
  position: absolute;
  width: 200px !important;
  display: inline-flex;
  font-size: 20px;
  font-weight: normal !important;
  top: 6px;
  z-index: 10000 !important;
  left:36%;
}
#product_table2 .position-relative .risk-title.margin-bottom-0.text-left.padding-left-15 span{
 left:41%;
}
#product_table3 .position-relative .risk-title.margin-bottom-0.text-left.padding-left-15 span{
 left:40%;
}
#product_table4 .position-relative .risk-title.margin-bottom-0.text-left.padding-left-15 span{
 left:38%;
}
.position-relative{
  position:relative;
  display:none;
  height:37px;
}
.product-scroll-table .position-relative .risk-title.margin-bottom-0.text-left.padding-left-15:nth-child(12){
  border-right: 1px solid #333 !important
}
.risk-profile{
  width: 30.333333%;
}
.charts-profile{
  width: 69.666667%;
}
.margin-top-20-ilscape{
  margin-top:20px;
}
.charts_section .highcharts-legend-item text{
  text-transform: uppercase;
}
/*.span-parent{
    position:relative;
}*/

/*.asset_class_4, .asset_class_3, .asset_class_2{
  display:none !important;
}
*/
.btn i, .btn-flat i {
  /*color: #fff !important;*/
  font-size: 25px;
  font-weight: bold;
  padding: 0;
  background-color: transparent;
}
.margin-left-20{
  margin-left:20px;
}
.blur{
  /*background-color:#ccc !important;*/
  border:none !important;
  opacity:0.4;
  cursor: default !important;
}
.blur .fa{
   opacity:0.3;
   cursor: default !important;
}
.categories2_0 .plus.show, .categories2_0 .minus.show{
  display:none !important;
}
.categories2_0 .minus.hide, .categories2_0 .plus.hide{
  display:block !important;
}

/*.delete_row.deleting_row.modal-trigger.delete{
  background-color: red !important;
  border-color: red !important;
}*/
.delete_row.deleting_row.modal-trigger.delete > .fa-times{
  color: red !important;
  width: auto;
  font-size: 16px !important;
  font-weight: normal !important;
  padding: 0 2px !important;
}
.list-names h1{
  font-size:25px !important;
  text-transform:uppercase;
  margin-top: 1px !important;
  margin-bottom: 1px !important;
}
.list-names h2{
  font-size:14px !important;
  text-transform:uppercase;
  margin:0 !important;
}
.list-names {
  border: 1px solid #c6c6c6;
  padding: 15px;
  background-color: #d6d6d6;
  margin-bottom: 20px;
  width: 15.416667%;
  margin-right: 1.5%;
  padding-left: 0;
  padding-right: 0;
}
.margin-top-30{
  margin-top:30px;
}
.border9e9e9e h5{
  font-size:15px;
}
.marginright-0{
  margin-right: 0 !important;
}
.list-names h2:last-child {
  margin-top: 10px !important;
}
.client-values > div > div.margintop30 .border9e9e9e{
  padding-top:5px !important;
  padding-bottom:5px !important;
}
.dashboard-icon img{
  height:19px;
  border-radius: 50%;
  top: -3px;
  position:relative;
}

.client-values > div{
  text-align:center;
}
.margintop10{
  margin-top:10px;
}
.margintop20{
  margin-top:20px;
}
.margintop30{
  margin-top:30px;
}
.marginbottom10{
  margin-bottom:10px;
}
.marginbottom20{
  margin-bottom:20px;
}
.marginright10{
  margin-right:10px;
}
.marginleft10{
  margin-left:10px;
}
.border9e9e9e{
  border:1px solid #9e9e9e;
}
.paddingbottom10{
  padding-bottom:10px;
}
#asbond .highcharts-legend-item, #asequity .highcharts-legend-item, #glequity .highcharts-legend-item,
#euequity .highcharts-legend-item, #usequity .highcharts-legend-item, #client-account .highcharts-legend-item{
  display:none !important;
}
#advisory_model .highcharts-title > tspan, #client_portfolio .highcharts-title > tspan{
  font-size: 1.7rem !important;
}
.line-title{
  font-size: 16px;
  padding-left:16px !important;
  align-items: center;
  text-transform:uppercase;
  display: flex;
}
.line-title span{
  padding-right:10px !important;
  width: 83%;
    display: inline-block;
}
.line-charts > div{
  /*width:20% !important;*/
}
.font-size25{
  font-size:25px;
}
.line-title .view-icon{
  vertical-align: middle;
}
#client-account .highcharts-xaxis-labels > text{
  transform: rotate(1deg) !important;
}
.bg-white{
  background-color:#ffffff;
}
.white-bg-height{
  height: 35px;
  background-color: #fff;
}
.padding-left-7{
  padding-left:7px !important;
} 
.padding-right-7{
  padding-right:7px !important;
} 

.standard{
  border:none !important;
  padding-right: 0;
  padding-bottom: 0;
}
md-checkbox{
  margin-bottom:0 !important;
}
md-checkbox ._md-icon{
  width: 17px;
  height: 17px;
}
/*#product_selection rect{
  fill:rgb(231,231,231);
  margin-left:10px !important;
}
*/
#product_selection{
  background-color:#ffffff; 
}
#product_selection svg{
  transform: translate(5px,0px)
}
#product_selection .highcharts-axis-labels.highcharts-xaxis-labels text{
  font-size:14px !important;
}
.header_nav.home{
  background-color:transparent !important;
  border:none !important;
}

.home-page .logo-text, .signin-page .logo-text, .signup-page .logo-text{
  color:#fff !important;
}
.home-page .navbar-brand .logo-text, .signin-page .navbar-brand .logo-text,
.signup-page .navbar-brand .logo-text{
  font-size: 38px;
  letter-spacing: 4px;
}
.home-page .container.navbar-app{
  width:87% !important;
  padding-bottom: 40px;
}
.home-page .jumbotron{
  padding-top: 30px;
  margin-bottom:0 !important;
}
.home-page .jumbotron .heading {
    /*padding: 1.2em 0;*/
    padding-bottom: 0em;
}
.home-page  #middle-container,.signin-page #middle-container, .signup-page #middle-container{
    padding-top: 0px;
}
.home-page .white-font,.signin-page .white-font,.signup-page .white-font {
  color:#fff !important;
}
.home-page .jumbotron p{
  padding-bottom: 15px;
  padding-top: 6px;
  font-size: 24px;
  letter-spacing: 0;
  font-weight: bold;
}
.platform{
  position: relative;
  /*top: -38px;*/
  color: #1b1b1b !important;
  /*margin-bottom: 0;*/
  font-size: 29px;
  letter-spacing: 0 !important;
  text-align: center;
}
/*.home-page .content{
  margin-top:-15px;
}*/
.risk-title, #input-area .risk-title {
  background-color: #ffffff; 
  color: #333;
}
#chosenHorizon, #chosenRisk, #chosenReturn{
  height: 18px;
}
.client-chart-header .risk-title span{
  width: 84% !important;
  text-align: right;
  padding-right: 15%;
}
.charts_1 {
  padding-top: 0 !important;
}
.product_allocation_page .risk-title {
  border: none;
}
.product-selection-scrollable{
  overflow: auto !important;
  height: 364px !important;
}
.product-selection-scrollable > table{
  margin-bottom:0 !important;
}
.padding-top-15{
  padding-top:15px;
}
.navbar li {
  padding-top: 17px;
  padding-bottom: 0px;
}
.home-page .content{
  padding-top: 30px;
}
.inner-pages .navbar.navbar-app{
  padding-bottom:6px;
}
md-checkbox.md-default-theme.md-checked ._md-icon, md-checkbox.md-checked ._md-icon {
  background-color: rgb(235, 73, 50);
}
.font-ccc{
  color:#ccc !important;
}
/*.navbar-app{
  border-bottom:none !important;
}*/
.container.navbar.navbar-app {
  padding-left: 8.2%;
  padding-right:8.5%;
}
.home-page .container.navbar.navbar-app{
  padding-left: 30px;
  padding-right:30px;
}
.table-portfolio {
  height: 194px;
  overflow-y: auto;
  margin-bottom: 20px;
}
.table-portfolio > table
{
  margin-bottom:0 !important;
}
.spider-border{
  border: 1px solid rgba(204, 204, 204, 0.41);
  background-color:#fff;
}
.margin-top-10{
  margin-top:10px;
}
#cashgraph .highcharts-markers path,
#simulation .highcharts-markers path,
#simulation2 .highcharts-markers path{
  /*display:none;*/
}
#simulation .highcharts-data-labels g text, #simulation2 .highcharts-data-labels g text{
  visibility:hidden;
}
#simulation .highcharts-data-labels g:last-child text, #simulation2 .highcharts-data-labels g:last-child text{
  visibility: visible;
}
#simulation .highcharts-data-labels g:last-child, #simulation2 .highcharts-data-labels g:last-child{
  opacity:1 !important;
}
/*#slide3 ._md-track._md-track-fill,
#slide3 ._md-thumb:after,#slide3 ._md-thumb:after,
#slide3 ._md-thumb:after,#slide3 ._md-thumb:after {
  border-color: #4CAF50;
  background-color: #4CAF50;
}
#slide4 ._md-track._md-track-fill,
#slide4 ._md-thumb:after,#slide4 ._md-thumb:after,
#slide4 ._md-thumb:after,#slide4 ._md-thumb:after {
  border-color: red;
  background-color: red;
}*/

.finvese-home{
  background-color: rgba(247, 247, 247, 0.7);
  padding-bottom: 22px;
  padding-top: 12px;
}
.finvese-home.slick-slider button{
  background-color: transparent !important;
  border: none !important;
}
.finvese-home.slick-slider h3{
  font-size: 1.92rem;
  color: #000;
  letter-spacing: 0;
}
.finvese-home.slick-slider h3::before{
  content: " ";
  display: inline-block;
  width: 60px;
  background-color: #0174c2;
  height: 4px;
  position: absolute;
  top: 98.5%;
  left: 2.5%;
}
/*.finvese-home.slick-slider .h2.enable-advise::before{
    top: 38%;
}*/
.finvese-home.slick-slider h4 {
  font-size: 1.12rem;
  letter-spacing: 0;
  /*padding-left: 20px !important;*/
}
.finvese-home.slick-slider .slick-prev,.finvese-home.slick-slider .slick-next {
  position: absolute;
  display: inline-block;
  width: 45px !important;
  top: 47% !important;
}
.finvese-home.slick-slider .slick-next {
  left: 3%;
  left: auto;
  right: 5px !important;
}
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
  opacity: .10;
}
.slick-next:before, .slick-prev::before{
  color: #768493;
  font-size: 40px !important;
  font-weight: normal
}
.slick-dots li button:before{
  font-size:1px;
}
.finvese-home .slick-slide > div > h3,.finvese-home .slick-slide > div > div{
  text-align:left !important;
}
.finvese-home  a.md-default-theme:not(.md-button),.finvese-home a:not(.md-button) {
  color: #0687bf !important;
}
.finvese-home .slick-slide > div > div{
  padding-top: 5px;
  padding-left: 0;
}
.finvese-home.slick-slider h3.h2::before {
  background-color:#b28d49;
}
.finvese-home.slick-slider h3.h3::before {
  background-color:#5fa0d0;
}
.home-page .jumbotron p + div{
  padding-bottom:70px;
}
.finvese-home.slick-slider .slick-dots{
  bottom: -60;
  width: 17%;
  margin: 5px auto;
  left: 0;
  right: 0;
  /*background-color: rgba(8, 8, 8, 0.8);*/
  padding-bottom: 5px;
}
.finvese-home.slick-slider .slick-dots .slick-active button::before{
  font-size: 24px;
  opacity:1 !important;
  color: #ffffff !important;
  width: 17px;
}
.homeslider-content{
  padding-top: 14.6% !important;
}
.homeslider-content2{
  padding-top: 13% !important;
}
.finvese-home.slick-slider .slick-dots button {
  background-color: transparent !important;
  border: 3px solid #fff !important;
  border-radius: 50%;
  width: 18px;
  height: 18px;
}
.finvese-home.slick-slider .highcharts-legend + text{
  display:none !important;
}
#empoweringInvestors .highcharts-background, #advisore-bar .highcharts-background, 
#enablingAdvisors .highcharts-background, #enablingAdvisor .highcharts-background,
.enhancingPerformance .highcharts-background{
  background-color:transparent !important;
  fill:transparent !important;
}
#empoweringInvestors .highcharts-title tspan:nth-child(2), #empoweringInvestors .highcharts-title tspan:last-child,
#empoweringInvestors .highcharts-subtitle tspan:last-child,#enablingAdvisor .highcharts-title tspan:last-child,
#enablingAdvisor .highcharts-subtitle tspan:last-child, .enhancingPerformance .highcharts-subtitle tspan:last-child,
.enhancingPerformance .highcharts-title tspan:last-child {
  font-size:10px !important;
}
#empoweringInvestors .highcharts-title tspan:nth-child(4), #empoweringInvestors .highcharts-title tspan:first-child,
#enablingAdvisor .highcharts-title tspan:first-child, .enhancingPerformance .highcharts-title tspan:first-child{
  font-size:26px !important;
}
#empoweringInvestors .highcharts-subtitle tspan:nth-child(4), #empoweringInvestors .highcharts-subtitle tspan:first-child,
#enablingAdvisor .highcharts-subtitle tspan:first-child,.enhancingPerformance .highcharts-subtitle tspan:first-child{
  font-size:26px !important;
}
#empoweringInvestors .highcharts-title tspan:nth-child(3){
  font-size: 1px !important;
}
#empoweringInvestors .highcharts-series path,#enablingAdvisors .highcharts-series path,
#enablingAdvisor .highcharts-series path, .enhancingPerformance .highcharts-series path{
  stroke-width:0 !important;
}
#advisore-bar{
  position: absolute;
  top: 10%;
  left: 10%;
}
.finvese-home.slick-slider .container{
  padding:0 !important;
}
.finvese-home.slick-slider .slick-prev::before {
  left: 18px !important;
}
.slick-dots li button:before {
  line-height: 18px;
}
#empoweringInvestors{
  padding-left:0 !important;
}
.padding-right-0{
  padding-right: 0 !important;
}
.slider-chart .slick-prev, .slider-chart .slick-next{
  /*display:none !important;*/
}
/*.assetClass-charts{
  border: 1px solid rgba(204, 204, 204, 0.41);
}*/
.assets_class_page .highcharts-legend-item > path:nth-child(2){
  display:none;
}
#assetEquities .highcharts-data-labels g text, #assetBonds .highcharts-data-labels g text,
#assetHedge .highcharts-data-labels g text {
  visibility: hidden;
}
#assetEquities .highcharts-data-labels g:last-child, #assetBonds .highcharts-data-labels g:last-child,
#assetHedge .highcharts-data-labels g:last-child,#assetEquities .highcharts-data-labels g:last-child text, 
#assetBonds .highcharts-data-labels g:last-child text,
#assetHedge .highcharts-data-labels g:last-child text {
  opacity: 1 !important;
  visibility: visible;
}
.assets_class_page #assetEquities .highcharts-markers path,
.assets_class_page #assetHedge .highcharts-markers path,
.assets_class_page #assetBonds .highcharts-markers path{
 fill:none !important;
}
.assets_class_page .line-title {
  height: 54px;
  display: block; 
  line-height: 51px;
  padding-left: 0 !important;
}
#assetClassRiskReturn .highcharts-axis-labels.highcharts-xaxis-labels,
#assetClassRiskReturn .highcharts-xaxis-title + path{
  transform: translate(1px, -147px);
}
.submitPopup {
  position: fixed;
  font-size: 18px;
  z-index: 10000;
  top:0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  background-color: rgba(27, 26, 26, 0.61);
  text-align: center;
  height: 100%;
  /* vertical-align: 100px; */
  color: #fff;
  /* line-height: 200px; */
  box-shadow: -9px 28px 22px -17px #949494;
}
.submitPopup > div{
  height: 100px;
  position: relative;
  top: 40%;
  width: 50%;
  margin: 0 auto;
  background: #fff;
  color: #333;
  line-height: 77px;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  border: 1px solid #676565;
}
.submitPopup > div .fa{
  background: transparent;
  color: #333 !important;
  font-weight: normal;
  position: absolute;
  right: 15px;
  border: 1px solid #ccc;
  height: 28px;
  width: 28px;
  line-height: 27px;
  padding: 0;
  top: 15px;
}
.submitPopup > div > div{
  margin: 10px;
  border: 1px solid #ccc;
}
.advisor-details .errormsg{
  position: absolute;
  margin-bottom: 0;
  padding-left: 9px;
  margin-top: -19px;
}
.color-red{
  color:red;
}
.text-top{
  vertical-align: text-top;
}
.advisor-name{
  font-size:17px;
}

.padding-left-12per{
  padding-left:12% !important;
}
.holdings-table-scrollable{
  /*overflow: auto !important;*/
  /*height: 274px !important;
  margin-bottom: 30px;*/
  padding-right:0;
}
.padding-top-0{
  padding-top: 0 !important;
}

.holdings-title span{
  display: inline-block;
}
.holdings-title{
  padding-left:0 !important;
}
/* client history css start here*/

.advisor_allocation .display, .advisor_assetsallocations_page .display{
  display:none;
}
.advisor_allocation .advisor.hide, .advisor_assetsallocations_page .advisor.hide{
  display:inline-block !important;
}
.advisor_allocation .padding-left-12per, .advisor_assetsallocations_page .padding-left-12per{
  padding-left: 2.5% !important;
}
.dashboard tr > td.wieght{
  width:14% !important;
}
/* client history css end here*/
.line-charts > div .bg-white{
  margin-bottom:20px;
}
.table-parents table{
  margin-bottom: 0 !important;
}

.padding-left-20{
  padding-left:20px !important;
}
.padding-right-20{
  padding-right:20px !important;
}
.line-charts .risk-title.line-title{
  margin-bottom:0 !important;
  padding-bottom:0 !important;
}
.view-icon .clientdashboard_page{
  padding-right:20px !important;
}

#fund-performance .risk-title, .funds-performnace .risk-title{
  padding-bottom:12px !important; 
}


.client-since{
  height: 165px;
  padding-left:5%;
}
.cyan-light-bgcolor{
  background-color: #c4ffff !important;
}
.aum-box .font-size25{
  font-size:25px !important;
}
.aum-box {
  padding-top: 10px !important;
  padding-bottom: 9px !important;
}
.cyan-color{
  color: #23a0a0;
}
.userProfile img{
  height:17px;
  vertical-align: baseline;
  height: 20px;
  vertical-align: bottom;
  filter: invert(74%);
  -webkit-filter:invert(74%);
  border-radius: 50%;
}
.userProfile{
  position:relative;
}
.userProfile ul{
  visibility: hidden;
  position: absolute;
  border-bottom: none !important;
  z-index: 1000;
  background-color: #ffffff;
  width: 95%;
  opacity:0;
  left: 6px;
  top: 55px;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  z-index:300;
}
.userProfile:hover > ul {
  visibility: visible;
  opacity: 1;
  top: 67px;
}
.userProfile:hover > ul li{
  padding-left:10px !important;
  padding-bottom: 10px !important;
  padding-top: 10px;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
}
.targetbox{
  border:none !important;
  background-color:transparent;
  font-size:20px;
  padding-right:0 !important;
}
.list-names.targetbox >  h2{
  font-size:20px !important;
  margin-top:0 !important;
}
.returnsBox{
  background-color:#4caf50;
}
.riskBox{
  background-color:#ff5722;
}
.lossBox{
  background-color:#ff0000;
}
.client-since > div{
  text-align:left;
}
.client-since > div img{
  height:34px;
  margin-top:15px;
  border-radius:50%;
  margin-bottom: 7px;
  filter: invert(74%);
  -webkit-filter:invert(74%);
}
.client-since > div.risk-title{
  padding-bottom: 0 !important;
}
.list-names h2:last-child {
  font-size: 20px !important;
}
.client-list .list-names{
  padding:14px 12px;
  background-color:#9be0ea;
  border:none !important;
}
.table-parents{
  border: 1px solid #b7b7b7 !important;
  overflow: auto;
}
.table-parents.onerow-table{
  height: 34px;
}
.table-parents table tbody{
  border:none !important;
}
.table-parents table tbody > tr > td:last-child{
  border-right-width:0;
}
.table-parents.fourrows-table{
  height: 128px;
}
.clientcurrency > span{
  padding: 3px 10px;
  width: 170px;
  display:inline-block;
  background-color: #ffffff;
}
.clientcurrency > label{
  display: inline-block;
  font-size: 16px !important;
  font-weight: bold;
}
.trades_page th{
  color:#333 !important;
}
#tradePopup .input-field{
  margin-top:0 !important;
}
.tradesPage-table th{
  width:9% !important;
}
.tradesPage-table tr td #tradesCol{
  width: 88%;
  margin-bottom: 0;
}
#allocation_table th{
  width:10% !important;
}
#allocation_table th.index0{
  width:18% !important
}

.clienthistory_page th{
  color:#333 !important;
}
.input-group-risk{
  float:left !important;
}



.risks_calibrations_page .intial-aum-text,.risks_calibrations_page .horizon-input,
.risks_calibrations_page #intial_invest{
  font-size:22px !important;
}
.risks_calibrations_page .flex_risks .horizon-input,.risks_calibrations_page .flex_risks .horizon-input:hover,
.risks_calibrations_page #intial_invest{
  width:100% !important;
  box-sizing: border-box;
  padding-left: 10px;
}
.padding-left-5{
  padding-left:5px !important;
}
.padding-right-5{
  padding-right:5px !important;
}
.targetreturn{
  margin-top: 10px;
}
#slide3{
  margin-top:15px;
}

#input-area #chosenReturn,
#input-area #chosenHorizon,#input-area #chosenRisk{
  height:3px !important;
}
.intial-aumm{
  margin-bottom:5px;
}
.intial-aumm .input-group-addon{
  font-size:22px;
  line-height: 37px;
  padding-left: 9px;
  padding-right: 6px;
  color: #333;
}


/*#dashboard-investments .highcharts-title {
  transform: translate(-85px,-11px) !important;
  -webkit-transform:translate(-85px,-11px) !important;
}*/

.sortorder:after {
  content: '\25b2';  
}
.sortorder.reverse:after {
  content: '\25bc';
}
.sortorder.ng-hide{
  display: inline-block !important;
  color: #888;
}

span.sortorder{
  float: right;
  padding-right: 5px;
}

.asset-select-arrow{
  height: 370px;
  line-height: 368px;
}
.padding-left-5{
  padding-left:5px !important;
}
.reviewstable-section,.allocations-table-section, .trades-table-section,
.holdings-table-section{
  background-color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
}
.reviewstable-section .risk-title,.allocations-table-section .risk-title,
.savings_page .risk-title, .assets_allocations_page .risk-title{
  background-color: transparent;
}

.asset_allocationproduct{
  background-color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  padding-top:10px;
  margin-bottom: 10px;
}
.padding-right-10{
  padding-right:10px !important;
}
.spider-border {
  padding-top:10px;
}


.bg-color-white,.bg-color-white .charts_section{
  background-color:#ffffff;
}
.bg-color-white .charts_section{
  padding-top:10px;
}
.advisory-model-portfolio, .client-portfolio-allocation{
  padding-top:25px !important;
}
#advisory_model .highcharts-legend, #client_portfolio .highcharts-legend{
  transform: translate(20px,313px) !important;
}


.gray-container{
  padding-top: 39px;
}
form .modal-dialog{
  margin-top:70px;
}


.advisor.hide a > span{
  display:none !important;
}

.holdings-table-section #cashBondsCol{
  width:90% !important;
  margin: 5px 0;
}
.padding-bottom-20{
  padding-bottom:20px;
}
.holdings-table-scrollable .table-parents{
  max-height:193px;
  overflow-y: auto;
  border: none !important;
}
.product-selection-scrollable > table.product_table tr > th,
.product-selection-scrollable > table.product_table tr > td{
  width:6% !important;
  max-width:55px;
  word-wrap: break-word;
}
.product-selection-scrollable > table.product_table tr > th:first-child,
.product-selection-scrollable > table.product_table tr > td:first-child{
  width:13% !important;
  max-width:none;
}
#header-fixed { 
  position: fixed; 
  top: 0px; 
  display:none;
}
.divbarclass.navbar.yamm.navbar-default.navbar-fixed-top.inner-page,
.divbarclass.navbar.yamm.navbar-default.navbar-fixed-top.inner-page div{
  background-color: transparent;
  background-image: none !important;
}
.scrollable.signin-page, .signup-page,.forgot_password_page {
  background-image: url('../images/Financial_Markets0.jpg'); 
  background-size: cover;
}
.scrollable.signin-page .navbar-app.header_nav.home, .signup-page .navbar-app.header_nav.home{
  padding-top: 30px;
}
.holdings-table-scrollable > .col-xs-6:first-child > .col-xs-12{
  padding-right:7px;  
}
.holdings-table-scrollable > .col-xs-6:last-child > .col-xs-12{
  padding-left:7px;  
}
.bg-cyan{
  background-color: #9be0ea !important;
}

.bg-transparent, .clientdashboard_page .risk-title.holdings-title{
  background-color:transparent !important;
}
.holdings-table-scrollable{

}



.padding-bottom10{
  padding-bottom:10px !important;
}




.assets_class_page .assets_class_list{
  border:none !important;
} 
.stocks-assets .categories.categories_0,
.stocks-assets .categories.categories_1,
.stocks-assets.selection  .categories.categories2_0,
.stocks-assets.selection  .categories.categories2_1
{
    border-bottom: 3px solid #fff !important;
}
.cashposition #tradesCol,.cashposition #cashBondsCol {
  width: auto;
  padding: 5px 24px;
}
#tradesCol,#cashBondsCol{
  margin:3px 0 !important;
}
.incomplete{
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 10000;
  color: #383838;
  font-size: 17px;
  box-shadow: -3px 10px 5px rgba(0,0,0,0.5);
  background-color: rgba(119, 119, 119, 0.3);
  padding: 20px;
  height: 100%;
}
.insufficient{
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 10000;
  color: #383838;
  font-size: 17px;
  box-shadow: -3px 10px 5px rgba(0,0,0,0.5);
  background-color: rgba(119, 119, 119, 0.3);
  padding: 20px;
  height: 100%;
}
.insufficient2{
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 10000;
  color: #383838;
  font-size: 17px;
  box-shadow: -3px 10px 5px rgba(0,0,0,0.5);
  background-color: rgba(119, 119, 119, 0.3);
  padding: 20px;
  height: 100%;
}
.innercontent{
  background-color:#ffffff;
  width:28% !important;
  color: #383838;
  border: 1px solid #999999;
  font-size: 17px;
  padding: 20px;
  margin:70px auto 0;
}
.innercontent > div:nth-child(2){
  padding-bottom: 15px;
  padding-top:15px;
}
.insufficient .fa-times{
  font-size: 19px;
  background-color: transparent;
  padding: 0;
  width: auto;
  font-weight: normal;
  color: #666;
}
.trades_page .insufficient .insufficient-button{
  width: 70px;
  margin-bottom: 0;
  text-align: center !important;
  background-color: #383838;
  color: #fff;
  padding: 0 !important;
  font-weight: bold;
  height: 42px;
  border: none;
}
.trades_page .insufficient2 .insufficient-button{
  width: 70px;
  margin-bottom: 0;
  text-align: center !important;
  background-color: #383838;
  color: #fff;
  padding: 0 !important;
  font-weight: bold;
  height: 42px;
  border: none;
}






.newrow:focus,.newrow:hover{
  background-color:#ffffff;
}
.cash-assets{
  padding-bottom:15px;
}



@media (min-width: 1320px){
  .selected-assets .fa.fa-times-circle.pull-right {
    margin-right: 4.3% !important;
  }
}
@media (min-width: 1370px){
  .selected-assets .fa.fa-times-circle.pull-right {
    margin-right: 4.4% !important;
  }
}
@media(min-width:1400px){
  .selected-assets .fa.fa-times-circle.pull-right{
    margin-right: 4.6% !important;
  }
}
@media (min-width:1267px) {

  .selected-assets .fa.fa-times-circle.pull-right{
    margin-right: 4.1%;
  }
}
@media (min-width:1240px) and (max-width:1266px) {

  .product-selection-scrollable > table.product_table tr > th, .product-selection-scrollable > table.product_table tr > td {
    max-width: 55px;
    word-wrap: break-word;
  }
}
@media(max-width:1240px){
  .selected-assets .fa.fa-times-circle.pull-right{
    margin-right: 4%;
  }
  .product-selection-scrollable > table.product_table tr > th, .product-selection-scrollable > table.product_table tr > td {
    max-width: 55px;
    word-wrap: break-word;
  }
}

@media (max-width:1140px) {

/*.navbar-nav>li>a {
    font-size: 22px;
   }*/
  label{
    font-size:15px !important;
  }
  .edit_details label{
    font-size:14px !important;
  }

  .width_col2 {
      width: 48.5%;
  }
  .width_col_margin {
      margin-left:3%;
  }

    .overview_page .margin-bottom-0.padding-left-15.risk-title {
     
      height:80px;
      
  }

  .product-title{
    display:none;
  }
  .position-relative{
   display: table-row;
  }
  .product-scroll-table table{
   position: relative;
  }

}


@media (max-width:1024px) {

  label{
    font-size:14px !important;
  }


  #input-area > div{
    width:100%;
    }
  .risks_calibrations_page label{
    font-size:15px !important;
  }

  .overview_page .margin-bottom-0.padding-left-15.risk-title {
    height:86px;
  }

 
  .home-text {
    width: 84%;
  }
  .jumbo-links div a, .jumbo-links div a:hover, .jumbo-links div a:focus {
    font-size: 22px;
  }
  #target_risk, #target_return, #target_loss {
    width: 33%;
  }
  .padding-left-landscape-10 {
    padding-left: 10px !important;
  }
  .input_border {
    padding-right: 20px !important;
    padding-left:10px !important;
  }
  #target_return{
    width:31%;
  }
 
  #container{
    max-width:280px !important;
  }
  .product-title{
    display:none;
  }
  .position-relative{
    display: table-row;
  }
  .product-scroll-table table{
    position: relative;
  }

  #advisory_model .highcharts-legend {
    transform: translate(30px,348px) !important;
  }
  #client_portfolio .highcharts-legend {
    transform: translate(35px,348px) !important;
  }
  .padding-left-scape-5{
    padding-left:6px !important;
  }
  .padding-right-scape-5{
    padding-right:6px !important;
  }
  #semi_circle_chart{
    height:364px !important;
  }
  .margin-top-20-ilscape{
    margin-top:20px;
  }
  .margin-bottom-20-ilscape{
    margin-bottom:20px;
  }
  .flex_risks .slider-value, .flex_risks .slider-value:hover, .flex_risks .slider-value:focus,

 

}
@media (max-width:984px) {

  
}
@media (max-width:946px) {

  
}
@media (max-width:900px) {

  
}

@media (max-width:805px) {

  .jumbo-links div a, .jumbo-links div a:hover, .jumbo-links div a:focus {
    font-size: 18px;
  }
  .padding-left-90 {
    padding-left: 50px;
  }
  .home-text {
    width: 100%;
  }
}

@media (max-width:777px) {

#risk-slider label, #horizon-slider label{text-align: left}
.margin-top-20 {
    margin-top: 0px;
}

}









.input-group-risk .input-group-addon{
border-left: 0;
    float: left;
    font-size: 1em;
    background-color: transparent !important;
    font-weight: 400;
    font-family: "Arial" !important;
    display: inline-block;
    width: 1em;
    position: unset;
        text-align: center;
    padding-left: 6px;
        padding-right: 0px;
    right: unset;
    height: unset;
    line-height: 2em;
    margin-top: 3px;
}


input#iterations,
input.RiskCalibration{
      float: left;
    font-weight: 600 !important;
    font-size: 1.5em !important;
    margin-bottom: 0 !important;
    height: 2em !important;
    width: 4em !important;
        text-align: right;
}



#targetReturnLabel,
#targetLossLabel,
#targetRiskLabel,
#initialAUMLabel,
#horizonLabel {
    font-size: 1em;
    margin-top: 0.25em;
    padding: 1em 0 0 0;
    display: block;
    text-align: left;
}


#initialAUMLabel {
    font-weight: 600;
    font-size: 1.25em;
    margin-top: 0;
    padding-top: 0.55em;
}





@media(max-width:768px) {

#targetReturnLabel,
#targetLossLabel,
#targetRiskLabel,
#initialAUMLabel,
#horizonLabel {
    font-size: 1.25em !important;
    margin-top: 2em;
    padding: 1em 0 0 0;
}

#initialAUMLabel{
    margin-top: 0em;
}

.RCmargin-top-40,
.RCmargin-top-20{
    padding: 0 20px !important;
}

.intial-aumm {
    padding: 0 14px 30px 14px;
}

}





@media(max-width:1200px) {
.WealthProjection.padding-left-20{
      padding-left: 0px !important;
} 
}