


input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search-md],
textarea.materialize-textarea {
}

:not(td).select-wrapper .input.select-dropdown,
:not(td) input[type=date],
:not(td) input[type=datetime-local],
:not(td) input[type=email],
:not(td) input[type=number],
:not(td) input[type=password],
:not(td) input[type=search-md],
:not(td) input[type=tel],
:not(td) input[type=text],
:not(td) input[type=time],
:not(td) input[type=url],
:not(td) textarea.materialize-textarea {
 margin-bottom: 40px;
}


.ng-empty + label,
.input-field label {
text-transform: uppercase;
top: .7rem;
left: 8px;
z-index: 0;
color: #666;
}

#login .input-field label {
font-size: 13px;
letter-spacing:0 !important;
} 


form .input-field .ng-not-empty + label, 
form .input-field .ng-not-empty + div + label,
.input-field .ng-not-empty + label,
.input-field .ng-not-empty + div + label{
-webkit-transform: translateY(-110%);
-moz-transform: translateY(-110%);
-ms-transform: translateY(-110%);
-o-transform: translateY(-110%);
transform: translateY(-110%);
text-transform: uppercase;
font-size: 0.65em !important;
color: #333;
}

form .input-field label.active{
font-size: 0.65em !important;
color: #333;
}


.forgot_password_page .input-field input, 
.signup_page .input-field input{
color:#333;
line-height:4em;
}

.forgot_password_page .input-field input, 
.signup_page .input-field input{
border:none !important;
}


.phcode input{
margin-bottom:20px !important;
}
.phcode>input {
margin-bottom: 0!important;
}



div#input-area > div{
background-color: #fff;
}
.input_border{
padding-left: 0 !important;
}

input[type="password"],
input[type="text"] {
font-size: 1em;
color: #474747 !important;
}


input[type=date], input[type=datetime-local], input[type=email], input[type=number], input[type=password], input[type=search-md], input[type=tel], input[type=text], input[type=time], input[type=url], textarea.materialize-textarea{
    font-size: 1em;
    height: 3em;
}


.risk-title, #input-area .risk-title {
text-align: center;
font-size: 16px;
padding-bottom: 12px !important;
padding-top: 12px;
background-color:#f9f9f9;
margin-bottom: 15px;
color:#474747;
border-radius: 4px 4px 0 0;
}
#input-area > div{
margin-right:0 !important;
}

#loginform input{
color:#333 !important;
}

#input-area .input-group-risk input{
box-sizing: border-box;
width:100% !important;
border: 1px solid #a8a8a8 !important;
height: 45px !important;
text-align: center;
margin-bottom: 0 !important;
padding-left:0 !important;
color: #333 !important;
}

#loginform input{
border:none !important;
}

.annual-horizon input, #input-area .input-group-risk input{
border:none !important;
float:left;
width:calc(100% - 12px) !important;
}

#input-area .input-group-risk input:hover{
background-color:transparent !important;
}


.risk-tol-assets input{
background-color: #d1f2f5 !important;
border:none !important;
}

.annual-horizon input{
text-align:right !important;
}

.assetinput-title{
text-align: center;
font-size:20px;
margin-bottom:10px;
}

.assets_input_page input {
background-color: #ffffff;
padding-left: 8px;
border: 1px solid #cdcdcd !important;
box-sizing: border-box;
padding-top: 11px;
height: 40px !important;
margin-bottom: 35px !important;
color: #000000 !important;
width:90%;
margin: 5px auto !important;
}






.income_page .input-field input[type=text], .investements_page .input-field input[type=text], 
.clientsList_page .input-field input[type=text], .savings_page .input-field input[type=text], 
.expenses_page .input-field input[type=number],.expenses_page .input-field input[type=text],
.income_page .input-field input[type=number], .investements_page .input-field input[type=number], 
.clientsList_page .input-field input[type=number], .savings_page .input-field input[type=number], 
.expenses_page .input-field input[type=number]{
  font-size: 1em;
}



.input-field input,
.client_details .input-field input, 
.advisor-details .input-field input {
border: 1px solid transparent !important;
/*background-image: linear-gradient(#ffeb3b, #ffeb3b), linear-gradient(#ffffff, #ffffff);*/
background-image: linear-gradient(#ffeb3b, #ffeb3b), linear-gradient(#ffffff, #ffffff) !important;
background-size: 0 3px, 100% 2px;
background-repeat: no-repeat;
background-position: center bottom, center calc(100% - 1px);
background-color: transparent;
transition: background 0s ease-out;
float: none;
box-shadow: none  !important;
border-radius: 0;
font-weight: 500;
padding: 22px 8px;
position: relative;
box-sizing: border-box;
z-index: 1;
}

  .input-field input:hover,
  .input-field input:focus,
  .client_details .input-field input:focus, 
  .advisor-details .input-field input:focus{
  outline: none;
  background-image: linear-gradient(#FFEB3B, #FFC107), linear-gradient(#FFEB3B, #FF9800);
  background-size: 100% 4px, 100% 0px;
  box-shadow: none;
  transition-duration: 0.3s;
  }


.input-field input::-moz-placeholder,
.input-field input::-ms-input-placeholder,
.input-field input::-webkit-input-placeholder{
color: #AAAAAA;
font-weight: 400;
}



.input-field input[disabled],
.input-field input:not(.datepicker)[readonly],
.input-field input[disabled] + label,
.input-field input:not(.datepicker)[readonly] + label{
cursor: not-allowed;
}



.input-field input[disabled]:hover,
fieldset[disabled] input:hover,
.input-field input[disabled],
fieldset[disabled] input {
background-image: none !important;
border-bottom: 1px dashed #fff !important;
}

.input-field {
position: relative;
}

.input-field.label-static label,
.input-field.label-placeholder label,
.input-field.label-floating label {
position: absolute;
pointer-events: none;
transition: 0.3s ease all;
}

.input-field.label-floating label {
will-change: left, top, contents;
}

.input-field.label-placeholder:not(.is-empty) label {
display: none;
}

.input-field .help-block {
position: absolute;
display: none;
}




input[type=date]:focus:not([readonly])+label, 
input[type=datetime-local]:focus:not([readonly])+label, 
input[type=email]:focus:not([readonly])+label, 
input[type=number]:focus:not([readonly])+label, 
input[type=password]:focus:not([readonly])+label, 
input[type=search-md]:focus:not([readonly])+label, 
input[type=tel]:focus:not([readonly])+label, 
input[type=text]:focus:not([readonly])+label, 
input[type=time]:focus:not([readonly])+label, 
input[type=url]:focus:not([readonly])+label, 
textarea.materialize-textarea:focus:not([readonly])+label {
color: #333;
}



form .new_row .select label {
margin-bottom: 0px;
    position: absolute;
    padding-left: 8px;
    font-size: 0.65em !important;
    text-transform: uppercase;
    top: -2px;
}






/*

██████╗ ██╗ ██████╗██╗  ██╗███████╗██████╗ 
██╔══██╗██║██╔════╝██║ ██╔╝██╔════╝██╔══██╗
██████╔╝██║██║     █████╔╝ █████╗  ██████╔╝
██╔═══╝ ██║██║     ██╔═██╗ ██╔══╝  ██╔══██╗
██║     ██║╚██████╗██║  ██╗███████╗██║  ██║
╚═╝     ╚═╝ ╚═════╝╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝
                                           

*/

div:has(.ng-not-empty) .datepickers,
.datepickers, .datepickers:hover,.datepickers:focus {
font-size: 1em !important;
z-index: 1000;
top: 22px !important;
position: relative;
text-transform: uppercase;
left: 8px;
color: #333;
width: 32% !important;
float: left;
}

  .client_details .datepicker.picker__input.needsclick:hover,
  .client_details .datepicker.picker__input.needsclick:focus , 
  button.dropdown-button:hover, 
  button.dropdown-button:focus{
  font-size: 1em;
  border: 1px solid transparent !important;
  background-image: linear-gradient(#FFEB3B, #FFC107), linear-gradient(#FFEB3B, #FF9800) !important;
  background-size: 100% 4px, 100% 0px;
  background-position: center bottom, center calc(100% - 1px) !important;
  transition-duration: 0.3s;
  box-shadow: none;
  padding: 5px 8px;
  }

  div:has(.ng-empty) .datepickers.active,
 .datepickers.active, .datepickers.active:hover,.datepickers.active:focus {
  font-size: 0.65em !important;
  z-index: 1000;
  top: 2px !important;
  position: relative;
  text-transform: uppercase;
  left: 8px;
  padding-top:8px;
  color: #333 !important;
}


.select-wrapper input.select-dropdown,
.datepicker.picker__input.needsclick,.datepicker.picker__input.needsclick:hover,
.datepicker.picker__input.needsclick:focus {
  margin-top: -8px;
  box-sizing: border-box;
  padding-left:8px;
  padding-top: 12px;
}












/*

 █████╗ ███╗   ██╗██╗███╗   ███╗ █████╗ ████████╗██╗ ██████╗ ███╗   ██╗
██╔══██╗████╗  ██║██║████╗ ████║██╔══██╗╚══██╔══╝██║██╔═══██╗████╗  ██║
███████║██╔██╗ ██║██║██╔████╔██║███████║   ██║   ██║██║   ██║██╔██╗ ██║
██╔══██║██║╚██╗██║██║██║╚██╔╝██║██╔══██║   ██║   ██║██║   ██║██║╚██╗██║
██║  ██║██║ ╚████║██║██║ ╚═╝ ██║██║  ██║   ██║   ██║╚██████╔╝██║ ╚████║
╚═╝  ╚═╝╚═╝  ╚═══╝╚═╝╚═╝     ╚═╝╚═╝  ╚═╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝




.input-field input{ 
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

.input-field input::before,
.input-field input::after{
  content: "";
  position: absolute;
  box-sizing: inherit;  
  width: 0%;
  height: 0%;
  border: 2px solid transparent ;
}
.input-field input::before {
  bottom: 0;
  left: 0;
}
.input-field input::after {
  bottom: 0;
  right: 0;
}

.input-field input:hover::before, 
.input-field input:hover::after {
  width: 100%;
  height: 100%;
}
.input-field input:hover::before {
  border-top-color: #fbca67;
  border-right-color: #fbca67;
  -webkit-transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.input-field input:hover::after  {
  border-bottom-color: #fbca67;
  border-left-color: #fbca67;
  -webkit-transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
  transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
}


                                                                       

*/









/*

██████╗ ██████╗  ██████╗ ██████╗ ██████╗  ██████╗ ██╗    ██╗███╗   ██╗
██╔══██╗██╔══██╗██╔═══██╗██╔══██╗██╔══██╗██╔═══██╗██║    ██║████╗  ██║
██║  ██║██████╔╝██║   ██║██████╔╝██║  ██║██║   ██║██║ █╗ ██║██╔██╗ ██║
██║  ██║██╔══██╗██║   ██║██╔═══╝ ██║  ██║██║   ██║██║███╗██║██║╚██╗██║
██████╔╝██║  ██║╚██████╔╝██║     ██████╔╝╚██████╔╝╚███╔███╔╝██║ ╚████║
╚═════╝ ╚═╝  ╚═╝ ╚═════╝ ╚═╝     ╚═════╝  ╚═════╝  ╚══╝╚══╝ ╚═╝  ╚═══╝
*/





ul.dropdown-content {
top: 16px !important;
width: auto !important;
min-width: 62% !important;
}

.dropdown-content li {
padding: 12px 16px;
border-bottom: 1px solid #ddd;
background-color: #f9f9f9;
}

.client_details .datepicker.picker__input.needsclick,
button.dropdown-button{
border: 1px solid transparent !important;
background-image: linear-gradient(#ffeb3b, #ffeb3b), linear-gradient(#ffffff, #ffffff)  !important;
background-size: 0 3px, 100% 2px;
background-repeat: no-repeat;
background-position: center bottom, center calc(100% - 1px);
background-color: transparent;
transition: background 0s ease-out;
text-align:left !important;
box-sizing:border-box;
font-size: 1em ;
padding: 5px 8px;
}


	button.dropdown-button:focus{
	color: transparent !important;
	}



.edit_details .client_submit, .edit_details .client_submit:hover, .edit_details .client_submit:focus {
text-align:center !important;
}

.dropdown-content li:hover,
.dropdown-menu li:hover {
background-color: #fff;
border-bottom: 1px solid #1294f6;
-webkit-box-shadow: inset 0px -1px 0px 0px #1294f6;
-moz-box-shadow: inset 0px -1px 0px 0px #1294f6;
box-shadow: inset 0px -1px 0px 0px #1294f6;
transition: all 1s ease-out;

}

.dropdown-button, .dropdown-button:hover, .dropdown-button:focus,
.dropdown-toggle, .dropdown-toggle:hover, .dropdown-toggle:focus{
margin: 0px;
text-align:center;
padding:0;
}
.dropdown-content li, .dropdown-menu li{
text-align:center;
}

/*
.input-field.is-focused .input .material-input:after {
    background-color: #9c27b0;
}

.input-field.is-focused.form-info .input {
    background-image: linear-gradient(#00bcd4, #00bcd4), linear-gradient(#D2D2D2, #D2D2D2);
}

.input-field.is-focused.form-success .input {
    background-image: linear-gradient(#4caf50, #4caf50), linear-gradient(#D2D2D2, #D2D2D2);
}

.input-field.is-focused.form-warning .input{
    background-image: linear-gradient(#ff9800, #ff9800), linear-gradient(#D2D2D2, #D2D2D2);
}

.input-field.is-focused.form-danger .input {
    background-image: linear-gradient(#f44336, #f44336), linear-gradient(#D2D2D2, #D2D2D2);
}

.input-field.is-focused.form-white .input {
    background-image: linear-gradient(#FFFFFF, #FFFFFF), linear-gradient(#D2D2D2, #D2D2D2);
}

.input-field.is-focused.label-placeholder label,
.input-field.is-focused.label-placeholder label {
    color: #AAAAAA;
}

.input-field.is-focused .help-block {
    display: block;
}

.input-field.has-warning .input {
    box-shadow: none;
}

.input-field.has-warning.is-focused .input {
    background-image: linear-gradient(#ff9800, #ff9800), linear-gradient(#D2D2D2, #D2D2D2);
}

.input-field.has-warning label,
.input-field.has-warning .help-block {
    color: #ff9800;
}

.input-field.has-error .input[ng-model*="selectedClient"] {
    box-shadow: none;
}

.input-field.has-error.is-focused .input[ng-model*="selectedClient"] {
    background-image: linear-gradient(#f44336, #f44336), linear-gradient(#D2D2D2, #D2D2D2);
}

.input-field.has-error label,
.input-field.has-error .help-block {
    color: #f44336;
}

.input-field.has-success .input[ng-model*="selectedClient"] {
    box-shadow: none;
}

.input-field.has-success.is-focused .input[ng-model*="selectedClient"] {
    background-image: linear-gradient(#4caf50, #4caf50), linear-gradient(#D2D2D2, #D2D2D2);
}

.input-field.has-success label,
.input-field.has-success .help-block {
    color: #4caf50;
}

.input-field.has-info .input[ng-model*="selectedClient"] {
    box-shadow: none;
}

.input-field.has-info.is-focused .input[ng-model*="selectedClient"] {
    background-image: linear-gradient(#00bcd4, #00bcd4), linear-gradient(#D2D2D2, #D2D2D2);
}

.input-field.has-info label,
.input-field.has-info .help-block {
    color: #00bcd4;
}

.input-field textarea {
    resize: none;
}

.input-field textarea~.input[ng-model*="selectedClient"]-highlight {
    margin-top: -11px;
}

.input-field select {
    appearance: none;
}

.input-field select~.material-input:after {
    display: none;
}

*/

