/*
@font-face {
  font-family: "Roboto";
  src: local(Roboto Thin), url("..Roboto/Roboto-Thin.woff2") format("woff2"), url("..Roboto/Roboto-Thin.woff") format("woff");
  font-weight: 100;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Light), url("..Roboto/Roboto-Light.woff2") format("woff2"), url("..Roboto/Roboto-Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Regular), url("..Roboto/Roboto-Regular.woff2") format("woff2"), url("..Roboto/Roboto-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Medium), url("..Roboto/Roboto-Medium.woff2") format("woff2"), url("..Roboto/Roboto-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Bold), url("..Roboto/Roboto-Bold.woff2") format("woff2"), url("..Roboto/Roboto-Bold.woff") format("woff");
  font-weight: 700;
}
*/


* {
margin: 0;
padding: 0;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 400;  
}


svg, text, g, tspan{
font-size: 12px;
}


html, body{
background: linear-gradient(398deg, #87d1d8 0%, rgb(119, 206, 239) 100%);
background: linear-gradient(135deg, rgb(99, 197, 243) 0%, rgb(88, 216, 232) 100%);
background: linear-gradient(135deg, rgb(64, 179, 197) 0%, rgb(101, 187, 214) 100%);
height: 100vh;
box-sizing: border-box;
}


.MainMenuWrapper{
position: fixed;
top: 0;
left: 0;
width: 100%;
z-index: 1000;
}


.clear{
clear: both;
}


.body{
width: 100vw;
overflow-y: auto;
overflow-x: hidden;
position: relative;
padding: 36px;
}



.client-values .aumSection > div {
margin-bottom: 16px;
padding: 16px;
border: none;
float: left;
width: calc(20% - 16px);
}

.client-list .list-names {
padding: 16px;
background-color: #9be0ea;
border: none !important;
width: calc(20% - 16px);
float: left;
margin-right: 16px;
margin-bottom: 16px;
}


.Tile{
background: white;
border-radius: 4px;
padding: 16px;
}


.highcharts-container{
position: relative;
overflow: visible !important;
width: auto !important;
height: auto !important;
display: inline-block !important;
margin: 0 auto;
left: 50%;
transform: translateX(-50%);
}

.assetClass-charts #assetClassRiskReturn,
.assetClass-charts #assetEquities,
.assetClass-charts #assetBonds,
.assetClass-charts #assetHedge{
min-width: 100% !important;
height: 100% !important;
max-width: 100% !important;
margin: 0 auto !important;
    overflow: hidden;
}




th:not(.picker) table>tbody>tr>td, 
th:not(.picker) table>tbody>tr>th, 
th:not(.picker) table>tfoot>tr>td, 
th:not(.picker) table>tfoot>tr>th, 
th:not(.picker) table>thead>tr>td, 
th:not(.picker) table>thead>tr>th {
padding: 5px 2px;
font-size: 0.85em;
font-weight: 400;
letter-spacing: 0px;
text-align: center;
vertical-align: middle;
border-top: 0 !important;
border-bottom: 0 !important;
border-right: 1px solid rgb(183,183,183);
border-color: #eee;
}

th:not(.picker) table>tbody>tr>th, 
th:not(.picker) table>tfoot>tr>th, 
th:not(.picker) table>thead>tr>th {
padding: 10px 2px;
font-size: 1em;
}



table td input{
margin: 0 !important;
}


.field_title{
font-size: 1.5em;
font-weight: 500;
color: #FFEB3B;
text-transform: uppercase;  
margin-top: 2em;
margin-bottom: 1em;
}
  .field_title:first-child{
  margin-top: 0;
  }


/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX  */
/* TILE STYLE */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX  */


.TileContainer {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  clear: both;
}

.TileContainer.Fullscreen {
  display: block;
  z-index: 9999;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
}

.TileContainer .TileHeader {
  background-color: #f5f5f5;
  border-color: #ddd;  
  padding: 0;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}


.TileContainer .TileTitle{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.15em;
  font-weight: 500;
  line-height: 24px;
  color: #46b3bb;
      padding: 10px 15px;
      display: inline-block;
}
    .TileContainer .TileTitle a{
    color: #1294f6;
    text-decoration: underline;
    }

.TileContainer .TileHeaderActions {
    margin-top: 0;
    margin-left: -5px;
    list-style: none;
    display: inline-block;
    float: right;
}

.TileContainer .TileHeaderActions > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.TileContainer .TileBody {
  padding: 16px;
}

.TileContainer .TileHeaderActions a {
font-size: 1em;
font-weight: 500;
color: #1294f6;
height: 30px;
display: inline-block;
line-height: 24px;
margin: 5px 4px 0 16px;
vertical-align: top;
padding: 8px;
border-radius: 4px;
}

.TileContainer .TileHeaderActions a.Max:hover {
background: #ddd;
}

.TileContainer .TileHeaderActions a.Max:after {
content: "\f065";
font-family: Fontawesome;
font-size: 1.25em;
position: relative;
top: -4px;
color: #666;
}


.TileContainer .TileHeaderActions a.Min:after {
content: "\f066";
font-family: Fontawesome;
font-size: 1.25em;
position: relative;
top: -4px;
color: #666;
}



md-slider.md-default-theme ._md-track, md-slider ._md-track {
    background-color: rgba(0,0,0,0.2);
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 6px;
}

md-slider ._md-track-container {
    height: 6px;
}

md-slider ._md-thumb {
    top: 10px;
    left: -32px;    
    border-radius: 32px;
    width: 32px;
    height: 32px;
}
md-slider ._md-thumb:after {
    width: 32px;
    height: 32px;
}

md-slider ._md-thumb:after {
    border-width: 1px;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.6);
}

md-slider.md-default-theme.md-warn ._md-thumb:after, md-slider.md-warn ._md-thumb:after {
    border-color: #F44336;
    background-color: #F44336;
}
md-slider.md-default-theme ._md-thumb:after, md-slider ._md-thumb:after {
    border-color: #F44336;
    background-color: #F44336;
}
md-slider.md-default-theme.md-warn ._md-sign, md-slider.md-warn ._md-sign {
    background-color: #F44336;
}
md-slider.md-default-theme.md-warn ._md-track._md-track-fill, md-slider.md-warn ._md-track._md-track-fill {
    background-color: #F44336;
}

md-slider.md-default-theme.md-primary ._md-thumb:after, md-slider.md-primary ._md-thumb:after {
    border-color: #1265a7;
    background-color: #03A9F4;
}
md-slider#slide3.md-default-theme ._md-thumb:after, md-slider#slide3 ._md-thumb:after, md-slider#slide3.md-default-theme ._md-track._md-track-fill, md-slider#slide3 ._md-track._md-track-fill {
    border-color: #3b8e3e !important;
    background-color: #1dbd24 !important;
}
md-slider#slide2.md-default-theme ._md-thumb:after, md-slider#slide2 ._md-thumb:after, md-slider#slide2.md-default-theme ._md-track._md-track-fill, md-slider#slide2 ._md-track._md-track-fill {
    border-color: #FF9800 !important;
    background-color: #FFC107 !important;
}
md-slider.md-default-theme.md-primary ._md-track._md-track-fill, md-slider.md-primary ._md-track._md-track-fill {
    background-color: #2196F3;
}



/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX  */
/* END TILE STYLE */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX  */



















































/*
 ██████╗               ███████╗ ██████╗  █████╗ 
██╔═████╗              ╚════██║██╔════╝ ██╔══██╗
██║██╔██║    █████╗        ██╔╝███████╗ ╚█████╔╝
████╔╝██║    ╚════╝       ██╔╝ ██╔═══██╗██╔══██╗
╚██████╔╝                 ██║  ╚██████╔╝╚█████╔╝
 ╚═════╝                  ╚═╝   ╚═════╝  ╚════╝                                       
*/



@media only screen and  (max-width: 768px) {
/* 
   /$$                                  
  | $$                                  
 /$$$$$$   /$$   /$$  /$$$$$$   /$$$$$$ 
|_  $$_/  | $$  | $$ /$$__  $$ /$$__  $$
  | $$    | $$  | $$| $$  \ $$| $$  \ $$
  | $$ /$$| $$  | $$| $$  | $$| $$  | $$
  |  $$$$/|  $$$$$$$| $$$$$$$/|  $$$$$$/
   \___/   \____  $$| $$____/  \______/ 
           /$$  | $$| $$                
          |  $$$$$$/| $$                
           \______/ |__/                
 */

html, body {
font-size: 1.8em;
}

.body {
height: calc(100vh - 61px);
top: 61px;
position: relative;
}
/*
 /$$                                 /$$                    
| $$                                | $$                    
| $$$$$$$   /$$$$$$   /$$$$$$   /$$$$$$$  /$$$$$$   /$$$$$$ 
| $$__  $$ /$$__  $$ |____  $$ /$$__  $$ /$$__  $$ /$$__  $$
| $$  \ $$| $$$$$$$$  /$$$$$$$| $$  | $$| $$$$$$$$| $$  \__/
| $$  | $$| $$_____/ /$$__  $$| $$  | $$| $$_____/| $$      
| $$  | $$|  $$$$$$$|  $$$$$$$|  $$$$$$$|  $$$$$$$| $$      
|__/  |__/ \_______/ \_______/ \_______/ \_______/|__/      
*/



/*
                               /$$
                               |__/
 /$$$$$$$   /$$$$$$  /$$    /$$ /$$
| $$__  $$ |____  $$|  $$  /$$/| $$
| $$  \ $$  /$$$$$$$ \  $$/$$/ | $$
| $$  | $$ /$$__  $$  \  $$$/  | $$
| $$  | $$|  $$$$$$$   \  $/   | $$
|__/  |__/ \_______/    \_/    |__/

*/



/*
   /$$     /$$ /$$                    
  | $$    |__/| $$                    
 /$$$$$$   /$$| $$  /$$$$$$   /$$$$$$$
|_  $$_/  | $$| $$ /$$__  $$ /$$_____/
  | $$    | $$| $$| $$$$$$$$|  $$$$$$ 
  | $$ /$$| $$| $$| $$_____/ \____  $$
  |  $$$$/| $$| $$|  $$$$$$$ /$$$$$$$/
   \___/  |__/|__/ \_______/|_______/ 
*/


/* 
           /$$                             /$$             
          | $$                            | $$             
  /$$$$$$$| $$$$$$$   /$$$$$$   /$$$$$$  /$$$$$$   /$$$$$$$
 /$$_____/| $$__  $$ |____  $$ /$$__  $$|_  $$_/  /$$_____/
| $$      | $$  \ $$  /$$$$$$$| $$  \__/  | $$   |  $$$$$$ 
| $$      | $$  | $$ /$$__  $$| $$        | $$ /$$\____  $$
|  $$$$$$$| $$  | $$|  $$$$$$$| $$        |  $$$$//$$$$$$$/
 \_______/|__/  |__/ \_______/|__/         \___/ |_______/ 
 */                                                           
                                                           
                                                           

/*
   /$$               /$$       /$$                    
  | $$              | $$      | $$                    
 /$$$$$$    /$$$$$$ | $$$$$$$ | $$  /$$$$$$   /$$$$$$$
|_  $$_/   |____  $$| $$__  $$| $$ /$$__  $$ /$$_____/
  | $$      /$$$$$$$| $$  \ $$| $$| $$$$$$$$|  $$$$$$ 
  | $$ /$$ /$$__  $$| $$  | $$| $$| $$_____/ \____  $$
  |  $$$$/|  $$$$$$$| $$$$$$$/| $$|  $$$$$$$ /$$$$$$$/
   \___/   \_______/|_______/ |__/ \_______/|_______/ 
*/


/*
               /$$                    
              |__/                    
 /$$$$$$/$$$$  /$$  /$$$$$$$  /$$$$$$$
| $$_  $$_  $$| $$ /$$_____/ /$$_____/
| $$ \ $$ \ $$| $$|  $$$$$$ | $$      
| $$ | $$ | $$| $$ \____  $$| $$      
| $$ | $$ | $$| $$ /$$$$$$$/|  $$$$$$$
|__/ |__/ |__/|__/|_______/  \_______/
*/
                                      






}










/*

███████╗ ██████╗ █████╗                ██╗ ██████╗ ██████╗ ██╗  ██╗
╚════██║██╔════╝██╔══██╗              ███║██╔═████╗╚════██╗██║  ██║
    ██╔╝███████╗╚██████║    █████╗    ╚██║██║██╔██║ █████╔╝███████║
   ██╔╝ ██╔═══██╗╚═══██║    ╚════╝     ██║████╔╝██║██╔═══╝ ╚════██║
   ██║  ╚██████╔╝█████╔╝               ██║╚██████╔╝███████╗     ██║
   ╚═╝   ╚═════╝ ╚════╝                ╚═╝ ╚═════╝ ╚══════╝     ╚═╝
                                                                   


*/

@media only screen and (min-width: 769px) and (max-width: 1024px) {
/* 
   /$$                                  
  | $$                                  
 /$$$$$$   /$$   /$$  /$$$$$$   /$$$$$$ 
|_  $$_/  | $$  | $$ /$$__  $$ /$$__  $$
  | $$    | $$  | $$| $$  \ $$| $$  \ $$
  | $$ /$$| $$  | $$| $$  | $$| $$  | $$
  |  $$$$/|  $$$$$$$| $$$$$$$/|  $$$$$$/
   \___/   \____  $$| $$____/  \______/ 
           /$$  | $$| $$                
          |  $$$$$$/| $$                
           \______/ |__/                
 */


html, body {
  font-size: 1.6em;
}

.body {
    height: calc(100vh - 139px);
    top: 139px;
}

/*
 /$$                                 /$$                    
| $$                                | $$                    
| $$$$$$$   /$$$$$$   /$$$$$$   /$$$$$$$  /$$$$$$   /$$$$$$ 
| $$__  $$ /$$__  $$ |____  $$ /$$__  $$ /$$__  $$ /$$__  $$
| $$  \ $$| $$$$$$$$  /$$$$$$$| $$  | $$| $$$$$$$$| $$  \__/
| $$  | $$| $$_____/ /$$__  $$| $$  | $$| $$_____/| $$      
| $$  | $$|  $$$$$$$|  $$$$$$$|  $$$$$$$|  $$$$$$$| $$      
|__/  |__/ \_______/ \_______/ \_______/ \_______/|__/      
*/



/*
                               /$$
                               |__/
 /$$$$$$$   /$$$$$$  /$$    /$$ /$$
| $$__  $$ |____  $$|  $$  /$$/| $$
| $$  \ $$  /$$$$$$$ \  $$/$$/ | $$
| $$  | $$ /$$__  $$  \  $$$/  | $$
| $$  | $$|  $$$$$$$   \  $/   | $$
|__/  |__/ \_______/    \_/    |__/

*/



/*
   /$$     /$$ /$$                    
  | $$    |__/| $$                    
 /$$$$$$   /$$| $$  /$$$$$$   /$$$$$$$
|_  $$_/  | $$| $$ /$$__  $$ /$$_____/
  | $$    | $$| $$| $$$$$$$$|  $$$$$$ 
  | $$ /$$| $$| $$| $$_____/ \____  $$
  |  $$$$/| $$| $$|  $$$$$$$ /$$$$$$$/
   \___/  |__/|__/ \_______/|_______/ 
*/


/* 
           /$$                             /$$             
          | $$                            | $$             
  /$$$$$$$| $$$$$$$   /$$$$$$   /$$$$$$  /$$$$$$   /$$$$$$$
 /$$_____/| $$__  $$ |____  $$ /$$__  $$|_  $$_/  /$$_____/
| $$      | $$  \ $$  /$$$$$$$| $$  \__/  | $$   |  $$$$$$ 
| $$      | $$  | $$ /$$__  $$| $$        | $$ /$$\____  $$
|  $$$$$$$| $$  | $$|  $$$$$$$| $$        |  $$$$//$$$$$$$/
 \_______/|__/  |__/ \_______/|__/         \___/ |_______/ 
 */                                                           
                                                           
                                                           

/*
   /$$               /$$       /$$                    
  | $$              | $$      | $$                    
 /$$$$$$    /$$$$$$ | $$$$$$$ | $$  /$$$$$$   /$$$$$$$
|_  $$_/   |____  $$| $$__  $$| $$ /$$__  $$ /$$_____/
  | $$      /$$$$$$$| $$  \ $$| $$| $$$$$$$$|  $$$$$$ 
  | $$ /$$ /$$__  $$| $$  | $$| $$| $$_____/ \____  $$
  |  $$$$/|  $$$$$$$| $$$$$$$/| $$|  $$$$$$$ /$$$$$$$/
   \___/   \_______/|_______/ |__/ \_______/|_______/ 
*/


/*
               /$$                    
              |__/                    
 /$$$$$$/$$$$  /$$  /$$$$$$$  /$$$$$$$
| $$_  $$_  $$| $$ /$$_____/ /$$_____/
| $$ \ $$ \ $$| $$|  $$$$$$ | $$      
| $$ | $$ | $$| $$ \____  $$| $$      
| $$ | $$ | $$| $$ /$$$$$$$/|  $$$$$$$
|__/ |__/ |__/|__/|_______/  \_______/
*/
        




}






/*

 ██╗ ██████╗ ██████╗ ███████╗               ██╗██████╗  █████╗  ██████╗ 
███║██╔═████╗╚════██╗██╔════╝              ███║╚════██╗██╔══██╗██╔═████╗
╚██║██║██╔██║ █████╔╝███████╗    █████╗    ╚██║ █████╔╝╚█████╔╝██║██╔██║
 ██║████╔╝██║██╔═══╝ ╚════██║    ╚════╝     ██║██╔═══╝ ██╔══██╗████╔╝██║
 ██║╚██████╔╝███████╗███████║               ██║███████╗╚█████╔╝╚██████╔╝
 ╚═╝ ╚═════╝ ╚══════╝╚══════╝               ╚═╝╚══════╝ ╚════╝  ╚═════╝ 
                                                                        


*/



@media only screen and (min-width: 1025px) and (max-width: 1280px) {
/* 
   /$$                                  
  | $$                                  
 /$$$$$$   /$$   /$$  /$$$$$$   /$$$$$$ 
|_  $$_/  | $$  | $$ /$$__  $$ /$$__  $$
  | $$    | $$  | $$| $$  \ $$| $$  \ $$
  | $$ /$$| $$  | $$| $$  | $$| $$  | $$
  |  $$$$/|  $$$$$$$| $$$$$$$/|  $$$$$$/
   \___/   \____  $$| $$____/  \______/ 
           /$$  | $$| $$                
          |  $$$$$$/| $$                
           \______/ |__/                
 */


html, body {
  font-size: 1.2em;
}

.body {
    height: calc(100vh - 124px);
    top: 124px;
}
/*
 /$$                                 /$$                    
| $$                                | $$                    
| $$$$$$$   /$$$$$$   /$$$$$$   /$$$$$$$  /$$$$$$   /$$$$$$ 
| $$__  $$ /$$__  $$ |____  $$ /$$__  $$ /$$__  $$ /$$__  $$
| $$  \ $$| $$$$$$$$  /$$$$$$$| $$  | $$| $$$$$$$$| $$  \__/
| $$  | $$| $$_____/ /$$__  $$| $$  | $$| $$_____/| $$      
| $$  | $$|  $$$$$$$|  $$$$$$$|  $$$$$$$|  $$$$$$$| $$      
|__/  |__/ \_______/ \_______/ \_______/ \_______/|__/      
*/



/*
                               /$$
                               |__/
 /$$$$$$$   /$$$$$$  /$$    /$$ /$$
| $$__  $$ |____  $$|  $$  /$$/| $$
| $$  \ $$  /$$$$$$$ \  $$/$$/ | $$
| $$  | $$ /$$__  $$  \  $$$/  | $$
| $$  | $$|  $$$$$$$   \  $/   | $$
|__/  |__/ \_______/    \_/    |__/

*/



/*
   /$$     /$$ /$$                    
  | $$    |__/| $$                    
 /$$$$$$   /$$| $$  /$$$$$$   /$$$$$$$
|_  $$_/  | $$| $$ /$$__  $$ /$$_____/
  | $$    | $$| $$| $$$$$$$$|  $$$$$$ 
  | $$ /$$| $$| $$| $$_____/ \____  $$
  |  $$$$/| $$| $$|  $$$$$$$ /$$$$$$$/
   \___/  |__/|__/ \_______/|_______/ 
*/


/* 
           /$$                             /$$             
          | $$                            | $$             
  /$$$$$$$| $$$$$$$   /$$$$$$   /$$$$$$  /$$$$$$   /$$$$$$$
 /$$_____/| $$__  $$ |____  $$ /$$__  $$|_  $$_/  /$$_____/
| $$      | $$  \ $$  /$$$$$$$| $$  \__/  | $$   |  $$$$$$ 
| $$      | $$  | $$ /$$__  $$| $$        | $$ /$$\____  $$
|  $$$$$$$| $$  | $$|  $$$$$$$| $$        |  $$$$//$$$$$$$/
 \_______/|__/  |__/ \_______/|__/         \___/ |_______/ 
 */                                                           
                                                           
                                                           

/*
   /$$               /$$       /$$                    
  | $$              | $$      | $$                    
 /$$$$$$    /$$$$$$ | $$$$$$$ | $$  /$$$$$$   /$$$$$$$
|_  $$_/   |____  $$| $$__  $$| $$ /$$__  $$ /$$_____/
  | $$      /$$$$$$$| $$  \ $$| $$| $$$$$$$$|  $$$$$$ 
  | $$ /$$ /$$__  $$| $$  | $$| $$| $$_____/ \____  $$
  |  $$$$/|  $$$$$$$| $$$$$$$/| $$|  $$$$$$$ /$$$$$$$/
   \___/   \_______/|_______/ |__/ \_______/|_______/ 
*/


/*
               /$$                    
              |__/                    
 /$$$$$$/$$$$  /$$  /$$$$$$$  /$$$$$$$
| $$_  $$_  $$| $$ /$$_____/ /$$_____/
| $$ \ $$ \ $$| $$|  $$$$$$ | $$      
| $$ | $$ | $$| $$ \____  $$| $$      
| $$ | $$ | $$| $$ /$$$$$$$/|  $$$$$$$
|__/ |__/ |__/|__/|_______/  \_______/
*/
                                      
          





}






/* 


██╗       ██╗██████╗  █████╗  ██╗
╚██╗     ███║╚════██╗██╔══██╗███║
 ╚██╗    ╚██║ █████╔╝╚█████╔╝╚██║
 ██╔╝     ██║██╔═══╝ ██╔══██╗ ██║
██╔╝      ██║███████╗╚█████╔╝ ██║
╚═╝       ╚═╝╚══════╝ ╚════╝  ╚═╝
                                 


*/


@media only screen and (min-width: 1281px) {

/* 
   /$$                                  
  | $$                                  
 /$$$$$$   /$$   /$$  /$$$$$$   /$$$$$$ 
|_  $$_/  | $$  | $$ /$$__  $$ /$$__  $$
  | $$    | $$  | $$| $$  \ $$| $$  \ $$
  | $$ /$$| $$  | $$| $$  | $$| $$  | $$
  |  $$$$/|  $$$$$$$| $$$$$$$/|  $$$$$$/
   \___/   \____  $$| $$____/  \______/ 
           /$$  | $$| $$                
          |  $$$$$$/| $$                
           \______/ |__/                
 */

html, body {
font-size: 16px;
}

.body {
    height: calc(100vh - 124px);
    top: 124px;
}




/*

 /$$                                 /$$                    
| $$                                | $$                    
| $$$$$$$   /$$$$$$   /$$$$$$   /$$$$$$$  /$$$$$$   /$$$$$$ 
| $$__  $$ /$$__  $$ |____  $$ /$$__  $$ /$$__  $$ /$$__  $$
| $$  \ $$| $$$$$$$$  /$$$$$$$| $$  | $$| $$$$$$$$| $$  \__/
| $$  | $$| $$_____/ /$$__  $$| $$  | $$| $$_____/| $$      
| $$  | $$|  $$$$$$$|  $$$$$$$|  $$$$$$$|  $$$$$$$| $$      
|__/  |__/ \_______/ \_______/ \_______/ \_______/|__/      

*/



/*
                                /$$
                               |__/
 /$$$$$$$   /$$$$$$  /$$    /$$ /$$
| $$__  $$ |____  $$|  $$  /$$/| $$
| $$  \ $$  /$$$$$$$ \  $$/$$/ | $$
| $$  | $$ /$$__  $$  \  $$$/  | $$
| $$  | $$|  $$$$$$$   \  $/   | $$
|__/  |__/ \_______/    \_/    |__/

*/



/*
   /$$     /$$ /$$                    
  | $$    |__/| $$                    
 /$$$$$$   /$$| $$  /$$$$$$   /$$$$$$$
|_  $$_/  | $$| $$ /$$__  $$ /$$_____/
  | $$    | $$| $$| $$$$$$$$|  $$$$$$ 
  | $$ /$$| $$| $$| $$_____/ \____  $$
  |  $$$$/| $$| $$|  $$$$$$$ /$$$$$$$/
   \___/  |__/|__/ \_______/|_______/ 
*/


/* 
           /$$                             /$$             
          | $$                            | $$             
  /$$$$$$$| $$$$$$$   /$$$$$$   /$$$$$$  /$$$$$$   /$$$$$$$
 /$$_____/| $$__  $$ |____  $$ /$$__  $$|_  $$_/  /$$_____/
| $$      | $$  \ $$  /$$$$$$$| $$  \__/  | $$   |  $$$$$$ 
| $$      | $$  | $$ /$$__  $$| $$        | $$ /$$\____  $$
|  $$$$$$$| $$  | $$|  $$$$$$$| $$        |  $$$$//$$$$$$$/
 \_______/|__/  |__/ \_______/|__/         \___/ |_______/ 
 */                                                           
                                                           
                                                           

/*
   /$$               /$$       /$$                    
  | $$              | $$      | $$                    
 /$$$$$$    /$$$$$$ | $$$$$$$ | $$  /$$$$$$   /$$$$$$$
|_  $$_/   |____  $$| $$__  $$| $$ /$$__  $$ /$$_____/
  | $$      /$$$$$$$| $$  \ $$| $$| $$$$$$$$|  $$$$$$ 
  | $$ /$$ /$$__  $$| $$  | $$| $$| $$_____/ \____  $$
  |  $$$$/|  $$$$$$$| $$$$$$$/| $$|  $$$$$$$ /$$$$$$$/
   \___/   \_______/|_______/ |__/ \_______/|_______/ 
*/


/*
               /$$                    
              |__/                    
 /$$$$$$/$$$$  /$$  /$$$$$$$  /$$$$$$$
| $$_  $$_  $$| $$ /$$_____/ /$$_____/
| $$ \ $$ \ $$| $$|  $$$$$$ | $$      
| $$ | $$ | $$| $$ \____  $$| $$      
| $$ | $$ | $$| $$ /$$$$$$$/|  $$$$$$$
|__/ |__/ |__/|__/|_______/  \_______/
*/
                                      
                                      



}
















/*

██████╗ ███████╗██████╗ ██╗   ██╗ ██████╗ 
██╔══██╗██╔════╝██╔══██╗██║   ██║██╔════╝ 
██║  ██║█████╗  ██████╔╝██║   ██║██║  ███╗
██║  ██║██╔══╝  ██╔══██╗██║   ██║██║   ██║
██████╔╝███████╗██████╔╝╚██████╔╝╚██████╔╝
╚═════╝ ╚══════╝╚═════╝  ╚═════╝  ╚═════╝ 
*/


.container-fluid{
padding: 0;
}


