
/*

svg[type="image/svg+xml"] {
    height: auto;
    width: 100%;
}
*/

#MainMenuLogo{
display: block;
position: absolute;
left: 16px;
top: 8px;
width: 41px;
height: 38px;
}

#MainMenuLogo svg path {
    fill: #3b979e;
}




nav.MainMenu ol, nav.MainMenu ul, nav.MainMenu li {
list-style: none;
padding:0px;
margin:0px;
}




.MainMenuContainer{
position: relative;
z-index: 1;
}

nav.MainMenu {
position: relative;
display: block;
min-height: 60px;
margin: 0 auto;
background-color: #fff;
border-bottom: 1px solid rgba(3, 169, 244, .8);
}

nav.MainMenu .relative {
	position: relative;
}

nav.MainMenu .right {
	float: right;
}

nav.MainMenu .left {
	float: left;
}



nav.MainMenu .navigation {

}



nav.MainMenu .LinkWrap{
display: table ;
margin: 0 auto;
position: relative;
}

nav.MainMenu .BtnToggle {
display: none;
position: absolute;
right: 16px;
top: 8px;
}
#MainMenuTopToggle, #MainMenuTopToggle2{
left: 16px;
right: auto;
}


/* HEADER > MENU */
nav.MainMenu .MenuTopLvl {
display: table;
position: relative;
width: calc(100% - 32px);
margin: 0 auto;
}

nav.MainMenu .MenuTopLvl > li {
display: inline-table;
}
	nav.MainMenu .MenuTopLvl > li:nth-child(1) {
	width: 30%;
	}
	nav.MainMenu .MenuTopLvl > li:nth-child(2) {
	width: calc(20% - 12px);
	}
	nav.MainMenu .MenuTopLvl > li:nth-child(3) {
	width: 25%;
	}
	nav.MainMenu .MenuTopLvl > li:nth-child(4) {
	width: 25%;
	}



/* for plus icon in the menu

nav.MainMenu .MenuTopLvl > li.parent {
	background-image: url(../images/plus-gray.png);
	background-size: 7px 7px;
	background-repeat: no-repeat;
	background-position: left center;
}


nav.MainMenu .MenuTopLvl > li.parent > a {
	padding-left: 14px;
}
*/





nav.MainMenu .MenuTopLvl > li > a {
color: #1294f6;    
display: block;
padding: 18px 0;
text-decoration:none;	
}

	nav.MainMenu .MenuTopLvl > li a .LinkText{
    color: #1294f6;
    font-weight: 500;
    letter-spacing: 1px;
	font-size: 1.2rem;
	text-decoration:none;
	background: transparent;
	}


nav.MainMenu a[attr*="Level1"]:hover{
-webkit-box-shadow: inset 0px -2px 0px 0px #1294f6;
-moz-box-shadow: inset 0px -2px 0px 0px #1294f6;
box-shadow: inset 0px -2px 0px 0px #1294f6;
-webkit-transition: all 500ms ease;
-moz-transition: all 500ms ease;
-ms-transition: all 500ms ease;
-o-transition: all 500ms ease;
transition: all 500ms ease;
}

	nav.MainMenu .MenuTopLvl li:hover a[attr*="Level1"] span,
	nav.MainMenu .MenuTopLvl > li a:hover .LinkText{
    color: #084081;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    text-shadow: 0 0 10px rgba(3, 169, 244, 0.28), 0 0 3px rgba(63, 81, 181, 0.24);
	}

	nav.MainMenu .MenuTopLvl li:nth-child(3):hover a[attr*="Level1"],
	nav.MainMenu .MenuTopLvl li:nth-child(4):hover a[attr*="Level1"], 
	nav.MainMenu .MenuTopLvl li:nth-child(3) a[attr*="Level1"]:hover,
	nav.MainMenu .MenuTopLvl li:nth-child(4) a[attr*="Level1"]:hover {
	cursor: default;
	}




/* HEADER > MENU > DROPDOWN */
nav.MainMenu .MenuTopLvl li {
	position: relative;
}

nav.MainMenu ul.MainMenuSub { /* level 2 */
	display: none; 
	left: 0px;
	top: 60px;
	width: 100%;
	position: absolute;
	z-index: 9999;
	webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.41);
	-moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.41);
	box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.41);	
}

nav.MainMenu ul.MainMenuSub ul.MainMenuSub { /* level 3+ */
	margin-top: -1px;
	left: 250px;
	top: 0px;
}

nav.MainMenu ul.MainMenuSub > li > a {
	line-height: 1.3;
	background-color: #fff;
	border-top: none;
	color: #056dbc;
	display: block;
	padding: 20px 16px;
	text-decoration:none;
}

nav.MainMenu ul.MainMenuSub > li > a:hover {
-webkit-box-shadow: inset 0px -2px 0px 0px #1294f6;
-moz-box-shadow: inset 0px -2px 0px 0px #1294f6;
box-shadow: inset 0px -2px 0px 0px #1294f6;
   color: #084081;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    text-shadow: 0 0 10px rgba(3, 169, 244, 0.28), 0 0 3px rgba(63, 81, 181, 0.24);
}


nav.MainMenu .MenuTopLvl li svg{
width: 28px;
height: 28px;
margin:-3px 10px 0 0;
display:block;
float:left;
overflow: hidden;
}
	nav.MainMenu .MenuTopLvl li#CurrentItem svg,*/
	nav.MainMenu .MenuTopLvl li:hover svg, 
	nav.MainMenu .MenuTopLvl li:hover svg path, 
	nav.MainMenu .MenuTopLvl li:hover svg rect,
	nav.MainMenu .MenuTopLvl li:hover svg polygon,
	nav.MainMenu .MenuTopLvl li:hover svg circle{
	fill: #23dbdb ;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	}



nav.MainMenu ul.MainMenuSub > li:first-child {
}

nav.MainMenu ul.MainMenuSub ul.MainMenuSub > li:first-child {
}

nav.MainMenu ul.MainMenuSub > li:last-child > a {
	border-radius: 0 0 2px 2px;
}

nav.MainMenu ul.MainMenuSub > li > a.parent {
	background-image: url(../images/arrow.png);
	background-size: 5px 9px;
	background-repeat: no-repeat;
	background-position: 95% center;
}

nav.MainMenu .MenuTopLvl li:hover > ul.MainMenuSub {
	display: block; /* show the submenu */
}


#MainMenuLogo{
display: none;
}

.Badge {
text-transform: uppercase;
padding: 3px 5px;
margin-top: 1px;
background-color: #5eb197;
display: inline-block;
min-width: 10px;
padding: 3px 7px;
font-size: 0.75rem;
font-weight: 500;
line-height: 1;
color: #fff;
text-align: center;
white-space: nowrap;
vertical-align: middle;
border-radius: 10px;
float: right;
}

	.Badge.New{
	background-color: #fdae61;
	}


















/*                                                       
 ██╗ ██████╗ ██████╗ ██╗  ██╗
███║██╔═████╗╚════██╗██║  ██║
╚██║██║██╔██║ █████╔╝███████║
 ██║████╔╝██║██╔═══╝ ╚════██║
 ██║╚██████╔╝███████╗     ██║
 ╚═╝ ╚═════╝ ╚══════╝     ╚═╝
*/                                                           

@media all and (min-width: 769px) and (max-width: 1024px) {

nav.MainMenu .MenuTopLvl > li > a {
padding: 10px 0 8px 0;
}

nav.MainMenu .MenuTopLvl li svg {
width: 32px;
width: 28px;
float: none;
margin: 0 auto;
overflow: hidden;
}

nav.MainMenu .MenuTopLvl > li a .LinkText {
font-size: 1rem;
text-align: center;
display: block;
padding-top: 8px;
}


nav.MainMenu ul.MainMenuSub {
top: 70px;
}

#MainMenuLogo{
display: none;
}



}




















/*

███████╗ ██████╗  █████╗ 
╚════██║██╔════╝ ██╔══██╗
    ██╔╝███████╗ ╚█████╔╝
   ██╔╝ ██╔═══██╗██╔══██╗
   ██║  ╚██████╔╝╚█████╔╝
   ╚═╝   ╚═════╝  ╚════╝ 
*/




@media all and (max-width: 768px) {




nav.MainMenu .MenuTopLvl > li a .LinkText{
font-size: 1.2rem;
}
nav.MainMenu ul.MainMenuSub > li > a{
font-size: 1.2rem;
}


nav.MainMenu.fullscreen{
/* fullscreen version

display: block;
z-index: 9999;
position: fixed;
width: 100%;
height: 100%;
top: 0;
right: 0;
left: 0;
bottom: 0;
overflow: auto;
background-color: rgba(255, 255, 255, 0.0);
*/

-webkit-transition: all 500ms ease;
-moz-transition: all 500ms ease;
-ms-transition: all 500ms ease;
-o-transition: all 500ms ease;
transition: all 500ms ease;
}

#MainMenuLogo{
display: block;
opacity: 1;
}

nav.MainMenu.fullscreen + #MainMenuLogo{
opacity: 0;
-webkit-transition: all 500ms ease;
-moz-transition: all 500ms ease;
-ms-transition: all 500ms ease;
-o-transition: all 500ms ease;
transition: all 500ms ease;
}


	nav.MainMenu .navigation {
		position: static;
	}

	nav.MainMenu .BtnToggle {
		display: block;
	}

	nav.MainMenu .MenuTopLvl {
		display: none;
		float: none;
		padding: 70px 0 40px 0;
	}
	nav.MainMenu .LinkWrap{
    display: block;
    margin: 0;
	}


	nav.MainMenu .MenuTopLvl > li {
	display: block;
	margin: 0;
	padding: 0;	
		
	}
		nav.MainMenu .MenuTopLvl > li:nth-child(1) {
		width: auto;
		}
		nav.MainMenu .MenuTopLvl > li:nth-child(2) {
		width: auto;
		}
		nav.MainMenu .MenuTopLvl > li:nth-child(3) {
		width: auto;
		}
		nav.MainMenu .MenuTopLvl > li:nth-child(4) {
		width: auto;
		}



	nav.MainMenu .MenuTopLvl > li > a {
    background-color: #fff;
    display: block;
    padding: 20px !important;
    font-weight: 600;
    border-bottom:1px solid #9cb5c4;
	}
	nav.MainMenu .MenuTopLvl > li > a .LinkText{
	float:none;
	}
	nav.MainMenu .MenuTopLvl > li > a .LinkText{
	float:none;
	}
	nav.MainMenu ul.MainMenuSub > li > a:hover {

	}


	nav.MainMenu ul.MainMenuSub {
		display: block;
		margin-top: 0px;
		margin-left: 20px;
		position: static;
		padding: 0;
		width: inherit;
   -webkit-box-shadow:  none;
	-moz-box-shadow:  none;
	box-shadow:  none;		
	}

	nav.MainMenu ul.MainMenuSub > li:first-child {
		
	}

	nav.MainMenu ul.MainMenuSub > li > a{
	    padding: 20px 22px;
	    border-bottom:1px solid #9cb5c4;
	}

	nav.MainMenu ul.MainMenuSub > li > a.parent {
		background: #1294f6 ;
	}


nav.MainMenu .MenuTopLvl li svg{
height: 36px;
width: 36px;
margin: -6px 10px 0 0;
overflow: hidden;
}


#MainMenuLogo {
left: 50%;
-moz-transform: translate(-50%, 0);
-webkit-transform: translate(-50%, 0);
-o-transform: translate(-50%, 0);
-ms-transform: translate(-50%, 0);
transform: translate(-50%, 0);

}



}















