
/*

 ██████╗ ███████╗███╗   ██╗███████╗██████╗ ██╗ ██████╗
██╔════╝ ██╔════╝████╗  ██║██╔════╝██╔══██╗██║██╔════╝
██║  ███╗█████╗  ██╔██╗ ██║█████╗  ██████╔╝██║██║     
██║   ██║██╔══╝  ██║╚██╗██║██╔══╝  ██╔══██╗██║██║     
╚██████╔╝███████╗██║ ╚████║███████╗██║  ██║██║╚██████╗
 ╚═════╝ ╚══════╝╚═╝  ╚═══╝╚══════╝╚═╝  ╚═╝╚═╝ ╚═════╝
                                                    


h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.1;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}

h1{
  font-size: 4.2rem;
  line-height: 110%;
  margin: 2.1rem 0 1.68rem 0;
}

h2, .risk-title  {
  font-size: 3.3rem;
  line-height: 110%;
  margin: 0;
  text-transform: uppercase;
  font-weight: 200;
}

h3 {
  font-size: 2.92rem;
  line-height: 110%;
  margin: 1.46rem 0 1.168rem 0;
}

h4 {
  font-size: 2.28rem;
  line-height: 110%;
  margin: 1.14rem 0 0.912rem 0;
}

h5 {
  font-size: 1.64rem;
  line-height: 110%;
  margin: 0.82rem 0 0.656rem 0;
}

h6 {
  font-size: 1rem;
  line-height: 110%;
  margin: 0.5rem 0 0.4rem 0;
}

em {
  font-style: italic;
}

strong {
  font-weight: 500; 
}

button, .btn {
  font-size: 1.6rem;  
  font-weight: 500; 
}



small {
  font-size: 75%;
}

.thin {
  font-weight: 200;
}

.flow-text {
  font-weight: 300;
  font-size: 1.2rem;
}

p, span, div {
  font-weight: 300;
  font-size: 1.1rem;
}

*/




/* 

                                                                     
                                                                     
  1111111           66666666        000000000          000000000     
 1::::::1          6::::::6       00:::::::::00      00:::::::::00   
1:::::::1         6::::::6      00:::::::::::::00  00:::::::::::::00 
111:::::1        6::::::6      0:::::::000:::::::00:::::::000:::::::0
   1::::1       6::::::6       0::::::0   0::::::00::::::0   0::::::0
   1::::1      6::::::6        0:::::0     0:::::00:::::0     0:::::0
   1::::1     6::::::6         0:::::0     0:::::00:::::0     0:::::0
   1::::l    6::::::::66666    0:::::0 000 0:::::00:::::0 000 0:::::0
   1::::l   6::::::::::::::66  0:::::0 000 0:::::00:::::0 000 0:::::0
   1::::l   6::::::66666:::::6 0:::::0     0:::::00:::::0     0:::::0
   1::::l   6:::::6     6:::::60:::::0     0:::::00:::::0     0:::::0
   1::::l   6:::::6     6:::::60::::::0   0::::::00::::::0   0::::::0
111::::::1116::::::66666::::::60:::::::000:::::::00:::::::000:::::::0
1::::::::::1 66:::::::::::::66  00:::::::::::::00  00:::::::::::::00 
1::::::::::1   66:::::::::66      00:::::::::00      00:::::::::00   
111111111111     666666666          000000000          000000000     

Â */



@media only screen and (min-width: 1600px) {

/* 
████████╗██╗   ██╗██████╗  ██████╗ 
╚══██╔══╝╚██╗ ██╔╝██╔══██╗██╔═══██╗
   ██║    ╚████╔╝ ██████╔╝██║   ██║
   ██║     ╚██╔╝  ██╔═══╝ ██║   ██║
   ██║      ██║   ██║     ╚██████╔╝
   ╚═╝      ╚═╝   ╚═╝      ╚═════╝ 
 */





/*
 /$$                                 /$$                    
| $$                                | $$                    
| $$$$$$$   /$$$$$$   /$$$$$$   /$$$$$$$  /$$$$$$   /$$$$$$ 
| $$__  $$ /$$__  $$ |____  $$ /$$__  $$ /$$__  $$ /$$__  $$
| $$  \ $$| $$$$$$$$  /$$$$$$$| $$  | $$| $$$$$$$$| $$  \__/
| $$  | $$| $$_____/ /$$__  $$| $$  | $$| $$_____/| $$      
| $$  | $$|  $$$$$$$|  $$$$$$$|  $$$$$$$|  $$$$$$$| $$      
|__/  |__/ \_______/ \_______/ \_______/ \_______/|__/      
*/


.container.navbar.navbar-app {
    padding-left: 5%;
    padding-right: 5%;
}








/*
   /$$     /$$ /$$                    
  | $$    |__/| $$                    
 /$$$$$$   /$$| $$  /$$$$$$   /$$$$$$$
|_  $$_/  | $$| $$ /$$__  $$ /$$_____/
  | $$    | $$| $$| $$$$$$$$|  $$$$$$ 
  | $$ /$$| $$| $$| $$_____/ \____  $$
  |  $$$$/| $$| $$|  $$$$$$$ /$$$$$$$/
   \___/  |__/|__/ \_______/|_______/ 
*/


/* 
           /$$                             /$$             
          | $$                            | $$             
  /$$$$$$$| $$$$$$$   /$$$$$$   /$$$$$$  /$$$$$$   /$$$$$$$
 /$$_____/| $$__  $$ |____  $$ /$$__  $$|_  $$_/  /$$_____/
| $$      | $$  \ $$  /$$$$$$$| $$  \__/  | $$   |  $$$$$$ 
| $$      | $$  | $$ /$$__  $$| $$        | $$ /$$\____  $$
|  $$$$$$$| $$  | $$|  $$$$$$$| $$        |  $$$$//$$$$$$$/
 \_______/|__/  |__/ \_______/|__/         \___/ |_______/ 
Â */                                                           
                                                           



/*
               /$$                    
              |__/                    
 /$$$$$$/$$$$  /$$  /$$$$$$$  /$$$$$$$
| $$_  $$_  $$| $$ /$$_____/ /$$_____/
| $$ \ $$ \ $$| $$|  $$$$$$ | $$      
| $$ | $$ | $$| $$ \____  $$| $$      
| $$ | $$ | $$| $$ /$$$$$$$/|  $$$$$$$
|__/ |__/ |__/|__/|_______/  \_______/
*/
                  



}




/* 

                                                                      
                                                                      
  1111111    222222222222222         888888888          000000000     
 1::::::1   2:::::::::::::::22     88:::::::::88      00:::::::::00   
1:::::::1   2::::::222222:::::2  88:::::::::::::88  00:::::::::::::00 
111:::::1   2222222     2:::::2 8::::::88888::::::80:::::::000:::::::0
   1::::1               2:::::2 8:::::8     8:::::80::::::0   0::::::0
   1::::1               2:::::2 8:::::8     8:::::80:::::0     0:::::0
   1::::1            2222::::2   8:::::88888:::::8 0:::::0     0:::::0
   1::::l       22222::::::22     8:::::::::::::8  0:::::0 000 0:::::0
   1::::l     22::::::::222      8:::::88888:::::8 0:::::0 000 0:::::0
   1::::l    2:::::22222        8:::::8     8:::::80:::::0     0:::::0
   1::::l   2:::::2             8:::::8     8:::::80:::::0     0:::::0
   1::::l   2:::::2             8:::::8     8:::::80::::::0   0::::::0
111::::::1112:::::2       2222228::::::88888::::::80:::::::000:::::::0
1::::::::::12::::::2222222:::::2 88:::::::::::::88  00:::::::::::::00 
1::::::::::12::::::::::::::::::2   88:::::::::88      00:::::::::00   
11111111111122222222222222222222     888888888          000000000     

*/


@media only screen and (min-width: 1280px) {
/* 
████████╗██╗   ██╗██████╗  ██████╗ 
╚══██╔══╝╚██╗ ██╔╝██╔══██╗██╔═══██╗
   ██║    ╚████╔╝ ██████╔╝██║   ██║
   ██║     ╚██╔╝  ██╔═══╝ ██║   ██║
   ██║      ██║   ██║     ╚██████╔╝
   ╚═╝      ╚═╝   ╚═╝      ╚═════╝ 
 */

  html {
   font-size: 16px;
  }  

/*
 /$$                                 /$$                    
| $$                                | $$                    
| $$$$$$$   /$$$$$$   /$$$$$$   /$$$$$$$  /$$$$$$   /$$$$$$ 
| $$__  $$ /$$__  $$ |____  $$ /$$__  $$ /$$__  $$ /$$__  $$
| $$  \ $$| $$$$$$$$  /$$$$$$$| $$  | $$| $$$$$$$$| $$  \__/
| $$  | $$| $$_____/ /$$__  $$| $$  | $$| $$_____/| $$      
| $$  | $$|  $$$$$$$|  $$$$$$$|  $$$$$$$|  $$$$$$$| $$      
|__/  |__/ \_______/ \_______/ \_______/ \_______/|__/      
*/





/*
   /$$     /$$ /$$                    
  | $$    |__/| $$                    
 /$$$$$$   /$$| $$  /$$$$$$   /$$$$$$$
|_  $$_/  | $$| $$ /$$__  $$ /$$_____/
  | $$    | $$| $$| $$$$$$$$|  $$$$$$ 
  | $$ /$$| $$| $$| $$_____/ \____  $$
  |  $$$$/| $$| $$|  $$$$$$$ /$$$$$$$/
   \___/  |__/|__/ \_______/|_______/ 
*/


/* 
           /$$                             /$$             
          | $$                            | $$             
  /$$$$$$$| $$$$$$$   /$$$$$$   /$$$$$$  /$$$$$$   /$$$$$$$
 /$$_____/| $$__  $$ |____  $$ /$$__  $$|_  $$_/  /$$_____/
| $$      | $$  \ $$  /$$$$$$$| $$  \__/  | $$   |  $$$$$$ 
| $$      | $$  | $$ /$$__  $$| $$        | $$ /$$\____  $$
|  $$$$$$$| $$  | $$|  $$$$$$$| $$        |  $$$$//$$$$$$$/
 \_______/|__/  |__/ \_______/|__/         \___/ |_______/ 
Â */                                                           
                                                           



/*
               /$$                    
              |__/                    
 /$$$$$$/$$$$  /$$  /$$$$$$$  /$$$$$$$
| $$_  $$_  $$| $$ /$$_____/ /$$_____/
| $$ \ $$ \ $$| $$|  $$$$$$ | $$      
| $$ | $$ | $$| $$ \____  $$| $$      
| $$ | $$ | $$| $$ /$$$$$$$/|  $$$$$$$
|__/ |__/ |__/|__/|_______/  \_______/
*/
        




}




/*

                                                                  
                                                                  
  1111111        000000000      222222222222222        444444444  
 1::::::1      00:::::::::00   2:::::::::::::::22     4::::::::4  
1:::::::1    00:::::::::::::00 2::::::222222:::::2   4:::::::::4  
111:::::1   0:::::::000:::::::02222222     2:::::2  4::::44::::4  
   1::::1   0::::::0   0::::::0            2:::::2 4::::4 4::::4  
   1::::1   0:::::0     0:::::0            2:::::24::::4  4::::4  
   1::::1   0:::::0     0:::::0         2222::::24::::4   4::::4  
   1::::l   0:::::0 000 0:::::0    22222::::::224::::444444::::444
   1::::l   0:::::0 000 0:::::0  22::::::::222  4::::::::::::::::4
   1::::l   0:::::0     0:::::0 2:::::22222     4444444444:::::444
   1::::l   0:::::0     0:::::02:::::2                    4::::4  
   1::::l   0::::::0   0::::::02:::::2                    4::::4  
111::::::1110:::::::000:::::::02:::::2       222222       4::::4  
1::::::::::1 00:::::::::::::00 2::::::2222222:::::2     44::::::44
1::::::::::1   00:::::::::00   2::::::::::::::::::2     4::::::::4
111111111111     000000000     22222222222222222222     4444444444

*/


@media only screen and (min-width: 1024px) {
/* 
████████╗██╗   ██╗██████╗  ██████╗ 
╚══██╔══╝╚██╗ ██╔╝██╔══██╗██╔═══██╗
   ██║    ╚████╔╝ ██████╔╝██║   ██║
   ██║     ╚██╔╝  ██╔═══╝ ██║   ██║
   ██║      ██║   ██║     ╚██████╔╝
   ╚═╝      ╚═╝   ╚═╝      ╚═════╝ 
 */

  html {
   font-size: 16px;
  }  



/*
 /$$                                 /$$                    
| $$                                | $$                    
| $$$$$$$   /$$$$$$   /$$$$$$   /$$$$$$$  /$$$$$$   /$$$$$$ 
| $$__  $$ /$$__  $$ |____  $$ /$$__  $$ /$$__  $$ /$$__  $$
| $$  \ $$| $$$$$$$$  /$$$$$$$| $$  | $$| $$$$$$$$| $$  \__/
| $$  | $$| $$_____/ /$$__  $$| $$  | $$| $$_____/| $$      
| $$  | $$|  $$$$$$$|  $$$$$$$|  $$$$$$$|  $$$$$$$| $$      
|__/  |__/ \_______/ \_______/ \_______/ \_______/|__/      
*/





/*
   /$$     /$$ /$$                    
  | $$    |__/| $$                    
 /$$$$$$   /$$| $$  /$$$$$$   /$$$$$$$
|_  $$_/  | $$| $$ /$$__  $$ /$$_____/
  | $$    | $$| $$| $$$$$$$$|  $$$$$$ 
  | $$ /$$| $$| $$| $$_____/ \____  $$
  |  $$$$/| $$| $$|  $$$$$$$ /$$$$$$$/
   \___/  |__/|__/ \_______/|_______/ 
*/


/* 
           /$$                             /$$             
          | $$                            | $$             
  /$$$$$$$| $$$$$$$   /$$$$$$   /$$$$$$  /$$$$$$   /$$$$$$$
 /$$_____/| $$__  $$ |____  $$ /$$__  $$|_  $$_/  /$$_____/
| $$      | $$  \ $$  /$$$$$$$| $$  \__/  | $$   |  $$$$$$ 
| $$      | $$  | $$ /$$__  $$| $$        | $$ /$$\____  $$
|  $$$$$$$| $$  | $$|  $$$$$$$| $$        |  $$$$//$$$$$$$/
 \_______/|__/  |__/ \_______/|__/         \___/ |_______/ 
Â */                                                           
                                                           



/*
               /$$                    
              |__/                    
 /$$$$$$/$$$$  /$$  /$$$$$$$  /$$$$$$$
| $$_  $$_  $$| $$ /$$_____/ /$$_____/
| $$ \ $$ \ $$| $$|  $$$$$$ | $$      
| $$ | $$ | $$| $$ \____  $$| $$      
| $$ | $$ | $$| $$ /$$$$$$$/|  $$$$$$$
|__/ |__/ |__/|__/|_______/  \_______/
*/
        




}





/*
                                                     
77777777777777777777   66666666        888888888     
7::::::::::::::::::7  6::::::6       88:::::::::88   
7::::::::::::::::::7 6::::::6      88:::::::::::::88 
777777777777:::::::76::::::6      8::::::88888::::::8
           7::::::76::::::6       8:::::8     8:::::8
          7::::::76::::::6        8:::::8     8:::::8
         7::::::76::::::6          8:::::88888:::::8 
        7::::::76::::::::66666      8:::::::::::::8  
       7::::::76::::::::::::::66   8:::::88888:::::8 
      7::::::7 6::::::66666:::::6 8:::::8     8:::::8
     7::::::7  6:::::6     6:::::68:::::8     8:::::8
    7::::::7   6:::::6     6:::::68:::::8     8:::::8
   7::::::7    6::::::66666::::::68::::::88888::::::8
  7::::::7      66:::::::::::::66  88:::::::::::::88 
 7::::::7         66:::::::::66      88:::::::::88   
77777777            666666666          888888888     

*/

@media only screen and (min-width: 768px) {
/* 
████████╗██╗   ██╗██████╗  ██████╗ 
╚══██╔══╝╚██╗ ██╔╝██╔══██╗██╔═══██╗
   ██║    ╚████╔╝ ██████╔╝██║   ██║
   ██║     ╚██╔╝  ██╔═══╝ ██║   ██║
   ██║      ██║   ██║     ╚██████╔╝
   ╚═╝      ╚═╝   ╚═╝      ╚═════╝ 
 */

  html {
   font-size: 16px;
  }  



/*
 /$$                                 /$$                    
| $$                                | $$                    
| $$$$$$$   /$$$$$$   /$$$$$$   /$$$$$$$  /$$$$$$   /$$$$$$ 
| $$__  $$ /$$__  $$ |____  $$ /$$__  $$ /$$__  $$ /$$__  $$
| $$  \ $$| $$$$$$$$  /$$$$$$$| $$  | $$| $$$$$$$$| $$  \__/
| $$  | $$| $$_____/ /$$__  $$| $$  | $$| $$_____/| $$      
| $$  | $$|  $$$$$$$|  $$$$$$$|  $$$$$$$|  $$$$$$$| $$      
|__/  |__/ \_______/ \_______/ \_______/ \_______/|__/      
*/





/*
   /$$     /$$ /$$                    
  | $$    |__/| $$                    
 /$$$$$$   /$$| $$  /$$$$$$   /$$$$$$$
|_  $$_/  | $$| $$ /$$__  $$ /$$_____/
  | $$    | $$| $$| $$$$$$$$|  $$$$$$ 
  | $$ /$$| $$| $$| $$_____/ \____  $$
  |  $$$$/| $$| $$|  $$$$$$$ /$$$$$$$/
   \___/  |__/|__/ \_______/|_______/ 
*/


/* 
           /$$                             /$$             
          | $$                            | $$             
  /$$$$$$$| $$$$$$$   /$$$$$$   /$$$$$$  /$$$$$$   /$$$$$$$
 /$$_____/| $$__  $$ |____  $$ /$$__  $$|_  $$_/  /$$_____/
| $$      | $$  \ $$  /$$$$$$$| $$  \__/  | $$   |  $$$$$$ 
| $$      | $$  | $$ /$$__  $$| $$        | $$ /$$\____  $$
|  $$$$$$$| $$  | $$|  $$$$$$$| $$        |  $$$$//$$$$$$$/
 \_______/|__/  |__/ \_______/|__/         \___/ |_______/ 
Â */                                                           
                                                           



/*
               /$$                    
              |__/                    
 /$$$$$$/$$$$  /$$  /$$$$$$$  /$$$$$$$
| $$_  $$_  $$| $$ /$$_____/ /$$_____/
| $$ \ $$ \ $$| $$|  $$$$$$ | $$      
| $$ | $$ | $$| $$ \____  $$| $$      
| $$ | $$ | $$| $$ /$$$$$$$/|  $$$$$$$
|__/ |__/ |__/|__/|_______/  \_______/
*/
        





}






/*
       444444444       888888888          000000000     
      4::::::::4     88:::::::::88      00:::::::::00   
     4:::::::::4   88:::::::::::::88  00:::::::::::::00 
    4::::44::::4  8::::::88888::::::80:::::::000:::::::0
   4::::4 4::::4  8:::::8     8:::::80::::::0   0::::::0
  4::::4  4::::4  8:::::8     8:::::80:::::0     0:::::0
 4::::4   4::::4   8:::::88888:::::8 0:::::0     0:::::0
4::::444444::::444  8:::::::::::::8  0:::::0 000 0:::::0
4::::::::::::::::4 8:::::88888:::::8 0:::::0 000 0:::::0
4444444444:::::4448:::::8     8:::::80:::::0     0:::::0
          4::::4  8:::::8     8:::::80:::::0     0:::::0
          4::::4  8:::::8     8:::::80::::::0   0::::::0
          4::::4  8::::::88888::::::80:::::::000:::::::0
        44::::::44 88:::::::::::::88  00:::::::::::::00 
        4::::::::4   88:::::::::88      00:::::::::00   
        4444444444     888888888          000000000     

*/


@media only screen and (min-width: 480px) {
/* 
████████╗██╗   ██╗██████╗  ██████╗ 
╚══██╔══╝╚██╗ ██╔╝██╔══██╗██╔═══██╗
   ██║    ╚████╔╝ ██████╔╝██║   ██║
   ██║     ╚██╔╝  ██╔═══╝ ██║   ██║
   ██║      ██║   ██║     ╚██████╔╝
   ╚═╝      ╚═╝   ╚═╝      ╚═════╝ 
 */

  html {
   font-size: 16px;
  }  


/*
 /$$                                 /$$                    
| $$                                | $$                    
| $$$$$$$   /$$$$$$   /$$$$$$   /$$$$$$$  /$$$$$$   /$$$$$$ 
| $$__  $$ /$$__  $$ |____  $$ /$$__  $$ /$$__  $$ /$$__  $$
| $$  \ $$| $$$$$$$$  /$$$$$$$| $$  | $$| $$$$$$$$| $$  \__/
| $$  | $$| $$_____/ /$$__  $$| $$  | $$| $$_____/| $$      
| $$  | $$|  $$$$$$$|  $$$$$$$|  $$$$$$$|  $$$$$$$| $$      
|__/  |__/ \_______/ \_______/ \_______/ \_______/|__/      
*/





/*
   /$$     /$$ /$$                    
  | $$    |__/| $$                    
 /$$$$$$   /$$| $$  /$$$$$$   /$$$$$$$
|_  $$_/  | $$| $$ /$$__  $$ /$$_____/
  | $$    | $$| $$| $$$$$$$$|  $$$$$$ 
  | $$ /$$| $$| $$| $$_____/ \____  $$
  |  $$$$/| $$| $$|  $$$$$$$ /$$$$$$$/
   \___/  |__/|__/ \_______/|_______/ 
*/


/* 
           /$$                             /$$             
          | $$                            | $$             
  /$$$$$$$| $$$$$$$   /$$$$$$   /$$$$$$  /$$$$$$   /$$$$$$$
 /$$_____/| $$__  $$ |____  $$ /$$__  $$|_  $$_/  /$$_____/
| $$      | $$  \ $$  /$$$$$$$| $$  \__/  | $$   |  $$$$$$ 
| $$      | $$  | $$ /$$__  $$| $$        | $$ /$$\____  $$
|  $$$$$$$| $$  | $$|  $$$$$$$| $$        |  $$$$//$$$$$$$/
 \_______/|__/  |__/ \_______/|__/         \___/ |_______/ 
Â */                                                           
                                                           



/*
               /$$                    
              |__/                    
 /$$$$$$/$$$$  /$$  /$$$$$$$  /$$$$$$$
| $$_  $$_  $$| $$ /$$_____/ /$$_____/
| $$ \ $$ \ $$| $$|  $$$$$$ | $$      
| $$ | $$ | $$| $$ \____  $$| $$      
| $$ | $$ | $$| $$ /$$$$$$$/|  $$$$$$$
|__/ |__/ |__/|__/|_______/  \_______/
*/
        




}