
*:focus, *:visited, *:active{
  outline:none !important;
}
button, html, input, select, textarea{
}
a{
	text-decoration:none ;
}


.app, .app-body {
width: 100%;
}

.next-color, .font_red {
    color: #FF0000;
}

.gray-container {
    background-color: #f4f5f7;
    /*overflow: hidden;*/
}
.jumbotron .heading {
    color: #FFFFFF;
    font-size: 31px;
}
.jumbotron p {
    color: #fff;
    font-size: 28px;
}
.home-text {
    font-size: 1.2em;
    font-weight: 400;
    text-align: center;
}
.logo-text{
	font-size: 35px;
    font-weight: bold !important;
    letter-spacing: 2px;
    line-height: 45px;
}

 .in{
	color: #fff;
 }
.in > span {
	color: #E91D25;
 }
 .header_left > div:first-child{
	text-align:center;
 }
 .fa{
 	color: #494949;
 }
 .field_title{
    font-weight: bold;
    font-size:20px;
 }

 label{
  font-weight: normal;
  color: #333;
}
.clients_side_menu .client_detail:before,
.clients_side_menu .client_detail,
.risks_calibrations_menu .risks_calibrations,
.risks_calibrations_menu .risks_calibrations:before,
.assets_class_menu .assets_class:before,
.assets_class_menu .assets_class,
.assets_allocations_menu .asset_allocations:before,
.assets_allocations_menu .asset_allocations,.investements_menu .investments,
.investements_menu .investments:before, .savings_menu .saving_plans , .savings_menu .saving_plans:before,
.income_page .income, .income_page .income:before,
.expenses_page .expenses, .expenses_page .expenses:before,
.product_allocation_page .product_allocation, .product_allocation_page .product_allocation:before,
.overview_page .over_view , .overview_page .over_view:before,
.clientsList_page .clients_list:before
{
	color: #fff;
}






.vertical .carousel-inner {
  height: 100%;
}

.carousel.vertical .item {
  -webkit-transition: 0.6s ease-in-out top;
     -moz-transition: 0.6s ease-in-out top;
      -ms-transition: 0.6s ease-in-out top;
       -o-transition: 0.6s ease-in-out top;
          transition: 0.6s ease-in-out top;
}

.carousel.vertical .active {
  top: 0;
}

.carousel.vertical .next {
  top: 100%;
}

.carousel.vertical .prev {
  top: -100%;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
  top: 0;
}

.carousel.vertical .active.left {
  top: -100%;
}

.carousel.vertical .active.right {
  top: 100%;
}

.carousel.vertical .item {
    left: 0;
}
.gray-container{
  background-color: #eeeeee;
  min-height:670px;
}
.assets_class_page .risk-title, .clientsList_page .risk-title{
  background-color:transparent;
}
.assetClass-charts, .assets_class_section{
  background-color:#ffffff;
}


