/* -------------------------------- 

Main components 

-------------------------------- */


.main-nav {
  float: right !important;
  margin-right: 5% !important;
  width: 44px !important;
  height: 100% !important;
  background: url("../img/CDForm-icon-menu.svg") no-repeat center center !important;
  cursor: pointer !important;
}
.main-nav ul {
  position: absolute !important;
  top: 0!important; 
  left: 0 !important;
  width: 100% !important;
  -webkit-transform: translateY(-100%) !important;
  -moz-transform: translateY(-100%) !important;
  -ms-transform: translateY(-100%) !important;
  -o-transform: translateY(-100%) !important;
  transform: translateY(-100%) !important;
}
.main-nav ul.is-visible {
  -webkit-transform: translateY(50px) !important;
  -moz-transform: translateY(50px) !important;
  -ms-transform: translateY(50px) !important;
  -o-transform: translateY(50px) !important;
  transform: translateY(50px) !important;
}
.main-nav a {
  display: block !important;
  height: 50px !important;
  line-height: 50px !important;
  padding-left: 5% !important;
  background: #292a34 !important;
  border-top: 1px solid #3b3d4b !important;
  color: #FFF !important;;
}

.main-nav a.CDForm-signin{
color: #3b979e !important;
}



  .main-nav {
    width: auto !important;
    height: auto !important;
    background: none !important;
    cursor: auto !important;
  }
  .main-nav ul {
    position: static !important;
    width: auto !important;
    -webkit-transform: translateY(0) !important;
    -moz-transform: translateY(0) !important;
    -ms-transform: translateY(0) !important;
    -o-transform: translateY(0) !important;
    transform: translateY(0) !important;
    line-height: 60px !important;
  }
  .main-nav ul.is-visible {
    -webkit-transform: translateY(0) !important;
    -moz-transform: translateY(0) !important;
    -ms-transform: translateY(0) !important;
    -o-transform: translateY(0) !important;;
    transform: translateY(0) !important;
  }
  .main-nav li {
    display: inline-block !important;
    margin-left: 1em !important;
  }
  .main-nav li:nth-last-child(2) {
    margin-left: 2em !important;
  }
  .main-nav a {
    display: inline-block !important;
    height: auto !important;
    line-height: normal !important;
    background: transparent !important;
  }
  .main-nav a.CDForm-signin, .main-nav a.CDForm-signup {
    padding: .6em 1em !important;
    border: 1px solid rgba(105, 142, 167, 0.6) !important;
    border-radius: 50em !important;
  }
  .main-nav a.CDForm-signup {
    background: #2f889a !important;
    border: none !important;
  }

/* -------------------------------- 

sigin/signup popup 

-------------------------------- */
.CDForm-user-modal {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background: rgba(53, 67, 93, 0.9) !important;
  z-index: 3 !important;
  overflow-y: auto !important;
  cursor: pointer !important;
  visibility: hidden !important;
  opacity: 0 !important;
  -webkit-transition: opacity 0.3s, visibility 0.3s !important;
  -moz-transition: opacity 0.3s, visibility 0.3s !important;
  transition: opacity 0.3s, visibility 0.3s !important;
}
.CDForm-user-modal.is-visible {
  visibility: visible !important;
  opacity: 1 !important;
}
.CDForm-user-modal.is-visible .CDForm-user-modal-container {
  -webkit-transform: translateY(0) !important;
  -moz-transform: translateY(0) !important;
  -ms-transform: translateY(0) !important;
  -o-transform: translateY(0) !important;
  transform: translateY(0) !important;
}

.CDForm-user-modal-container {
  position: relative !important;
  width: 90% !important;
  max-width: 600px !important;
  background: #FFF !important;
  margin: 3em auto 4em !important;
  cursor: auto !important;
  border-radius: 0.25em !important;
  -webkit-transform: translateY(-30px) !important;
  -moz-transform: translateY(-30px) !important;
  -ms-transform: translateY(-30px) !important;
  -o-transform: translateY(-30px) !important;
  transform: translateY(-30px) !important;
  -webkit-transition-property: -webkit-transform !important;
  -moz-transition-property: -moz-transform !important;
  transition-property: transform !important;
  -webkit-transition-duration: 0.3s !important;
  -moz-transition-duration: 0.3s !important;
  transition-duration: 0.3s !important;
}
.CDForm-user-modal-container .CDForm-switcher:after {
  content: "" !important;
  display: table !important;
  clear: both !important;
}
.CDForm-user-modal-container .CDForm-switcher li {
  width: 50% !important;
  float: left !important;
  text-align: center !important;
}
.CDForm-user-modal-container .CDForm-switcher li:first-child a {
  border-radius: .25em 0 0 0 !important;
}
.CDForm-user-modal-container .CDForm-switcher li:last-child a {
  border-radius: 0 .25em 0 0 !important;
}
.CDForm-user-modal-container .CDForm-switcher a {
  display: block !important;
  width: 100% !important;
  height: 50px !important;
  line-height: 50px !important;
  background: #d2d8d8 !important;
  color: #809191 !important;
}
.CDForm-user-modal-container .CDForm-switcher a.selected {
  background: #FFF !important;
  color: #505260 !important;
}
@media only screen and (min-width: 600px) {
  .CDForm-user-modal-container {
    margin: 4em auto !important;
  }
  .CDForm-user-modal-container .CDForm-switcher a {
    height: 70px !important;
    line-height: 70px !important;
  }
}

.CDForm-form {
  padding: 1.4em !important;
}
.CDForm-form .fieldset {
  position: relative !important;
  margin: 1.4em 0 !important;
}
.CDForm-form .fieldset:first-child {
  margin-top: 0 !important;
}
.CDForm-form .fieldset:last-child {
  margin-bottom: 0 !important;
}
.CDForm-form label {
  font-size: 14px !important;
  font-size: 0.875rem !important;
}
.CDForm-form label.image-replace {
  /* replace text with an icon */
  display: inline-block !important;
  position: absolute !important;
  left: 15px !important;
  top: 50% !important;
  bottom: auto !important;
  -webkit-transform: translateY(-50%) !important;
  -moz-transform: translateY(-50%) !important;
  -ms-transform: translateY(-50%) !important;
  -o-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
  height: 20px !important;
  width: 20px !important;
  overflow: hidden !important;
  text-indent: 100% !important;
  white-space: nowrap !important;
  color: transparent !important;
  text-shadow: none !important;
  background-repeat: no-repeat !important;
  background-position: 50% 0 !important;
}
.CDForm-form label.CDForm-username {
  background-image: url("../img/CDForm-icon-username.svg") !important;
}
.CDForm-form label.CDForm-email {
  background-image: url("../img/CDForm-icon-email.svg") !important;
}
.CDForm-form label.CDForm-password {
  background-image: url("../img/CDForm-icon-password.svg") !important;
}
.CDForm-form input {
  margin: 0 !important;
  padding: 0 !important;
  border-radius: 0.25em !important;
}
.CDForm-form input.full-width {
  width: 100% !important;
}
.CDForm-form input.has-padding {
  padding: 12px 20px 12px 50px !important;
}
.CDForm-form input.has-border {
  border: 1px solid #d2d8d8;
  background: none !important;
  box-sizing: border-box !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  -ms-appearance: none !important;
  -o-appearance: none !important;
  appearance: none !important;
}
  .CDForm-form input.has-border::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #d2d8d8;
}
.CDForm-form input.has-border::-moz-placeholder { /* Firefox 19+ */
  color: #d2d8d8;
}
.CDForm-form input.has-border:-ms-input-placeholder { /* IE 10+ */
  color: #d2d8d8;
}
.CDForm-form input.has-border:-moz-placeholder { /* Firefox 18- */
  color: #d2d8d8;
}
}
.CDForm-form input.has-border:focus {
  border-color: #343642;
  box-shadow: 0 0 5px rgba(52, 54, 66, 0.1) !important;
  outline: none !important;
}
.CDForm-form input.has-error {
  border: 1px solid #d76666 !important;
}
.CDForm-form input[type=password] {
  /* space left for the HIDE button */
  padding-right: 65px !important;
}
.CDForm-form input[type=submit] {
  padding: 16px 0 !important;
  cursor: pointer !important;
  background: #2f889a !important;
  color: #FFF !important;
  font-weight: bold !important;
  border: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  -ms-appearance: none !important;
  -o-appearance: none !important;
  appearance: none !important;
}
.no-touch .CDForm-form input[type=submit]:hover, .no-touch .CDForm-form input[type=submit]:focus {
  background: #3599ae !important;
  outline: none !important;
}
.CDForm-form .hide-password {
  display: inline-block !important;
  position: absolute !important;
  right: 0 !important;
  top: 0 !important;
  padding: 6px 15px !important;
  border-left: 1px solid #d2d8d8 !important;
  top: 50% !important;
  bottom: auto !important;
  -webkit-transform: translateY(-50%) !important;
  -moz-transform: translateY(-50%) !important;
  -ms-transform: translateY(-50%) !important;
  -o-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
  font-size: 14px !important;
  font-size: 0.875rem !important;
  color: #343642 !important;
}
.CDForm-form .CDForm-error-message {
  display: inline-block !important;
  position: absolute !important;
  left: -5px !important;
  bottom: -35px !important;
  background: rgba(215, 102, 102, 0.9) !important;
  padding: .8em !important;
  z-index: 2 !important;
  color: #FFF !important;
  font-size: 13px !important;
  font-size: 0.8125rem !important;
  border-radius: 0.25em !important;
  /* prevent click and touch events */
  pointer-events: none !important;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0, visibility 0 0.2s !important;
  -moz-transition: opacity 0.2s 0, visibility 0 0.2s !important;
  transition: opacity 0.2s 0, visibility 0 0.2s !important;
}
.CDForm-form .CDForm-error-message::after {
  /* triangle */
  content: '' !important;
  position: absolute !important;
  left: 22px !important;
  bottom: 100% !important;
  height: 0 !important;
  width: 0 !important;
  border-left: 8px solid transparent !important;
  border-right: 8px solid transparent !important;
  border-bottom: 8px solid rgba(215, 102, 102, 0.9) !important;
}
.CDForm-form .CDForm-error-message.is-visible {
  opacity: 1 !important;
  visibility: visible !important;
  -webkit-transition: opacity 0.2s 0, visibility 0 0 !important;
  -moz-transition: opacity 0.2s 0, visibility 0 0 !important;
  transition: opacity 0.2s 0, visibility 0 0 !important;
}
@media only screen and (min-width: 600px) {
  .CDForm-form {
    padding: 2em !important;
  }
  .CDForm-form .fieldset {
    margin: 2em 0 !important;
  }
  .CDForm-form .fieldset:first-child {
    margin-top: 0 !important;
  }
  .CDForm-form .fieldset:last-child {
    margin-bottom: 0 !important;
  }
  .CDForm-form input.has-padding {
    padding: 14px 20px 14px 50px !important;
  }
  .CDForm-form input[type=submit] {
    padding: 16px 0 !important;
  }
}

.CDForm-form-message {
  padding: 1.4em 1.4em 0 !important;
  font-size: 14px !important;
  font-size: 0.875rem !important;
  line-height: 1.4 !important;
  text-align: center !important;
}
@media only screen and (min-width: 600px) {
  .CDForm-form-message {
    padding: 2em 2em 0 !important;
  }
}

.CDForm-form-bottom-message {
  position: absolute !important;
  width: 100% !important;
  left: 0 !important;
  bottom: -30px !important;
  text-align: center !important;
  font-size: 14px !important;
  font-size: 0.875rem !important;
}
.CDForm-form-bottom-message a {
  color: #FFF !important;
  text-decoration: underline !important;
}

.CDForm-close-form {
  /* form X button on top right */
  display: block !important;
  position: absolute !important;
  width: 40px !important;
  height: 40px !important;
  right: 0 !important;
  top: -40px !important;
  background: url("../img/CDForm-icon-close.svg") no-repeat center center !important;
  text-indent: 100% !important;
  white-space: nowrap !important; 
  overflow: hidden !important;
}
@media only screen and (min-width: 1170px) {
  .CDForm-close-form {
    display: none !important;
  }
}
#content-body {
  top: 0; 
  height: 100%;
}
.login_error_message {
  text-align: center;
  color: #d76666;
}

#CDForm-login, #CDForm-signup, #CDForm-reset-password {
  display: none !important;
}

#CDForm-login.is-selected, #CDForm-signup.is-selected, #CDForm-reset-password.is-selected {
  display: block !important;
}