.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    text-align: center;
}

/*

.holdings-table-scrollable .Portfolio.table>tbody>tr>td,
.holdings-table-scrollable .Portfolio.table>tbody>tr>th,
.holdings-table-scrollable .Portfolio.table>tfoot>tr>td, 
.holdings-table-scrollable .Portfolio.table>tfoot>tr>th,
.holdings-table-scrollable .Portfolio.table>thead>tr>td,
.holdings-table-scrollable .Portfolio.table>thead>tr>th{
  width: 15%;
  border-right: 3px solid #9be0ea !important;
  min-width: 113px;
}
.asset-allocation-portfolio .Portfolio.table>tbody>tr>td,
.asset-allocation-portfolio .Portfolio.table>tbody>tr>th,
.asset-allocation-portfolio .Portfolio.table>tfoot>tr>td, 
.asset-allocation-portfolio .Portfolio.table>tfoot>tr>th,
.asset-allocation-portfolio .Portfolio.table>thead>tr>td,
.asset-allocation-portfolio .Portfolio.table>thead>tr>th,
.asset-allocation-portfolio .table-striped>tbody>tr:nth-of-type(even),
.asset-allocation-portfolio .table-striped tbody,
.product-selection-scrollable .Portfolio.table>tbody>tr>td,
.product-selection-scrollable .Portfolio.table>tbody>tr>th,
.product-selection-scrollable .Portfolio.table>tfoot>tr>td, 
.product-selection-scrollable .Portfolio.table>tfoot>tr>th,
.product-selection-scrollable .Portfolio.table>thead>tr>td,
.product-selection-scrollable .Portfolio.table>thead>tr>th,
.product-selection-scrollable .table-striped>tbody>tr:nth-of-type(even),
.tables-styles-white-bor .table-striped tbody,
.tables-styles-white-bor .Portfolio.table>tbody>tr>td,
.tables-styles-white-bor .Portfolio.table>tbody>tr>th,
.tables-styles-white-bor .Portfolio.table>tfoot>tr>td, 
.tables-styles-white-bor .Portfolio.table>tfoot>tr>th,
.tables-styles-white-bor .Portfolio.table>thead>tr>td,
.tables-styles-white-bor .Portfolio.table>thead>tr>th,
.tables-styles-white-bor .table-striped>tbody>tr:nth-of-type(even),
.tables-styles-white-bor .table-striped tbody,
.product-selection-scrollable table > tbody{
  border-color:#ffffff !important;
}


.table-striped>tbody>tr:nth-of-type(even) {
  background-color: rgb(209,242,245);
  border-top: 3px solid #eee;
  border-bottom: 3px solid #eeeeee;
}
.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #dff7f9;;
}
.table-hover>tbody>tr:hover{
   background-color: #a7dced !important;
}
.table-hover>tbody>tr:hover > td{
  border-right-width:0 !important;
}

.investements_page .Portfolio.table>tbody>tr>td, .investements_page .Portfolio.table>tbody>tr>th, 
.investements_page .Portfolio.table>tfoot>tr>td, 
.investements_page  .Portfolio.table>tfoot>tr>th, .investements_page  .Portfolio.table>thead>tr>td, 
.investements_page .Portfolio.table>thead>tr>th{
    width:10%;
}

.savings_page .Portfolio.table>tbody>tr>td, .savings_page .Portfolio.table>tbody>tr>th, 
.savings_page .Portfolio.table>tfoot>tr>td, 
.savings_page  .Portfolio.table>tfoot>tr>th, .savings_page  .Portfolio.table>thead>tr>td, 
.savings_page .Portfolio.table>thead>tr>th{
    width:10%;

}

.income_page .Portfolio.table>tbody>tr>td, .income_page .Portfolio.table>tbody>tr>th, 
.income_page .Portfolio.table>tfoot>tr>td, .income_page .Portfolio.table>tfoot>tr>th, 
.income_page .Portfolio.table>thead>tr>td, .income_page .Portfolio.table>thead>tr>th,
.expenses_page .Portfolio.table>tbody>tr>td, .expenses_page .Portfolio.table>tbody>tr>th, 
.expenses_page .Portfolio.table>tfoot>tr>td, .expenses_page .Portfolio.table>tfoot>tr>th, 
.expenses_page .Portfolio.table>thead>tr>td, .expenses_page .Portfolio.table>thead>tr>th{
    width:14.2%;
}

.product_table.Portfolio.table>tbody>tr>td, .product_table.Portfolio.table>tbody>tr>th, 
.product_table.Portfolio.table>tfoot>tr>td, .product_table.Portfolio.table>tfoot>tr>th, 
.product_table.Portfolio.table>thead>tr>td, .product_table.Portfolio.table>thead>tr>th{
   width: 7.0%;
}


.Portfolio.table>tbody>tr>td,
.Portfolio.table>tbody>tr>th,
.Portfolio.table>tfoot>tr>td,
.Portfolio.table>tfoot>tr>th,
.Portfolio.table>thead>tr>td,
.Portfolio.table>thead>tr>th {
    padding: 5px 2px;
    font-size: 12px;
    letter-spacing: 0px;
    text-align:center;
    vertical-align: middle;
    border-top: 0 !important;
    border-bottom: 0 !important;
    border-right: 1px solid rgb(183,183,183);
    border-right: 3px solid rgb(183,183,183);
    border-color: #eee;
}

.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    border: 1px solid #333;
}

.asset-allocation-portfolio #allocation_table > thead > tr > th:last-child,
.asset-allocation-portfolio #allocation_table > thead > tr > th.index8{
  border-right:none !important;
}
.asset-allocation-portfolio > .table-portfolio, .product-selection-scrollable,
.holdings-table-scrollable .table-parents{
  overflow-x:hidden !important;
}
.holdings-table-scrollable .table-striped>tbody>tr:nth-of-type(even) {
  background-color: rgb(209,242,245);
  border-top: 3px solid #9be0ea;
  border-bottom: 3px solid #9be0ea;
}
.holdings-table-scrollable table.table-striped > thead > tr > th:last-child
.holdings-table-scrollable table.table-striped > tbody > tr > td:last-child,
.holdings-table-scrollable .Portfolio.table>thead>tr>th:last-child,
.holdings-table-scrollable .Portfolio.table>tbody>tr>td:last-child{
  border-right: none !important;
}

.clientsList_page .Portfolio.table>tbody>tr>td,.clientsList_page .Portfolio.table>thead>tr>th{
  width:25%;
}
.clientsList_page .Portfolio.table>tbody>tr>td, .clientsList_page .Portfolio.table>thead>tr>th {
  width: 13%;
}
.clientsList_page .Portfolio.table>tbody>tr>td:first-child, .clientsList_page .Portfolio.table>thead>tr>th:first-child {
  width: 13%;
}

.Portfolio.table>tbody>tr>td, .Portfolio.table>tbody>tr>th, .Portfolio.table>tfoot>tr>td, 
.Portfolio.table>tfoot>tr>th, .Portfolio.table>thead>tr>td, .Portfolio.table>thead>tr>th{
  font-size:15px !important;
}
.product-scroll-table > table{
   margin-bottom:10px !important;
}

.expenses_page .Portfolio th, .clientsList_page .Portfolio th, .savings_page  .Portfolio th, 
.income_page .Portfolio th, .investements_page .Portfolio th, .assets_allocations_page .Portfolio th,
#product_table2 th, #product_table4 th, #product_table3 th, #product_table th{
  color: #3B3131 !important;
}
#savings_table tr th, #investments_table tr th, 
#income_table tr th, #expenses_table tr th{
 padding-top:5px !important;
 padding-bottom:2px !important;
}

.product-scroll-table thead > tr > th:nth-child(3), .product-scroll-table thead > tr > th:nth-child(4),
.product-scroll-table thead > tr > th:nth-child(5),.product-scroll-table tbody > tr > td:nth-child(3), 
.product-scroll-table tbody > tr > td:nth-child(4),.product-scroll-table thead > tr > th:nth-child(12)
.product-scroll-table tbody > tr > td:nth-child(5), .product-scroll-table tbody > tr > td:nth-child(12){
  width:6% !important;

}

.asset_class_1 .product-scroll-table tbody > tr > td:nth-child(5),
.asset_class_1 .product-scroll-table thead > tr > th:nth-child(5){
  width:7% !important;
}

.holdings-table-scrollable > table{
  margin-bottom:0 !important;
}
.holdings-table-scrollable .product_table.table>thead>tr>th:last-child {
    border-right: 1px solid #d6d1d1 !important;;
    background-color: #d6d1d1 !important;
}
.product_table.Portfolio.table>tbody>tr>td, .product_table.Portfolio.table>tbody>tr>th, 
.product_table.Portfolio.table>tfoot>tr>td, .product_table.Portfolio.table>tfoot>tr>th, 
.product_table.Portfolio.table>thead>tr>td, .product_table.Portfolio.table>thead>tr>th{
  width: 63%;
  padding: 5px;
}


.clienthistory_page .table.Portfolio th{
  width:15%;
}


.holdings-table-scrollable .col-xs-6{
  padding-left: 0px !important;
  padding-right:20px !important;
}
.charts-tables-section > div:first-child{
  padding-right:2px !important;
}
.charts-tables-section > div:last-child{
  padding-left:18px !important;
}
