.BreadcrumbWrap{
    margin: 4px 12px;
    overflow: hidden; 
}




.Breadcrumb {
  list-style: none;
  display: inline-block;
}

.Breadcrumb a svg{
width: 32px;
    height: 32px;
stroke: #158dd3;
}

.Breadcrumb a:hover svg{
stroke: #fff;
}

.Breadcrumb li {
  float: left;
margin-top: 12px;  
}
.Breadcrumb li a {
display: block;
    background: #fff;
    text-decoration: none;
    position: relative;
    height: 32px;
    line-height: 32px;
    padding: 0 8px 0 1px;
    text-align: center;
    margin-right: 16px;
    color: #158dd3;    
}
.Breadcrumb li:nth-child(even) a {
    background-color: rgba(255, 255, 255, 0.9);
}
.Breadcrumb li:nth-child(even) a:before {
border-color: rgba(255, 255, 255, 0.9);
  border-left-color: transparent;
}
.Breadcrumb li:nth-child(even) a:after {
border-left-color: rgba(255, 255, 255, 0.9);
}
.Breadcrumb li:first-child a {
  padding-left: 15px;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 0 0 4px;
}
.Breadcrumb li:first-child a:before {
  border: none;
}
.Breadcrumb li:last-child a {
  padding-right: 12px;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0;
  border-radius: 0 4px 4px 0;
}
.Breadcrumb li:last-child a:after {
  border: none;
}
.Breadcrumb li a:before, .Breadcrumb li a:after {
    content: "";
    position: absolute;
    top: 0;
    border: 0 solid #fff;
    border-width: 16px 6px;
    width: 0;
    height: 0;
}
.Breadcrumb li a:before {
  left: -12px;
  border-left-color: transparent;
}
.Breadcrumb li a:after {
  left: 100%;
  border-color: transparent;
border-left-color: #fff;
}
.Breadcrumb li a:hover {
  background-color: #607d8d;
color: #fff;  
}
.Breadcrumb li a:hover:before {
  border-color: #607d8d;
  border-left-color: transparent;
}
.Breadcrumb li a:hover:after {
  border-left-color: #607d8d;
}
.Breadcrumb li a:active {
  background-color: #16a085;
}
.Breadcrumb li a:active:before {
  border-color: #16a085;
  border-left-color: transparent;
}
.Breadcrumb li a:active:after {
  border-left-color: #16a085;
}




@media all and (min-width: 1025px) {
.BreadcrumbWrap{
  display: none;
}
}



@media all and (max-width: 1024px) {
.BreadcrumbWrap{
  display: block;
}
}
