


.c-hamburger {
    display: block;
    position: absolute;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 48px;
    height: 40px;
    font-size: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    -webkit-transition: background .3s;
    transition: background .3s

    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    border: 1px solid #fff;
    background: #fff;
}
.c-hamburger:hover, .c-hamburger:focus {
border: 1px solid #66c2a5;
    outline: 0;
}

.c-hamburger span {
display: block;
position: absolute;
background: #66c2a5;
top: 18px;
left: 8px;
right: 8px;
height: 4px;
border-radius: 4px 4px 4px 4px;
-moz-border-radius: 4px 4px 4px 4px;
-webkit-border-radius: 4px 4px 4px 4px;   
}
.c-hamburger span::after,
.c-hamburger span::before {
position: absolute;
display: block;
left: 0;
width: 100%;
height: 4px;
background-color: #66c2a5;
content: "";
border-radius: 4px 4px 4px 4px;
-moz-border-radius: 4px 4px 4px 4px;
-webkit-border-radius: 4px 4px 4px 4px;  
}



.c-hamburger span::before {
top:  -10px;
width: 60%;
}
.c-hamburger span::after {
bottom: -10px;
width: 80%;
}

.c-hamburger.is-active span::before {
width: 100%;
}
.c-hamburger.is-active span::after {
width: 100%;
}





/*
'  ██╗
'  ██║
'  ██║
'  ██║
'  ██║
'  ╚═╝
*/

.c-hamburger--rot {
    background-color: #fff
}
.c-hamburger--rot span {
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s
}
.c-hamburger--rot.is-active {
    background-color: #fff;
    border-color: #66c2a5; 
}
.c-hamburger--rot.is-active span {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}




/*
'  ██╗
'  ██║
'  ██║
'  ██║
'  ██║
'  ╚═╝
*/


.c-hamburger--htx {
    background-color: #fff
}
.c-hamburger--htx span {
    -webkit-transition: background 0s .3s;
    transition: background 0s .3s
}
.c-hamburger--htx span::after,
.c-hamburger--htx span::before {
    background-color: #fff
    -webkit-transition-duration: .3s, .3s;
    transition-duration: .3s, .3s;
    -webkit-transition-delay: .3s, 0s;
    transition-delay: .3s, 0s
}
.c-hamburger--htx span::before {
    -webkit-transition-property: top, -webkit-transform;
    transition-property: top, transform;
}
.c-hamburger--htx span::after {
    -webkit-transition-property: bottom, -webkit-transform;
    transition-property: bottom, transform;
}
.c-hamburger--htx.is-active {
    background-color: #fff;
    border-color: #66c2a5; 
}
.c-hamburger--htx.is-active span {
    background: 0 0;
}
.c-hamburger--htx.is-active span::before {
    top: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}
.c-hamburger--htx.is-active span::after {
    bottom: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}
.c-hamburger--htx.is-active span::after,
.c-hamburger--htx.is-active span::before {
    -webkit-transition-delay: 0s, .3s;
    transition-delay: 0s, .3s
}



/*
'  ██╗
'  ██║
'  ██║
'  ██║
'  ██║
'  ╚═╝
*/

.c-hamburger--htla.is-active span::after,
.c-hamburger--htla.is-active span::before,
.c-hamburger--htra.is-active span::after,
.c-hamburger--htra.is-active span::before {
    width: 50%
}

.c-hamburger--htla {
    background-color: #fff
    border-color: #fff;     
}
.c-hamburger--htla span {
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s
    top: 18px;
    left: 10px;
    right: 10px;
    height: 4px;    
}
.c-hamburger--htla span::before {
    -webkit-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right;
    -webkit-transition: -webkit-transform .3s, width .3s, top .3s;
    transition: transform .3s, width .3s, top .3s
}
.c-hamburger--htla span::after {
    -webkit-transform-origin: bottom right;
    -ms-transform-origin: bottom right;
    transform-origin: bottom right;
    -webkit-transition: -webkit-transform .3s, width .3s, bottom .3s;
    transition: transform .3s, width .3s, bottom .3s
}
.c-hamburger--htla.is-active {
    background-color: #fff;
    border-color: #66c2a5; 
}
.c-hamburger--htla.is-active span {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg)
}
.c-hamburger--htla.is-active span::before {
    top: 0;
    -webkit-transform: translateX(14px)translateY(1px)rotate(45deg);
    -ms-transform: translateX(14px)translateY(1px)rotate(45deg);
    transform: translateX(14px)translateY(1px)rotate(45deg)
}
.c-hamburger--htla.is-active span::after {
    bottom: 0;
    -webkit-transform: translateX(14px)translateY(-1px)rotate(-45deg);
    -ms-transform: translateX(14px)translateY(-1px)rotate(-45deg);
    transform: translateX(14px)translateY(-1px)rotate(-45deg)
}



/*
'  ██╗
'  ██║
'  ██║
'  ██║
'  ██║
'  ╚═╝
*/


.c-hamburger--htra {
    background-color: #ff9650
}
.c-hamburger--htra span {
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s
}
.c-hamburger--htra span::before {
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    -webkit-transition: -webkit-transform .3s, width .3s, top .3s;
    transition: transform .3s, width .3s, top .3s
}
.c-hamburger--htra span::after {
    -webkit-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transition: -webkit-transform .3s, width .3s, bottom .3s;
    transition: transform .3s, width .3s, bottom .3s
}
.c-hamburger--htra.is-active {
    background-color: #fff;
    border-color: #66c2a5; 
}
.c-hamburger--htra.is-active span {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}
.c-hamburger--htra.is-active span::before {
    top: 0;
    -webkit-transform: translateX(-8px)translateY(4px)rotate(-45deg);
    -ms-transform: translateX(-8px)translateY(4px)rotate(-45deg);
    transform: translateX(-8px)translateY(4px)rotate(-45deg)
}
.c-hamburger--htra.is-active span::after {
    bottom: 0;
    -webkit-transform: translateX(-8px)translateY(-4px)rotate(45deg);
    -ms-transform: translateX(-8px)translateY(-4px)rotate(45deg);
    transform: translateX(-8px)translateY(-4px)rotate(45deg)
}




/*
'  ██╗
'  ██║
'  ██║
'  ██║
'  ██║
'  ╚═╝
*/

.c-hamburger--tree.is-active span::after,
.c-hamburger--tree.is-active span::before,
.c-hamburger--tree.is-active span::after,
.c-hamburger--tree.is-active span::before {
    width: 50%
}

.c-hamburger--tree {
background-color: #fff;
border-color: #fff;     
}
.c-hamburger--tree span.Lines {
transition:all .3s ease;
-webkit-transition:all .3s ease;
-moz-transition:all .3s ease;
-o-transition:all .3s ease;  

top: 17px;
left: 10px;
right: 12px;
height: 4px;
opacity: 0;
}
  .c-hamburger--tree span.Lines::before {
transition:all .3s ease;
-webkit-transition:all .3s ease;
-moz-transition:all .3s ease;
-o-transition:all .3s ease;  

  -webkit-transform-origin: top right;
  -ms-transform-origin: top right;
  transform-origin: top right;

  transform: rotate(-90deg);
  top: -9px;
  left: -24px;
  width: 100% !important;
  opacity: 0;
  }

  .c-hamburger--tree span.Lines::after {
transition:all .3s ease;
-webkit-transition:all .3s ease;
-moz-transition:all .3s ease;
-o-transition:all .3s ease;  

  -webkit-transform-origin: bottom right;
  -ms-transform-origin: bottom right;
  transform-origin: bottom right;

  bottom: -11px;
  width: 100% !important;
  opacity: 0;
  }

.c-hamburger--tree span.URL {
 width: 34px;
  height: 34px;
top: 2px;  
  background: url(../../images/tree.svg);
  background-size: contain;

transition:all .3s ease;
-webkit-transition:all .3s ease;
-moz-transition:all .3s ease;
-o-transition:all .3s ease;    
}
.c-hamburger--tree span.URL::before, 
.c-hamburger--tree span.URL::after{
display: none;
}

.c-hamburger--tree.is-active span.URL {
-webkit-transform-origin: center left;
-ms-transform-origin: center left;
transform-origin: center left;

transform: rotate(-90deg);
opacity: 0;
}


.c-hamburger--tree.is-active {
    background-color: #fff;
    border-color: #66c2a5; 
}
.c-hamburger--tree.is-active span.Lines {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    opacity: 1;
}
.c-hamburger--tree.is-active span.Lines::before {
    top: 0;
    -webkit-transform: translateX(36px)translateY(1px)rotate(45deg);
    -ms-transform: translateX(36px)translateY(1px)rotate(45deg);
transform: translateX(36px)translateY(1px)rotate(45deg);
    width: 60% !important;
    opacity: 1;
}
.c-hamburger--tree.is-active span.Lines::after {
    bottom: 0;
    -webkit-transform: translateX(12px)translateY(-1px)rotate(-45deg);
    -ms-transform: translateX(12px)translateY(-1px)rotate(-45deg);
    transform: translateX(12px)translateY(-1px)rotate(-45deg);
    width: 60% !important;
   opacity: 1;
}
