
#TopMenuLogo{
display: block;
position: absolute;
left: 36px;
top: 8px;
width: 41px;
height: 38px;
}

#TopMenuLogo svg path {
    fill: #3b979e;
}


.MainMenuTopContainer{
position: relative;
height: auto;
}


nav.MainMenuTop ol, nav.MainMenuTop ul, nav.MainMenuTop li {
list-style: none;
padding:0px;
margin:0px;
}




nav.MainMenuTop {
position: relative;
display: block;
min-height: 60px;
margin: 0 auto;
background-color: #fff;
border-bottom: 1px solid rgba(3, 169, 244, 0.3);
}

nav.MainMenuTop .relative {
	position: relative;
}

nav.MainMenuTop .right {
	float: right;
}

nav.MainMenuTop .left {
	float: left;
}



nav.MainMenuTop .navigation {
float:right;
margin: 0 ;
}



nav.MainMenuTop .LinkWrap{
display: table ;
margin: 0 auto;
position: relative;
}


/* HEADER > MENU */
nav.MainMenuTop .MenuTopLvl {
display: block;
position: relative;
margin: 0 auto;
}

nav.MainMenuTop .MenuTopLvl > li {
display: inline-table;
margin: 0 16px;
}
	nav.MainMenuTop .MenuTopLvl {
	padding: 0 36px 0 24px;
	}

nav.MainMenuTop li.desktop{
	display: block;
}
nav.MainMenuTop li.mobile{
display: none;
}



nav.MainMenuTop .ProfilePic {
display: inline-block;
width: 36px;
height: 34px;
border-radius: 50%;
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
margin: -2px 0 0 0px;
font-size: 0.9em;
padding: 7px 0 0 6px;
background: #00a7f6;
color: #fff;
}

.ChristianBeck {
  background-image: url('../images/ChristianBeck.jpg');
}




nav.MainMenuTop .MenuTopLvl > li > a {
color: #1294f6;    
display: block;
padding: 18px 0;
text-decoration:none;	
}
	nav.MainMenuTop .MenuTopLvl > li.ProfileMenu > a .LinkText {
	display: none;	
	}
	nav.MainMenuTop .MenuTopLvl > li a .LinkText{
    color: #1294f6;
    font-weight: 500;
    letter-spacing: 1px;
	font-size: inherit;
	text-decoration:none;
	background: transparent;
	}

nav.MainMenuTop .MenuTopLvl > li ul.MainMenuSub{
width: 200px;
margin-left: -140px;
}


nav.MainMenuTop a[attr*="Level1"]:hover{
-webkit-transition: all 500ms ease;
-moz-transition: all 500ms ease;
-ms-transition: all 500ms ease;
-o-transition: all 500ms ease;
transition: all 500ms ease;
}

	nav.MainMenuTop .MenuTopLvl li:hover a[attr*="Level1"] span,
	nav.MainMenuTop .MenuTopLvl > li a:hover .LinkText{
    color: #084081;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    text-shadow: 0 0 10px rgba(3, 169, 244, 0.28), 0 0 3px rgba(63, 81, 181, 0.24);
	}

	nav.MainMenuTop .MenuTopLvl li.ProfileMenu:hover a[attr*="Level1"], 
	nav.MainMenuTop .MenuTopLvl li.ProfileMenu a[attr*="Level1"]:hover {
	cursor: default;
	}





/* HEADER > MENU > DROPDOWN */
nav.MainMenuTop .MenuTopLvl li {
	position: relative;
}

nav.MainMenuTop ul.MainMenuSub { /* level 2 */
	display: none; 
	left: 0px;
	top: 60px;
	width: 100%;
	position: absolute;
	z-index: 9999;
	webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.41);
	-moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.41);
	box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.41);	
}

nav.MainMenuTop ul.MainMenuSub ul.MainMenuSub { /* level 3+ */
	margin-top: -1px;
	left: 250px;
	top: 0px;
}

nav.MainMenuTop ul.MainMenuSub > li > a {
	line-height: 1.3;
	background-color: #fff;
	border-top: none;
	color: #056dbc;
	display: block;
	padding: 20px 16px;
	text-decoration:none;
}

nav.MainMenuTop ul.MainMenuSub > li > a:hover {
-webkit-box-shadow: inset 0px -2px 0px 0px #1294f6;
-moz-box-shadow: inset 0px -2px 0px 0px #1294f6;
box-shadow: inset 0px -2px 0px 0px #1294f6;
color: #084081;
-webkit-transition: all 500ms ease;
-moz-transition: all 500ms ease;
-ms-transition: all 500ms ease;
-o-transition: all 500ms ease;
transition: all 500ms ease;
text-shadow: 0 0 10px rgba(3, 169, 244, 0.28), 0 0 3px rgba(63, 81, 181, 0.24);
}


nav.MainMenuTop .MenuTopLvl li svg{
width: 20px;
height: 20px;
margin: -2px 6px 0 0;
display:block;
float:left;
overflow: hidden;
}
	nav.MainMenuTop .MenuTopLvl li#CurrentItem svg,*/
	nav.MainMenuTop .MenuTopLvl li:hover svg, 
	nav.MainMenuTop .MenuTopLvl li:hover svg path, 
	nav.MainMenuTop .MenuTopLvl li:hover svg rect,
	nav.MainMenuTop .MenuTopLvl li:hover svg polygon,
	nav.MainMenuTop .MenuTopLvl li:hover svg circle{
	fill: #23dbdb ;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	}



nav.MainMenuTop ul.MainMenuSub > li:first-child {
}

nav.MainMenuTop ul.MainMenuSub ul.MainMenuSub > li:first-child {
}

nav.MainMenuTop ul.MainMenuSub > li:last-child > a {
	border-radius: 0 0 2px 2px;
}

nav.MainMenuTop ul.MainMenuSub > li > a.parent {
	background-image: url(../images/arrow.png);
	background-size: 5px 9px;
	background-repeat: no-repeat;
	background-position: 95% center;
}

nav.MainMenuTop .MenuTopLvl li:hover > ul.MainMenuSub {
	display: block; /* show the submenu */
}


nav.MainMenuTop li.MobileMenu{
display: none;
}


nav.MainMenuTop.fullscreen{
-webkit-transition: all 500ms ease;
-moz-transition: all 500ms ease;
-ms-transition: all 500ms ease;
-o-transition: all 500ms ease;
transition: all 500ms ease;
}




nav.MainMenuTop .BtnToggle {
display: none;
}













/*                                                       
 ██╗ ██████╗ ██████╗ ██╗  ██╗
███║██╔═████╗╚════██╗██║  ██║
╚██║██║██╔██║ █████╔╝███████║
 ██║████╔╝██║██╔═══╝ ╚════██║
 ██║╚██████╔╝███████╗     ██║
 ╚═╝ ╚═════╝ ╚══════╝     ╚═╝
*/                                                           





@media all and (min-width: 769px) and (max-width: 1024px) {



nav.MainMenuTop .MenuTopLvl > li a .LinkText{
font-size: 0.9rem;
}
nav.MainMenuTop ul.MainMenuSub > li > a{
font-size: 0.95rem;
}



#TopMenuLogo{
display: block;
opacity: 1;
-moz-transform: translate(-50%, 0%);
-webkit-transform: translate(-50%, 0%);
-o-transform: translate(-50%, 0%);
-ms-transform: translate(-50%, 0%);
transform: translate(-50%, 0%);
left: 50%;
}



	nav.MainMenuTop .navigation {
		position: static;
    	float: none;
	}

	nav.MainMenuTop .BtnToggle {
	display: block;
    left: 16px;
    right: auto;
    border: 1px solid #66c2a5;
    overflow: hidden;
    top: 8px;		
	}

	nav.MainMenuTop .MenuTopLvl {
		display: none;
		float: none;
		padding: 70px 24px 40px 24px;
	}
	nav.MainMenuTop .LinkWrap{
    display: block;
    margin: 0;
	}


	nav.MainMenuTop .MenuTopLvl > li {
	display: block;
	margin: 0;
	padding: 0;	
		
	}
		nav.MainMenuTop .MenuTopLvl > li:nth-child(1) {
		width: auto;
		}
		nav.MainMenuTop .MenuTopLvl > li:nth-child(2) {
		width: auto;
		}
		nav.MainMenuTop .MenuTopLvl > li:nth-child(3) {
		width: auto;
		}
		nav.MainMenuTop .MenuTopLvl > li:nth-child(4) {
		width: auto;
		}



	nav.MainMenuTop .MenuTopLvl > li > a {
    background-color: #fff;
    display: block;
    padding: 20px !important;
    font-weight: 600;
    border-bottom:1px solid #9cb5c4;
	}




	nav.MainMenuTop .MenuTopLvl > li > a .LinkText{
	float:none;
	}
	nav.MainMenuTop .MenuTopLvl > li > a .LinkText{
	float:none;
	}
	nav.MainMenuTop ul li a:hover {
    -webkit-box-shadow: inset 0px -2px 0px 0px #1294f6;
    -moz-box-shadow: inset 0px -2px 0px 0px #1294f6;
    box-shadow: inset 0px -2px 0px 0px #1294f6;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
	}
	nav.MainMenuTop ul li.ProfileMenu > a:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
	}



	nav.MainMenuTop .MenuTopLvl > li ul.MainMenuSub,
	nav.MainMenuTop ul.MainMenuSub {
		display: block;
		margin-top: 0px;
		margin-left: 20px;
		position: static;
		padding: 0;
		width: inherit;
	}

	nav.MainMenuTop ul.MainMenuSub > li:first-child {
		
	}

	nav.MainMenuTop ul.MainMenuSub > li > a{
	    padding: 20px 22px;
	    border-bottom:1px solid #9cb5c4;
	}

	nav.MainMenuTop ul.MainMenuSub > li > a.parent {
		background: #1294f6 ;
	}


nav.MainMenuTop .MenuTopLvl li svg{
height: 36px;
width: 36px;
margin: -6px 10px 0 0;
overflow: hidden;
}

nav.MainMenuTop ul.MainMenuSub{
box-shadow: none;
}

nav.MainMenuTop li.DesktopMenu{
display: block;
}

nav.MainMenuTop li.MobileMenu{
display: none;
}

nav.MainMenuTop .ProfilePic {
margin: 0 10px -9px 0px;
}

nav.MainMenuTop .MenuTopLvl > li.ProfileMenu > a .LinkText {
display: inline-block;
}







}







/*

███████╗ ██████╗  █████╗ 
╚════██║██╔════╝ ██╔══██╗
    ██╔╝███████╗ ╚█████╔╝
   ██╔╝ ██╔═══██╗██╔══██╗
   ██║  ╚██████╔╝╚█████╔╝
   ╚═╝   ╚═════╝  ╚════╝ 
*/

@media all and (max-width: 768px) {

#TopMenuLogo{
display: none;
}

nav.MainMenuTop{
min-height: auto;
}

nav.MainMenuTop li.DesktopMenu{
display: none;
}

nav.MainMenuTop .ProfilePic{
display: block;
margin: 0 auto 4px auto;
}

nav.MainMenuTop .navigation {
float: none;
}


nav.MainMenuTop ul.MainMenuSub {
top: 74px;
}

nav.MainMenuTop .MenuTopLvl{
display: none;
width: 100%;
overflow: hidden;
padding: 10px 0 20px 0;
background: #f6f6f6;
}

nav.MainMenuTop .MenuTopLvl > li{
display: inline-block;
width: calc(25% - 36px);
}

nav.MainMenuTop .MenuTopLvl > li > a {
padding: 10px 0 8px 0;
}

nav.MainMenuTop .MenuTopLvl li svg {
width: 40px;
height: 40px;
float: none;
margin: 0 auto;
overflow: hidden;
}
	nav.MainMenuTop .MenuTopLvl li:last-child svg {
    width: 34px;
    height: 34px;
    margin-bottom: 2px;
	}

nav.MainMenuTop .MenuTopLvl > li a .LinkText {
font-size: 0.75em;
height: 1.5em;
text-align: center;
display: block;
padding-top: 8px;
}

nav.MainMenuTop li.DesktopMenu{
display: none;
}







}