<div class="scrollable ng-scope">
  <div class="scrollable-content scrollablecontent">
    <div>
      <div id="middle-container">
        <div class="account-container clearfix">
          <div class="card hoverable col-lg-4 col-md-6 col-sm-8 col-lg-offset-4 col-md-offset-3 col-sm-offset-2 signin-content">
            <div class="account-heading text-center text-uppercase signin_exclusive">
              Change Password
            </div>
            <form class="col-xs-12 hoverable" name="form"  method="post" novalidate>           
              <div class="clearfix">
                <div class="clearfix">
                  <div class="input-field clearfix">
                    <input  type="password" ng-model="user.password" name="uPassword" id='uPassword' class="validate" ng-blur='password_errors = true' required>
                    <div class="textbr"></div>
                    <label for='uPassword'>Password</label>
                    <div class="errormsg"  ng-show="password_errors">
                      <span ng-show="form.uPassword.$error.required || user.password.length< 8" translate="PASSWORD_REQUIRED">
                        Provide your password, and it should be minimum 8 characters.
                      </span>
                    </div>
                  </div>
                </div>
                <div class="clearfix">
                  <div class="input-field clearfix">
                    <input type="password" ng-model="user.confirm_password" name="uConfirmPassword" id='uConfirmPassword' class="validate" ng-blur='confirm_password_errors = true;' required>
                    <div class="textbr"></div>
                    <label for='uConfirmPassword'>Confirm Password</label>
                    <div class="errormsg"  ng-show="confirm_password_errors">
                      <span ng-show="form.uConfirmPassword.$error.required" translate="PASSWORD_REQUIRED">
                        Provide your password.
                      </span>
                      <span ng-show="(user.password !== user.confirm_password);" translate="CONFIRM_PASSWORD_REQUIRED">
                        Should be same
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clearfix text-center">
                <button class="btn btn-block btnd button button-primary button-large text-center" ng-disabled="form.$invalid" ng-click="updatePassword(user)" ng-class="forgetpassword_change_completed ? '':'disable'">Reset</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
