<div class="scrollable ng-scope signup-page">
  <div class="scrollable-content scrollablecontent" >
    <div>
      <div id="middle-container">
        <div class="homeContainer">
          <div>
            <div class="container-fluid text-center forgot_password_page signup_page password-updated no_padding"><!-- container-fluid start here -->
                  <div class="container navbar navbar-app header_nav home">
                      <div class="navbar-header hidden-xs col-md-3 no_padding" >  
                        <a  href='#/' class="navbar-brand">
                          <span class="logo-text">F<span>I</span>NVESE</span>
                          <!-- <span class="logo_img"><img src="images/logo.png" ></span> -->
                        </a>
                      </div>
                      <div class="navbar-header visible-xs mobile-sidebar">
                          <div class="btn-group pull-left col-xs-2">
                              <div ui-toggle="uiSidebarLeft" class="btn sidebar-toggle">
                                <i class="fa fa-bars"></i> 
                              </div>
                            </div>
                           <div class="col-xs-8 logo-text text-center">F<span>I</span>NVESE</div> 
                           <div class="col-xs-2"></div>
                      </div>

                      <div id="navbar-collapse-1" class="topmainnav col-md-9 no_padding">
                        <ul class="nav navbar-nav navbar-right">
                          <!-- <li ng-class="why ? 'nav-selectd':''" ng-click="renderPage('/why')">
                            <a class="logo-text" href='' class="white-font">Dashboard</a>
                          </li> -->
                          <li ng-class="why ? 'nav-selectd':''" ng-click="renderPage('/why')">
                            <a class="logo-text" href='' class="white-font">Why Finvese</a>
                          </li>
                          <!-- <li ng-class="service ? 'nav-selectd':''" ng-click="renderPage('/service')">
                            <a href=''>Service</a>
                          </li> -->
                          <li ng-class="login ? 'nav-selectd':''" ng-click="renderPage('/signin')" ng-if="!getUser()">
                            <a href='' class="white-font">Sign In</a>
                          </li>
                          <!-- <li ng-class="signup ? 'nav-selectd':''" ng-click="renderPage('/signup')" ng-if="!getUser()">
                            <a href=''>SignUp</a>
                          </li> -->
                          <li ng-class="signout ? 'nav-selectd':''" ng-click="renderPage('/signout')" ng-if="getUser()" class="userProfile">
                            <a style="padding-left:0"><img src="images/profile.png" /> <span style="color:#ffffff" ng-bind="advisorname"></span></a>
                            <!-- <a href=''>Signout</a> -->
                          </li>
                          <!-- <li ng-class="contact ? 'nav-selectd':''" ng-click="renderPage('/contact')">
                            <a href=''>Contact</a>
                          </li>   -->    
                        </ul>
                      </div>
                    </div>
               <div class="col-md-5 col-sm-8 signin-content" id="login">
            <div class="account-heading text-center text-uppercase signin_exclusive">
              Thank You
            </div>
            <form name="form">
                <!-- <div class="text-center img_status_parents">
                 <img src="images/green_sucess.png ">
                </div>  --> 
                <div class="input-field clearfix verification_msg text-center text_blck"> 

                      Your password has been changed successfully.<br> Please 
                      <a href="" ng-click="renderPage('/signin')" class="bold_blck"> Sign In</a>
                      here.
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
