<div class="scrollable ng-scope">
  <div class="scrollable-content scrollablecontent" >
    <div>
      <div id="middle-container">
        <div class="homeContainer" ng-init="updateGoogle('Forgot Password')">
          <div class="gray-container" >
            <div class="container-fluid text-center forgot_password_page verification_page" ng-init="updateGoogle('Signin')"><!-- container-fluid start here -->
              <div class="col-md-5 col-sm-8 signin-content">
              
                <div class="signin-content borderaround" ng-init="getCurrentPosition()">          
                  <div class='signin_exclusive' translate='FORGET_PASSWORD'>Thank You</div>
                  <section class="signinsidecontent clearfix">
                    <form class="col-xs-12" name="form"  method="post">
                      <div class="row clearfix">
                        <div class="input-field clearfix verification_msg">   
                           We had sent you an email to reset your password.Please check your email.
                        </div>
                      </div>
                    </form>
                  </section>
                </div>
              </div>
            </div><!-- container-fluid end here -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>