<div class="scrollable ng-scope signup-page">
  <div class="scrollable-content scrollablecontent" >
    <div>
      <div id="middle-container">
        <div class="homeContainer" ng-init="updateGoogle('Forgot Password')">
          <div>
            <div class="container-fluid text-center forgot_password_page signup_page no_padding" ng-init="updateGoogle('Signin')"><!-- container-fluid start here -->
              <!-- <div ng-include="'templates/tab-menu.html'" class="container-fluid tab-menu">

                  </div> -->
                  <div class="container navbar navbar-app header_nav home">
                      <div class="navbar-header hidden-xs col-md-3 no_padding" >  
                        <a  href='#/' class="navbar-brand">
                          <span class="logo-text">F<span>I</span>NVESE</span>
                          <!-- <span class="logo_img"><img src="images/logo.png" ></span> -->
                        </a>
                      </div>
                      <div class="navbar-header visible-xs mobile-sidebar">
                          <div class="btn-group pull-left col-xs-2">
                              <div ui-toggle="uiSidebarLeft" class="btn sidebar-toggle">
                                <i class="fa fa-bars"></i> 
                              </div>
                            </div>
                           <div class="col-xs-8 logo-text text-center">F<span>I</span>NVESE</div> 
                           <div class="col-xs-2"></div>
                      </div>

                      <div id="navbar-collapse-1" class="topmainnav col-md-9 no_padding">
                        <ul class="nav navbar-nav navbar-right">
                          <!-- <li ng-class="why ? 'nav-selectd':''" ng-click="renderPage('/why')">
                            <a class="logo-text" href='' class="white-font">Dashboard</a>
                          </li> -->
                          <li ng-class="why ? 'nav-selectd':''" ng-click="renderPage('/why')">
                            <a class="logo-text" href='' class="white-font">Why Finvese</a>
                          </li>
                          <!-- <li ng-class="service ? 'nav-selectd':''" ng-click="renderPage('/service')">
                            <a href=''>Service</a>
                          </li> -->
                          <li ng-class="login ? 'nav-selectd':''" ng-click="renderPage('/signin')" ng-if="!getUser()">
                            <a href='' class="white-font">Sign In</a>
                          </li>
                          <!-- <li ng-class="signup ? 'nav-selectd':''" ng-click="renderPage('/signup')" ng-if="!getUser()">
                            <a href=''>SignUp</a>
                          </li> -->

                          <!-- RAB
                          <li ng-class="signout ? 'nav-selectd':''" ng-click="renderPage('/signout')" ng-if="getUser()" class="userProfile">
                            <a style="padding-left:0"><img src="images/profile.png" /> <span style="color:#ffffff" ng-bind="advisorname"></span></a>
                          </li> -->

                          <!-- <li ng-class="contact ? 'nav-selectd':''" ng-click="renderPage('/contact')">
                            <a href=''>Contact</a>
                          </li>   -->    
                        </ul>
                      </div>
                    </div>
               <div class="col-md-5 col-sm-8 signin-content" id="login">
              
              <div class="" ng-init="getCurrentPosition()" >          
                <div class='signin_exclusive' translate='FORGET_PASSWORD'>RESET PASSWORD</div>
                <section class="signinsidecontent clearfix">
                  <!-- <div class="col-md-12 errormsg text-center hide"  ng-show="error_message">
                    <span translate="INVALID_PHONE">Invalid Phone Number</span>
                  </div> -->
                  <form class="col-xs-12" name="form" id="form" method="post" novalidate>
                    <div class="clearfix">
                      <!-- <div class="input-field clearfix">
                        <input type="email" ng-model="user.email" name="uEmail" id='uEmail' class="validate"  ng-blur='email_errors = true;checkUniq()'  required>
                        <div class="textbr"></div>
                        <label for="uEmail">Email</label>
                        <div class="errormsg"  ng-show="email_errors">
                          <span ng-show="form.uEmail.$error.required" translate="EMAIL_REQUIRED">Please enter your email.</span>
                          <span ng-show="invalid_username">Email entered is invalid!</span>
                        </div>
                      </div> -->
                      <div class="input-field clearfix">
                        <input type="password" ng-model="user.password" name="uPassword" id='uPassword' class="validate"  ng-blur='password_errors = true;'  required>
                        <div class="textbr"></div>
                        <label for="uPassword">New Password</label>
                        <div class="errormsg"  ng-show="password_errors">
                          <span ng-show="form.uPassword.$error.required" translate="EMAIL_REQUIRED">Please enter new password.</span>
                        </div>
                      </div>
                      <div class="passwordhints">
                        Hint: The password should be at least 8 characters long. To make it stronger, use upper and lower case letters, numbers and symbols like ! " ? $ % ^ & ).
                      </div>
                    </div>
                    <div class="clearfix text-center">
                      <div>
                        <div class="text-center">
                        <button class="btn signup-button btn-primary waves-effect waves-light btn-block text-center forgot-submit" translate="SUBMIT" ng-click="sendCode(user)">Reset password</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </section>
              </div>
            </div>
            </div><!-- container-fluid end here -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="buttonclickload" ng-hide="forgetpassword_completed">
  <span translate="SIGNUP_LOADING"></span>
</div>