<div class="scrollable ng-scope">
  <div class="scrollable-content scrollablecontent" >
    <div >
      <div id="middle-container">
        <div class="homeContainer">
          <div class="gray-container" >
              <div class="container-fluid login">
                 <div id="login">
                    <div class="signin_exclusive ng-scope"  translate="HEADING_SIGNUP"> SIGN IN</div>
                    <form name="form" id="loginform" method="post" class="clearfix hoverable">
                      <div class="input-field col-xs-12 no_padding">
                        <input type="text" ng-model="user.name" name="uName" id="user_login" class="validate" ng-blur='username_errors = true' required>
                        <div class="textbr"></div>
                        <label for="uName">Username</label>
                        <div class="errormsg width_100" ng-show="username_errors">
                          <span ng-show="form.uName.$error.required" class="ng-scope">   
                            Enter your User name
                          </span>
                        </div>
                      </div>
                      <div class="input-field col-xs-12 no_padding">
                        <input type="password" name="upassword" ng-model="user.pasword"  id="user_pass" class="validate" ng-blur="password_errors = true" required>
                        <div class="textbr"></div>
                        <label for="upassword">Password</label>
                        <div class="errormsg width_100" ng-show="password_errors">
                          <span ng-show="form.upassword.$error.required" class="ng-scope">   
                            Enter your password
                          </span>
                        </div>
                      </div>
                      <div class="forgetmenot col-xs-9 no_padding clearfix">
                          <input name="rememberme" type="checkbox" id="rememberme" value="forever" class="filled-in">
                          <label for="rememberme">Remember Me</label> 
                      </div>
                      <div class="submit input-field col-xs-3 no_padding">
                        <button type="submit" name="wp-submit" id="wp-submit" class="button button-primary button-large" ng-click="renderPage('/overview')">Sign In</button>
                      </div>
                      <div class="text-center col-xs-12 singup_render">
                         <span>New to Finvese?</span>
                         <span ng-click="renderPage('/signup')" class="singup_font">Signup</span>
                      </div>
                      <div id="nav" class="col-xs-12 no_padding text-center">
                        <a href="" title="Password Lost and Found" id="forgot_password" ng-click="renderPage('/forget')">Forgot your password?</a>
                      </div>

                    </form>
                      
                      
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>