<div class="scrollable ng-scope signup-page">
  <div class="scrollable-content scrollablecontent" >
    <div>
      <div id="middle-container">
        <div class="homeContainer">
          <div >
            <div class="container-fluid text-center signup_page no_padding"><!-- container-fluid start here -->
            <div class="container navbar navbar-app header_nav home">
                      <div class="navbar-header hidden-xs col-md-3 no_padding" >  
                        <a  href='#/' class="navbar-brand">
                          <span class="logo-text">F<span>I</span>NVESE</span>
                          <!-- <span class="logo_img"><img src="images/logo.png" ></span> -->
                        </a>
                      </div>
                      <div class="navbar-header visible-xs mobile-sidebar">
                          <div class="btn-group pull-left col-xs-2">
                              <div ui-toggle="uiSidebarLeft" class="btn sidebar-toggle">
                                <i class="fa fa-bars"></i> 
                              </div>
                            </div>
                           <div class="col-xs-8 logo-text text-center">F<span>I</span>NVESE</div> 
                           <div class="col-xs-2"></div>
                      </div>

                      <div id="navbar-collapse-1" class="topmainnav col-md-9 no_padding">
                        <ul class="nav navbar-nav navbar-right">
                          <!-- <li ng-class="why ? 'nav-selectd':''" ng-click="renderPage('/why')">
                            <a class="logo-text" href='' class="white-font">Dashboard</a>
                          </li> -->
                          <li ng-class="why ? 'nav-selectd':''" ng-click="renderPage('/why')">
                            <a class="logo-text" href='' class="white-font">Why Finvese</a>
                          </li>
                          <!-- <li ng-class="service ? 'nav-selectd':''" ng-click="renderPage('/service')">
                            <a href=''>Service</a>
                          </li> -->
                          <li ng-class="login ? 'nav-selectd':''" ng-click="renderPage('/signin')" ng-if="!getUser()">
                            <a href='' class="white-font">Sign In</a>
                          </li>
                          <!-- <li ng-class="signup ? 'nav-selectd':''" ng-click="renderPage('/signup')" ng-if="!getUser()">
                            <a href=''>SignUp</a>
                          </li> -->
                          <li ng-class="signout ? 'nav-selectd':''" ng-click="renderPage('/signout')" ng-if="getUser()" class="userProfile">
                            <a style="padding-left:0"><img src="images/profile.png" /> <span style="color:#ffffff" ng-bind="advisorname"></span></a>
                            <!-- <a href=''>Signout</a> -->
                          </li>
                          <!-- <li ng-class="contact ? 'nav-selectd':''" ng-click="renderPage('/contact')">
                            <a href=''>Contact</a>
                          </li>   -->    
                        </ul>
                      </div>
                    </div>

               <div ng-include="'templates/tab-menu.html'" class="container-fluid tab-menu hide">

                  </div>
               <div class="col-md-5 col-sm-8 signin-content" id="login">
                <div class="" ng-click="CloseCountryDropDown(clicked_dropdown)">

                  <div class="signin_exclusive ng-scope"  translate="HEADING_SIGNUP">REGISTER</div>
                  <section class="signinsidecontent">
                    <!-- <div class="errormsg"  ng-show="error_message">
                      <span translate="INVALID_PHONE_PASSWORD"></span>
                    </div> --> 
                    <div class="clearfix">
                      <form class="col-md-12 ng-pristine ng-invalid ng-invalid-required" name="form" method="post" novalidate="">
                        <!-- <div class="clearfix clearfix">
                          <div class="form-block input-field clearfix">
                            <input type="email" ng-model="user.email" name="uEmail" id="uEmail"  class="validate" ng-blur='email_errors = true;checkUniq()' required>
                            <div class="textbr"></div>
                            <label for="uEmail">Email</label>
                            <div class="errormsg width_100" ng-show="email_errors">
                              <span ng-show="form.uEmail.$error.required" translate="EMAIL_REQUIRED" class="ng-scope ng-hide">Enter your email</span>
                              <span ng-show="form.uEmail.$error.email" translate="INVALID_EMAIL_TEXT" class="ng-scope ng-hide">Email entered is invalid</span>
                              <span ng-show="already_taken &amp;&amp; (user.email.length > 0)" translate="EMAIL_TAKEN" class="ng-scope ng-hide">Email already taken</span>
                            </div>
                          </div>
                        </div> -->
                        <div class="clearfix clearfix">
                          <div class="col-md-6 col-sm-12  padding-left-0">
                            <div class="input-field clearfix">
                              <input type="text" class="validate ng-pristine needsclick ng-invalid ng-invalid-required" ng-model="user.first_name" name="uFristname" id="uFristname" ng-blur="first_name_errors = true" required="">
                              <div class="textbr"></div>
                              <label for="uFirstName" translate="FULL_NAME" class="ng-scope">First Name</label>
                              <div class="errormsg width_100" ng-show="first_name_errors">
                                <span ng-show="form.uFristname.$error.required" translate="FULL_NAME_REQUIRED" class="ng-scope">Enter First name</span>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6 col-sm-12 padding-right-0">
                            <div class="input-field clearfix">
                              <input type="text" class="validate ng-pristine needsclick ng-invalid ng-invalid-required" ng-model="user.last_name" name="uLastname" id="uLastname" ng-blur="last_name_errors = true" required="">
                              <div class="textbr"></div>
                              <label for="uLastName" translate="FULL_NAME" class="ng-scope">Last Name</label>
                              <div class="errormsg width_100" ng-show="last_name_errors">
                                <span ng-show="form.uLastname.$error.required" translate="FULL_NAME_REQUIRED" class="ng-scope">Enter Last name</span>
                              </div>
                            </div>
                          </div>
                        </div>
                         <div class="clearfix clearfix">
                          <div class="form-block input-field clearfix col-md-6 col-sm-12 padding-left-0">
                            <input type="email" ng-model="user.email" name="uEmail" id="uEmail"  class="validate" ng-blur='email_errors = true;checkUniq()' required>
                            <div class="textbr"></div>
                            <label for="uEmail">Email</label>
                            <div class="errormsg width_100" ng-show="email_errors">
                              <span ng-show="form.uEmail.$error.required" translate="EMAIL_REQUIRED" class="ng-scope ng-hide">Enter your email</span>
                              <span ng-show="form.uEmail.$error.email" translate="INVALID_EMAIL_TEXT" class="ng-scope ng-hide">Email entered is invalid</span>
                              <span ng-show="already_taken &amp;&amp; (user.email.length > 0)" translate="EMAIL_TAKEN" class="ng-scope ng-hide">Email already taken</span>
                            </div>
                          </div>
                        </div>
                        <div>
                             
                        </div>
                        <!-- <div class="clearfix clearfix">
                          <div class="country-field input-field dropdown">
                            <button type="button" class="btn btn-default dropdown-button btn-country" href="#" data-activates="selected6">{{countriesList.country}}</button>
                            <ul id='selected6' class='dropdown-content'>
                              <li ng-repeat="item in countries" ng-click="changeCountry(item.name)">
                                 {{item.name}}
                              </li>
                            </ul> 
                            <div class="textbr"></div>
                            <div class="errormsg ng-hide" ng-show="form.uRegion.$dirty || not_proper_country">
                              <span ng-show="form.uRegion.$error.required" translate="COUNTRY_REQUIRED" class="ng-scope ng-hide">Enter a country</span>
                              <span ng-show="not_proper_country &amp;&amp; !form.uRegion.$error.required" translate="COUNTRY_INVALID" class="ng-scope ng-hide">Enter a valid country</span>
                            </div>
                          </div>
                        </div>  -->
                       <!--  <div class="clearfix clearfix">
                        <div class="form-block input-field phcode clearfix">
                            <div class="codeDiv dropdown clearfix">
                              <button type="button" class="btn-code btn btn-default dropdown-button" href="#" data-activates="countriesCodeDown" ng-init="dropdown()"><span class="flag flag-{{user.region.iso | lowercase}}"></span><i class="fa fa-caret-down"></i>
                              </button>
                              <ul id='countriesCodeDown' class='dropdown-content'>
                                <li ng-repeat="country in countries" ng-click="selectUserCountry(country, true)">
                                  <a href>
                                    <div class="flagcode">
                                      <span class="flag flag-{{country.iso | lowercase}}"></span>
                                    </div>
                                    <span>{{country.name}}</span>
                                  </a>
                                </li>
                              </ul>
                              <input type="number" class="col-xs-9 validate" ng-model='user.phone' id="uPhone" name="uPhone"  ng-blur="phone_errors = true; checkUniq()" required  ng-focus='phone_errors=false;'>
                              <div class="textbr"></div>
                              <span><label class="active">Phone</label></span>
                              <div class="errormsg"  ng-show="phone_errors">
                                <span ng-show="form.uPhone.$error.required" translate="PHONE_REQUIRED">Tell us your phone number.</span>
                                <span ng-show="already_taken && (!form.uPhone.$error.required && !form.uPhone.$error.minlength &&!form.uPhone.$error.maxlength)" translate="PHONE_TAKEN">Phone number already taken.</span>
                              </div>
                            </div>
                          </div>
                        </div> -->
                        
                        <div class="clearfix clearfix">
                          <div class="clearfix col-md-6 col-xs-12 padding-left-0" ng-init="password_errors=false">
                            <div class="form-block input-field clearfix">
                              <input  type="password" ng-model="user.password" ng-minlength='8' name="uPassword" id='uPassword' class="validate" ng-blur='password_errors = true' required>
                              <div class="textbr"></div>
                              <label for='uPassword'>Password</label>
                              <div class="errormsg"  ng-show="password_errors">
                                <span ng-show="form.uPassword.$error.required" translate="PASSWORD_REQUIRED">Provide your password.</span>
                                <span ng-show="form.uPassword.$error.minlength">Try one with at least 8 characters</span>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6 col-xs-12 padding-right-0">
                            <div class="input-field clearfix">
                              <input type="password" ng-model="user.confirm_password" name="uConfirmPassword" id="uConfirmPassword" class="validate ng-pristine needsclick ng-invalid ng-invalid-required" ng-blur="confirm_password_errors = true;" required="">
                              <div class="textbr"></div>
                              <label translate="CONFIRM_PASSWORD" for="uConfirmPassword" class="ng-scope">Confirm</label>
                              <div class="errormsg ng-hide" ng-show="confirm_password_errors">
                                <span ng-show="form.uConfirmPassword.$error.required" translate="PASSWORD_REQUIRED" class="ng-scope">Enter Confirm password</span>
                                <span ng-show="(user.password !== user.confirm_password);" translate="CONFIRM_PASSWORD_REQUIRED" class="ng-scope ng-hide">Password and confirm password should be same</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="terms black-text normal join-agree">
                          <input type="checkbox" class="needsclick">
                          Join and agree to our <a href=""> Terms &amp; Condtions.</a> By joining, you will automatically receive offers via email.
                        </div>
                        <div class="rowf hide">
                          <div translate="PREFERRED_MESSENGER" class="black-text normal ng-scope">Select Preferred Messenger</div>
                          <div class="midalign">
                            <input type="radio" ng-model="user.preferred_messenger_name" ng-true-value="whatsapp" ng-false-value="" name="thing" value="whatsapp" id="whatsapp" class="ng-pristine ng-valid needsclick">
                            <label for="whatsapp" class="nopadding">
                              <span class="micon">
                                <img src="images/whatsapp.png">
                                <div style="width:100%;padding: 0px 32% 0 0%;" translate="WHATSAPP" class="ng-scope">WhatsApp</div>
                              </span>
                            </label>
                            <input type="radio" ng-model="user.preferred_messenger_name" ng-true-value="wechat" ng-false-value="" name="thing" value="wechat" id="wechat" class="ng-pristine ng-valid needsclick">
                            <label for="wechat" class="nopadding">
                              <span class="micon">
                                <img src="images/wechat.png"> 
                                <div translate="WECHAT" class="ng-scope">WeChat</div>
                              </span>  
                            </label>
                            <input type="radio" ng-model="user.preferred_messenger_name" ng-true-value="sms" ng-false-value="" name="thing" value="sms" id="sms" class="ng-pristine ng-valid needsclick">
                            <label for="sms" class="nopadding">
                              <span class="micon">
                                <img src="images/message.png">
                                <div translate="SMS" class="ng-scope">SMS</div>
                              </span>
                            </label>
                          </div>
                          
                        </div>
                        <div class="text-center">
                          <button ng-click="validate_field(); update(user)" class="margin0auto btn btn-block btnd margin-top1em signup-button" translate="SIGNUP">REGISTER</button>
                        </div>
                        <section class="gosignup">
                          <h5 class='black-text normal finveselogo text-center'> <span class='black-text normal'><span class="newto">ALREADY REGISTERED?</span> 
                          </h5>
                          <div class="col-xs-12 no_padding">
                            <button ng-click="renderPage('/signin')" type="button" class="btn margin-top1em login-button btn-primary waves-effect waves-light btn-block" >SIGN IN <!-- WITH <img src="img/logo/luxepedia.png"> --> </button>
                          </div>
                        </section>
                        <!-- <div translate="TERMS" class="terms black-text normal ng-scope">Continuing means you've read and agreed to Terms of Service and Privacy Policy</div> -->
                      </form>
                    </div>
                  </section>
                </div>
              </div>
            </div><!-- container-fluid end here -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
