<div class="scrollable ng-scope signin-page">
  <div class="scrollable-content scrollablecontent" >
    <div >
      <div id="middle-container">
        <div class="homeContainer">
          <div >
              <div class="container-fluid login no_padding">
                   <!-- <div ng-include="'templates/tab-menu.html'" class="container-fluid tab-menu">

                   </div> -->
                    <div class="container navbar navbar-app header_nav home">
                      <div class="navbar-header hidden-xs col-md-3 no_padding" >  
                        <a  href='#/' class="navbar-brand">
                          <span class="logo-text">F<span>I</span>NVESE</span>
                          <!-- <span class="logo_img"><img src="images/logo.png" ></span> -->
                        </a>
                      </div>
                      <div class="navbar-header visible-xs mobile-sidebar">
                          <div class="btn-group pull-left col-xs-2">
                              <div ui-toggle="uiSidebarLeft" class="btn sidebar-toggle">
                                <i class="fa fa-bars"></i> 
                              </div>
                            </div>
                           <div class="col-xs-8 logo-text text-center">F<span>I</span>NVESE</div> 
                           <div class="col-xs-2"></div>
                      </div>

                      <div id="navbar-collapse-1" class="topmainnav col-md-9 no_padding">
                        <ul class="nav navbar-nav navbar-right">
                          <!-- <li ng-class="why ? 'nav-selectd':''" ng-click="renderPage('/why')">
                            <a class="logo-text" href='' class="white-font">Dashboard</a>
                          </li> -->
                          <li ng-class="why ? 'nav-selectd':''" ng-click="renderPage('/why')">
                            <a class="logo-text" href='' class="white-font">Why Finvese</a>
                          </li>
                          <!-- <li ng-class="service ? 'nav-selectd':''" ng-click="renderPage('/service')">
                            <a href=''>Service</a>
                          </li> -->
                          <li ng-class="login ? 'nav-selectd':''" ng-click="renderPage('/signin')" ng-if="!getUser()">
                            <a href='' class="white-font">Sign In</a>
                          </li>
                          <!-- <li ng-class="signup ? 'nav-selectd':''" ng-click="renderPage('/signup')" ng-if="!getUser()">
                            <a href=''>SignUp</a>
                          </li> -->
                          <li ng-class="signout ? 'nav-selectd':''" ng-click="renderPage('/signout')" ng-if="getUser()" class="userProfile">
                            <a style="padding-left:0"><img src="images/profile.png" /> <span style="color:#ffffff" ng-bind="advisorname"></span></a>
                          
                            
                            <!-- <a href=''>Signout</a> -->
                          </li>
                          <!-- <li ng-class="contact ? 'nav-selectd':''" ng-click="renderPage('/contact')">
                            <a href=''>Contact</a>
                          </li>   -->    
                        </ul>
                      </div>
                    </div>
                  <div id="login" class="clearfix">
                    <div class="signin_exclusive ng-scope"  translate="HEADING_SIGNUP"> SIGN IN</div>
                    <div class="text-center color-red inavalid-message" ng-show="errorSignin">Invaild Username or Password</div>
                    <form name="form" id="loginform" method="post" class="clearfix col-xs-12">
                      <div class="input-field col-xs-12 no_padding">
                        <input type="text" ng-model="user.email" name="uName" id="user_login" class="validate" ng-blur='username_errors = true' required>
                        <div class="textbr"></div>
                        <label for="uName">Username</label>
                        <div class="errormsg width_100" ng-show="username_errors">
                          <span ng-show="form.uName.$error.required" class="ng-scope">   
                            Enter your User name
                          </span>
                        </div>
                      </div>
                      <div class="input-field col-xs-12 no_padding">
                        <input type="password" name="upassword" ng-model="user.password"  id="user_pass" class="validate" ng-blur="password_errors = true" required>
                        <div class="textbr"></div>
                        <label for="upassword">Password</label>
                        <div class="errormsg width_100" ng-show="password_errors">
                          <span ng-show="form.upassword.$error.required" class="ng-scope">   
                            Enter your password
                          </span>
                        </div>
                      </div>
                      <div class="signin-forgot-link">
                          <a ng-click="update(user, true)" class="signupinsignin clearfix">
                            <span>
                              Forgot
                            </span>
                            <span>?</span>
                          </a>
                      </div>
                      <div class="submit input-field col-xs-12 no_padding text-center">
                        <button type="submit" name="wp-submit" id="wp-submit" class="btn signup-button btn-primary waves-effect waves-light btn-block text-center" ng-click="update(user, false)">Sign In</button>
                      </div>
                      <section class="gosignup col-xs-12 no_padding">
                        <h5 class='black-text normal finveselogo text-center'> <span class='black-text normal'><span class="newto">NEW TO</span> <img src="images/logo.png"><span class="color-red text-top"> ? </span> </span> <!-- <a ng-click="renderPage('/signup')" translate="SIGNUP" class="signupinsignin"> Sign up </a> -->
                        </h5>
                        <div class="col-xs-12 no_padding text-center">
                          <button ng-click="renderPage('/signup')" type="button" class="btn login-button btn-primary waves-effect waves-light btn-block" >REGISTER <!-- WITH <img src="img/logo/luxepedia.png"> --> </button>
                        </div>
                      </section>
                     <!--  <div class="text-center col-xs-12 singup_render">
                         <span>New to Finvese?</span>
                         <span ng-click="renderPage('/signup')" class="singup_font">Signup</span>
                      </div>
                      <div id="nav" class="col-xs-12 no_padding text-center">
                        <a href="" title="Password Lost and Found" id="forgot_password" ng-click="renderPage('/forget')">Forgot your password?</a>
                      </div> -->

                    </form>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>