<div class="verification-page scrollable ng-scope">
  <div class="scrollable-content scrollablecontent">
    <div>
      <div id="middle-container">
        <div class="homeContainer">
          <div>
            <div class="container-fluid login">
              <div class="col-md-5 col-sm-8 signin-content" ng-if="checkStatus == 'success'">
                <div class="account-heading text-center text-uppercase" ng-if="checkStatus == 'success'">
                  <h4></h4>
                </div>
                <form name="form" class="hoverable" ng-if="checkStatus == 'success'">
                    <div class="text-center img_status_parents">
                       <div class="account-heading text-center text-uppercase signin_exclusive">
                        Thank You For Sign up
                      </div>
                      <img src="images/green_sucess.png ">
                    </div>
                    <div class="input-field clearfix verification_msg text-center text_blck">   
                       Your email is verified successfully,
                    </div>
                    <div class="input-field clearfix verification_msg text-center text_blck">
                       please login by clicking here <a href="" ng-click="renderPage('/login')" class="bold_blck"> log in</a>
                    </div>
                </form>
              </div>
            </div>
            <div class="container-fluid login">
              <div class="col-md-5 col-sm-8 signin-content" ng-if="checkStatus != 'success'">
                <div class="account-heading text-center text-uppercase" ng-if="checkStatus != 'success'">
                  <h4></h4>
                </div>
                <form name="form" class="hoverable" ng-if="checkStatus != 'success'">
                  <div class="text-center img_status_parents">
                    <div class="account-heading text-center text-uppercase signin_exclusive">
                      Invalid email verification
                    </div>
                    <img src="images/red_failure.png ">
                  </div>
                  <div class="input-field clearfix verification_msg text-center text_blck">   
                    Link which you are using to validate the email, 
                  </div>
                  <div class="input-field clearfix verification_msg text-center text_blck">   
                    is invalid or link is expired
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
