<div class="scrollable ng-scope">
  <div class="scrollable-content scrollablecontent">
    <div class="verify_email">
      <div id="middle-container">
        <div class="account-container clearfix">
          <div class="card hoverable col-lg-4 col-md-6 col-sm-8 col-lg-offset-4 col-md-offset-3 col-sm-offset-2 signin-content">
            <div class="account-heading text-center text-uppercase signin_exclusive">
              Thank You For Sign up
            </div>
            <form name="form">
                <div class="input-field clearfix verification_msg text-center text_blck">   
                      Please verify the email address by clicking the verification link sent to your email address, and then 
                      <a href="" ng-click="renderPage('/signin')" class="bold_blck"> Sign in</a>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
