
  <div class="container-fluid edit_details"><!--Container-fluid start here -->
    <form name="form" novalidate>
      <div class="clearfix"><!-- clients information start here -->
      <div class="field_title title-padding" id="advisorInformationLabel">Advisor Information</div>
      <div class="col-md-6 col-sm-6 padding-left-0"><!-- first Name to source income input fields start here -->
        <div class="input-field">
          <input type="text" id="advisorName" class="validate" name="advisorName" ng-model="advisor.advisorName" ng-blur='advisor_name_errors = true'  required>
          <div class="textbr"></div>
          <label id="advisorNameLabel" for="advisorName">Advisor Name</label>
          <div class="errormsg width_100" ng-show="advisor_name_errors">
            <span ng-show="form.advisorName.$error.required">Enter Advisor Name</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 padding-right-0">
        <div class="input-field">
          <input type="text" id="advisorFirm" name="advisorFirm" ng-model="advisor.advisorFirm" ng-blur='advisor_firm_errors = true'  required>
          <label id="advisorFirmLabel" for="advisorFirm">Advisor Firm</label>
        </div>
        <div class="errormsg width_100 hide" ng-show="advisor_firm_errors">
          <span ng-show="form.advisorFirm.$error.required">Enter Advisor Firm</span>
        </div>
      </div>
     
     
      <div class="col-md-6 col-sm-6 padding-left-0">
        <div class="input-field">
          <input type="text" id="defaultLanguage" class="validate" name="default_language" ng-model="advisor.default_language" ng-blur='default_language_errors = true'  required>
          <div class="textbr"></div>
          <label id="defaultLanguageLabel" for="default_language">Default Language</label>
          <div class="errormsg width_100" ng-show="default_language_errors">
            <span ng-show="form.default_language.$error.required">Enter en or ch</span>
          </div>
        </div>
      </div>
    

        
      </div><!-- clients information end here -->

      <div class="clearfix"><!-- contacts information start here -->
          <div class="field_title" id="contactInformationLabel">Contact information</div>
          <div class="col-md-6 col-sm-6 padding-left-0">
              <div class="input-field">
                  <input type="text" id="emailAddress" name="emailAddress" ng-model="advisor.emailAddress" class="validate" ng-blur='email_address_errors = true' required>
                  <label for="emailAddress" id="emailAddressLabel">Email Address</label>
                  <div class="textbr"></div>
                  <div class="errormsg width_100" ng-show="email_address_errors">
                    <span ng-show="form.emailAddress.$error.required">Enter Email</span>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-sm-6 padding-right-0">
              <div class="input-field">
                  <input type="text" id="address1" ng-model="advisor.address1" name="address1" class="validate" ng-blur='address_errors = true' required>
                  <label for="address1" id="addressLine1Label">Address Line 1 </label>
                  <div class="textbr"></div>
                  <div class="errormsg width_100 hide" ng-show="address_errors">
                    <span ng-show="form.address1.$error.required">Enter Address</span>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-sm-6 padding-left-0">
              <div class="input-field">
                <input type="number" id="teleNumber" name="teleNumber" ng-model="advisor.teleNumber" class="validate" ng-blur='telephone_errors = true' required>
                <label for="teleNumber" id="telephoneNumberLabel">Telephone Number</label>
                <div class="textbr"></div>
                <div class="errormsg width_100 hide" ng-show="telephone_errors">
                  <span ng-show="form.teleNumber.$error.required">Enter Telephone Number</span>
                </div>
              </div>
          </div>
          <div class="col-md-6 col-sm-6 padding-right-0">
              <div class="input-field">
                <input type="text" id="address2" ng-model="advisor.address2">
                <label for="address2" id="addressLine2Label">Address Line 2</label>
              </div>
          </div>
          <div class="col-md-6 col-sm-6 padding-left-0">
              <div class="input-field">
                  <input type="text" id="additionalPhoneNumber" ng-model="advisor.additionalPhoneNumber">
                  <label for="additionalPhoneNumber" id="additionalPhoneLabel">Additional Phone Number (Optional)</label>
              </div>
          </div>
          <div class="col-md-6 col-sm-6 padding-right-0">
              <div class="col-md-6 col-sm-6 padding-left-0 padding-right-scape-5">
                  <div class="input-field">
                      <input type="text" id="city" name="city" class="width_input" ng-model="advisor.city" class="validate" ng-blur='city_errors = true' required>
                      <label for="city" id="cityLabel">City</label>
                      <div class="textbr"></div>
                      <div class="errormsg width_100 hide" ng-show="city_errors">
                        <span ng-show="form.city.$error.required">Enter City</span>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 col-sm-6 padding-right-0 padding-left-scape-5">
                  <div class="input-field">
                      <input type="text" id="postCode" ng-model="advisor.postCode">
                      <label for="postCode" id="postCodeLabel">Post Code</label>
                  </div>
              </div>
              <div class="input-field col-sm-12 no_padding">
                  <input type="text" id="Country" name="Country" ng-model="advisor.country" class="validate" ng-blur='country_errors = true' required>
                  <label for="Country" id="countryLabel"> Country </label>
                  <div class="textbr"></div>
                  <div class="errormsg width_100 hide" ng-show="country_errors">
                    <span ng-show="form.Country.$error.required">Enter Country</span>
                  </div>
              </div>
          </div>
      </div><!-- contacts information end here -->
     
      <div class="col-sm-12 no_padding">

       <button class="btn btn-black-bg waves-effect col-sm-2 pull-right text-center" type="button" ng-click="saveAdvisorDetails()" id="submitLabel">Save</button>
       <button class="btn btn-cancel-bg waves-effect col-sm-2 pull-right text-center cancel text-center" type="button" id="cancelLabel">Cancel</button>
       <button class="btn btn-cancel-bg waves-effect col-sm-2 text-center cancel text-center" type="button" ng-click="changePassword()" id="changePasswordLabel">Change Password</button>

      </div>
  </form>
</div><!-- Container-fluid end here -->

<script>
$(document).ready(function(){
 $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 80, // Creates a dropdown of 15 years to control year
    max: [2017,7,14]
  });
 $('select').material_select();
   
});
</script>

<script type="text/javascript" src="../js/Functions.js"></script>