  <div class="container-fluid"><!--Container-fluid start here -->
    <div class="clearfix">

      <div class="col-md-5 col-sm-12 no_padding selected-assets">
        <div class="risk-title margin-bottom-0 text-center padding-left-0" id="selectedAssetsLabel">SELECTED ASSETS</div>
        <div class="clearfix not-stocks-assets fixed-income">
          <div class="assets_class_section col-sm-12">
            
             <div class="assets_class_list assets_class_list{{$index}} clearfix margin-bottom-10" ng-repeat="category in asset_classes" ng-if="selected_category_assets[category.id]" ng-hide="selected_category_assets[category.id].length == 0">
                <div class="categories categories categories2_{{$index}} col-sm-12 clearfix" ng-click="showToggelSubcategory2($index)">
                  <div class="col-sm-11 no_padding opened" ng-class="$index ? 'opened' : ''">{{category.name}}</div>
                  <div class="col-sm-1 no_padding">
                    <span class="plus" ng-class="openall ? 'hide' : (($index ? 'hide' : 'show'))"> <i class="fa fa-plus-circle"></i> </span>
                    <span class="minus" ng-class="openall ? 'show' : (($index ? 'show' : 'hide'))"> <i class="fa fa-minus-circle"></i> </span>
                  </div>
                </div>
                <ul class="subcategories col-sm-12 subcategories2_{{$index}} show" id="selectedAssets" ng-class="openall ? 'show':(($index) ? 'show' : 'hide')">
                  <li ng-attr-id="asset_{{asset_class.id}}" ng-repeat="asset_class in category.asset_classes" ng-if="selected_category_assets[category.id].indexOf(asset_class.id) >= 0" ng-class="itemselect ? 'subselected':''">
                    {{asset_class.name}}
                     <i class="fa fa-times-circle pull-right" ng-click="itemselect=!itemselect; changebg(category, asset_class);"></i>
                  </li>
                </ul>

                <span ng-if="$last">
                  <script>
                    $(document).ready(function() {
                       $('.categories').on('click', function(){
                         $(this).css("border-bottom","1px solid #333");
                           $(this).children().children('.plus').toggle();
                           $(this).parent().siblings().children('.categories').css("border-bottom","1px solid #9e9e9e");
                           $(this).children().children('.minus').toggle();
                       });

                   });
                  </script>
                </span>
              </div>
          </div>
        </div>
        <div class="stocks-assets selection">
          <div class="assets_class_section col-sm-12">
            
             <div class="assets_class_list assets_class_list{{$index}} clearfix margin-bottom-10" ng-repeat="category in asset_classes" ng-if="selected_category_assets[category.id]" ng-hide="selected_category_assets[category.id].length == 0">
                <div class="categories categories categories2_{{$index}} col-sm-12 clearfix" ng-click="showToggelSubcategory2($index)">
                  <div class="col-sm-11 no_padding opened" ng-class="$index ? 'opened' : ''">{{category.name}}</div>
                  <div class="col-sm-1 no_padding">
                    <span class="plus" ng-class="openall ? 'hide' : (($index ? 'hide' : 'show'))"> <i class="fa fa-plus-circle"></i> </span>
                    <span class="minus" ng-class="openall ? 'show' : (($index ? 'show' : 'hide'))"> <i class="fa fa-minus-circle"></i> </span>
                  </div>
                </div>
                <ul class="subcategories col-sm-12 subcategories2_{{$index}} show" id="selectedAssets" ng-class="openall ? 'show':(($index) ? 'show' : 'hide')">
                  <li ng-attr-id="asset_{{asset_class.id}}" ng-repeat="asset_class in category.asset_classes" ng-if="selected_category_assets[category.id].indexOf(asset_class.id) >= 0" ng-class="itemselect ? 'subselected':''">
                    {{asset_class.name}}
                     <i class="fa fa-times-circle pull-right" ng-click="itemselect=!itemselect; changebg(category, asset_class);"></i>
                  </li>
                </ul>

                <span ng-if="$last">
                  <script>
                    $(document).ready(function() {
                       $('.categories').on('click', function(){
                         $(this).css("border-bottom","1px solid #333");
                           $(this).children().children('.plus').toggle();
                           $(this).parent().siblings().children('.categories').css("border-bottom","1px solid #9e9e9e");
                           $(this).children().children('.minus').toggle();
                       });

                   });
                  </script>
                </span>
              </div>
          </div>
        </div>
        <div class="not-stocks-assets no-fixed-income">
          <div class="assets_class_section col-sm-12">
            
             <div class="assets_class_list assets_class_list{{$index}} clearfix margin-bottom-10" ng-repeat="category in asset_classes" ng-if="selected_category_assets[category.id]" ng-hide="selected_category_assets[category.id].length == 0">
                <div class="categories categories categories2_{{$index}} col-sm-12 clearfix" ng-click="showToggelSubcategory2($index)">
                  <div class="col-sm-11 no_padding opened" ng-class="$index ? 'opened' : ''">{{category.name}}</div>
                  <div class="col-sm-1 no_padding">
                    <span class="plus" ng-class="openall ? 'hide' : (($index ? 'hide' : 'show'))"> <i class="fa fa-plus-circle"></i> </span>
                    <span class="minus" ng-class="openall ? 'show' : (($index ? 'show' : 'hide'))"> <i class="fa fa-minus-circle"></i> </span>
                  </div>
                </div>
                <ul class="subcategories col-sm-12 subcategories2_{{$index}} show" id="selectedAssets" ng-class="openall ? 'show':(($index) ? 'show' : 'hide')">
                  <li ng-attr-id="asset_{{asset_class.id}}" ng-repeat="asset_class in category.asset_classes" ng-if="selected_category_assets[category.id].indexOf(asset_class.id) >= 0" ng-class="itemselect ? 'subselected':''">
                    {{asset_class.name}}
                     <i class="fa fa-times-circle pull-right" ng-click="itemselect=!itemselect; changebg(category, asset_class);"></i>
                  </li>
                </ul>

                <span ng-if="$last">
                  <script>
                    $(document).ready(function() {
                       $('.categories').on('click', function(){
                         $(this).css("border-bottom","1px solid #333");
                           $(this).children().children('.plus').toggle();
                           $(this).parent().siblings().children('.categories').css("border-bottom","1px solid #9e9e9e");
                           $(this).children().children('.minus').toggle();
                       });

                   });
                  </script>
                </span>
              </div>
          </div>
        </div>
        <div class="selection_msg text-right col-sm-12">
          <span class="selection_count">{{selected_asset_classes.length}}</span><span id="numSelectedLabel"> Classes Selected</span></div>
        <div class="col-sm-12 no_padding">
           <button class="btn btn-black-bg waves-effect col-sm-3 pull-right text-center class_submit" ng-click="saveAssetClasses()" id="submitLabel">NEXT</button>
        </div>
      </div>
      <div class="col-md-1 col-sm-12 asset-select padding-left-20 padding-right-20 asset-select-arrow text-center">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
      </div>
      <div class="col-md-6 col-sm-12 no_padding asset-class-selection-section">
        <div class="risk-title margin-bottom-0 text-center padding-left-0"id="assetClassSelectionLabel">ASSET CLASS SELECTION</div>
        <div class="assets_class_section col-sm-12">
          <div class="col-sm-12 no_padding all_classes hide" ng-click="changeOpenAll(openall)">
            <div class="col-sm-11 no_padding width_class">ALL ASSET CLASSES</div>
            <div class="col-sm-1 no_padding minus_plus">
              <span class="plus" ng-class="openall ? 'hide' : 'show'"> <i class="fa fa-plus-circle"></i> </span>
              <span class="minus" ng-class="openall ? 'show' : 'hide'"> <i class="fa fa-minus-circle"></i> </span>
            </div>
           </div>
           <div class="not-stocks-assets fixed-income">
              <div class="assets_class_list assets_class_list{{$index}} clearfix margin-bottom-10" ng-repeat="category in asset_classes">
                <div class="categories categories_{{$index}} col-sm-12 clearfix" ng-click="showToggelSubcategory($index)">
                  <div class="col-sm-11 no_padding " ng-class="$index == 3 ? 'opened' : ''">{{category.name}}</div>
                  <div class="col-sm-1 no_padding">
                    <span class="plus" ng-class="openall ? 'hide' : (($index == 3 ? 'hide' : 'show'))"> <i class="fa fa-plus-circle"></i> </span>
                    <span class="minus" ng-class="openall ? 'show' : (($index == 3 ? 'show' : 'hide'))"> <i class="fa fa-minus-circle"></i> </span>
                  </div>
                </div>
                <ul class="subcategories subcategories1 col-sm-12 subcategories_{{$index}}" id="#demo" ng-class="openall ? 'show':(($index == 3) ? 'show' : 'hide')">
                  <li ng-attr-id="asset_{{asset_class.id}}" ng-repeat="asset_class in category.asset_classes" ng-click="itemselect=!itemselect; changebg(category, asset_class);" ng-class="itemselect ? 'subselected':''">{{asset_class.name}}</li>
                </ul>

                <span ng-if="$last">
                  <script>
                    $(document).ready(function() {
                       $('.categories').on('click', function(){
                         $(this).css("border-bottom","1px solid #333");
                           $(this).children().children('.plus').toggle();
                           $(this).parent().siblings().children('.categories').css("border-bottom","1px solid #9e9e9e");
                           $(this).children().children('.minus').toggle();
                       });
                       $('.subcategories1 > li').on('click', function(){
                         $(this).toggleClass();
                       });

                   });
                  </script>
                </span>
              </div>
            </div>
           <div class="stocks-assets" ng-click="noSelectedItems()">
             <div class="assets_class_list assets_class_list{{$index}} clearfix margin-bottom-10" ng-repeat="category in asset_classes">
                <div class="categories categories_{{$index}} col-sm-12 clearfix" ng-click="showToggelSubcategory($index)">
                  <div class="col-sm-11 no_padding " ng-class="$index == 3 ? 'opened' : ''">{{category.name}}</div>
                  <div class="col-sm-1 no_padding">
                    <span class="plus" ng-class="openall ? 'hide' : (($index == 3 ? 'hide' : 'show'))"> <i class="fa fa-plus-circle"></i> </span>
                    <span class="minus" ng-class="openall ? 'show' : (($index == 3 ? 'show' : 'hide'))"> <i class="fa fa-minus-circle"></i> </span>
                  </div>
                </div>
                <ul class="subcategories subcategories1 col-sm-12 subcategories_{{$index}}" id="#demo" ng-class="openall ? 'show':(($index == 3) ? 'show' : 'hide')">
                  <li ng-attr-id="asset_{{asset_class.id}}" ng-repeat="asset_class in category.asset_classes" ng-click="itemselect=!itemselect; changebg(category, asset_class);" ng-class="itemselect ? 'subselected':''">{{asset_class.name}}</li>
                </ul>

                <span ng-if="$last">
                  <script>
                    $(document).ready(function() {
                       $('.categories').on('click', function(){
                         $(this).css("border-bottom","1px solid #333");
                           $(this).children().children('.plus').toggle();
                           $(this).parent().siblings().children('.categories').css("border-bottom","1px solid #9e9e9e");
                           $(this).children().children('.minus').toggle();
                       });
                       $('.subcategories1 > li').on('click', function(){
                         $(this).toggleClass();
                       });

                   });
                  </script>
                </span>
              </div>
            </div>
            <div class="not-stocks-assets no-fixed-income">
             <div class="assets_class_list assets_class_list{{$index}} clearfix margin-bottom-10" ng-repeat="category in asset_classes">
              <div class="categories categories_{{$index}} col-sm-12 clearfix" ng-click="showToggelSubcategory($index)">
                <div class="col-sm-11 no_padding " ng-class="$index == 3 ? 'opened' : ''">{{category.name}}</div>
                <div class="col-sm-1 no_padding">
                  <span class="plus" ng-class="openall ? 'hide' : (($index == 3 ? 'hide' : 'show'))"> <i class="fa fa-plus-circle"></i> </span>
                  <span class="minus" ng-class="openall ? 'show' : (($index == 3 ? 'show' : 'hide'))"> <i class="fa fa-minus-circle"></i> </span>
                </div>
              </div>
              <ul class="subcategories subcategories1 col-sm-12 subcategories_{{$index}}" id="#demo" ng-class="openall ? 'show':(($index == 3) ? 'show' : 'hide')">
                <li ng-attr-id="asset_{{asset_class.id}}" ng-repeat="asset_class in category.asset_classes" ng-click="itemselect=!itemselect; changebg(category, asset_class);" ng-class="itemselect ? 'subselected':''">{{asset_class.name}}</li>
              </ul>

              <span ng-if="$last">
                <script>
                  $(document).ready(function() {
                     $('.categories').on('click', function(){
                       $(this).css("border-bottom","1px solid #333");
                         $(this).children().children('.plus').toggle();
                         $(this).parent().siblings().children('.categories').css("border-bottom","1px solid #9e9e9e");
                         $(this).children().children('.minus').toggle();
                     });
                     $('.subcategories1 > li').on('click', function(){
                       $(this).toggleClass();
                     });

                 });
                </script>
              </span>
            </div>
            </div>
        </div>
      </div>
      
      <div class="submitPopup hide" ng-click="closePopup()">
          <div>
            <div>
              You must select at least one asset class.
              <i class="fa fa-times" aria-hidden="true" ng-click="closePopup()"></i>
            </div>
          </div>
      </div>
    </div>

    <div class="clearfix">
      <div class="col-md-3 col-sm-6 padding-left-0 padding-right-20">
        <div class="assetClass-charts">
          <div class="risk-title margin-bottom-0 text-center line-title" id="assetClassRiskReturnLabel">ASSET CLASS RISK RETURN<!-- <img src="images/fullscreen.png" class="view-icon"> --></div>
          <div id="assetClassRiskReturn" style="min-width: 230px; height: 360px; max-width: 250px; margin: 0 auto"></div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 padding-left-0 padding-right-20">
        <div class="assetClass-charts">
          <div class="risk-title margin-bottom-0 text-center line-title" id="equitiesLabel">EQUITIES</div>
          <div id="assetEquities" style="min-width: 230px; height: 360px; max-width: 250px; margin: 0 auto"></div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 padding-left-0 padding-right-20">
        <div class="assetClass-charts">
          <div class="risk-title margin-bottom-0 text-center line-title" id="fixedIncomeLabel">FIXED INCOME</div>
          <div id="assetBonds" style="min-width: 230px; height: 360px; max-width: 250px; margin: 0 auto"></div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 padding-left-0 padding-right-0">
        <div class="assetClass-charts">
          <div class="risk-title margin-bottom-0 text-center line-title" id="hedgeFundsLabel">HEDGE FUNDS</div>
          <div id="assetHedge" style="min-width: 230px; height: 360px; max-width: 250px; margin: 0 auto"></div>
        </div>
      </div>
    </div>

    <div class="col-md-5 col-sm-12 no_padding selected-assets hide">
      <div class="risk-title margin-bottom-0 text-center padding-left-15">SELECTED ASSETS</div>
      <div class="assets_class_section col-sm-12">
        <!-- <div class="col-sm-12 no_padding all_classes" ng-click="changeOpenAll(openall)">
          <div class="col-sm-11 no_padding width_class">ALL ASSET CLASSES</div>
          <div class="col-sm-1 no_padding minus_plus">
            <span class="plus" ng-class="openall ? 'hide' : 'show'"> <i class="fa fa-plus-circle"></i> </span>
            <span class="minus" ng-class="openall ? 'show' : 'hide'"> <i class="fa fa-minus-circle"></i> </span>
          </div>
         </div> -->
         <div class="assets_class_list clearfix assets_class_list{{$index}}" ng-repeat="category in asset_classes" ng-if="selected_category_assets[category.id]">
            <div class="categories categories2_{{$index}} col-sm-12 clearfix">
              <div class="col-sm-11 no_padding ">{{category.name}}</div>
              <!-- <div class="col-sm-1 no_padding">
                <span class="plus" ng-class="openall ? 'hide' : (($index == 0 ? 'hide' : 'show'))"> <i class="fa fa-plus-circle"></i> </span>
                <span class="minus" ng-class="openall ? 'show' : (($index == 0 ? 'show' : 'hide'))"> <i class="fa fa-minus-circle"></i> </span>
              </div> -->
            </div>
            <ul class="subcategories col-sm-12 subcategories_{{$index}}" id="#demo">
              <li ng-attr-id="asset_{{asset_class.id}}"  ng-repeat="asset_class in category.asset_classes" ng-if="selected_category_assets[category.id].indexOf(asset_class.id) >= 0">{{asset_class.name}}<i class="fa fa-times-circle pull-right" ng-click="itemselect=!itemselect; changebg(category, asset_class);"></i> </li>
            </ul>

           <!--  <span ng-if="$last">
              <script>
                $(document).ready(function() {
                   $('.categories').on('click', function(){
                     $(this).css("border-bottom","1px solid #333");
                       $(this).children().children('.plus').toggle();
                       $(this).parent().siblings().children('.categories').css("border-bottom","1px solid #9e9e9e");
                       $(this).children().children('.minus').toggle();
                   });

               });
              </script>
            </span> -->
          </div>

      </div>
      <div class="selection_msg text-right col-sm-12">
        <span class="selection_count">{{selected_asset_classes.length}}</span> classes Selected</div>
      <div class="col-sm-12 no_padding">
         <button class="btn btn-black-bg waves-effect col-sm-3 pull-right text-center class_submit" ng-click="saveAssetClasses()">SUBMIT</button>
      </div>
    </div>

    </div><!--Container-fluid  end here -->

<script>
$(document).ready(function(){
 $('select').material_select();
});
</script>


<script type="text/javascript" src="../js/Functions.js"></script>