
  <div class="container-fluid"><!--Container-fluid start here -->
      <!-- <div class="col-sm-12 expert no_padding">Expert Advisory Wealth Management System</div> --> 
      <div class="">
          <div class="height-left"><!-- port folio start here -->
            <form>
              <div class="height-element clearfix">
              <div class="clearfix">
              <div class="risk-title margin-bottom-0 text-center padding-left-15" id="riskToleranceLabel">RISK TOLERANCE</div>
              <div class="col-sm-12 padding-top-20 margin-bottom-20 bg-color-e7e7 padding-right-0">
                <md-radio-group  ng-model="data.group1" >
                  <div class="col-xs-4 no_padding display-flex-baseline padding-left-20 padding-left-landscape-10">
                    <md-radio-button value="Risk"  id="risk" class="md-warn col-md-1 col-sm-2 checked padding-right-0" ng-click="desiredRisk()" ng-checked="updateTarget(0)">
                    </md-radio-button>
                    <div class="col-md-11 col-sm-10 input_border">
                      <span>{{targetRadio.group1}} <span>(%)</span></span><input type="number" id="target_risk" min="0" step="0.01" ng-model="target.risk" ng-change="updateTargetRisk(target.risk)"/>
                    </div>
                  </div>
                  <div class="col-xs-4 no_padding display-flex-baseline">
                    <md-radio-button value="Return" id="return" class="md-warn col-md-1 col-sm-2 padding-right-0"  ng-click="desiredReturn()" ng-checked="updateTarget(1)">
                    </md-radio-button>
                    <div class="col-md-11 col-sm-10 input_border">
                      <span>{{targetRadio.group2}} <span>(%)</span></span><input type="number" id="target_return" min="0" step="0.01" ng-model="target.return" ng-change="updateTargetReturn(target.return)" />
                    </div>
                  </div>
                  <div class="col-xs-4 no_padding display-flex-baseline padding-left-15">
                    <md-radio-button value="Loss" class="md-warn checked col-md-1 col-sm-2 padding-right-0" ng-click="desiredLoss()" ng-checked="updateTarget(2)">
                    </md-radio-button>
                    <div class="col-md-11 col-sm-10 input_border">
                     <span>{{targetRadio.group3}} <span>(%)</span></span><input type="number" id="target_loss" min="0" step="0.01" ng-model="target.loss" ng-change="updateTargetLoss(target.loss)" />
                    </div>
                  </div>
                </md-radio-group>
              </div>
            </div>
              <div class="asset-allocation-portfolio clearfix">
              <div class="risk-title margin-bottom-0 text-left padding-left-15" id="portfolioLabel">PORTFOLIO</div>
              <div class="table-portfolio clearfix">
              <table class="sortable table table-striped Portfolio table-hover asset_table col-sm-12" id="allocation_table">
                  <tbody>
                  <thead>
                    <tr class="background_color">
                      <th class="table-sortable:default index{{$index}}" ng-repeat="category in assets_head">{{category}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="item in asset_allocations">
                      <td>{{item.asset_description  }}</td>
                      <td>{{item.estimated_return | number:2 }}</td>
                      <td>{{item.historical_return | number:2 }}</td>
                      <td>{{item.estimated_risk | number:2}}</td>
                      <td>{{item.asset_weight | number:2}}</td>
                      <td>{{item.client_weight}}</td>
                      <td><input type="number" ng-model="asset_allocations[$index.toString()]['min_constraint']"  min="0" step="0.1"  ng-blur="updateValuesMin(asset_allocations[$index.toString()]['min_constraint'],$index.toString())"></td>
                      <td><input type="number" ng-model="asset_allocations[$index.toString()]['max_constraint']"  min="0" step="0.1"  ng-blur="updateValuesMax(asset_allocations[$index.toString()]['maxConstraint'],$index.toString())"></td>
                      <td class="desired-return">
                        <div class="input-field">
                            <input type="number" ng-model="asset_allocations[$index.toString()]['desired_return']"  min="0" step="0.1"  ng-blur="updateValues(asset_allocations[$index.toString()]['desired_return'],$index.toString())">
                        </div>
                      </td>
                      <td class="desired-risk">
                        <div class="input-field">
                            <input type="number"  ng-model="asset_allocations[$index.toString()]['desired_risk']" min="0" step="0.01">
                        </div>
                      </td>
                      <td ng-if="$last" class='hide'>
                        <span ng-init="pieCharts('#semi_circle_chart', 'Advisory Model Portfolio', 'center', 'top', 30, {color: '#4D7FBA',fontWeight: 'bold',fontSize: '15px !important'}, buildChartData(asset_allocations))"></span>
                      </td>
                      <td ng-if="$last" class='hide'>
                        <span ng-init="checked()"></span>
                      </td>
                    </tr>
                  </tbody>
                  </table>
                  </div>
                    <div class="col-sm-12 text-right no_padding">
                    <button type="button" class="btn btn-black-bg waves-effect waves-light col-sm-3" id="optimize" ng-click='optimizeAllocation()'>OPTIMIZE</button>
                    <div class="col-xs-1 pull-right"></div>
                    <button type="button" class="btn btn-black-bg pull-left waves-effect waves-light col-sm-3" id="default" ng-click='copyAllocation()' >DEFAULT VIEW</button>
                  </div>
                  </div>

                  </div>
                 
                  </form>
                 </div><!-- portfolio end here -->
                <div class="col-sm-4 col-xs-12 no_padding bg-color-white">
                  <div class="charts_section clearfix"><!-- Advisory Model & client Portfolio start here -->
                    <div class="risk-title margin-bottom-0 text-center padding-left-15" id="advisoryModelPortfolioLabel">Advisory Model Portfolio</div>
                    <div id="containers col-sm-12">
                        <div id="semi_circle_chart" class="col-sm-12 no_padding" style="min-width: 250px; height:320px; max-width: 500px"></div>
                    </div>
                  </div><!-- Advisory Model & client Portfolio end here -->
                  <div class="col-sm-3"></div>
                    <button type="button" class="btn btn-black-bg waves-effect waves-light col-sm-6" id="save" ng-click='saveAllocation()' >SAVE THIS PORTFOLIO</button>
                  <div class="col-sm-3"></div>
                </div>
                <div class="col-sm-8 col-xs-12 no_padding">
                </div>
                <div class="col-sm-4 col-xs-12 no_padding">
                    
                </div>
          
      </div>          

  </div><!--Container-fluid  end here -->

<script type="text/javascript">
$(document).ready(function(){
 $('select').material_select();
 $('.checked').click(function(){
   $(this).parent().siblings().removeClass('default-checked');
 })
 // var height = $('.height-element').height();
 // $(".charts_section").css("height", $(".height-element").height() + 20);
 // var height2 = $('.charts_section').height();

 
});
</script>
 <script type="text/javascript" src="../js/Functions.js"></script>
