  <div class="container-fluid"><!--Container-fluid start here -->
    <form name="form" >
      <div class="cash-assets">
          <div class="assetinput-title" id="cashLabel">CASH</div>
         <table class="table Portfolio table-striped table-hover">
          <thead>
            <th ng-repeat="item in cashHeader">
              {{item}}
            </th>
          </thead>
          <tbody>
            <tr ng-repeat="data in cashData">
              <td>
                <input type="text" ng-model="data.currency" ng-blur="validateCurrency(cashData[$index.toString()]['currency'])">
        <!--<div class="input-field">
                <label class="dropdown-label active" ng-class="changeNewCurrency ? 'active':''" for="newcurrency">New Currency</label>
                <button type="button"  class="btn btn-default dropdown-button text-left col-md-6 no_padding"  href="#" data-activates="selected55" id="currency">{{selectNewCurrency.newCurrency}}</button>
                <ul id='selected55' class='dropdown-content'  >
                    <li ng-repeat="item in newCurrency" ng-click="changeNew(item.name)">
                      {{item.name}}
                    </li>
                </ul>
        </div> -->
              </td>
              <td>
                <input type="text" ng-model="data.amount">
              </td>
            </tr>
          </tbody>
        </table>
        <div class="clearfix"><button class="col-xs-2 pull-right newrow" ng-click="cashRow($index)" id="newRowLabel1"> + New Row</button></div>
      </div> 
       <div>
         <div class="assetinput-title" id="securitiesLabel">SECURITIES</div>
         <table class="table Portfolio table-striped table-hover">
          <thead>
            <th ng-repeat="values in securitiesHeader">
              {{values}}
            </th>
          </thead>
          <tbody>
            <tr ng-repeat="element in securities">
              <td>
                <input type="text" ng-model="element.bbgid" ng-blur="validateBbgid(securities[$index.toString()]['bbgid'])">
              </td>
              <td>
                <input type="text" ng-model="element.unitNumber">
              </td>
            </tr>
          </tbody>
        </table>
        <div class="clearfix"><button class="col-xs-2 pull-right newrow" ng-click="securityRow($index)" id="newRowLabel2"> + New Row</button></div>
      </div>  
      <div class="clearfix">
        <button class="btn btn-black-bg waves-effect col-sm-3 pull-right text-center client_submit no_padding" type="submit" ng-click="saveAssets()" id="submitLabel">SUBMIT</button>
        <button class="btn btn-black-bg waves-effect col-sm-3 pull-right text-center no_padding cancel client_submit" id="cancelLabel">CANCEL</button>
      </div> 
    </form>      
  </div><!--Container-fluid  end here -->
<script type="text/javascript">
</script>
<script type="text/javascript" src="../js/Functions.js"></script>