
  <div class="container-fluid"><!--Container-fluid start here -->
      <!-- <div class="col-sm-12 expert no_padding">Expert Advisory Wealth Management System</div> --> 


<div class="row ">



<div class="col-lg-6 col-sm-12 col-md-6">

      <div class="TileContainer">
        <div class="TileHeader">
              <h3 class="TileTitle">Risk Tolerance</h3>
              <ul class="TileHeaderActions">
                <li>
                  <a class="BtnFullscreen Max" role="button" title="Toggle fullscreen">
                   </a>
                </li>
              </ul>
               <div class="clear"></div>
            </div>
            <div class="TileBody">



            <md-radio-group  ng-model="data.group1" >
              <div class="col-lg-4 col-md-6 col-sm-12 padding-top-10">
                  <md-radio-button value="Risk" id="risk" class="RiskTol md-warn checked padding-right-10 padding-top-10" ng-click="desiredRisk()" ng-checked="updateTarget(0)">
                  </md-radio-button>
                  <span class="RiskTol padding-right-20">{{targetRadio.group1}} <span>(%)</span></span>
                  
                    <input type="number" class="RiskTol" id="target_risk" min="0" step="0.01" ng-model="target.risk" ng-change="updateTargetRisk(target.risk)"/>
                    <div class="clear"></div>
                </div>

               <div class="col-lg-4 col-md-6 col-sm-12 padding-top-10">
                  <md-radio-button value="Return" id="return" class="RiskTol md-warn padding-right-10 padding-top-10"  ng-click="desiredReturn()" ng-checked="updateTarget(1)">
                  </md-radio-button>
                  <span class="RiskTol padding-right-20">{{targetRadio.group2}} <span>(%)</span></span>
                  <input type="number" class="RiskTol" id="target_return" min="0" step="0.01" ng-model="target.return" ng-change="updateTargetReturn(target.return)" />
                  <div class="clear"></div>
              </div>

               <div class="col-lg-4 col-md-6 col-sm-12 padding-top-10 RiskTolPaddingBottom-">
                <md-radio-button value="Loss" id="loss" class="RiskTol md-warn checked padding-right-10 padding-top-10" ng-click="desiredLoss()" ng-checked="updateTarget(2)">
                </md-radio-button>
                <span class="RiskTol padding-right-20">{{targetRadio.group3}} <span>(%)</span></span>
                 <input type="number" class="RiskTol" id="target_loss" min="0" step="0.01" ng-model="target.loss" ng-change="updateTargetLoss(target.loss)" />
                 <div class="clear"></div>
              </div>

              <div class="col-lg-12 col-md-6 col-sm-12 BtnSavePortfolio">
                 <button type="button" class="RiskTol btn btn-black-bg" id="save" ng-click='saveAllocation()' >SAVE THIS PORTFOLIO</button>    
              </div>

            </md-radio-group>



                

                <div class="clear"></div>
            
            </div>
        </div>
</div>



<div class="col-lg-6 col-sm-12 col-md-6">

      <div class="TileContainer">
        <div class="TileHeader">
              <h3 class="TileTitle">Advisory Model Portfolio</h3>
              <ul class="TileHeaderActions">
                <li>
                  <a class="BtnFullscreen Max" role="button" title="Toggle fullscreen">
                   </a>
                </li>
              </ul>
               <div class="clear"></div>
            </div>
            <div class="TileBody">
                    <div id="containers">
                        <div id="semi_circle_chart" class="" style="min-width: 250px; height:320px;"></div>
                    </div>

            </div>
        </div>
</div>



</div>









      <div class="TileContainer">
        <div class="TileHeader">
              <h3 class="TileTitle">Portfolio</h3>
              <ul class="TileHeaderActions">
                <li>
                  <a class="BtnFullscreen Max" role="button" title="Toggle fullscreen">
                   </a>
                </li>
              </ul>
               <div class="clear"></div>
            </div>
            <div class="TileBody">
               <table class="sortable table table-striped Portfolio table-hover asset_table col-sm-12" id="allocation_table">
                    <tbody>
                    <thead>
                      <tr class="background_color">
                        <th class="table-sortable:default index{{$index}}" ng-repeat="category in assets_head">{{category}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="item in asset_allocations">
                        <td>{{item.asset_description  }}</td>
                        <td>{{item.estimated_return | number:2 }}</td>
                        <td>{{item.historical_return | number:2 }}</td>
                        <td>{{item.estimated_risk | number:2}}</td>
                        <td>{{item.asset_weight | number:2}}</td>
                        <td>{{item.client_weight}}</td>
                        <td><input type="number" ng-model="asset_allocations[$index.toString()]['min_constraint']"  min="0" step="0.1"  ng-blur="updateValuesMin(asset_allocations[$index.toString()]['min_constraint'],$index.toString())"></td>
                        <td><input type="number" ng-model="asset_allocations[$index.toString()]['max_constraint']"  min="0" step="0.1"  ng-blur="updateValuesMax(asset_allocations[$index.toString()]['maxConstraint'],$index.toString())"></td>
                        <td><input type="number" ng-model="asset_allocations[$index.toString()]['desired_return']"  min="0" step="0.1"  ng-blur="updateValues(asset_allocations[$index.toString()]['desired_return'],$index.toString())"></td>
                        <td><input type="number"  ng-model="asset_allocations[$index.toString()]['desired_risk']" min="0" step="0.01" ng-blur="updateRisk(asset_allocations[$index.toString()]['desired_risk'],$index.toString())"></td>
                        <td ng-if="$last" class='hide'>
                          <span ng-init="pieCharts('#semi_circle_chart', 'Advisory Model Portfolio', 'center', 'top', 30, {color: '#4D7FBA',fontWeight: 'bold',fontSize: '15px !important'}, buildChartData(asset_allocations))"></span>
                        </td>
                        <td ng-if="$last" class='hide'>
                          <span ng-init="checked()"></span>
                        </td>
                      </tr>
                    </tbody>
                    </table>
                    <div class="clear"></div>
            </div>
        </div>








      

  </div><!--Container-fluid  end here -->

<script type="text/javascript">
$(document).ready(function(){
 $('select').material_select();
 $('.checked').click(function(){
   $(this).parent().siblings().removeClass('default-checked');
 })
 // var height = $('.height-element').height();
 // $(".charts_section").css("height", $(".height-element").height() + 20);
 // var height2 = $('.charts_section').height();

 
});
</script>
<script type="text/javascript" src="../js/Functions.js"></script>
