  <div class="container-fluid"><!--Container-fluid start here -->
    <div class="clearfix"></div>
 
        <div class="assets_class_section">



<div class="RowSection">
           <!-- BOX FOR STOCKS-REGIONAL -->
           <div class="not-stocks-assets fixed-income col-lg-3 col-md-6 ">
              <div class="assets_class_list assets_class_list3 clearfix margin-bottom-10">
                <div class="categories categories_3  clearfix" >
                  <div class="no_padding " ng-class="'opened'">FIXED INCOME</div>
                </div>

                <ul class=" subcategories1 col-sm-12 subcategories_3" id="#demo" ng-class="openall ? 'show':'show'">
                  <li ng-attr-id="asset_{{asset_class.id}}" ng-repeat="asset_class in fixed_income" ng-click="itemselect=!itemselect; changebg(4, asset_class.id, true);" ng-class="itemselect ? 'subselected':''">{{asset_class.name}}</li>
                </ul>

                <span ng-if="$last">
                  <script>
                    $(document).ready(function() {
                       $('.categories').on('click', function(){
                         $(this).css("border-bottom","1px solid #333");
                           $(this).children().children('.plus').toggle();
                           $(this).parent().siblings().children('.categories').css("border-bottom","1px solid #9e9e9e");
                           $(this).children().children('.minus').toggle();
                       });
                       $('.subcategories1 > li').on('click', function(){
                         $(this).toggleClass();
                         });

                   });
                  </script>
                </span>
              </div>
            </div>



           <!-- BOX FOR STOCKS-REGIONAL -->
           <div class="not-stocks-assets fixed-income col-lg-3 col-md-6 ">
              <div class="assets_class_list assets_class_list3 clearfix margin-bottom-10">
                <div class="categories categories_3  clearfix" >
                  <div class="no_padding " ng-class="'opened'">STOCKS - REGIONAL</div>
                </div>
                <ul class=" subcategories1 col-sm-12 subcategories_3" id="#demo" ng-class="show">
                  <li ng-attr-id="asset_{{asset_class.id}}" ng-repeat="asset_class in stocks_regional" ng-click="itemselect=!itemselect; changebg(0, asset_class.id, true);" ng-class="itemselect ? 'subselected':''">{{asset_class.name}}</li>
                </ul>

                <span ng-if="$last">
                  <script>
                    $(document).ready(function() {
                       $('.categories').on('click', function(){
                         $(this).css("border-bottom","1px solid #333");
                           $(this).children().children('.plus').toggle();
                           $(this).parent().siblings().children('.categories').css("border-bottom","1px solid #9e9e9e");
                           $(this).children().children('.minus').toggle();
                       });
                       $('.subcategories1 > li').on('click', function(){
                         $(this).toggleClass();
                       });

                   });
                  </script>
                </span>
              </div>s
          </div>



           <!-- BOX FOR STOCKS-COUNTRY -->
           <div class="not-stocks-assets fixed-income col-lg-3 col-md-6 ">
              <div class="assets_class_list assets_class_list3 clearfix margin-bottom-10">
                <div class="categories categories_3  clearfix" >
                  <div class="no_padding " ng-class="'opened'">STOCKS - COUNTRY</div>
              </div>
                <ul class=" subcategories1 col-sm-12 subcategories_3" id="#demo" ng-class="show">
                  <li ng-attr-id="asset_{{asset_class.id}}" ng-repeat="asset_class in stocks_country" ng-click="itemselect=!itemselect; changebg(1, asset_class.id, true);" ng-class="itemselect ? 'subselected':''">{{asset_class.name}}</li>
                </ul>

                <span ng-if="$last">
                  <script>
                    $(document).ready(function() {
                       $('.categories').on('click', function(){
                         $(this).css("border-bottom","1px solid #333");
                           $(this).children().children('.plus').toggle();
                           $(this).parent().siblings().children('.categories').css("border-bottom","1px solid #9e9e9e");
                           $(this).children().children('.minus').toggle();
                       });
                       $('.subcategories1 > li').on('click', function(){
                         $(this).toggleClass();
                       });

                   });
                  </script>
                </span>
              </div>
            </div>

            

           <div class="not-stocks-assets fixed-income col-lg-3 col-md-6 ">
              <div class="assets_class_list assets_class_list3 clearfix margin-bottom-10">
                <div class="categories categories_3  clearfix" >
                  <div class="no_padding " ng-class="'opened'">STOCKS - SECTOR</div>
                </div>
                <ul class=" subcategories1 col-sm-12 subcategories_3" id="#demo" ng-class="show">
                  <li ng-attr-id="asset_{{asset_class.id}}" ng-repeat="asset_class in stocks_sector" ng-click="itemselect=!itemselect; changebg(2, asset_class.id, true);" ng-class="itemselect ? 'subselected':''">{{asset_class.name}}</li>
                </ul>
               <span ng-if="$last">
                  <script>
                    $(document).ready(function() {
                       $('.categories').on('click', function(){
                         $(this).css("border-bottom","1px solid #333");
                           $(this).children().children('.plus').toggle();
                           $(this).parent().siblings().children('.categories').css("border-bottom","1px solid #9e9e9e");
                           $(this).children().children('.minus').toggle();
                       });
                       $('.subcategories1 > li').on('click', function(){
                         $(this).toggleClass();
                       });

                   });
                  </script>
                </span>
              </div>
            </div>


</div>





<div class="RowSection">
           <!-- BOX FOR STOCKS-SECTOR -->



           <!-- BOX FOR REAL ESTATE -->
           <div class="not-stocks-assets fixed-income col-lg-3 col-md-6 ">
              <div class="assets_class_list assets_class_list3 clearfix margin-bottom-10">
                <div class="categories categories_3  clearfix" >
                  <div class="no_padding " ng-class="'opened'">REAL ESTATE</div>
                </div>
                <ul class=" subcategories1 col-sm-12 subcategories_3" id="#demo" ng-class="openall ? 'show':'show'">
                  <li ng-attr-id="asset_{{asset_class.id}}" ng-repeat="asset_class in real_estate" ng-click="itemselect=!itemselect; changebg(4, asset_class.id, true);" ng-class="itemselect ? 'subselected':''">{{asset_class.name}}</li>
                </ul>

                <span ng-if="$last">
                  <script>
                    $(document).ready(function() {
                       $('.categories').on('click', function(){
                         $(this).css("border-bottom","1px solid #333");
                           $(this).children().children('.plus').toggle();
                           $(this).parent().siblings().children('.categories').css("border-bottom","1px solid #9e9e9e");
                           $(this).children().children('.minus').toggle();
                       });
                       $('.subcategories1 > li').on('click', function(){
                         $(this).toggleClass();
                       });

                   });
                  </script>
                </span>
              </div>
            </div>

           <!-- BOX FOR OTHER ASSETS -->
           <div class="not-stocks-assets fixed-income col-lg-3 col-md-6 ">
              <div class="assets_class_list assets_class_list3 clearfix margin-bottom-10">
                <div class="categories categories_3  clearfix" >
                  <div class="no_padding " ng-class="'opened'">OTHER ASSETS</div>
                </div>
                <ul class=" subcategories1 col-sm-12 subcategories_3" id="#demo" ng-class="openall ? 'show':'show'">
                  <li ng-attr-id="asset_{{asset_class.id}}" ng-repeat="asset_class in other_assets" ng-click="itemselect=!itemselect; changebg(5, asset_class.id, true);" ng-class="itemselect ? 'subselected':''">{{asset_class.name}}</li>
                </ul>
                <span ng-if="$last">
                  <script>
                    $(document).ready(function() {
                       $('.categories').on('click', function(){
                         $(this).css("border-bottom","1px solid #333");
                           $(this).children().children('.plus').toggle();
                           $(this).parent().siblings().children('.categories').css("border-bottom","1px solid #9e9e9e");
                           $(this).children().children('.minus').toggle();
                       });
                       $('.subcategories1 > li').on('click', function(){
                         $(this).toggleClass();
                       });

                   });
                  </script>
                </span>
              </div>
          </div>

          <div class="col-lg-3 col-md-6 ">
            
            <div class="selection_msg text-right col-sm-12">
              <span class="selection_count">{{selected_asset_classes.length}}</span><span id="numSelectedLabel"> Classes Selected</span>
               <button class="btn btn-black-bg waves-effect col-sm-3 pull-right text-center class_submit" ng-click="saveAssetClasses()" id="submitLabel">SUBMIT</button>              
            </div>



          </div>
</div>


</div>
      


      <div class="submitPopup hide" ng-click="closePopup()">
          <div>
            <div>
              You must select at least one asset class.
              <i class="fa fa-times" aria-hidden="true" ng-click="closePopup()"></i>
            </div>
          </div>
      </div>








    <div class="clearfix AssetAllocationCharts">



  <div class="col-lg-3 col-sm-12 col-md-6 margin-bottom-20">
      <div class="TileContainer">
        <div class="TileHeader">
              <h3 class="TileTitle" id="assetClassRiskReturnLabel">ASSET CLASS RISK RETURN</h3>
              <ul class="TileHeaderActions">
                <li>
                  <a class="BtnFullscreen2 Max" role="button" title="Toggle fullscreen">
                   </a>
                </li>
              </ul>
               <div class="clear"></div>
            </div>
            <div class="TileBody">
                    <div id="containers">
                        <!--<div id="assetClassRiskReturn" style="min-width: 230px; height: 360px; max-width: 250px; margin: 0 auto"></div> -->
                        <!--<div class="hchart" id="assetClassRiskReturn" style="min-width: 230px; min-height: 360px; max-width: 250px;margin: 0 auto"></div>-->
                        <div class="hchart" id="assetClassRiskReturn" style="min-height: 360px; width: 90%; margin: 0 auto"></div>                 
                   </div>
            </div>
        </div>
  </div>

  <div class="col-lg-3 col-sm-12 col-md-6 margin-bottom-20">
      <div class="TileContainer">
        <div class="TileHeader">
              <h3 class="TileTitle" id="equitiesLabel">EQUITIES</h3>
              <ul class="TileHeaderActions">
                <li>
                  <a class="BtnFullscreen2 Max" role="button" title="Toggle fullscreen">
                   </a>
                </li>
              </ul>
               <div class="clear"></div>
            </div>
            <div class="TileBody">
                    <div id="containers">
                       <!--<div id="assetEquities" style="min-width: 230px; height: 360px; max-width: 250px; margin: 0 auto"></div> -->
                       <!--<div class="hchart" id="assetEquities" style="min-width: 430px; min-height: 360px; max-width: 250px; margin: 0 auto"></div>-->
                       <div class="hchart" id="assetEquities" style="min-height: 360px; width: 90%; margin: 0 auto"></div>
                    </div>
            </div>
        </div>
  </div>

  <div class="col-lg-3 col-sm-12 col-md-6 margin-bottom-20">
      <div class="TileContainer">
        <div class="TileHeader">
              <h3 class="TileTitle" id="fixedIncomeLabel">FIXED INCOME</h3>
              <ul class="TileHeaderActions">
                <li>
                  <a class="BtnFullscreen2 Max" role="button" title="Toggle fullscreen">
                   </a>
                </li>
              </ul>
               <div class="clear"></div>
            </div>
            <div class="TileBody">
                    <div id="containers">
                       <!--<div id="assetBonds" style="min-width: 230px; height: 360px; margin: 0 auto"></div> -->
                       <!--<div class="hchart" id="assetBonds" style="min-width: 430px; min-height: 360px; max-width: 250px; margin: 0 auto"></div>-->
                       <div class="hchart" id="assetBonds" style="min-height: 360px; width: 90%; margin: 0 auto"></div>

                    </div>
            </div>
        </div>
  </div>

  <div class="col-lg-3 col-sm-12 col-md-6 margin-bottom-20">
      <div class="TileContainer">
        <div class="TileHeader">
              <h3 class="TileTitle" id="hedgeFundsLabel"OTHER ASSETS</h3>
              <ul class="TileHeaderActions">
                <li>
                  <a class="BtnFullscreen2 Max" role="button" title="Toggle fullscreen">
                   </a>
                </li>
              </ul>
               <div class="clear"></div>
            </div>
            <div class="TileBody">
                    <div id="containers">
                        <!--<div id="assetHedge" style="min-width: 230px; height: 360px; max-width: 250px; margin: 0 auto"></div>-->
                        <!--<div class="hchart" id="assetHedge" style="min-width: 430px; min-height: 360px; max-width: 250px; margin: 0 auto"></div>-->
                        <div class="hchart" id="assetHedge" style="min-height: 360px; width: 90%; margin: 0 auto"></div>
                    </div>
            </div>
        </div>
  </div>


    </div>










    </div><!--Container-fluid  end here -->





<script>
$(document).ready(function(){
 $('select').material_select();
});
</script>

<script type="text/javascript" src="../js/Functions.js"></script>