<div class="scrollable ng-scope">
  <div class="scrollable-content scrollablecontent">
    <div >
      <div id="middle-container">
        <div class="homeContainer">
          <div class="gray-container" >
            <div class="trades_page clearfix tables-styles-white-bor">
                <div class="col-md-12 col-sm-12 no_padding right_section"> 
                  <div ng-include="'templates/tab-menu.html'" class="container-fluid tab-menu" ng-if="!getUser()">
                  </div>
                  <div  ng-if="getUser()" >
                    <div ng-include="'templates/client-tabs-menu.html'" class="container-fluid tab-menu padding-left-12per"></div>
                  </div>
                   <div class="container-fluid"><!--Container-fluid start here -->
                      <div class="cashposition">
                        <div class="trades-table-section clearfix">
                            <div class="risk-title margin-bottom-0 text-left padding-left-15" id="cashPositionLabel">PROJECTED ACCOUNT VALUES</div>
                            
                            <div class="col-sm-12 no_padding">
                              <div id="cashflowgraph" style="height:400px;min-width:750px; margin: 0 auto"></div>
                            </div>
                          </div>
                      </div>



                          <div class="trades-table-section clearfix">
                            <div class="risk-title margin-bottom-0 text-left padding-left-15" id="cashflowLabel">CASHFLOW REPORT</div>
                            <table class="table Portfolio table-striped table-hover tradesPage-table">
                              <thead>
                                <tr class="background_color">
                                  <th ng-repeat="category in cashflowHead ">{{category}}</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr ng-repeat="client in cashflow">
                                  <td>
                                    <span>
                                      {{client.year}}
                                    </span>
                                  </td>
                                  <td>
                                    <span>
                                      {{client.clientage}}
                                    </span>
                                  </td>
                                  <td>
                                    <span>
                                      {{client.spouseage}}
                                    </span>
                                  </td>
                                  <td>
                                    <span>
                                      {{client.beginbalance}}
                                    </span>
                                  </td>
                                  <td>
                                    <span>
                                      {{client.netcashflow}}
                                    </span>
                                  </td>
                                  <td>
                                    <span>
                                      {{client.netinvreturn}}
                                    </span>
                                  </td>
                                  <td>
                                    <span>
                                      {{client.endbalance}}
                                    </span>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        

                       </div>  
                   </div><!--Container-fluid  end here -->
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
 $(document).ready(function(){
    $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 100 // Creates a dropdown of 15 years to control year
  });

  });
</script>