<div class="scrollable ng-scope">
  <div class="scrollable-content scrollablecontent">
    <div >
      <div id="middle-container">
        <div class="homeContainer">
          <div class="gray-container">
            <div class="client clearfix overview_page">
                
              <div class="advisor-details col-md-12 col-sm-12 no_padding right_section"> <!-- advisor details section start here -->

                <div ng-include="'templates/tab-menu.html'" class="container-fluid tab-menu" ng-if="!getUser()">
                </div>
                <div  ng-if="getUser()" >
                    <div ng-include="'templates/client-tabs-menu.html'" class="container-fluid tab-menu padding-left-12per"></div>
                </div>
              
                <div class="container-fluid edit_details"><!--Container-fluid start here -->
                  <form name="form" novalidate>

                    <div class="clearfix"><!-- clients information start here -->
                      <div class="field_title title-padding" id="cashflowSettingsLabel">Cashflow Settings</div>
                      <div class="col-md-6 col-sm-6 padding-left-0"><!-- first Name to source income input fields start here -->
                        <div class="input-field">
                          <input type="text" id="avgMortalityAge" class="validate" name="avgMortalityAge" ng-model="advisor.avgMortalityAge" ng-blur='avgMortalityAge_errors = true'  required>
                          <div class="textbr"></div>
                          <label id="avgMortalityAgeLabel" for="avgMortalityAge">Average Mortality Age</label>
                          <div class="errormsg width_100" ng-show="avgMortalityAge_errors">
                            <span ng-show="form.avgMortalityAge.$error.required">Enter Average Mortality Age</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6 padding-right-0">
                        <div class="input-field">
                          <input type="text" id="inflationExpectation" name="inflationExpectation" ng-model="advisor.inflationExpectation" ng-blur='inflationExpectation_errors = true'  required>
                          <label id="inflationExpectationLabel" for="inflationExpectation">Inflation Expectation (%)</label>
                        </div>
                        <div class="errormsg width_100 hide" ng-show="inflationExpectaction_errors">
                          <span ng-show="form.inflationExpectation.$error.required">Enter Expected Rate of Inflation</span>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6 padding-left-0">
                        <div class="input-field">
                          <input type="text" id="defaultYield" class="validate" name="defaultYield" ng-model="advisor.defaultYield" ng-blur='defaultYield_errors = true'  required>
                          <label id="defaultYieldLabel" for="defaultYield">Default Yield (%)</label>
                          <div class="errormsg width_100" ng-show="defaultYield_errors">
                            <span ng-show="form.defaultYield.$error.required">Enter Default Yield of Taxable Account (%)</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-6 padding-right-0">
                        <div class="input-field">
                          <input type="text" id="defaultReturn" class="validate" name="defaultReturn" ng-model="advisor.defaultReturn" ng-blur='defaultReturn_errors = true'  required>
                          <label id="defaultReturnLabel" for="defaultReturn">Default Investment Return (%)</label>
                          <div class="errormsg width_100" ng-show="defaultReturn_errors">
                            <span ng-show="form.defaultReturn.$error.required">Enter Default Return on Investments (%)</span>
                          </div>
                        </div>
                      </div>

                    </div><!-- clients information end here -->

                    <div class="clearfix"><!-- tax information start here -->
                        <div class="field_title" id="taxRateInformationLabel">Tax Rate Information</div>

                        <div class="col-md-4 col-sm-4 padding-left-0">
                            <div class="input-field">
                                <input type="text" id="taxBracket1" name="taxBracket1" ng-model="advisor.taxBracket1" class="validate" ng-blur='taxBracket1_errors = true' required>
                                <label for="taxBracket1" id="taxBracket1Label">Tax Bracket 1 ($)</label>
                                <div class="textbr"></div>
                                <div class="errormsg width_100" ng-show="taxBracket1_errors">
                                  <span ng-show="form.taxBracket1.$error.required">Enter First Tax Bracket</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 padding-left-0">
                            <div class="input-field">
                                <input type="text" id="ordinaryTax1" name="ordinaryTax1" ng-model="advisor.ordinaryTax1" class="validate" ng-blur='ordinaryTax1_errors = true' required>
                                <label for="ordinaryTax1" id="ordinaryTax1Label">Ordinary Tax Rate 1 (%)</label>
                                <div class="textbr"></div>
                                <div class="errormsg width_100" ng-show="ordinaryTax1_errors">
                                  <span ng-show="form.ordinaryTax1.$error.required">Enter First Ordinary Tax Rate (%)</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 padding-left-0">
                            <div class="input-field">
                                <input type="text" id="capitalTax1" name="capitalTax1" ng-model="advisor.capitalTax1" class="validate" ng-blur='capitalTax1_errors = true' required>
                                <label for="capitalTax1" id="capitalTax1Label">Capital Gains Tax Rate 1 (%)</label>
                                <div class="textbr"></div>
                                <div class="errormsg width_100" ng-show="capitalTax1_errors">
                                  <span ng-show="form.capitalTax1.$error.required">Enter First Capital Gains Tax Rate (%)</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 padding-left-0">
                            <div class="input-field">
                                <input type="text" id="taxBracket2" name="taxBracket2" ng-model="advisor.taxBracket2" class="validate" ng-blur='taxBracket2_errors = true' required>
                                <label for="taxBracket2" id="taxBracket2Label">Tax Bracket 2 ($)</label>
                                <div class="textbr"></div>
                                <div class="errormsg width_100" ng-show="taxBracket2_errors">
                                  <span ng-show="form.taxBracket2.$error.required">Enter Second Tax Bracket</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 padding-left-0">
                            <div class="input-field">
                                <input type="text" id="ordinaryTax2" name="ordinaryTax2" ng-model="advisor.ordinaryTax2" class="validate" ng-blur='ordinaryTax2_errors = true' required>
                                <label for="ordinaryTax2" id="ordinaryTax2Label">Ordinary Tax Rate 2 (%)</label>
                                <div class="textbr"></div>
                                <div class="errormsg width_100" ng-show="ordinaryTax2_errors">
                                  <span ng-show="form.ordinaryTax2.$error.required">Enter Second Ordinary Tax Rate (%)</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 padding-left-0">
                            <div class="input-field">
                                <input type="text" id="capitalTax2" name="capitalTax2" ng-model="advisor.capitalTax2" class="validate" ng-blur='capitalTax2_errors = true' required>
                                <label for="capitalTax2" id="capitalTax2Label">Capital Gains Tax Rate 2 (%)</label>
                                <div class="textbr"></div>
                                <div class="errormsg width_100" ng-show="capitalTax2_errors">
                                  <span ng-show="form.capitalTax2.$error.required">Enter Second Capital Gains Tax Rate (%)</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 padding-left-0">
                            <div class="input-field">
                                <input type="text" id="taxBracket3" name="taxBracket3" ng-model="advisor.taxBracket3" class="validate" ng-blur='taxBracket3_errors = true' required>
                                <label for="taxBracket3" id="taxBracket3Label">Tax Bracket 3 ($)</label>
                                <div class="textbr"></div>
                                <div class="errormsg width_100" ng-show="taxBracket3_errors">
                                  <span ng-show="form.taxBracket3.$error.required">Enter Third Tax Bracket</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 padding-left-0">
                            <div class="input-field">
                                <input type="text" id="ordinaryTax3" name="ordinaryTax3" ng-model="advisor.ordinaryTax3" class="validate" ng-blur='ordinaryTax3_errors = true' required>
                                <label for="ordinaryTax3" id="ordinaryTax3Label">Ordinary Tax Rate 3 (%)</label>
                                <div class="textbr"></div>
                                <div class="errormsg width_100" ng-show="ordinaryTax3_errors">
                                  <span ng-show="form.ordinaryTax3.$error.required">Enter Third Ordinary Tax Rate (%)</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 padding-left-0">
                            <div class="input-field">
                                <input type="text" id="capitalTax3" name="capitalTax3" ng-model="advisor.capitalTax3" class="validate" ng-blur='capitalTax3_errors = true' required>
                                <label for="capitalTax3" id="capitalTax3Label">Capital Gains Tax Rate 3 (%)</label>
                                <div class="textbr"></div>
                                <div class="errormsg width_100" ng-show="capitalTax3_errors">
                                  <span ng-show="form.capitalTax3.$error.required">Enter Third Capital Gains Tax Rate (%)</span>
                                </div>
                            </div>
                        </div>

                    </div><!-- tax information end here -->

                    <div class="clearfix"><!-- advisor fee information start here -->
                        <div class="field_title" id="advisorFeeInformationLabel">Advisor Fee Information</div>

                        <div class="col-md-6 col-sm-6 padding-left-0">
                            <div class="input-field">
                                <input type="text" id="feeaum1" name="feeaum1" ng-model="advisor.feeaum1" class="validate" ng-blur='feeaum1_errors = true' required>
                                <label for="feeaum1" id="feeaum1Label">Advisor Fee AUM 1 ($)</label>
                                <div class="textbr"></div>
                                <div class="errormsg width_100" ng-show="feeaum1_errors">
                                  <span ng-show="form.feeaum1.$error.required">Enter First AUM Range</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 padding-left-0">
                            <div class="input-field">
                                <input type="text" id="feepercent1" name="feepercent1" ng-model="advisor.feepercent1" class="validate" ng-blur='feepercent1_errors = true' required>
                                <label for="feepercent1" id="feepercent1Label">Advisor Fee Percent 1 (%)</label>
                                <div class="textbr"></div>
                                <div class="errormsg width_100" ng-show="feepercent1_errors">
                                  <span ng-show="form.feepercent1.$error.required">Enter Advisor Fee 1 (%)</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 padding-left-0">
                            <div class="input-field">
                                <input type="text" id="feeaum2" name="feeaum2" ng-model="advisor.feeaum2" class="validate" ng-blur='feeaum2_errors = true' required>
                                <label for="feeaum2" id="feeaum2Label">Advisor Fee AUM 2 ($)</label>
                                <div class="textbr"></div>
                                <div class="errormsg width_100" ng-show="feeaum2_errors">
                                  <span ng-show="form.feeaum2.$error.required">Enter Second AUM Range</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 padding-left-0">
                            <div class="input-field">
                                <input type="text" id="feepercent2" name="feepercent2" ng-model="advisor.feepercent2" class="validate" ng-blur='feepercent2_errors = true' required>
                                <label for="feepercent2" id="feepercent2Label">Advisor Fee Percent 2 ($)</label>
                                <div class="textbr"></div>
                                <div class="errormsg width_100" ng-show="feepercent2_errors">
                                  <span ng-show="form.feepercent2.$error.required">Enter Advisor Fee 2 (%)</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 padding-left-0">
                            <div class="input-field">
                                <input type="text" id="feeaum3" name="feeaum3" ng-model="advisor.feeaum3" class="validate" ng-blur='feeaum3_errors = true' required>
                                <label for="feeaum3" id="feeaum3Label">Advisor Fee AUM 3 ($)</label>
                                <div class="textbr"></div>
                                <div class="errormsg width_100" ng-show="feeaum3_errors">
                                  <span ng-show="form.feeaum3.$error.required">Enter Third AUM Range</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 padding-left-0">
                            <div class="input-field">
                                <input type="text" id="feepercent3" name="feepercent3" ng-model="advisor.feepercent3" class="validate" ng-blur='feepercent3_errors = true' required>
                                <label for="feepercent3" id="feepercent3Label">Advisor Fee Percent 3 (%)</label>
                                <div class="textbr"></div>
                                <div class="errormsg width_100" ng-show="feepercent3_errors">
                                  <span ng-show="form.feepercent3.$error.required">Enter Advisor Fee 3 (%)</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 padding-left-0">
                            <div class="input-field">
                                <input type="text" id="feefixed" name="feefixed" ng-model="advisor.feefixed" class="validate" ng-blur='feefixed_errors = true' required>
                                <label for="feefixed" id="feeFixedLabel">Fixed Advisor Fee ($)</label>
                                <div class="textbr"></div>
                                <div class="errormsg width_100" ng-show="feefixed_errors">
                                  <span ng-show="form.feefixed.$error.required">Enter Fixed Advisor ($)</span>
                                </div>
                            </div>
                        </div>

                    </div><!-- advisor fee information end here -->

                    <!--<div> additional client information start here 
                    <div class="clearfix">
                        <div class="field_title" id="clientInformationLabel">Additional Client Information</div>

                        <div class="col-md-6 col-sm-6 padding-left-0">
                            <div class="input-field">
                                <input type="text" id="client_birthyear" name="client_birthyear" ng-model="advisor.client_birthyear" class="validate" ng-blur='client_birthyear_errors = true' required>
                                <label for="client_birthyear" id="clientBirthyearLabel">Client Birth Year</label>
                                <div class="textbr"></div>
                                <div class="errormsg width_100" ng-show="client_birthyear_errors">
                                  <span ng-show="form.client_birthyear.$error.required">Enter Client Birth Year</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 padding-left-0">
                            <div class="input-field">
                                <input type="text" id="spouse_birthyear" name="spouse_birthyear" ng-model="advisor.spouse_birthyear" class="validate" ng-blur='spouse_birthyear_errors = true' required>
                                <label for="spouse_birthyear" id="spouseBirthyearLabel">Spouse Birth Year</label>
                                <div class="textbr"></div>
                                <div class="errormsg width_100" ng-show="spouse_birthyear_errors">
                                  <span ng-show="form.spouse_birthyear.$error.required">Enter Spouse Birth Year</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 padding-left-0">
                            <div class="input-field">
                                <input type="text" id="client_retirement" name="client_retirement" ng-model="advisor.client_retirement" class="validate" ng-blur='client_retirement_errors = true' required>
                                <label for="client_retirement" id="clientRetirementLabel">Client Retirement Age</label>
                                <div class="textbr"></div>
                                <div class="errormsg width_100" ng-show="client_retirement_errors">
                                  <span ng-show="form.client_retirement.$error.required">Enter Client Retirement Age</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 padding-left-0">
                            <div class="input-field">
                                <input type="text" id="spouse_retirement" name="spouse_retirement" ng-model="advisor.spouse_retirement" class="validate" ng-blur='spouse_retirement_errors = true' required>
                                <label for="spouse_retirement" id="spouseRetirementLabel">Spouse Retirement Age</label>
                                <div class="textbr"></div>
                                <div class="errormsg width_100" ng-show="spouse_retirement_errors">
                                  <span ng-show="form.spouse_retirement.$error.required">Enter Spouse Retirement Age</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 padding-left-0">
                            <div class="input-field">
                                <input type="text" id="client_income" name="client_income" ng-model="advisor.client_income" class="validate" ng-blur='client_income_errors = true' required>
                                <label for="client_income" id="clientIncomeLabel">Client Income ($)</label>
                                <div class="textbr"></div>
                                <div class="errormsg width_100" ng-show="client_income_errors">
                                  <span ng-show="form.client_income.$error.required">Enter Client Income ($)</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 padding-left-0">
                            <div class="input-field">
                                <input type="text" id="spouse_income" name="spouse_income" ng-model="advisor.spouse_income" class="validate" ng-blur='spouse_income_errors = true' required>
                                <label for="spouse_income" id="spouseIncomeLabel">Spouse Income ($)</label>
                                <div class="textbr"></div>
                                <div class="errormsg width_100" ng-show="spouse_income_errors">
                                  <span ng-show="form.spouse_income.$error.required">Enter Spouse Income ($)</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 padding-left-0">
                            <div class="input-field">
                                <input type="text" id="client_income_growth" name="client_income_growth" ng-model="advisor.client_income_growth" class="validate" ng-blur='client_income_growth_errors = true' required>
                                <label for="client_income_growth" id="clientIncomeGrowthLabel">Client Income Growth (%)</label>
                                <div class="textbr"></div>
                                <div class="errormsg width_100" ng-show="client_income_growth_errors">
                                  <span ng-show="form.client_income_growth.$error.required">Enter Client Income Growth (%)</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 padding-left-0">
                            <div class="input-field">
                                <input type="text" id="spouse_income_growth" name="spouse_income_growth" ng-model="advisor.spouse_income_growth" class="validate" ng-blur='spouse_income_growth_errors = true' required>
                                <label for="spouse_income_growth" id="spouseIncomeGrowthLabel">Spouse Income Growth (%)</label>
                                <div class="textbr"></div>
                                <div class="errormsg width_100" ng-show="spouse_income_growth_errors">
                                  <span ng-show="form.spouse_income_growth.$error.required">Enter Spouse Income Growth (%)</span>
                                </div>
                            </div>
                        </div>

                    </div> additional client information end here -->

                    <div class="col-sm-12 no_padding">
                         <button class="btn btn-black-bg waves-effect col-sm-2 pull-right text-center client_submit" type="button" ng-click="saveCashflowDetails()" id="submitLabel">SUBMIT</button>
                         <button class="btn btn-black-bg waves-effect col-sm-2 pull-right client_submit text-center cancel text-center" type="button" id="cancelLabel">CANCEL</button>
                    </div>
                
                  </form>
                </div><!-- container-fluid end here -->
              </div><!-- advisor-details end here -->
            </div><!-- client details section end here -->
          </div>
        </div>
      </div>
      <div id="push"></div>
    </div>
  </div>
</div>

<script>
$(document).ready(function(){
 $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 80, // Creates a dropdown of 15 years to control year
    max: [2017,7,14]
  });
 $('select').material_select();
   
});
</script>