<div class="scrollable ng-scope">
  <div class="scrollable-content scrollablecontent" >
    <div>
      <div id="middle-container">
        <div class="homeContainer" ng-init="updateGoogle('Forgot Password')">
          <div class="gray-container" >
            <div class="container-fluid text-center forgot_password_page" ng-init="updateGoogle('Forget Password Update')">
                <div class="col-md-5 col-sm-8 signin-content">
                   <div class="signin-content borderaround" ng-init="getCurrentPosition()">
                    <div class='signin_exclusive' translate='CHANGE_PASSWORD'></div>
                    <section class="signinsidecontent">
                      <div class="errormsgmain errormsg"  ng-show="error_message">
                        <span translate="INVALID_PASSWORD"></span>
                      </div>
                      <form name="form1" novalidate>                
                        <div class="rowf login">
                          <label class="rowf password-new" translate="NEW_PASSWORD" for='uPassword'> </label>
                          <input ng-show="password_text=='text'" type="text" ng-model="user.password" name="uPassword" id='uPassword' class="password-input icone" placeholder="{{'ENTER_NEW_PASSWORD' | translate}}" ng-blur='password_errors = true' required>
                          <input ng-hide="password_text=='text'" type="password" ng-model="user.password" name="uPassword" id='uPassword' class="password-input icone" placeholder="{{'ENTER_NEW_PASSWORD' | translate}}" ng-blur='password_errors = true' required>
                          <span class="icone"><img src="img/eye.png" ng-click="changePasswordText()"></span>
                          <div class="textbr"></div>
                          <div class="errormsg"  ng-show="password_errors">
                            <span ng-show="form1.uPassword.$error.required" translate="PASSWORD_REQUIRED">Provide your password.</span>
                          </div>
                        </div>
                        <div class="rowf login">
                          <label class="rowf  password-new" translate="CONFIRM" for='uPassword'></label>
                          <input ng-show="password_text=='text'" type="text" ng-model="user.password_confirmation" name="uConfirmPassword" id='uConfirmPassword' class="password-input icone" placeholder="{{'CONFIRM_PASSWORD_PLACE' | translate}}" ng-blur='form1.uConfirmPassword.$error.match = checkConfirmPassword(user)' ng-match="user.password" required>
                          <input ng-hide="password_text=='text'" type="password" ng-model="user.password_confirmation" name="uConfirmPassword" id='uConfirmPassword' class="password-input icone" placeholder="{{'CONFIRM_PASSWORD_PLACE' | translate}}" ng-blur='form1.uConfirmPassword.$error.match = checkConfirmPassword(user)' ng-match="user.password" required>
                          <span class="icone"><img src="img/eye.png" ng-click="changePasswordText()"></span>
                          <div class="textbr"></div>
                          <div class="errormsg"  ng-show="password_confirmation_errors">
                            <!-- <span ng-show="form1.uConfirmPassword.$error.required" translate="PASSWORD_CONFIRM_REQUIRED">Provide your password.</span> -->
                            <span ng-show="form1.uConfirmPassword.$error.match" translate="PASSWORD_CONFIRM_VALID">Provide your password.</span>
                          </div>
                        </div>
                        <div class="text-center">            
                          <button ng-click="updatePassword(user)" ng-disabled="form1.$invalid" class="btn btnd" translate="RESET" ng-class="forgetpassword_change_completed ? '':'disable'">Reset</button>
                        </div>
                      </form>
                    </section>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>