 <div class="container-fluid"><!--Container-fluid start here -->
     




    <div class="TileContainer ">
      <div class="TileHeader">
            <h3 class="TileTitle">Client List</h3>
           
            <ul class="TileHeaderActions">
              <li>
                <a class="BtnAdd" id="newClientLabel" role="button" title="Toggle fullscreen" ng-click="newClient()">New Client</a>
              </li>
            </ul>
             <div class="clear"></div>
          </div>
          <div class="TileBody">


        <table class="table Portfolio table-striped table-hover">
            <thead>
              <tr class="background_color">
                  <th ng-click="sortBy('name')" id="nameLabel">Name <span class="sortorder" ng-show="propertyName === 'name'" ng-class="{reverse: reverse}"></span></th>
                  <th ng-click="sortBy('invest_amount')" id="aumLabel">Assets Under Management (M) <span class="sortorder" ng-show="propertyName === 'invest_amount'" ng-class="{reverse: reverse}"></span></th>
                  <th id="lastReviewLabel">Last Review Date</th>
                  <th id="nextReviewLabel">Next Review Date</th>
                  <th id="actionLabel">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr  ng-repeat="client in list | orderBy:propertyName:reverse">
                <td> 
                   <div class="input-field">
                      <input type="text" ng-model="client.name" ng-disabled=true>
                   </div>
                </td>

                <td class="select">
                  <div class="input-field">
                    <!-- <input type="number" min="0" ng-model="client.invest_amount" ng-disabled=true> -->
                    <span>{{client.invest_amount | number:2}}</span>
                  </div>
                </td>
                <td>
                  <div class="input-field">
                    <input type="date" class="datepicker" ng-model="client.last_review" ng-disabled=true>
                  </div>
                </td>
                <td>
                  <div class="input-field">
                    <input type="date" class="datepicker" ng-model="client.review_date" ng-disabled=true>
                  </div>
                </td>
                <td>
                  <button class="btn btn-border-default dashboard-icon IconList waves-effect delete_row deleting_row modal-trigger width-19per" ng-click="goDashboard($index)" ng-if="!getUser()" title="Dashboard">
                      <svg version="1.1" id="IcoDashboard" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
                          <path fill="#0868ac" d="M30.813,28.133H3.862V1.182c0-0.306-0.306-0.613-0.613-0.613H1.412C1.106,0.57,0.8,0.876,0.8,1.182
                            v28.482c0,0.919,0.613,1.531,1.531,1.531h28.482c0.306,0,0.613-0.306,0.613-0.613v-1.838C31.426,28.439,31.12,28.133,30.813,28.133
                            z"/>
                          <path fill="#0868ac" d="M7.538,25.071h1.838c0.306,0,0.613-0.306,0.613-0.613V10.37c0-0.306-0.306-0.613-0.613-0.613H7.538 c-0.306,0-0.613,0.306-0.613,0.613v14.088C6.925,24.764,7.231,25.071,7.538,25.071z"/>
                          <path fill="#a8ddb5" d="M13.663,25.071H15.5c0.306,0,0.613-0.306,0.613-0.613v-8.882c0-0.306-0.306-0.613-0.613-0.613
                            h-1.838c-0.306,0-0.613,0.306-0.613,0.613v8.882C13.05,24.764,13.357,25.071,13.663,25.071z"/>
                          <path fill="#3089b3" d="M19.788,25.071h1.838c0.306,0,0.613-0.306,0.613-0.613V5.776c0-0.306-0.306-0.613-0.613-0.613
                            h-1.838c-0.306,0-0.613,0.306-0.613,0.613v18.682C19.175,24.764,19.482,25.071,19.788,25.071z"/>
                          <path fill="#7bccc4" d="M25.913,25.071h1.838c0.306,0,0.613-0.306,0.613-0.613V2.714c0-0.306-0.306-0.613-0.613-0.613
                            h-1.838c-0.306,0-0.613,0.306-0.613,0.613v21.745C25.301,24.764,25.607,25.071,25.913,25.071z"/>
                      </svg>
                  </button>
                  <button class="btn btn-border-default dashboard-icon IconList waves-effect delete_row deleting_row modal-trigger width-19per" ng-if="getUser()" ng-click="goSigninDashboard($index)" title="Dashboard"> 
                    <a ng-href="/#/client-dashboard/{{client.clientId}}">
                        <svg version="1.1" id="IcoDashboard" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
                            <path fill="#0868ac" d="M30.813,28.133H3.862V1.182c0-0.306-0.306-0.613-0.613-0.613H1.412C1.106,0.57,0.8,0.876,0.8,1.182
                              v28.482c0,0.919,0.613,1.531,1.531,1.531h28.482c0.306,0,0.613-0.306,0.613-0.613v-1.838C31.426,28.439,31.12,28.133,30.813,28.133
                              z"/>
                            <path fill="#0868ac" d="M7.538,25.071h1.838c0.306,0,0.613-0.306,0.613-0.613V10.37c0-0.306-0.306-0.613-0.613-0.613H7.538 c-0.306,0-0.613,0.306-0.613,0.613v14.088C6.925,24.764,7.231,25.071,7.538,25.071z"/>
                            <path fill="#a8ddb5" d="M13.663,25.071H15.5c0.306,0,0.613-0.306,0.613-0.613v-8.882c0-0.306-0.306-0.613-0.613-0.613
                              h-1.838c-0.306,0-0.613,0.306-0.613,0.613v8.882C13.05,24.764,13.357,25.071,13.663,25.071z"/>
                            <path fill="#3089b3" d="M19.788,25.071h1.838c0.306,0,0.613-0.306,0.613-0.613V5.776c0-0.306-0.306-0.613-0.613-0.613
                              h-1.838c-0.306,0-0.613,0.306-0.613,0.613v18.682C19.175,24.764,19.482,25.071,19.788,25.071z"/>
                            <path fill="#7bccc4" d="M25.913,25.071h1.838c0.306,0,0.613-0.306,0.613-0.613V2.714c0-0.306-0.306-0.613-0.613-0.613
                              h-1.838c-0.306,0-0.613,0.306-0.613,0.613v21.745C25.301,24.764,25.607,25.071,25.913,25.071z"/>
                        </svg>
                    </a>
                  </button>
                  <button class="btn btn-border-default waves-effect IconList delete_row edit_row modal-trigger width-19per" id="edit_row" data-target="myModal2" ng-click="renderPage('edit_details/'+client.slug+'/'+$index);" title="Edit">
                    <a ng-href="/#/clients_details/{{client.clientId}}">
                      <svg version="1.0" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                          viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
                      <path fill="#556071" d="M29.429,4.914l-4.32-4.094c-0.479-0.477-1.3-0.488-1.803,0.017l-2.718,2.875
                        c-0.004,0.004-0.009,0.005-0.012,0.009s-0.004,0.009-0.008,0.013L6.157,18.976c-0.089,0.095-0.152,0.209-0.186,0.334l-1.836,7.013
                        c-0.072,0.273,0.012,0.563,0.217,0.756c0.145,0.137,0.334,0.209,0.527,0.209c0.081,0,0.162-0.012,0.241-0.038l6.916-2.274
                        c0.121-0.04,0.23-0.109,0.318-0.202L29.493,6.695c0.229-0.249,0.349-0.572,0.334-0.91C29.813,5.448,29.67,5.137,29.429,4.914z
                         M11.371,23.572l-3.464,1.139l-1.37-1.48l0.875-3.341L21.167,5.34l3.95,3.732L11.371,23.572z M26.177,7.955l-3.951-3.734l2-2.116
                        l3.949,3.742L26.177,7.955z"/>
                      <g>
                        <path fill="#556071" d="M24.491,31.548H3.452c-0.425,0-0.77-0.345-0.77-0.77s0.345-0.77,0.77-0.77h21.039
                          c0.425,0,0.77,0.345,0.77,0.77S24.916,31.548,24.491,31.548z"/>
                      </g>
                      </svg>
                    </a>
                  </button>
                  <button class="btn btn-border-default waves-effect IconList delete_row edit_row width-19per" ng-click="renderPage('/client_history')" title="History">
                    <!-- <i class="fa fa-history" aria-hidden="true"></i> -->
                    <a ng-href="/#/client_history/{{client.clientId}}">
                      <svg version="1.0" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                          viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
                      <path fill="#556071" d="M31.31,12.564c-0.929-4.09-3.395-7.574-6.945-9.809S16.609-0.198,12.519,0.73
                        C9.472,1.423,6.762,2.97,4.654,5.181l0.038-0.956C4.714,3.67,4.282,3.203,3.728,3.18C3.185,3.16,2.706,3.59,2.683,4.145L2.52,8.225
                        C2.508,8.533,2.638,8.83,2.873,9.03c0.183,0.156,0.415,0.24,0.652,0.24c0.066,0,0.134-0.007,0.2-0.02L7.59,8.467
                        c0.544-0.11,0.896-0.641,0.786-1.185C8.265,6.737,7.733,6.384,7.19,6.495L5.95,6.747c4.387-4.746,11.682-5.855,17.344-2.289
                        c3.095,1.949,5.246,4.986,6.056,8.553s0.183,7.235-1.766,10.329c-4.024,6.389-12.493,8.314-18.882,4.29
                        c-4.471-2.815-6.942-8.024-6.296-13.27c0.068-0.551-0.324-1.053-0.875-1.121c-0.549-0.068-1.053,0.324-1.121,0.875
                        c-0.741,6.016,2.093,11.989,7.22,15.217c2.592,1.633,5.483,2.411,8.342,2.411c5.22,0,10.332-2.597,13.313-7.331
                        C31.521,20.862,32.24,16.655,31.31,12.564z"/>
                      <path fill="#556071" d="M21.343,22.821c-0.237,0-0.475-0.084-0.666-0.254l-5.572-4.972c-0.213-0.189-0.334-0.461-0.334-0.746
                        V7.963c0-0.552,0.448-1,1-1s1,0.448,1,1v8.439l5.238,4.673c0.412,0.367,0.448,1,0.08,1.412
                        C21.892,22.708,21.617,22.821,21.343,22.821z"/>
                      </svg>
                    </a>
                  </button>
                  <button class="btn btn-border-default waves-effect delete delete_row deleting_row modal-trigger width-19per" data-toggle="modal" data-target="myModal3" ng-click="confirmDelete($index)" title="Delete"> 
                      <svg version="1.0" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
                      <path fill="#556071" d="M22.78,31.783H9.222c-1.63,0-2.957-1.327-2.957-2.957L5.565,10.55
                        C5.547,9.996,5.982,9.533,6.534,9.514h0c0.573,0,1.016,0.426,1.034,0.969L8.27,28.792c0.001,0.559,0.42,0.987,0.954,0.987H22.78
                        c0.524,0,0.95-0.427,0.95-0.952l0.703-18.345c0.018-0.551,0.452-0.968,1.01-0.968c0.291,0.009,0.539,0.121,0.723,0.317
                        c0.183,0.195,0.278,0.449,0.271,0.716l-0.703,18.313C25.734,30.466,24.409,31.783,22.78,31.783z"/>
                      <path fill="#556071" d="M18.566,26.897h-0.014c-0.558-0.012-0.999-0.47-0.989-1.021l0.351-15.382
                        c0.01-0.541,0.459-0.982,1.002-0.982c0.571,0.011,1.013,0.469,1.003,1.021l-0.352,15.382C19.558,26.456,19.108,26.897,18.566,26.897
                        z"/>
                      <path fill="#556071" d="M13.449,26.897h-0.013c-0.541,0-0.991-0.44-1.002-0.981l-0.351-15.38
                        c-0.01-0.555,0.432-1.012,0.984-1.022c0,0,0.001,0,0.001,0c0.568,0,1.009,0.441,1.02,0.982l0.351,15.379
                        c0.01,0.555-0.432,1.013-0.984,1.022C13.453,26.897,13.451,26.897,13.449,26.897z"/>
                      <path fill="#556071" d="M27.231,4.806h-5.391l-0.552-3.789c-0.096-0.463-0.508-0.799-0.981-0.799h-8.615
                        c-0.471,0-0.884,0.335-0.984,0.816L10.16,4.806H4.769c-0.553,0-1.002,0.45-1.002,1.002S4.216,6.81,4.769,6.81h22.464
                        c0.553,0,1.002-0.449,1.002-1.002S27.785,4.806,27.231,4.806z M19.954,5.117c-0.057,0.065-0.14,0.102-0.226,0.102h-7.457
                        c-0.086,0-0.168-0.037-0.226-0.102s-0.083-0.151-0.072-0.237l0.322-2.931c0.019-0.15,0.147-0.262,0.298-0.262h6.858
                        c0.151,0,0.278,0.112,0.298,0.262l0.276,2.931C20.037,4.966,20.011,5.052,19.954,5.117z"/>
                      </svg>
                  </button>
                </td>                               
              </tr>
            </tbody>
        </table>



            <div class="clear"></div>
          </div>
      </div>







        <!-- client:{{client.slug}} -->
        <div class="modal fade deleting_row" role="dialog" id="delete_row">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header clearfix">
                <h5 class="col-sm-10">Client list</h5>
                <button type="button" class="close col-sm-1 no_padding" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body clearfix">
                <div class="col-xs-12 no_padding delete_body">
                  <div class="col-xs-12 col_black">
                     Are you sure, you want to delete?
                  </div> 
                  
                  <div class="col-xs-12">
                    <button class="btn btn-black-bg waves-effect col-sm-4 pull-right text-center client_submit close confirm" ng-click="removeRow($index)">Confirm</button>
                    <button class="btn btn-black-bg waves-effect col-sm-4 pull-right text-center client_submit close cancel" ng-click="close()">Cancel</button>
                  </div>
                </div>
              </div>
            </div> 
          </div>
        </div>






 </div><!--Container-fluid  end here -->

<script>
 $(document).ready(function(){
    $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 100 // Creates a dropdown of 15 years to control year
  });

  });
</script>