



<div class="scrollable ng-scope" >
  <div class="scrollable-content scrollablecontent">
    <div id="ClientDetailsView">
      <div id="middle-container" >
        <div class="homeContainer" id="ClientDetailsView">

          <div class="" ng-class="count ? 'search_menu_container':''" ng-init="getCurrentPosition()">

            <div class="client clearfix">
            
                <div class="client_details col-md-12 col-sm-12 no_padding right_section"> <!-- client details section start here -->



                <div class="container-fluid input-field"><!--Container-fluid start here -->
                  <form name="form">
                    <div class="clearfix"><!-- clients information start here -->
                    <div class="field_title title-padding" id="clientInformationLabel">Client Information</div>
                    <div class="col-md-4 col-sm-6 no_padding width_col"><!-- first Name to Number of children input fileds start here -->
                        <div class="">
                            <input type="text" required />
                            <label id="firstNameLabel">First Name</label>
                        </div>
                        <div class="clearfix">
                            <div class="col-md-6 col-sm-6 no_padding width_col2">
                            <label id="titleLabel">Title</label>
                            <select>
                                <option value="" selected>Mr</option>
                                <option value="2">Miss</option>
                                <option value="1">Mrs</option>
                            </select>
                            </div>
                            <div class="col-md-6 col-sm-6 no_padding width_col_margin width_col2">
                                <label id="genderLabel">Gender</label>
                                <select>
                                   <option value="" selected>Male</option>
                                   <option value="1">Female</option>
                                </select>
                            </div>
                        </div>
                            <div class="clearfix">
                                <label id="nationalityLabel">Nationality</label>
                                <select>
                                   <option value="1">Australia</option>
                                   <option value="2">China</option>
                                   <option value="3">India</option>
                                   <option value="4">Indonesia</option>
                                   <option value="5">Japan</option>
                                   <option value="6">Malaysia</option>
                                   <option value="7">New Zealand</option>
                                   <option value="8">Philippines</option>
                                   <option value="9" selected>Singapore</option>
                                   <option value="10">South Korea</option>
                                   <option value="11">Thailand</option>
                                   <option value="12">USA</option>
                                </select>
                            </div>
                    </div>
                    <div class="col-md-4 col-sm-6 no_padding width_col margin_col">
                        <div class="input-field">
                            <label id="middleNameLabel">Middle Name</label>
                            <input type="text">
                        </div>
                        <div>
                            <label id="dateBirthLabel">Date Of Birth</label>
                            <input type="date" class="datepicker" value="01 Jan, 1950">
                        </div>
                        <div>
                            <label id="residenceLabel">Country of Residence</label>
                            <select>
                                <option value="1">Australia</option>
                                <option value="2">China</option>
                                <option value="3">India</option>
                                <option value="4">Indonesia</option>
                                <option value="5">Japan</option>
                                <option value="6">Malaysia</option>
                                <option value="7">New Zealand</option>
                                <option value="8">Philippines</option>
                                <option value="9" selected>Singapore</option>
                                <option value="10">South Korea</option>
                                <option value="11">Thailand</option>
                                <option value="12">USA</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 no_padding width_col">
                        <div class="input-field" required />
                            <label id="lastNameLabel">Last Name</label>
                            <input type="text">
                        </div>
                        <div class="input-field">
                            <label id="retirementLabel">Expected Retirement Age</label>
                            <input type="text">
                        </div>
                        <div>
                            <div class="col-md-6 col-sm-6 no_padding width_col2">
                                <label id="maritalStatusLabel">Marital Status</label>
                                <select>
                                    <option value="" selected>Single</option>
                                    <option value="1">Married</option>
                                </select>
                            </div>
                            <div class="col-md-6 col-sm-6 no_padding width_col2 width_col_margin">
                                <label id="childrenLabel">Number of Children</label>
                                <select>
                                   <option value="" selected>1</option>
                                   <option value="1">2</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    </div><!-- clients information end here -->
                    <div class="clearfix"><!-- contacts information start here -->
                        <div class="field_title" id="contactLabel">Contact information</div>
                        <div class="col-md-5 col-sm-5 no_padding margin_right2">
                            <div class="input-field">
                                <label id="emailLabel">Email Address</label>
                                <input type="text">
                            </div>
                            <div class="input-field">
                                <label id="bestNumberLabel">Best Number To Contact You</label>
                                <input type="text">
                            </div>
                            <div class="input-field">
                                <label id="additionalPhoneLabel">Additional Phone Number (Optional)</label>
                                <input type="text">
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-5 no_padding">
                            <div class="input-field">
                                <label id="addressLine1Label">Address Line 1 </label>
                                <input type="text">
                            </div>
                            <div class="input-field">
                                 <label id="addressLine2Label">Address Line 2</label>
                                 <input type="text">
                            </div>
                            <div class="col-md-7 col-sm-7  no_padding">
                                <div class="input-field">
                                    <label id="cityLabel">City</label>
                                    <input type="text" class="width_input">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 no_padding margin-left_col">
                                <div class="input-field">
                                    <label id="postcodeLabel">Post Code</label>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="input-field col-sm-12 no_padding">
                                <label id="countryLabel"> Country </label>
                                <input type="text">
                            </div>
                        </div>
                    </div><!-- contacts information end here -->
                    <div class="clearfix"><!-- Additional Contacts start here -->
                        <div class="field_title" id="additionalContactsLabel">Additional Contacts</div>
                        <div class="col-md-5 col-sm-5 no_padding margin_right2">
                            <div class="input-field">
                                <label id="spouseNameLabel">Spouse Name</label>
                                <input type="text">
                            </div>
                            <div class="input-field">
                                <label id="spouseEmailLabel">Spouse Email</label>
                                <input type="text">
                            </div>
                            <div class="input-field">
                                <label id="spouseContactLabel">Spouse Contact Number</label>
                                <input type="text">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 no_padding">
                            <div class="col-sm-6 no_padding">
                                <label id="spouseDOBLabel">Spouse Date of Birth</label>
                                <input type="date" class="datepicker" value="01 Jan, 1950">
                            </div>
                            <div class="col-md-4 col-sm-4 no_padding input-field">
                                <label id="spouseRetirementLabel">Spouse Retirement Age</label>
                                <input type="text">
                            </div>

                        </div>
                    </div><!-- Additional Contacts end here -->
                    <div class="col-sm-12 no_padding">
                      <button class="btn btn-black-bg waves-effect col-sm-2 pull-right text-center" ng-click="renderPage('/clients_list')" type="button" id="cancelLabel">CANCEL</button>
                      <button class="btn btn-black-bg waves-effect col-sm-2 pull-right text-center client_submit" type="submit" ng-disabled="form.$invalid" ng-click="saveClient()">NEXT</button>
                    </div>
                </form>
              </div><!-- Container-fluid end here -->
            </div><!-- client details section end here -->
          </div>
        </div>
      </div>
      <div id="push"></div>
    </div>
  </div>
</div>
<script>
$(document).ready(function(){
 $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 100 // Creates a dropdown of 15 years to control year
  });

 $('select').material_select();
   
});
</script>