



	<nav class="MainMenu">		
			<div class="navigation">
				<ul id="MainMenu1st" class="MenuTopLvl">
					<li id="CurrentItem">
						<a href="#" attr="Level1" ng-href="/#/client-dashboard/{{clientId}}" ng-click="renderPage('/client-dashboard')">
						<span class="LinkWrap">
							<svg version="1.1" id="IcoDashboard" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
									<path fill="#0868ac" d="M30.813,28.133H3.862V1.182c0-0.306-0.306-0.613-0.613-0.613H1.412C1.106,0.57,0.8,0.876,0.8,1.182
										v28.482c0,0.919,0.613,1.531,1.531,1.531h28.482c0.306,0,0.613-0.306,0.613-0.613v-1.838C31.426,28.439,31.12,28.133,30.813,28.133
										z"></path>
									<path fill="#0868ac" d="M7.538,25.071h1.838c0.306,0,0.613-0.306,0.613-0.613V10.37c0-0.306-0.306-0.613-0.613-0.613H7.538 c-0.306,0-0.613,0.306-0.613,0.613v14.088C6.925,24.764,7.231,25.071,7.538,25.071z"></path>
									<path fill="#a8ddb5" d="M13.663,25.071H15.5c0.306,0,0.613-0.306,0.613-0.613v-8.882c0-0.306-0.306-0.613-0.613-0.613
										h-1.838c-0.306,0-0.613,0.306-0.613,0.613v8.882C13.05,24.764,13.357,25.071,13.663,25.071z"></path>
									<path fill="#3089b3" d="M19.788,25.071h1.838c0.306,0,0.613-0.306,0.613-0.613V5.776c0-0.306-0.306-0.613-0.613-0.613
										h-1.838c-0.306,0-0.613,0.306-0.613,0.613v18.682C19.175,24.764,19.482,25.071,19.788,25.071z"></path>
									<path fill="#7bccc4" d="M25.913,25.071h1.838c0.306,0,0.613-0.306,0.613-0.613V2.714c0-0.306-0.306-0.613-0.613-0.613
										h-1.838c-0.306,0-0.613,0.306-0.613,0.613v21.745C25.301,24.764,25.607,25.071,25.913,25.071z"></path>
							</svg>
							<span class="LinkText">Client Dashboard</span>
						</span>
						</a>
					</li>
					<li>
						<a ng-click="renderPage('/risks_calibrations')" attr="Level1">
						<span class="LinkWrap">
							<svg version="1.1" id="IcoRisk" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
								<path fill="#0a91ab" d="M16.062,28.797h13.99c0.657,0,1.19-0.533,1.19-1.19s-0.533-1.19-1.19-1.19h-13.99
									c-0.513-1.719-2.107-2.976-3.994-2.976c-1.884,0-3.481,1.255-3.994,2.976H1.949c-0.657,0-1.19,0.533-1.19,1.19s0.533,1.19,1.19,1.19
									h6.126c0.513,1.719,2.107,2.976,3.994,2.976C13.951,31.774,15.548,30.519,16.062,28.797L16.062,28.797z"></path>
								<path fill="#ffc045" d="M29.283,17.488h0.768c0.657,0,1.19-0.533,1.19-1.19s-0.533-1.19-1.19-1.19h-0.768
									c-0.513-1.719-2.107-2.976-3.994-2.976c-1.884,0-3.481,1.255-3.994,2.976H1.949c-0.657,0-1.19,0.533-1.19,1.19
									c0,0.657,0.533,1.19,1.19,1.19h19.347c0.513,1.719,2.107,2.976,3.994,2.976C27.173,20.464,28.77,19.209,29.283,17.488z"></path>
								<path fill="#118df0" d="M10.704,6.178h19.347c0.657,0,1.19-0.533,1.19-1.19s-0.533-1.19-1.19-1.19H10.704
									C10.191,2.079,8.597,0.822,6.71,0.822c-1.884,0-3.481,1.255-3.994,2.976H1.949c-0.657,0-1.19,0.533-1.19,1.19s0.533,1.19,1.19,1.19
									h0.768C3.23,7.897,4.824,9.154,6.711,9.154C8.594,9.154,10.191,7.899,10.704,6.178L10.704,6.178z"></path>
							</svg>
							<span class="LinkText">Risk</span>
							</span>
						</a>
					</li>					
					<li class="parent">
						<a attr="Level1">
						<span class="LinkWrap">
							<svg version="1.1" id="IcoAllocation" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32" xml:space="preserve">
								<rect fill="#e24d4d" x="0.723" y="2.508" width="11.565" height="11.565"></rect>
								<rect fill="#ffb74d" x="19.224" y="3.178" transform="matrix(0.7071 0.7071 -0.7071 0.7071 12.989 -14.7797)" width="10.222" height="10.222"></rect>
								<polygon fill="#64b5f6" points="0.723,29.975 12.288,29.975 6.505,19.959 "></polygon>
								<circle fill="#81c784" cx="24.335" cy="25.156" r="5.783"></circle>
							</svg>
							<span class="LinkText">Allocation</span>
							</span>
						</a>
						<ul class="MainMenuSub">
							<li><a ng-href="/#/assets_class/{{clientId}}" ng-click="renderPage('/assets_class')">Asset Allocation Selection</a></li>
							<li><a ng-href="/#/assets_allocation/{{clientId}}" ng-click="renderPage('/assets_allocation')">Allocation</a></li>
							<li><a ng-href="/#/client_history/{{clientId}}" ng-click="renderPage('/client_history')">Reviews</a></li>
						</ul>
					</li>
					<li class="parent">
						<a attr="Level1" class="LastChild">
						<span class="LinkWrap">
							<svg version="1.0" id="Ebene_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								 viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
							<path fill="#37a6e4" d="M26.333,31.737c-0.13-0.078-0.229-0.356-0.283-0.802c-0.102-0.835-0.462-1.576-1.169-2.404
								c-0.295-0.345-0.57-0.781-0.611-0.968c-0.05-0.226-0.297-0.509-0.742-0.847c-0.551-0.419-0.716-0.632-0.941-1.22
								c-0.15-0.392-0.384-0.788-0.519-0.88c-0.135-0.092-0.623-0.475-1.084-0.851c-0.999-0.815-1.513-0.966-2.015-0.595
								c-0.279,0.206-0.507,0.247-1.395,0.247c-0.71,0-1.174,0.059-1.402,0.178c-0.187,0.098-0.432,0.178-0.543,0.178
								c-0.186,0.001-0.189-0.04-0.032-0.484c0.512-1.451,0.679-4.142,0.309-4.985c-0.101-0.229-0.114-0.024-0.059,0.894
								c0.112,1.875-0.198,3.38-1.288,6.239c-0.499,1.311-0.506,1.39-0.255,3.009c0.057,0.365,0.019,0.508-0.195,0.736
								c-0.257,0.274-0.26,0.299-0.079,0.831c0.321,0.941-0.129,1.516-1.302,1.663c-0.99,0.124-1.066,0.004-0.75-1.191
								c0.306-1.156,0.44-3.921,0.243-4.975c-0.264-1.407-1.093-2.682-2.066-3.179c-0.702-0.358-0.797-0.201-0.136,0.223
								c0.774,0.497,1.474,1.417,1.474,1.938c0,0.218-0.191,1.115-0.424,1.994c-0.361,1.362-0.412,1.708-0.344,2.341
								c0.062,0.58,0.035,0.838-0.124,1.173c-0.115,0.241-0.173,0.551-0.134,0.707c0.058,0.23-0.002,0.311-0.348,0.476
								c-0.808,0.385-1.89,0.203-2.026-0.341c-0.064-0.256,0.007-0.399,0.4-0.807c0.573-0.594,0.817-1.053,0.991-1.864
								c0.109-0.507,0.086-0.866-0.139-2.176c-0.245-1.426-0.353-1.753-1.192-3.605c-1.585-3.501-1.993-4.981-1.839-6.678
								c0.083-0.912,0.58-2.694,0.787-2.822c0.262-0.162,0.715-1.286,0.777-1.928c0.048-0.499-0.002-0.925-0.187-1.576
								c-0.5-1.764-0.544-2.025-0.357-2.141c0.296-0.183,0.022-0.276-0.354-0.12c-0.284,0.117-0.48,0.119-0.925,0.007
								C5.02,6.874,4.807,6.403,5.432,5.758l0.359-0.37L5.203,5.007C3.51,3.91,3.846,1.687,5.866,0.624
								c1.138-0.599,1.325-0.605,0.693-0.023c-1.085,1-1.458,2.108-0.942,2.799c0.374,0.501,0.796,0.767,1.33,0.839
								c0.44,0.059,0.552,0.015,1.179-0.468c0.381-0.293,0.799-0.574,0.93-0.623c0.227-0.086,2.673-0.196,3.923-0.176
								c0.835,0.014,1.517,0.35,1.96,0.966c0.652,0.907,1.308,0.956,2.015,0.151c0.879-1.001,0.556-2.388-0.774-3.334l-0.567-0.403
								l0.467,0.003c0.86,0.005,1.981,0.685,2.377,1.442c0.091,0.174,0.224,0.699,0.297,1.167c0.126,0.814,0.118,0.879-0.182,1.493
								c-0.173,0.353-0.56,0.859-0.86,1.123c-0.525,0.462-0.538,0.489-0.34,0.709c0.293,0.324,0.191,0.629-0.29,0.87
								c-0.511,0.256-1.176,0.266-1.746,0.028C14.888,7,14.607,7.058,14.971,7.262c0.139,0.078,0.207,0.261,0.207,0.56
								c0,1.29,0.953,3.107,2.378,4.536c1.046,1.048,1.964,1.544,3.388,1.83c1.938,0.388,2.961,1.163,3.795,2.873
								c0.611,1.253,0.892,2.458,1.024,4.394c0.187,2.736,0.47,4.595,0.873,5.729c0.097,0.274,0.272,1.076,0.388,1.783
								c0.165,1.01,0.284,1.391,0.553,1.777c0.205,0.294,0.327,0.604,0.303,0.773c-0.036,0.253-0.106,0.284-0.694,0.31
								C26.827,31.843,26.442,31.802,26.333,31.737L26.333,31.737z M21.096,31.055c-0.122-0.139-0.151-0.287-0.086-0.446
								c0.053-0.131,0.1-0.565,0.105-0.965c0.007-0.604-0.062-0.869-0.409-1.561c-0.241-0.482-0.641-1.04-0.948-1.323
								c-0.528-0.487-0.894-1.042-0.894-1.358c0-0.091-0.107-0.263-0.238-0.381c-0.313-0.283-0.3-0.398,0.061-0.536
								c0.373-0.142,0.637-0.657,0.438-0.856c-0.179-0.179,0.036-0.451,0.356-0.451c0.331,0,0.674,0.202,1.291,0.76
								c0.297,0.269,0.689,0.596,0.87,0.726c0.33,0.237,0.33,0.238,0.137,0.696c-0.215,0.509-0.163,0.956,0.186,1.608
								c0.118,0.221,0.251,0.703,0.296,1.07c0.044,0.367,0.211,1.061,0.37,1.541c0.401,1.208,0.364,1.334-0.437,1.521
								C21.337,31.3,21.31,31.299,21.096,31.055L21.096,31.055z M17.548,24.251c-0.46-0.243-0.779-0.562-0.671-0.671
								c0.037-0.037,0.527-0.03,1.087,0.017c1.116,0.093,1.249,0.215,0.706,0.643C18.288,24.54,18.097,24.542,17.548,24.251L17.548,24.251z
								"/>
							</svg>

							<span class="LinkText">Products</span>
						</span>
						</a>
						<ul class="MainMenuSub">
							<li><a ng-href="/#/product_selection/{{clientId}}" ng-click="renderPage('/product_selection')">Products Selection <span class="Badge Info">33</span></a></li>
							<li><a ng-href="/#/trades/{{clientId}}" ng-click="renderPage('/trades')">Trades <span class="Badge New">NEW</span></a></li>
							<li><a ng-href="/#/trade_history/{{clientId}}" ng-click="renderPage('/trade_history')">Trades History</a></li>
						</ul>
					</li>
				</ul>
			</div>
		<div id="MainMenuTopToggle2" class="BtnToggle c-hamburger c-hamburger--htla "><span></span></div>
		<div id="MainMenuToggle" class="BtnToggle c-hamburger c-hamburger--tree"><span class="Lines"></span><span class="URL"></span></div>	
</nav>    


<div id="MainMenuLogo">
	<svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 36 32" style="enable-background:new 0 0 36 32;" xml:space="preserve">
		<path fill="#556071" d="M35.652,17.768L34.425,0.5l-16.34,21.526L1.745,0.5L0.518,17.768l10.393,13.708L10.893,31.5h0.038
			h14.309h0.038l-0.019-0.025L35.652,17.768z M33.026,5.211l0.424,5.971L23.272,24.551h2.161l8.202-10.764l0.245,3.448l-9.496,12.524
			h-0.429l-4.781-6.299L33.026,5.211z M11.786,29.758L2.29,17.234l0.249-3.501l8.242,10.817h2.161L2.723,11.129l0.42-5.918
			l13.853,18.249l-4.781,6.299H11.786z M14.392,29.758l3.693-4.865l3.693,4.865H14.392z"></path>
	</svg>
</div>



<script type="text/javascript" src="../js/Functions.js"></script>




<!--

<ul class="clearfix" >

	<li class="pull-left client display" id="selected" >
		<a ng-href="/#/client-dashboard/{{clientId}}" ng-click="renderPage('/client-dashboard')" id="menuClient"><span class="cyan-color advisor-name"><span ng-bind="client_shortName"></span>: Dashboard </span></a>
	</li>
	
	<li class="pull-left risk display">
		<a href="" ng-href="/#/risks_calibrations/{{clientId}}" ng-click="renderPage('/risks_calibrations')" id="menuRisk"> RISK </a>
	</li>

	<li class="pull-left allocation display" >
		<a href="" id="menuAllocation">ALLOCATION</a>
		<ul>
			<li><a ng-href="/#/assets_class/{{clientId}}" ng-click="renderPage('/assets_class')" class="" id="menuAssetClassSelection">Asset Class Selection</a></li>
      		<li><a ng-href="/#/assets_allocation/{{clientId}}" ng-click="renderPage('/assets_allocation')" class="" id="menuAssetAllocation">Asset Allocations</a></li>
           	<li><a ng-href="/#/client_history/{{clientId}}" ng-click="renderPage('/client_history')" class="client-details" id="menuClientHistory">Reviews</a></li>

		</ul>
	</li>
	
	<li class="pull-left product display" >
		<a href="" id="menuProducts">PRODUCTS</a>
		<ul>
			<li><a ng-href="/#/product_selection/{{clientId}}" ng-click="renderPage('/product_selection')" class="" id="menuProductSelection">Product Selection</a></li>
      		<li><a ng-href="/#/trades/{{clientId}}" ng-click="renderPage('/trades')" class="" id="menuTrades">Trades</a></li>
            <li><a ng-href="/#/trade_history/{{clientId}}" ng-click="renderPage('/trade_history')" class="client-details" id="menuTradeHistory">Trade History</a></li>

		</ul>
	</li>

	<li class="pull-left cashflow hide" >
		<a href="" id="menuCashflow">CASHFLOW</a>
		<ul>
			<li><a ng-href="/#/cashflow_settings/{{clientId}}" ng-click="renderPage('/cashflow_settings')" class="" id="menuCashflowSettings">Cashflow Settings</a></li>
			<li><a ng-href="/#/savings/{{clientId}}" ng-click="renderPage('/savings')" class="savings-plans" id="menuSavingsPlans">Savings Plans</a></li>
      		<li><a ng-href="/#/investments/{{clientId}}" ng-click="renderPage('/investments')" class="investment" id="menuInvestments">Investments</a></li>
      		<li><a ng-href="/#/income/{{clientId}}" ng-click="renderPage('/income')" class="other-income" id="menuOtherIncome">Other Income</a></li>
      		<li><a ng-href="/#/expenses/{{clientId}}" ng-click="renderPage('/expenses')" class="expense" id="menuExpenses">Expenses</a></li>
      <li><a ng-href="/#/cashflow_report/{{clientId}}" ng-click="renderPage('/cashflow_report')" class="" id="menuCashflowReport">Cashflow Report</a></li>
		</ul>
	</li>

</ul>
-->