


 <div class="container-fluid clearfix"><!--Container-fluid start here -->






<div class="col-lg-6 col-sm-12 col-md-6 margin-bottom-20">
    <div class="TileContainer ">
      <div class="TileHeader">
            <h3 class="TileTitle" ng-bind="values.name">Reviews</h3>
            <ul class="TileHeaderActions">
              <li>
                <a class="BtnFullscreen Max" role="button" title="Toggle fullscreen"></a>
              </li>
            </ul>
             <div class="clear"></div>
          </div>
          <div class="TileBody">
                  <div class="client-since bg-white">
                    <div class=" " ng-bind="values.since"></div>
                    <div class=" " ng-bind="values.date"></div>
                  </div>
              <div class="clear"></div>
          </div>
      </div>
</div>


<div class="col-lg-6 col-sm-12 col-md-6 margin-bottom-20">
    <div class="TileContainer ">
      <div class="TileHeader">
            <h3 class="TileTitle">XX</h3>
            <ul class="TileHeaderActions">
              <li>
                <a class="BtnFullscreen Max" role="button" title="Toggle fullscreen"></a>
              </li>
            </ul>
             <div class="clear"></div>
          </div>
          <div class="TileBody">
                <div class="clearfix aumSection">
                  <div class="text-center list-names clearfix aum-box bg-white" >
                      <h2 class=" text-left" id="aumLabel">AUM</h2>
                      <h1 class=" text-right" ng-bind="values.aum"></h1>
                      <h1 class=" text-right">USD</h1>
                  </div>
                  <div class="text-center list-names clearfix targetbox">
                    <h2 class=" text-right" ng-bind="values.target" id="targetsLabel"></h2>
                  </div>
                  <div class="text-center clearfix list-names returnsBox">
                      <h2 class=" text-left" id="returnsLabel">RETURNS</h2>
                      <h1 class="text-right" ng-bind="values.returns"></h1>
                      <h1 class="marginbottom5 text-right" ng-bind="values.actualreturns" ></h1>
                  </div>
                  <div class="text-center list-names clearfix riskBox">
                      <h2 class=" text-left" id="riskLabel">RISK</h2>
                      <h1 ng-bind="values.risk" class=" text-right"></h1>
                      <h1 ng-bind="values.actualrisk" class="text-right"></h1>
                  </div>
                  <div class=" text-center list-names clearfix lossBox">
                     <h2 class=" text-left" id="lossLabel">LOSS</h2>
                     <h1 ng-bind="values.loss" class=" text-right"></h1>
                     <h1 ng-bind="values.actualloss" class="text-right"></h1>
                  </div>

                </div>
              <div class="clear"></div>
          </div>
      </div>
</div>















    <div class="TileContainer ">
      <div class="TileHeader">
            <h3 class="TileTitle">XX</h3>
            <ul class="TileHeaderActions">
              <li>
                <a class="BtnFullscreen Max" role="button" title="Toggle fullscreen"></a>
              </li>
            </ul>
             <div class="clear"></div>
          </div>
          <div class="TileBody">
                <div class="  clearfix client-list">
                  <div class="col-md-2 col-sm-4 col--xs-6 text-center list-names clearfix" ng-click="renderPage('/savings')">
                    <h2 class="text-left"><a ng-href="/#/savings/{{clientId}}"><span id="savingsLabel">SAVINGS</span></a></h2>
                    <h2 ng-bind="values.savings" class="text-right"></h2>
                  </div>
                  <div class="text-center list-names clearfix" ng-click="renderPage('/investments')">
                    <h2 class="text-left"><a ng-href="/#/investments/{{clientId}}"><span id="investmentsLabel">INVESTMENTS</span></a></h2>
                    <h2 ng-bind="values.investments" class="text-right"></h2>
                  </div>
                  <div class="text-center list-names clearfix" ng-click="renderPage('/income')">
                    <h2 class="text-left"><a ng-href="/#/income/{{clientId}}"><span id="incomeLabel">INCOME</span></a></h2>
                    <h2 ng-bind="values.income" class="text-right"></h2>
                  </div>
                  <div class="text-center list-names clearfix" ng-click="renderPage('/expenses')">
                    <h2 class="text-left"><a ng-href="/#/expenses/{{clientId}}"><span id="expensesLabel">EXPENSES</span></a></h2>
                    <h2 ng-bind="values.expenses" class="text-right"></h2>
                  </div>
                  <div class="text-center list-names clearfix" ng-click="renderPage('/assets_class')">
                    <h2 class="text-left"><a ng-href="/#/assets_class/{{clientId}}"><span id="allocationLabel">ALLOCATION</span></a></h2>
                    <h2 ng-bind="values.allocation" class="text-right"></h2>
                  </div>
                  <div class="text-center list-names marginright-0 clearfix" ng-click="renderPage('/product_selection')">
                    <h2 class="text-left"><a ng-href="/#/product_selection/{{clientId}}"><span id="portfolioLabel">PORTFOLIO</span></a></h2>
                    <h2 ng-bind="values.portfolio" class="text-right"></h2>
                  </div>
                </div>
              <div class="clear"></div>
          </div>
      </div>


       


    <div class="TileContainer ">
      <div class="TileHeader">
            <h3 class="TileTitle">Investments</h3>
            <ul class="TileHeaderActions">
              <li>
                <a class="BtnFullscreen Max" role="button" title="Toggle fullscreen"></a>
              </li>
            </ul>
             <div class="clear"></div>
          </div>
          <div class="TileBody">
              <div id="dashboard-investments" class="bg-white"></div>
              <div id="dashboard-invest" class="bg-white"></div>
              <div class="clear"></div>
          </div>
      </div>








    <div class="TileContainer ">
      <div class="TileHeader">
            <h3 class="TileTitle">Client Account</h3>
            <ul class="TileHeaderActions">
              <li>
                <a class="BtnFullscreen Max" role="button" title="Toggle fullscreen"></a>
              </li>
            </ul>
             <div class="clear"></div>
          </div>
          <div class="TileBody">
              <div id="client-account" class="bg-white"></div>
              <div class="clear"></div>
          </div>
      </div>



            


       

    <div class="TileContainer ">
      <div class="TileHeader">
            <h3 class="TileTitle">Holdings</h3>
            <ul class="TileHeaderActions">
              <li>
                <a class="BtnFullscreen Max" role="button" title="Toggle fullscreen"></a>
              </li>
            </ul>
             <div class="clear"></div>
          </div>
          <div class="TileBody">
              <div class=" ng-hide="noCashe">
                <h3 id="cashLabel">CASH</h3>
                <div class="table-parents">
                      <table class="table table-striped Portfolio table-hover dashboard">
                        <thead class="hide">
                          <tr>
                            <th ng-repeat="category in holdingsHeader">{{category}}</th>
                          </tr>
                        </thead>
                        <tbody>
                           <tr ng-repeat="item in cashe">
                              <td>{{item.fund_name}}</td>
                              <td>${{item.value | number:2}}</td>
                              <td class="wieght">{{item.weight | number:2}}</td>
                            </tr>
                        </tbody>
                      </table>
                </div>
              </div>
              <div class="clear"></div>
          </div>
      </div>










    <div class="TileContainer " ng-hide="noEquities">
      <div class="TileHeader">
            <h3 class="TileTitle">Equity</h3>
            <ul class="TileHeaderActions">
              <li>
                <a class="BtnFullscreen Max" role="button" title="Toggle fullscreen"></a>
              </li>
            </ul>
             <div class="clear"></div>
          </div>
          <div class="TileBody">
                <table class="table table-striped Portfolio table-hover dashboard">
                  <thead class="hide">
                    <tr>
                      <th ng-repeat="category in holdingsHeader">{{category}}</th>
                    </tr>
                  </thead>
                  <tbody>
                     <tr ng-repeat="item in equities">
                        <td>{{item.fund_name}}</td>
                        <td>{{item.value | number:2}}</td>
                        <td class="wieght">{{item.weight | number:2}}</td>
                      </tr>
                  </tbody>
                </table>
              <div class="clear"></div>
          </div>
      </div>








    <div class="TileContainer" ng-hide="noHedge">
      <div class="TileHeader">
            <h3 class="TileTitle">Hedge Funds</h3>
            <ul class="TileHeaderActions">
              <li>
                <a class="BtnFullscreen Max" role="button" title="Toggle fullscreen"></a>
              </li>
            </ul>
             <div class="clear"></div>
          </div>
          <div class="TileBody">
                <table class="table table-striped Portfolio table-hover dashboard">
                  <thead>
                    <tr class="hide">
                      <th ng-repeat="category in holdingsHeader">{{category}}</th>
                    </tr>
                  </thead>
                  <tbody>
                     <tr ng-repeat="item in hedgeFunds">
                        <td>{{item.fund_name}}</td>
                        <td>{{item.value | number:2}}</td>
                        <td class="wieght">{{item.weight | number:2}}</td>
                      </tr>
                  </tbody>
                </table>
              <div class="clear"></div>
          </div>
      </div>









    <div class="TileContainer " ng-hide="noBond">
      <div class="TileHeader">
            <h3 class="TileTitle">Bonds</h3>
            <ul class="TileHeaderActions">
              <li>
                <a class="BtnFullscreen Max" role="button" title="Toggle fullscreen"></a>
              </li>
            </ul>
             <div class="clear"></div>
          </div>
          <div class="TileBody">
              <table class="table table-striped Portfolio table-hover dashboard">
                <thead class="hide">
                  <tr>
                    <th ng-repeat="category in holdingsHeader">{{category}}</th>
                  </tr>
                </thead>
                <tbody>
                 <tr ng-repeat="item in bond">
                    <td>{{item.fund_name}}</td>
                    <td>{{item.value | number:2}}</td>
                    <td class="wieght">{{item.weight | number:2}}</td>
                  </tr>
                </tbody>
              </table>
              <div class="clear"></div>
          </div>
      </div>


          






    <div class="TileContainer " ng-hide="noIncome">
      <div class="TileHeader">
            <h3 class="TileTitle">Fixed Income</h3>
            <ul class="TileHeaderActions">
              <li>
                <a class="BtnFullscreen Max" role="button" title="Toggle fullscreen"></a>
              </li>
            </ul>
             <div class="clear"></div>
          </div>
          <div class="TileBody">
              <table class="table table-striped Portfolio table-hover dashboard">
                <thead class="hide">
                  <tr>
                    <th ng-repeat="category in holdingsHeader">{{category}}</th>
                  </tr>
                </thead>
                <tbody>
                   <tr ng-repeat="item in fixedIncome">
                      <td>{{item.fund_name}}</td>
                      <td>{{item.value | number:2}}</td>
                      <td class="wieght">{{item.weight | number:2}}</td>
                    </tr>
                </tbody>
              </table>
              <div class="clear"></div>
          </div>
      </div>









    <div class="TileContainer " ng-hide="noPrivate">
      <div class="TileHeader">
            <h3 class="TileTitle">Private Equity</h3>
            <ul class="TileHeaderActions">
              <li>
                <a class="BtnFullscreen Max" role="button" title="Toggle fullscreen"></a>
              </li>
            </ul>
             <div class="clear"></div>
          </div>
          <div class="TileBody">
              <table class="table table-striped Portfolio table-hover dashboard">
                <thead>
                  <tr class="hide">
                    <th ng-repeat="category in holdingsHeader">{{category}}</th>
                  </tr>
                </thead>
                <tbody>
                   <tr ng-repeat="item in privateEquity">
                      <td>{{item.fund_name}}</td>
                      <td>{{item.value | number:2}}</td>
                      <td class="wieght">{{item.weight | number:2}}</td>
                    </tr>
                </tbody>
              </table>
              <div class="clear"></div>
          </div>
      </div>









    <div class="TileContainer">
        <div class="TileHeader">
            <h3 class="TileTitle">Funds Performance</h3>
            <ul class="TileHeaderActions">
              <li>
                <a class="BtnFullscreen Max" role="button" title="Toggle fullscreen"></a>
              </li>
            </ul>
             <div class="clear"></div>
        </div>
        <div class="TileBody line-charts  funds-performnace"  id="funds-performance">

                  <div class=" " >
                    <div class="bg-white">
                      <div class="risk-title text-center line-title"><span ng-bind="chartHeaders[0]"></span><img src="images/fullscreen.png" class="view-icon"></div>
                      <div id="usequity" style="min-width: 100px; height: 170px; margin: 0 auto">
                      </div>
                    </div>
                  </div>
                  <div class=" ">
                    <div class="bg-white">
                      <div class="risk-title text-center line-title"><span ng-bind="chartHeaders[1]"></span><img src="images/fullscreen.png" class="view-icon"></div>
                      <div id="euequity" style="min-width: 100px; height: 170px; margin: 0 auto">
                      </div>
                    </div>
                  </div>
                  <div class="hide" ng-hide="graph3hidden">
                    <div class="bg-white">
                      <div class="risk-title text-center line-title"><span ng-bind="chartHeaders[2]"></span><img src="images/fullscreen.png" class="view-icon"></div>
                      <div id="asequity" style="min-width: 100px; height: 170px; margin: 0 auto">
                      </div>
                    </div>
                  </div>
                   <div class=" " >
                    <div class="bg-white">
                      <div class="risk-title text-center line-title"><span ng-bind="chartHeaders[3]"></span><img src="images/fullscreen.png" class="view-icon"></div>
                      <div id="glequity" style="min-width: 100px; height: 170px; margin: 0 auto">
                      </div>
                    </div>
                  </div>
                  <div class="hide" ng-hide="graph5hidden">
                    <div class="bg-white" style="height: 234px;overflow: hidden;">
                      <divs class="risk-title text-center line-title"><span ng-bind="chartHeaders[4]"></span><img src="images/fullscreen.png" class="view-icon"></div>
                      <div id="asbond" style="min-width: 100px; height: 170px; margin: 0 auto">
                      </div>
                  </div>

              <div class="clear"></div>
          </div>
      </div>








 </div>

 <script type="text/javascript" src="js/Functions.js"></script>
