
  <div class="container-fluid">
 




    <div class="TileContainer ">
      <div class="TileHeader">
            <h3 class="TileTitle">Reviews</h3>
            <ul class="TileHeaderActions">
              <li>
                <a class="BtnFullscreen Max" role="button" title="Toggle fullscreen"></a>
              </li>
            </ul>
             <div class="clear"></div>
          </div>
          <div class="TileBody">
                <table class="table Portfolio table-striped table-hover">
                  <thead>
                    <tr class="background_color">
                        <th ng-repeat="category in reviewHead ">{{category}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="client in review">
                      <td>
                        <span>
                          {{client.reviewDate}}
                        </span>
                      </td>
                      <td>
                        <span>
                          {{client.aum}}
                        </span>
                      </td>
                      <td>
                        <span>
                          {{client.targetReturn}}
                        </span>
                      </td>
                      <td>
                        <span>
                          {{client.targetRisk}}
                        </span>
                      </td>
                      <td>
                        <span>
                          {{client.targetLoss}}
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              <div class="clear"></div>
          </div>
      </div>








    <div class="TileContainer ">
      <div class="TileHeader">
            <h3 class="TileTitle">Allocations</h3>
            <ul class="TileHeaderActions">
              <li>
                <a class="BtnFullscreen Max" role="button" title="Toggle fullscreen"></a>
              </li>
            </ul>
             <div class="clear"></div>
          </div>
          <div class="TileBody">
              <table class="table Portfolio table-striped table-hover">
                <thead>
                  <tr class="background_color">
                      <th ng-repeat="category in allocationsHead">{{category}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="client in allocations">
                    <td>
                      <span>
                        {{client.date}}
                      </span>
                    </td>
                    <td>
                      <span>
                        {{client.aum}}
                      </span>
                    </td>
                    <td>
                      <span>
                        {{client.expectedReturn}}
                      </span>
                    </td>
                    <td>
                      <span>
                        {{client.expectedRisk}}
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="clear"></div>
          </div>
      </div>


