
 <div class="container-fluid edit_details input-field"><!--Container-fluid start here -->
    <form name="form">
      <div class="clearfix"><!-- clients information start here -->
      <div class="field_title title-padding" id="clientInformationLabel">Client Information</div>
      <div class="clearfix">
      <div class="col-md-4 col-sm-6 no_padding width_col"><!-- first Name to source income input fields start here -->
        <div class="input-field">
             <!-- {{selectedClient}} -->
          <input type="text" id="firstName" ng-model="selectedClient.firstName" required >
          <label for="firstName" id="firstNameLabel">First Name</label>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 no_padding width_col margin_col">
        <div class="input-field">
          <input type="text" ng-model="selectedClient.middleName" id="middleName">
          <label for="middleName" id="middleNameLabel">Middle Name</label>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 no_padding width_col">
        <div class="input-field">
          <input type="text" id="lastName" ng-model="selectedClient.lastName" required>
          <label for="lastName" id="lastNameLabel">Last Name</label>
        </div>
      </div>
      </div>
      <div class="clearfix">
      <div class="col-md-4 col-sm-6 no_padding width_col">
          <div class="clearfix">
              <div class="col-md-6 col-sm-6 padding-left-0 padding-right-scape-5 input-field">
                <label class="dropdown-label" ng-class="changeTitles ? 'active':''" for="selectTitle" id="titleLabel">Title</label>
                <button type="button"  class="btn btn-default dropdown-button col-md-12 no_padding"  href="#" data-activates="selected5" id="selectTitle">{{selectedClient.title}}</button>
                <ul id='selected5' class='dropdown-content'  >
                   <li ng-repeat="item in title" ng-click="changeTitle(item.name)">
                       {{item.name}}
                   </li>
                </ul>
              </div>
              <div class="col-md-6 col-sm-6 padding-right-0 padding-left-scape-5 input-field">
                <label class="dropdown-label left-15" ng-class="changeGenders ? 'active':''" for="gender" id="genderLabel">Gender</label>
                <button type="button" class="btn btn-default dropdown-button col-md-12 no_padding"  href="#" data-activates="selected6" id="gender">{{selectedClient.gender}}</button>
                <ul id='selected6' class='dropdown-content'>
                 <li ng-repeat="item in gender" ng-click="changeGender(item.name)">
                     {{item.name}}
                 </li>
                </ul>
              </div>
          </div>
      </div>
      <div class="col-md-4 col-sm-6 no_padding width_col margin_col">
          <div class="clearfix">
              <label class="datepickers" for="datePicker" id="dateBirthLabel">Date Of Birth</label>
              <input type="date" class="datepicker" id="datePicker" ng-model="selectedClient.dateOfBirth">
          </div>
      </div>
      <div class="col-md-4 col-sm-6 no_padding width_col">
          <div class="input-field">
              <input type="number" id="expectedRetirementAge" ng-model="selectedClient.expectedRetirementAge">
              <label for="expectedRetirementAge" id="retirementLabel">Expected Retirement Age</label>
          </div>
      </div>
      </div>
      <div class="clearfix">
      <div class="col-md-4 col-sm-6 no_padding width_col">
          <div class="clearfix input-field">
              <label class="dropdown-label" ng-class="changeResidencys ? 'active':''" for="residence" id="residenceLabel">Country of Residence</label>
              <button type="button" class="btn btn-default dropdown-button col-xs-12 no_padding"  href="#" data-activates="selected8" id="residence">{{selectedClient.countryResidence}}</button>
                  <ul id='selected8' class='dropdown-content'>
                  <li ng-repeat="item in countryResidence" ng-click="changeResidency(item.name)">
                     {{item.name}}
                     
                  </li>
                  </ul>
          </div>
      </div>

      <div class="col-md-4 col-sm-6 no_padding width_col margin_col">
        <div>
            <div class="col-md-6 col-sm-6 padding-left-0 padding-right-scape-5 input-field">
              <label class="dropdown-label" ng-class="changeMaritalStatuss ? 'active':''" for="maritalStatus" id="maritalStatusLabel">Marital Status</label>
              <button type="button" id="maritalStatus" class="btn btn-default dropdown-button col-xs-12" href="#" data-activates="selected9">{{selectedClient.maritalStatus}}</button>
              <ul id='selected9' class='dropdown-content'>
                <li ng-repeat="item in maritalStatus" ng-click="changeMaritalStatus(item.name)">
                   {{item.name}}
                </li>
              </ul>
            </div>
            <div class="col-md-6 col-sm-6 padding-right-0 padding-left-scape-5 input-field">
              <label class="dropdown-label left-15" ng-class="changeChildrenNumbers ? 'active':''" for="numberOfChildren" id="childrenLabel">Number of Children</label>
              <button type="button" class="btn btn-default dropdown-button col-xs-12" href="#" data-activates="selected1" id="numberOfChildren">{{selectedClient.numberOfChildren}}</button>
              <ul id='selected1' class='dropdown-content'>
                <li ng-repeat="item in numberOfChildren" ng-click="changeChildrenNumber(item.name)">
                   {{item.name}}
                </li>
              </ul>
            </div>
            
        </div>
      </div>
       <div class="col-md-4 col-sm-6 no_padding width_col">
          <div class="clearfix input-field">
              <label class="dropdown-label" ng-class="changeNationalitys ? 'active':''" for="nationality" id="nationalityLabel" >Nationality</label>
              <button type="button" id="nationality" class="btn btn-default dropdown-button col-md-12 no_padding"  href="#" data-activates="selected7">{{selectedClient.nationality}}</button>
              <ul id='selected7' class='dropdown-content'>
              <li ng-repeat="item in nationality" ng-click="changeNationality(item.name)">
                 {{item.name}}
                 
              </li>
              </ul>
          </div>
      </div>
      </div>
      <div class="clearfix">
      <div class="col-md-4 col-sm-6 no_padding width_col">
          <div class="input-field">
                <input type="text" id="incomeSource" ng-model="selectedClient.sourceincome">
                <label for="incomeSource" id="sourceIncomeLabel">Source Of Income</label>
          </div>
      </div>
      <div class="col-md-4 col-sm-6 no_padding width_col margin_col">
          <div class="input-field">
                <input type="number" id="income" ng-model="selectedClient.income">
                <label for="income" id="incomeLabel">Wage Income</label>
          </div>
      </div>
      <div class="col-md-4 col-sm-6 no_padding width_col">
          <div class="input-field">
                <input type="number" id="incomeGrowth" ng-model="selectedClient.incomeGrowth">
                <label for="incomeGrowth" id="incomeGrowthLabel">Income Growth (%)</label>
          </div>
      </div>
      <div class="col-md-4 col-sm-6 no_padding width_col  margin_col">
          <div class="input-field hide">
            <input type="number" id="netWorth" step="0.01" ng-model="selectedClient.networth">
            <label for="netWorth">Assets Under Management (M)</label>
          </div>
      </div>
      </div>
      
    
      <div class="col-md-12">

      </div>
      </div><!-- clients information end here -->
      <div class="clearfix"><!-- contacts information start here -->
          <div class="field_title" id="contactLabel">Contact information</div>
          <div class="clearfix">
          <div class="col-md-6 col-sm-6 padding-left-0">
              <div class="input-field">
                  <input type="text" id="emailAddress" ng-model="selectedClient.emailAddress">
                  <label for="emailAddress" id="emailLabel">Email Address</label>
              </div>
          </div>
          <div class="col-md-6 col-sm-6 padding-right-0">
              <div class="input-field">
                  <input type="text" id="address1" ng-model="selectedClient.address1">
                  <label for="address1" id="addressLine1Label">Address Line 1 </label>
              </div>
          </div>
          </div>
          <div class="clearfix" >
          <div class="col-md-6 col-sm-6 padding-left-0">
              <div class="input-field">
                  <input type="text" id="bestNumber" ng-model="selectedClient.bestNumberToContact">
                  <label for="bestNumber" id="bestNumberLabel">Best Number To Contact You</label>

              </div>
          </div>
          <div class="col-md-6 col-sm-6 padding-right-0">
              <div class="input-field">
                   <input type="text" id="address2" ng-model="selectedClient.address2">
                   <label for="address2" id="addressLine2Label">Address Line 2</label>
              </div>
          </div>
          </div>
          <div class="clearfix">
          <div class="col-md-6 col-sm-6 padding-left-0">
              <div class="input-field">
                  <input type="text" id="additionalPhoneNumber" ng-model="selectedClient.additionalPhoneNumber">
                  <label for="additionalPhoneNumber" id="additionalPhoneLabel">Additional Phone Number (Optional)</label>

              </div>
          </div>
          <div class="col-md-6 col-sm-6 padding-right-0">
              <div class="col-md-6 col-sm-6 padding-left-0 padding-right-scape-5">
                  <div class="input-field">
                      <input type="text" id="city" class="width_input" ng-model="selectedClient.city">
                      <label for="city" id="cityLabel">City</label>
                  </div>
              </div>
              <div class="col-md-6 col-sm-6 padding-right-0 padding-left-scape-5">
                  <div class="input-field">
                      <input type="text" id="postCode" ng-model="selectedClient.postCode">
                      <label for="postCode" id="postcodeLabel">Post Code</label>
                  </div>
              </div>
              <div class="input-field col-sm-12 no_padding">
                  <input type="text" id="Country" ng-model="selectedClient.country">
                  <label for="Country" id="countryLabel"> Country </label>
              </div>
          </div>
          </div>
      </div><!-- contacts information end here -->
      <div class="clearfix"><!-- Additional Contacts start here -->
          <div class="field_title" id="additionalContactsLabel">Additional Contacts</div>
          <div class="clearfix">
          <div class="col-md-6 col-sm-6 padding-left-0">
              <div class="input-field">
                  <input type="text" id="spouseName" ng-model="selectedClient.spouseName">
                  <label for="spouseName" id="spouseNameLabel">Spouse Name</label>
              </div>
          </div>
          <div class="col-md-6 col-sm-6 padding-right-0">
              <div class="input-field">
                  <input type="text" id="spouseEmail" ng-model="selectedClient.spouseEmail">
                  <label for="spouseEmail" id="spouseEmailLabel">Spouse Email</label>
              </div>
          </div>
          </div>
          <div class="clearfix">
          <div class="col-md-6 col-sm-6 padding-left-0">
              <div class="input-field">
                <input type="number" id="spouseContact" ng-model="selectedClient.spouseContactNumber">
                <label for="spouseContact" id="spouseContactLabel">Spouse Contact Number</label>
              </div>
          </div> 
          <div class="col-md-6 col-sm-6 padding-right-0">
              <div class="no_padding">
                <label class="datepickers" for="datepickers" id="spouseDOBLabel">Spouse Date of Birth</label>
                <input type="date" id="datepickers" class="datepicker" ng-model="selectedClient.spouseDateBirth">
              </div>
          </div>
          </div>
          <div class="clearfix">
            <div class="col-md-6 col-sm-6 padding-left-0">
              <div class="input-field">
                <input type="number" id="spouseIncome" ng-model="selectedClient.spouseIncome">
                <label for="spouseContact" id="spouseIncomeLabel">Spouse Wage Income</label>
              </div>
            </div> 
            <div class="col-md-3 col-sm-3 padding-right-0">
              <div class="input-field">
                <input type="number" id="spouseIncomeGrowth" ng-model="selectedClient.spouseIncomeGrowth">
                <label for="spouseIncomeGrowth" id="spouseIncomeGrowthLabel">Spouse Income Growth (%)</label>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 padding-right-0">
              <div class="input-field">
                <input type="number" id="spouseRetirement" ng-model="selectedClient.spouseRetirement">
                <label for="spouseRetirement" id="spouseRetirementLabel">Spouse Retirement Age</label>
              </div>
            </div>
          </div>
      </div><!-- Additional Contacts end here -->
      <div class="col-sm-12 no_padding">
           <button class="btn btn-black-bg waves-effect col-sm-2 pull-right text-center client_submit" type="button" ng-disabled="form.$invalid" ng-click="addClient(selectedClient);saveClient();renderPage('/asset-input')" id="nextLabel">NEXT</button>
           <button class="btn btn-black-bg waves-effect col-sm-2 pull-right client_submit text-center cancel text-center" type="button" ng-click="cancel()" id="cancelLabel">CANCEL</button>
      </div>
  </form>
</div><!-- Container-fluid end here -->

<script>
$(document).ready(function(){
 $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 80, // Creates a dropdown of 15 years to control year
    max: [2017,7,14]
  });
 // $('.picker__select--year').focus(function(){
 //  $('.picker__select--year').attr('size','10');
 //  $('.picker__select--year').css('position','absolute');
 //  $('.picker__select--year').css('border','1px solid #cdcdcd');
 // })
 
 $('select').material_select();
   
});
</script>