<div class="scrollable ng-scope">
  <div class="scrollable-content scrollablecontent" >
    <div>
      <div id="middle-container">
        <div class="homeContainer" ng-init="updateGoogle('Forgot Password')">
          <div class="gray-container" >
            <div class="container-fluid text-center forgot_password_page" ng-init="updateGoogle('Signin')">
               <h1 class="text-center"><span translate="PLEASE_PASSWORD_VERIFY"> </span></h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

