

  <nav class="MainMenuTop">
      <div class="navigation">
        <ul id="MainMenuTop1st" class="MenuTopLvl">
          <li id="CurrentItem" ng-click="renderPage('/overview')">
            <a attr="Level1" ng-class="why ? 'nav-selectd':''" ng-href="/#/overview" ng-hide="nodashboard">
            <span class="LinkWrap">
              <svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
                <path style="fill:none;" stroke="#056dbc" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
                  M1.485,19.623h6.345l0.717-7.433c0.08-0.161,0.242-0.264,0.421-0.271c0.177-0.006,0.348,0.086,0.439,0.24l3.115,6.194l1.699-14.162
                  c0.037-0.247,0.254-0.435,0.504-0.416c0.249,0.009,0.452,0.205,0.47,0.454l3.255,25.494l2.899-13.372
                  c0.026-0.184,0.154-0.337,0.33-0.397c0.177-0.059,0.371-0.013,0.502,0.118l1.288,3.289h7.045"></path>
              </svg>
              <span class="LinkText">Dashboard</span>
            </span>
            </a>
          </li>
          <li ng-click="renderPage('/clients_list')" ng-if="getUser()">
            <a attr="Level1" ng-class="clients_list ? 'nav-selectd':''" ng-href="/#/clients_list">
            <span class="LinkWrap">
              <svg version="1.0" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
              <path fill="#056dbc" d="M10.624,31.438c-1.516,0-1.138-2.901-0.993-3.88c0.343-2.321,2.617-3.685,4.635-4.422c0.794-0.29,1.921-0.385,2.522-1.022
                c0.45-0.477,0.085-0.754-0.113-1.162c-0.23-0.345-0.453-0.703-0.623-1.084c-0.124-0.277-0.224-0.564-0.3-0.857
                c-0.242-0.14-0.43-0.348-0.594-0.571c-0.544-0.743-0.679-1.788-0.651-2.691c-0.057-0.594,0.223-1.199,0.715-1.537
                c-0.168-0.575-0.141-1.236-0.144-1.831c-0.003-0.555,0.081-1.143,0.311-1.653c0.252-0.558,0.875-0.673,1.139-1.03
                c1.018-1.377,2.365-1.777,4.064-1.747c2.604,0,5.621,1.323,5.677,4.32c0.013,0.665-0.125,1.299-0.243,1.948
                c-0.014,0.08,0.6,0.845,0.653,1.083c0.162,0.725,0.027,1.581-0.189,2.281c-0.223,0.721-0.987,1.038-1.142,1.69
                c-0.147,0.617-0.513,1.323-0.964,1.774c-0.275,0.584,0.008,1.068,0.563,1.35c1.083,0.549,2.333,0.727,3.433,1.272
                c0.985,0.489,1.897,1.16,2.519,2.08c0.821,1.216,0.739,2.518,0.776,3.923c0.019,0.715-0.03,1.612-1.012,1.612
                c-1.004,0-1.05-0.972-1.05-1.708c0-0.636,0.071-1.339-0.095-1.96c-0.308-1.156-1.575-1.854-2.597-2.27
                c-1.763-0.719-4.377-0.953-4.708-3.281c-0.093-0.654-0.024-1.451,0.327-2.017c0.115-0.185,0.319-0.332,0.418-0.521
                c0.356-0.498,0.364-1.104,0.673-1.618c0.412-0.686,0.836-0.755,0.956-1.585c0.071-0.489-0.112-0.312-0.431-0.708
                c-0.236-0.293-0.442-1.022-0.346-1.409c0.221-0.864,0.456-2.016-0.013-2.838c-0.525-0.837-1.706-1.158-2.625-1.273
                c-0.683-0.086-1.537-0.118-2.199,0.084c-0.542,0.165-0.814,0.867-1.262,1.188c-0.549,0.394-0.59,0.452-0.585,1.165
                c0.003,0.412-0.046,0.941,0.083,1.336c0.16,0.761,0.287,1.747-0.565,2.144c-0.303,0.141,0.1,1.129,0.311,1.292
                c0.132,0.163,0.359,0.253,0.493,0.443c0.33,0.471,0.396,1.101,0.671,1.61c0.571,1.054,1.231,1.852,0.886,3.147
                c-0.512,1.923-2.637,2.202-4.221,2.8c-1.454,0.55-3.111,1.435-3.111,3.189C11.674,29.385,12.039,31.438,10.624,31.438z"></path>
              <path fill="#056dbc" d="M9.758,1.611c-1.153,0-2.306,0-3.459,0c-1.409,0-2.987-0.201-4.246,0.555C0.174,3.294,0.28,5.331,0.289,7.237
                c0.008,1.674-0.103,3.559,0.35,5.188c0.657,2.358,3.266,3.797,5.566,3.797c1.097,0,2.748-0.38,3.56,0.404
                c0.506,0.488,0.967,1.138,1.554,1.535c0.923,0.626,2.187-0.077,2.187-1.177c0-0.817,0-1.635,0-2.452c0-2.563,0-5.125,0-7.688
                c0-0.606,0.034-1.223-0.011-1.829C13.354,3.096,11.667,1.611,9.758,1.611z M11.459,15.461c-0.343-0.339-0.761-0.938-1.206-1.139
                c-0.481-0.217-1.225-0.097-1.733-0.097c-1.522,0-3.308,0.257-4.604-0.704c-1.705-1.263-1.474-3.297-1.521-5.206
                c-0.037-1.517-0.56-4.657,1.749-4.657c1.368,0,2.735,0,4.103,0c1.254,0,3.212-0.188,3.212,1.65c0.199,2.392,0,4.883,0,7.283
                C11.459,13.548,11.459,14.504,11.459,15.461z"></path>
              <path fill="#056dbc" d="M5.425,7.74c-0.556,0-1.012-0.436-1.038-0.991C4.36,6.176,4.804,5.688,5.377,5.661c0.012-0.001,0.087,0,0.098,0l3.335,0
                c0.302,0.004,0.561,0.115,0.755,0.314c0.193,0.199,0.298,0.462,0.294,0.74C9.852,7.28,9.386,7.739,8.82,7.739l0,0L5.425,7.74z"></path>
              <path fill="#056dbc" d="M5.425,11.727c-0.556,0-1.012-0.436-1.038-0.991c-0.027-0.574,0.417-1.061,0.99-1.088c0.012-0.001,0.087-0.001,0.098,0
                l3.335,0c0.302,0.004,0.561,0.115,0.755,0.314c0.193,0.199,0.298,0.462,0.294,0.74c-0.007,0.565-0.474,1.024-1.039,1.024l0,0
                L5.425,11.727z"></path>
              </svg>
              <span class="LinkText">Clients</span>
              </span>
            </a>
          </li>         
          <li class="DesktopMenu ProfileMenu parent" ng-if="getUser()">
            <a attr="Level1">
            <span class="LinkWrap">
              <span class="ProfilePic">C.B</span>
              <span class="LinkText" ng-bind="advisorname">Christian Beck</span>
              </span>
            </a>
            <ul class="MainMenuSub">
              <li><a ng-href="/#/advisorDetails" ng-click="renderPage('/advisorDetails')">Advisor Profile</a></li>
              <li><a ng-click="renderPage('/signout')">Logout</a></li>
            </ul>
          </li>
          <li class="MobileMenu">
            <a attr="Level1" ng-href="/#/advisorDetails" ng-click="renderPage('/advisorDetails')">
            <span class="LinkWrap">
              <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
              <path fill="#056dbc" d="M24.452,24.75L21.856,8.205l1.521-3.959c0.147-0.387,0.125-0.822-0.061-1.192L22.319,1.06c-0.25-0.499-0.772-0.82-1.33-0.82
                h-6.657C13.8,0.252,13.286,0.567,13.014,1.06l-0.997,1.993c-0.186,0.371-0.208,0.805-0.061,1.194l0.929,2.42l-7.521,6.918
                c-0.302,0.278-0.481,0.689-0.48,1.099l0.011,2.656c0,0.791,0.694,1.485,1.486,1.485h2.647c0.43,0,0.854-0.196,1.131-0.525
                l2.124-2.504l-1.403,8.957c-0.069,0.463,0.087,0.937,0.418,1.27l5.316,5.314c0.267,0.269,0.65,0.423,1.053,0.423
                c0.401,0,0.785-0.154,1.051-0.422l5.317-5.315C24.366,25.69,24.521,25.217,24.452,24.75z M15.268,3.211h4.797l0.296,0.586
                l-1.058,2.754H16.03l-1.058-2.754L15.268,3.211z M13.055,12.718l-4.268,4.115H6.892l-0.016-1.938l6.767-6.292L13.055,12.718z
                 M17.667,28.193l-3.735-3.734l2.347-14.935h2.776l2.347,14.935L17.667,28.193z"></path>
              </svg>
              <span class="LinkText">Advisor Profile</span>
              </span>
            </a>
          </li>
          <li class="MobileMenu SignInMenu" >
            <a attr="Level1" ng-class="login ? 'nav-selectd':''" ng-click="renderPage('/signin')" ng-if="!getUser()" ng-hide="SignInMenu" >
            <span class="LinkWrap">
                <svg version="1.0" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                   viewBox="0 0 184.25 184.25" enable-background="new 0 0 184.25 184.25" xml:space="preserve">
                <path fill="#056DBC" d="M118.978,182.839h55.154V2.32h-55.154c-4.917,0-8.907,3.99-8.907,8.907s3.984,8.907,8.907,8.907h37.334
                  v144.878h-37.339c-4.917,0-8.907,3.984-8.907,8.907S114.056,182.834,118.978,182.839z"/>
                <path fill="#056DBC" d="M110.433,99.173c0.178-0.236,0.357-0.443,0.535-0.685c0.161-0.259,0.311-0.53,0.443-0.8
                  c0-0.236,0.236-0.443,0.357-0.714c0.115-0.322,0.219-0.651,0.299-0.979c0-0.207,0-0.443,0.178-0.651
                  c0.109-0.547,0.173-1.105,0.178-1.664l0,0c-0.006-0.559-0.069-1.117-0.178-1.664c0-0.236,0-0.443-0.178-0.651
                  c-0.081-0.334-0.178-0.662-0.299-0.979c0-0.236-0.236-0.478-0.357-0.714c-0.132-0.276-0.282-0.541-0.443-0.8
                  c-0.15-0.236-0.357-0.443-0.535-0.685c-0.178-0.236-0.265-0.386-0.415-0.535L72.149,46.725c-3.345-3.61-8.982-3.823-12.592-0.478
                  c-3.61,3.345-3.823,8.982-0.478,12.592l23.999,25.899H22.494c-4.923,0-8.907,3.99-8.907,8.907c0,4.923,3.99,8.907,8.907,8.907
                  h60.589l-23.999,25.904c-3.345,3.61-3.132,9.247,0.478,12.592c3.61,3.345,9.247,3.132,12.592-0.478l37.869-40.984
                  C110.197,99.587,110.318,99.351,110.433,99.173z"/>
                </svg>
              <span class="LinkText">Sign In</span>
              </span>
            </a>
          </li>          
          <li class="MobileMenu">
            <a attr="Level1" ng-click="renderPage('/signout')" >
            <span class="LinkWrap">
              <svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve">
                <path fill="#056dbc" d="M13.834,30.206c0-0.855-0.693-1.547-1.547-1.547H5.802V3.497h6.484c0.855,0,1.547-0.693,1.547-1.547
                  s-0.693-1.547-1.547-1.547H2.707v31.352h9.579C13.141,31.754,13.834,31.061,13.834,30.206z"></path>
                <path fill="#056dbc" d="M27.118,17.224c0.031-0.041,0.062-0.077,0.093-0.119c0.028-0.045,0.054-0.092,0.077-0.139c0-0.041,0.041-0.077,0.062-0.124
                  c0.02-0.056,0.038-0.113,0.052-0.17c0-0.036,0-0.077,0.031-0.113c0.019-0.095,0.03-0.192,0.031-0.289l0,0
                  c-0.001-0.097-0.012-0.194-0.031-0.289c0-0.041,0-0.077-0.031-0.113c-0.014-0.058-0.031-0.115-0.052-0.17
                  c0-0.041-0.041-0.083-0.062-0.124c-0.023-0.048-0.049-0.094-0.077-0.139c-0.026-0.041-0.062-0.077-0.093-0.119
                  c-0.031-0.041-0.046-0.067-0.072-0.093l-6.577-7.108c-0.581-0.627-1.56-0.664-2.187-0.083c-0.627,0.581-0.664,1.56-0.083,2.187
                  l4.168,4.498H11.845c-0.855,0-1.547,0.693-1.547,1.547c0,0.855,0.693,1.547,1.547,1.547h10.523L18.2,22.31
                  c-0.581,0.627-0.544,1.606,0.083,2.187c0.627,0.581,1.606,0.544,2.187-0.083l6.577-7.118
                  C27.077,17.296,27.098,17.255,27.118,17.224z"></path>
              </svg>
              <span class="LinkText" >Logout</span>
              </span>
            </a>
          </li>
        </ul>
      </div>
      <div id="MainMenuTopToggle" class="BtnToggle c-hamburger c-hamburger--htla "><span></span></div>
</nav>    


<div id="TopMenuLogo" ng-click="hideHeader();renderPage('/')">
  <svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 36 32" style="enable-background:new 0 0 36 32;" xml:space="preserve">
    <path fill="#556071" d="M35.652,17.768L34.425,0.5l-16.34,21.526L1.745,0.5L0.518,17.768l10.393,13.708L10.893,31.5h0.038
      h14.309h0.038l-0.019-0.025L35.652,17.768z M33.026,5.211l0.424,5.971L23.272,24.551h2.161l8.202-10.764l0.245,3.448l-9.496,12.524
      h-0.429l-4.781-6.299L33.026,5.211z M11.786,29.758L2.29,17.234l0.249-3.501l8.242,10.817h2.161L2.723,11.129l0.42-5.918
      l13.853,18.249l-4.781,6.299H11.786z M14.392,29.758l3.693-4.865l3.693,4.865H14.392z"></path>
  </svg>
</div>





