<div class="scrollable ng-scope home-page">
  <div class="scrollable-content scrollablecontent">
    <div >
      <div id="middle-container">
        <div class="homeContainer">
          <div class="" ng-class="count ? 'search_menu_container':''" ng-init="getCurrentPosition()">
            <div class="jumbotron">
              <div class="container navbar navbar-app header_nav home">
                  <div class="navbar-header hidden-xs col-md-3 no_padding" >  
                    <a  href='#/' class="navbar-brand">
                      <span class="logo-text">F<span>I</span>NVESE</span>
                      <!--   <span class="logo_img"><img src="images/logo.png" ></span> -->
                    </a>
                  </div>
                  <div class="navbar-header visible-xs mobile-sidebar">
                      <div class="btn-group pull-left col-xs-2">
                          <div ui-toggle="uiSidebarLeft" class="btn sidebar-toggle">
                            <i class="fa fa-bars"></i> 
                          </div>
                        </div>
                       <div class="col-xs-8 logo-text text-center">F<span>I</span>NVESE</div> 
                       <div class="col-xs-2"></div>
                  </div>

                  <div id="navbar-collapse-1" class="topmainnav col-md-9 no_padding">
                    <ul class="nav navbar-nav navbar-right">
                      <!-- <li ng-class="why ? 'nav-selectd':''" ng-click="renderPage('/why')">
                        <a class="logo-text" href='' class="white-font">Dashboard</a>
                      </li> -->                  

                     <!-- <li ng-class="why ? 'nav-selectd':''" ng-click="renderPage('/overview')">
                        <a class="logo-text" ng-href="/#/why" class="white-font">Why Finvese</a>
                      </li>-->
                      
                      <!-- <li ng-class="service ? 'nav-selectd':''" ng-click="renderPage('/service')">
                        <a href=''>Service</a>
                      </li> -->
                      <!--<li ng-class="login ? 'nav-selectd':''" ng-click="renderPage('/signin')" ng-if="!getUser()">
                         <a href='' class="white-font">Sign In</a>
                      </li>-->
                      <!-- <li ng-class="signup ? 'nav-selectd':''" ng-click="renderPage('/signup')" ng-if="!getUser()">
                        <a href=''>SignUp</a>
                      </li> -->
                      <li ng-class="signout ? 'nav-selectd':''" ng-click="renderPage('/overview')" ng-if="getUser()" class="userProfile">
                        <a style="padding-left:0"><img src="images/profile.png" /> <span style="color:#ffffff" ng-bind="advisorname"></span></a>
               
                        <!-- <a href=''>Signout</a> -->
                      </li>
                      <!-- <li ng-class="contact ? 'nav-selectd':''" ng-click="renderPage('/contact')">
                        <a href=''>Contact</a>
                      </li>   -->    
                    </ul>
                  </div>
                </div>
              <h2 class="heading hide">Empowering Investors. Enabling Advisors. Enhancing Performance</h2>
              <p>Investment and Wealth Management Solutions</p>
              <div class="clearfix">
                <div class="col-xs-3"></div>
                <div class="clearfix finvese-home col-xs-6 nopadding">
                    <div class="col-xs-12 nopadding">
                      <div class="col-xs-12">
                        <h3 class="h1">Empowering Investors</h3>
                      </div>
                      <div class="col-xs-12">
                        <div class="col-xs-7 homeslider-content">
                          <div>Fiduciary standards. Transparent process. Best practice. Performance evaluation.<a href=""> Learn more.</a></div>
                        </div>
                        <div class="col-xs-5 nopadding padding-right-0">
                          <div class="slider-chart">
                            <div style="height:220px;width:280px" id="empoweringInvestors" class="enhancingPerformance"></div>
                            <div style="height:220px;width:280px" id="enhancingPerformance2" class="enhancingPerformance"></div>
                            <div style="height:220px;width:280px" id="enhancingPerformance3" class="enhancingPerformance"></div>
                            <div style="height:220px;width:280px" id="enhancingPerformance4" class="enhancingPerformance"></div>
                            <div style="height:220px;width:280px" id="enhancingPerformance5" class="enhancingPerformance"></div>
                          </div>
                          <!-- <h4>ASSET UNDER MANAGEMENT</h4>  -->
                          <div class="container">
                            <div class="row">
                              <div id="myCarousel" class="carousel slide vertical">
                                      <!-- Carousel items -->
                                <div class="carousel-inner">
                                  <div class="active item">
                                    <h4>FIDUCIARY STANDARDS</h4>
                                  </div>
                                  <div class="item">
                                    <h4>TRANSPARENT PROCESS</h4>
                                  </div>
                                  <div class="item">
                                    <h4>BEST PRACTICE</h4>
                                  </div>
                                </div>
                                      <!-- Carousel nav -->
                               <!--  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                                <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a> -->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12">
                      <div class="col-xs-12">
                        <h3 class="h2 enable-advise">Enabling Advisors</h3>
                      </div>
                      <div class="col-xs-12">
                        <div class="col-xs-7 homeslider-content homeslider-content2">
                          <div>Better engines. Adaptive views. Unbiased data inputs. Robust process. Simply professional.<a href=""> Learn more.</a></div>
                        </div>
                        <div class="col-xs-5 nopadding padding-right-0">
                          <div class="slider-chart">
                           <div style="height:220px;width:280px" id="enablingAdvisor" class="enhancingPerformance"></div>
                           <div style="height:220px;width:280px" id="enablingadvertisers2" class="enhancingPerformance"></div>
                           <div style="height:220px;width:280px" id="enablingadvertisers3" class="enhancingPerformance"></div>
                           <div style="height:220px;width:280px" id="enablingadvertisers4" class="enhancingPerformance"></div>
                           <div style="height:220px;width:280px" id="enablingadvertisers5" class="enhancingPerformance"></div>
                          </div>
                          <div class="container">
                            <div class="row">
                              <div id="myCarousel" class="carousel slide vertical">
                                      <!-- Carousel items -->
                                <div class="carousel-inner">
                                  <div class="active item">
                                    <h4>BETTER ENGINES</h4>
                                  </div>
                                  <div class="item">
                                    <h4>ADAPTIVE VIEWS</h4>
                                  </div>
                                  <div class="item">
                                    <h4>UNBIASED DATA INPUTS</h4>
                                  </div>
                                </div>
                                      <!-- Carousel nav -->
                               <!--  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                                <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a> -->
                              </div>
                            </div>
                          </div> 
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12">
                      <div class="col-xs-12">
                        <h3 class="h3">Enhancing Performance</h3>
                      </div>
                      <div class="col-xs-12">
                        <div class="col-xs-7 homeslider-content">
                          <div>Better convictions. Investment clarity. Reduced conflicts. Risk resolution.<a href=""> Learn more.</a></div>
                        </div>
                        <div class="col-xs-5 nopadding padding-right-0">
                          <div class="slider-chart">
                            <div style="height:220px;width:280px" id="enhancingPerformance" class="enhancingPerformance">
                            </div>
                            <div style="height:220px;width:280px" id="enhancing2" class="enhancingPerformance">
                            </div>
                            <div style="height:220px;width:280px" id="enhancing3" class="enhancingPerformance">
                            </div>
                            <div style="height:220px;width:280px" id="enhancing4" class="enhancingPerformance">
                            </div>
                            <div style="height:220px;width:280px" id="enhancing5" class="enhancingPerformance">
                            </div>
                          </div>
                          
                          <div class="container">
                            <div class="row">
                              <div id="myCarousel" class="carousel slide vertical">
                                      <!-- Carousel items -->
                                <div class="carousel-inner">
                                  <div class="active item">
                                    <h4>BETTER CONVICTIONS</h4>
                                  </div>
                                  <div class="item">
                                    <h4>INVESTMENT CLARITY</h4>
                                  </div>
                                  <div class="item">
                                    <h4>REDUCED CONFLICTS</h4>
                                  </div>
                                </div>
                                      <!-- Carousel nav -->
                               <!--  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                                <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a> -->
                              </div>
                            </div>
                          </div> 

                        </div>
                      </div>
                    </div>

                </div>
                <div class="col-xs-3"></div>
              </div>
              <!-- <div class="row jumbo-links">
                <div class="col-sm-4 padding-left-90"><a>FINANCIAL ADVISORS</a></div>
                <div class="col-sm-4 padding-left-60"><a>INVESTORS</a></div>
                <div class="col-sm-4 padding-left-10"><a>INSTITUTIONS</a></div>
              </div> -->
            </div>
            <!-- Content -->
            <div class="content">
              <div class="container home-text text-center">
               <h4 class="knowledge_font platform">F<span class="">I</span>NVESE WEALTH PLATFORM</h4>
               <p class="line-height-39">Created by global experienced award winning professional investment managers to bridge the gap between institutional and individual investors. Delivering transparent and proven Wealth Management process with revolutionary investment solutions for sustainable trust partnership.</p>
              </div>
              <br>
            
            </div>
          <!-- content end -->
          </div>
        </div>
      </div>
      <div id="push"></div>
    </div>
  </div>
</div>
<script> 
  $(document).ready(function(){
  $('.datepicker').pickadate({
    selectMonths: true, 
    selectYears: 15 
  });
  $('.finvese-home').slick({
  dots: true,
  infinite: true,
  speed: 400,
  autoplay:true,
  slidesToShow: 1,
  slidesToScroll: 1,
  responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1,
        infinite: true,
        dots: true
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }

    ]
  });
  $('.slider-chart').slick({
    dots: false,
    infinite: true,
    speed: 1000,
    fade: true,
    arrows: false,
    autoplay: true,
    autoplaySpeed: 900,
    cssEase: 'linear'
  });
  $('.carousel').carousel({
    interval: 2000
  })


});
</script>






















  <!--<header role="banner">
    <div id="TopMenuLogo">
  <svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 36 32" style="enable-background:new 0 0 36 32;" xml:space="preserve">
    <path fill="#556071" d="M35.652,17.768L34.425,0.5l-16.34,21.526L1.745,0.5L0.518,17.768l10.393,13.708L10.893,31.5h0.038
      h14.309h0.038l-0.019-0.025L35.652,17.768z M33.026,5.211l0.424,5.971L23.272,24.551h2.161l8.202-10.764l0.245,3.448l-9.496,12.524
      h-0.429l-4.781-6.299L33.026,5.211z M11.786,29.758L2.29,17.234l0.249-3.501l8.242,10.817h2.161L2.723,11.129l0.42-5.918
      l13.853,18.249l-4.781,6.299H11.786z M14.392,29.758l3.693-4.865l3.693,4.865H14.392z"/>
  </svg>
</div>
  

    
  </header>-->
  <nav class="main-nav">
    <ul>
      <!-- inser more links here -->
      <li ><a class="CDForm-signin"  ng-click="login_selected()">Sign in</a></li>
      <li ><a class="CDForm-signup" ng-click="signup_selected()">Sign up</a></li>
    </ul>
  </nav>

  <div class="CDForm-user-modal"  > <!-- this is the entire modal form, including the background -->
    <div class="CDForm-user-modal-container" ng-click=""> <!-- this is the container wrapper -->
      <ul class="CDForm-switcher">
        <li ><a ng-click="login_selected()">Sign in</a></li>
        <li ><a ng-click="signup_selected()">New account</a></li>
      </ul>

      <div id="CDForm-login"> <!-- log in form -->
        <form class="CDForm-form">

          <p class="fieldset login_error_message" ng-if="error_message === true">
            <span>Invalid email or password</span>
          </p>

          <p class="fieldset">
            <label class="image-replace CDForm-email form-label" for="signin_email">E-mail</label>
            <input class="full-width has-padding has-border form-control" id="signin_email" type="text" placeholder="E-mail" ng-keyup="checkEmail(currentUser, true, false, false)"  ng-model="currentUser.email">
            <span class="CDForm-error-message" id="login_email_error" ng-bind="emailErrorMessage" ></span>
          </p>

          <p class="fieldset" >
            <label class="image-replace CDForm-password" for="signin_password">Password</label>
            <input class="full-width has-padding has-border" ng-model="currentUser.password" id="signin_password" type="text"  placeholder="Password">
            <a class="hide-password" id="hide-password-login" ng-click="HideShowPasswordLogin(this)">Hide</a>
            <span class="CDForm-error-message" id="login_password_error" ng-bind="passwordErrorMessage"></span>
          </p>

          <p class="fieldset">
            <input type="checkbox" id="remember-me" checked>
            <label for="remember-me">Remember me</label>
          </p>

          

          <p class="fieldset" >
            <input class="full-width has-padding" type="submit" ng-click="validateLogin()" value="Login">
          </p>
        </form>
        
        <p class="CDForm-form-bottom-message" ><a ng-click="forgot_password_selected()">Forgot your password?</a></p>
        <!-- <a href="#0" class="CDForm-close-form">Close</a> -->
      </div> <!-- CDForm-login -->

      <div id="CDForm-signup"> <!-- sign up form -->
        <form class="CDForm-form">
          <p class="fieldset" >
            <label class="image-replace CDForm-username" for="signup_username">Username</label>
            <input class="full-width has-padding has-border" ng-model="currentUser.username" id="signup_username" type="text" placeholder="Username">
            <span class="CDForm-error-message" id="register_username_error" ng-bind="usernameErrorMessage">Error message here!</span>
          </p>

          <p class="fieldset" >
            <label class="image-replace CDForm-email" for="signup_email">E-mail</label>
            <input class="full-width has-padding has-border" ng-keyup="checkEmail(currentUser, false, true, false)" ng-model="currentUser.email" id="signup_email" type="text" placeholder="E-mail">
            <span class="CDForm-error-message" id="register_email_error" ng-bind="emailErrorMessage"></span>
          </p>

          <p class="fieldset" >
            <label class="image-replace CDForm-password" for="signup_password">Password</label>
            <input class="full-width has-padding has-border" id="signup_password" ng-model="currentUser.password" type="text"  placeholder="Password">
            <a class="hide-password" id="hide-password-register" ng-click="HideShowPasswordRegister(this)">Hide</a>
            <span class="CDForm-error-message" id="register_password_error" ng-bind="passwordErrorMessage"></span>
          </p>

          <p class="fieldset">
            <input type="checkbox" id="accept_terms">
            <label for="accept_terms">I agree to the <a href="">Terms</a></label>
          </p>

          <p class="fieldset" >
            <input class="full-width has-padding" type="submit" value="Create account" ng-click="validateRegister()">
          </p>
        </form>

        <!-- <a href="#0" class="CDForm-close-form">Close</a> -->
      </div> <!-- CDForm-signup -->

      <div id="CDForm-reset-password" > <!-- reset password form -->
        <p class="CDForm-form-message">Lost your password? Please enter your email address. You will receive a link to create a new password.</p>

        <form class="CDForm-form">
          <p class="fieldset" >
            <label class="image-replace CDForm-email" for="reset-email">E-mail</label>
            <input class="full-width has-padding has-border" ng-keyup="checkEmail(currentUser, false, false, true)" ng-model="currentUser.email" id="reset_email" type="text" placeholder="E-mail">
            <span class="CDForm-error-message" id="reset_email_error" ng-bind="emailErrorMessage"></span>
          </p>

          <p class="fieldset" >
            <input class="full-width has-padding" type="submit" ng-click="validateReset()" value="Reset password">
          </p>
        </form>

        <p class="CDForm-form-bottom-message" ><a ng-click="login_selected()">Back to log-in</a></p>
      </div> <!-- CDForm-reset-password -->
      <div ><a class="CDForm-close-form" ng-click="closeModal()">Close</a></div>
      
    </div> <!-- CDForm-user-modal-container -->
  </div> <!-- CDForm-user-modal -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!--<script src="js/SignUp.js"></script>--> <!-- Gem jQuery -->


<style type="text/css">
    *, *:after, *:before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    } 
    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    } 
    ul, li{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    a{
      text-decoration: none;
    }
    input{
          font-size: 1rem;
    }




  </style>

<link rel="stylesheet" href="css/new/Global.css" />
<link rel="stylesheet" href="css/new/Header.css" />
<link rel="stylesheet" href="css/new/Button.css" />
<link rel="stylesheet" href="css/new/SignIn.css" />
<link rel="stylesheet" href="css/style.css" />

<script type="text/javascript" src="js/vendor/modernizr.js"></script>
 <!-- Gem jQuery -->