<div class="scrollable ng-scope">
  <div class="scrollable-content scrollablecontent">
    <div >
      <div id="middle-container">
        <div class="homeContainer">
          <div class="gray-container" >
            <div class="investements_page clearfix">
                <!-- <div class="col-md-2 col-sm-2 no_padding investements_menu"  ng-include="'templates/side_menu.html'" > Side menu section start here --><!-- </div> -->
            
                <div class="col-md-12 col-sm-12 no_padding right_section"> <!-- client details section start here -->
                  <div ng-include="'templates/tab-menu.html'" class="container-fluid tab-menu" ng-if="!getUser()">
                </div>
                <div  ng-if="getUser()" >
                  <div ng-include="'templates/client-tabs-menu.html'" class="container-fluid tab-menu padding-left-12per"></div>
                </div>
                   <div class="container-fluid"><!--Container-fluid start here -->
                       <div class="col-sm-12 no_padding">
                          <div class="col-xs-12 table-title-new no_padding">
                            <div class="risk-title margin-bottom-0 text-right padding-left-15 col-md-7" id="investmentsLabel">Investments</div>
                            <div class="sub_title clearfix margin-bottom-20 col-md-5">
                                <!-- <h4 class="col-sm-10 no_padding">Investments</h4> -->
                                <div class="col-sm-10">
                                </div>
                                <button class="col-sm-3 pull-right btn btn-border-primary waves-effect add_row modal-trigger" ng-click="resetForm()" id="newInvestmentLabel1">  
                                      <i class="fa fa-plus"></i> New Investment
                                </button>
                            </div>
                          </div>
                          <table class="table Portfolio table-striped table-hover" id="investments_table">
                              <thead>
                                <tr class="background_color">
                                    <th ng-repeat="category in investments_head">{{category}}</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr  ng-repeat="company in investments">
                                  <td> 
                                     <div class="input-field">
                                        <input type="text" ng-model="company.account_owner" ng-disabled=true>
                                     </div>
                                  </td>

                                  <td class="select">
                                      <button type="button" class="btn btn-default dropdown-button"  href="#" data-activates="selected4">{{company.taxable}}</button>
                                      
                                  </td>
                                  <td>
                                      <div class="input-field">
                                        <input type="text" ng-model="company.description" ng-disabled=true>
                                      </div>
                                  </td>
                                  <td>
                                      <div class="input-field">
                                        <!-- <input type="number" ng-model="company.account_value" ng-disabled=true min="0"> -->
                                        <span>{{company.account_value | number:2}}</span>
                                      </div>
                                  </td>
                                  <td>
                                      <div class="input-field">
                                        <!-- <input id="cost_basis" type="number" ng-disabled="taxable_pre" ng-model="company.cost_basis" min='0' ng-disabled=true> -->
                                        <span>{{company.cost_basis| number:2}}</span>
                                      </div>
                                  </td>
                                  <td>
                                     <button class="btn btn-border-default waves-effect delete_row modal-trigger edit_row modal-trigger" id="edit_row" data-toggle="modal" data-target="myModal2" ng-click="editRow($index)">
                                       <span class="glyphicon glyphicon-pencil"></span>
                                     </button>
                                     <button class="btn btn-border-default waves-effect delete_row delete deleting_row  modal-trigger" ng-click="removeRow($index)"> 
                                         <i class="fa fa-times" aria-hidden="true"></i>
                                     </button>
                                  </td>                               
                                </tr>
                              </tbody>
                          </table>
                          <!-- new investment modal popup start here -->
                          <form ng-submit="addRow(saveings_plan_form)" class="ng-pristine ng-invalid ng-invalid-required" name="form" method="post" novalidate="">
                          <div class="modal fade new_row" id="new_row" role="dialog">
                            <div class="modal-dialog">
                            
                              <!-- Modal content-->
                              <div class="modal-content">
                                <div class="modal-header clearfix">
                                  <h5 class="col-sm-10" id="newInvestmentLabel">New Investment</h5>
                                  <button type="button" class="close col-sm-1 no_padding" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body clearfix">
                                   
                                   <!---
                                   <div class="col-xs-12">
                                     <div class="input-field">
                                        <input id="first_name" type="text" class="validate" ng-model="saveings_plan_form.account_owner" name="uOwner" class="validate ng-pristine needsclick ng-invalid ng-invalid-required" ng-blur="owner_errors = true" required="">
                                        <div class="textbr"></div>
                                        <label for="first_name" class="col-xs-12"  id="accountOwnerLabel">Account Owner</label>
                                        <div class="errormsg width_100" ng-show="owner_errors">
                                              <span ng-show="form.uOwner.$error.required" class="ng-scope">Enter Owner Name</span>
                                        </div>
                                      </div>
                                    </div>  -->

                                   <div class="col-xs-12 select">
                                       <label class="no_padding" for="uOwner" id="accountOwnerLabel">Account Owner</label>
                                        <button type="button" class="btn btn-default dropdown-button col-xs-12 validate ng-pristine needsclick ng-invalid ng-invalid-required" href="#" data-activates="selected5a" name="uOwner" required="">{{saveings_plan_form.account_owner}}</button>
                                        <ul id='selected5a' class='dropdown-content'>
                                          <li ng-repeat="item in name_values" ng-click="changeName(item.name)">
                                             {{item.name}}
                                          </li>
                                        </ul> 
                                        <div class="textbr"></div>
                                    </div> 

                                    <div class="col-xs-12 select">
                                       <label class="no_padding" id="typeAccountLabel">Type of Account</label>
                                       <button type="button" class="btn btn-default dropdown-button col-xs-12 no_padding"  href="#" data-activates="selected5" ng-blur="taxable_error = true" >{{saveings_plan_form.taxable}}</button>
                                      <ul id='selected5' class='dropdown-content'>
                                         <li ng-repeat="item in tax_values" ng-click="changeTaxable(item.name)" id='tax{{$index}}'>
                                             {{item.name}}
                                         </li>
                                      </ul>
                                      <div class="textbr"></div>
                                      <div class="errormsg width_100" ng-show="taxable_error && (saveings_plan_form.taxable == [] || saveings_plan_form.taxable == null || saveings_plan_form.taxable == undefined || saveings_plan_form.taxable == 'Select taxable')">
                                          Select Type Of Account
                                      </div>
                                    </div> 
                                    <div class="col-xs-12">
                                      <div class="input-field">
                                        <input id="Description" type="text" class="validate" ng-model="saveings_plan_form.description">
                                        <label for="Description" class="col-xs-12" id="descriptionLabel">Description</label>
                                      </div>
                                    </div> 
                                    <div class="col-xs-12">
                                      <div class="input-field">
                                        <input id="account_value" type="number" min="0" step="0.01" ng-model="saveings_plan_form.account_value" name="uValue" class="validate ng-pristine needsclick ng-invalid ng-invalid-required" ng-blur="value_errors = true" required="">
                                        <div class="textbr"></div>
                                        <label for="account_value" class="col-xs-12" id=accountValueLabel>Account Value</label>
                                        <div class="errormsg width_100" ng-show="value_errors">
                                              <span ng-show="form.uValue.$error.required" class="ng-scope">Enter Account Value</span>
                                        </div>
                                      </div> 
                                    </div>
                                    <div class="col-xs-12">
                                      <div class="input-field">
                                        <input id="cost_basis2" type="number" min="0" step="0.01" ng-disabled="taxable_pre" ng-model="saveings_plan_form.cost_basis" name="uCost" class="validate ng-pristine needsclick ng-invalid ng-invalid-required" ng-blur="cost_errors = true" required="">
                                        <div class="textbr"></div>
                                        <label for="cost_basis2" class="col-xs-12" id="costBasisLabel">Cost basis (if taxable)</label>
                                        <div class="errormsg width_100" ng-show="cost_errors">
                                              <span ng-show="form.uCost.$error.required" class="ng-scope">Enter Cost Basis</span>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-xs-12">
                                      <button class="btn btn-black-bg waves-effect col-sm-3 pull-right text-center client_submit no_padding" type="submit" id="submitLabel">SUBMIT</button>
                                      <button class="btn btn-black-bg waves-effect col-sm-3 pull-right text-center no_padding cancel" data-dismiss="modal" ng-click="notCommit()" id="cancelLabel">CANCEL</button>
                                      <div class="col-xs-1 pull-right"></div>
                                    </div>
                                </div>
                              </div>
                              
                            </div>
                          </div>
                          <!-- new investment modal popup end here -->
                       </div>  
                       <!-- <div class="col-sm-12 no_padding">
                            <button class="btn btn-black-bg waves-effect col-sm-2 pull-right text-center client_submit">SUBMIT</button>
                      </div> -->
                   </div><!--Container-fluid  end here -->
                </div>
            </div>
          </div>
        </div>
        <div id="push"></div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  // function disableInput(val) {
  //   document.getElementById('cost_basis').disabled = val !== 'taxable';
  // }
//   $(document).ready(function() {       
//     $('#tax1, #tax2').on('click',function(){
//          $('#cost_basis').attr('disabled','disabled'); 
//         })
// });         
  $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    // $('.modal-trigger').leanModal();
  });
</script>

<script type="text/javascript" src="../js/Functions.js"></script>