 <div class="container-fluid"><!--Container-fluid start here -->
     
     <div class="col-sm-12 no_padding">
        <div class="col-xs-12 no_padding table-title-new">
          <div class="risk-title margin-bottom-0 text-right padding-left-15 col-md-7" id="otherIncomeLabel">OTHER INCOME</div>
          <div class="sub_title clearfix margin-bottom-20 col-md-5">
            <!-- <h4 class="col-sm-10 no_padding">Other Income</h4> -->
            <div class="col-sm-10">
            </div>
            <button class="col-sm-3 pull-right btn btn-border-primary waves-effect add_row modal-trigger" ng-click="resetForm()" id="otherIncomeLabel2">  
                  <i class="fa fa-plus"></i> Other Income
            </button>
              <!-- ng-click="addRow()" -->
          </div>
        </div>
        <table class="table Portfolio table-striped table-hover" id="income_table">
            <thead>
              <tr class="background_color">
                  <th ng-repeat="category in income_head">{{category}}</th>
              </tr>
            </thead>
            <tbody>
              <tr  ng-repeat="company in investments">
                <td> 
                   <div class="input-field">
                      <input type="text" ng-model="company.description" ng-disabled=true>
                   </div>
                </td>

                <td class="select">
                    <button type="button" class="btn btn-default dropdown-button" href="#" data-activates="selected">{{company.date_range_in}}</button>
                      <!-- <ul id='selected' class='dropdown-content'>
                        <li ng-repeat="(item,value) in date_rage_in" ng-click="changeBeginEnd(item)">
                           {{item}}
                        </li>
                      </ul> -->
                </td>
                <td> 
                   <div class="input-field">
                      <input type="text" ng-model="company.income_name" ng-disabled=true>
                   </div>
                </td>

                <td>
                    <div class="input-field">
                      <input type="number" ng-model="company.date_range_begin" min="0" ng-disabled=true>
                    </div>
                </td>
                <td>
                    <div class="input-field">
                      <input type="number" ng-model="company.date_range_end" min="0" ng-disabled=true>
                    </div>
                </td>
                <td>
                    <div class="input-field">
                      <!-- <input id="cost_basis" type="number" ng-model="company.annual_flow" min="0" ng-disabled=true> -->
                      <span id="cost_basis">{{company.annual_flow | number:2}}</span>
                    </div>
                </td>

                   <td class="select">
                       <!-- <select>
                         <option ng-repeat="item in tax_values" value="{{item.value}}">
                         {{item.name}}</option>    
                       </select> -->
                      <button type="button" class="btn btn-default dropdown-button" href="#" data-activates="selected">{{company.taxable}}</button>

                      <!-- Dropdown Structure -->
                      <!-- <ul id='selected' class='dropdown-content'>
                        <li ng-repeat="item in tax_values" ng-click="changeTaxable(item.name)">
                           {{item.name}}
                        </li>
                      </ul>      -->                                     
                  </td>

                <td style="min-width: 100px" class="select">
                    <button type="button" class="btn btn-default dropdown-button"  href="#" data-activates="selected2">{{company.inflation}}</button>
                    <!-- <ul id='selected2' class='dropdown-content'>
                       <li ng-repeat="item in inflation_values" ng-click="changeAnswers(item.name)">
                           {{item.name}}
                       </li>
                    </ul> -->
                </td>
                <td style="min-width: 100px" >
                   <button class="btn btn-border-default waves-effect delete_row income_action modal-trigger edit_row modal-trigger" id="edit_row" data-toggle="modal" data-target="myModal2" ng-click="editRow($index)">
                     <span class="glyphicon glyphicon-pencil"></span>
                   </button>
                   <button class="btn btn-border-default waves-effect delete_row delete deleting_row  modal-trigger" ng-click="removeRow($index)">
                      <i class="fa fa-times" aria-hidden="true"></i>
                   </button>
                </td>                               
              </tr>
            </tbody>
        </table>

        <!-- other income modal popup start here -->
        <form ng-submit="addRow(saveings_plan_form)" class="ng-pristine ng-invalid ng-invalid-required" name="form" method="post" novalidate="">
        <div class="modal fade new_row" id="new_row" role="dialog">
          <div class="modal-dialog">
          
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header clearfix">
                <h5 class="col-sm-10" id="otherIncomeLabel3">Other Income</h5>
                <button type="button" class="close col-sm-1 no_padding" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body clearfix">
                  <div class="col-xs-12">
                    <div class="input-field">
                      <input id="Description" type="text" class="validate" ng-model="saveings_plan_form.description">
                      <label for="Description" class="col-xs-12" id="descriptionLabel">Description</label>
                    </div>
                  </div>
                  <div class="col-xs-12 select">
                     <label class="no_padding" for="dataRangeIn" id="dateRangeLabel">Date Range In</label>
                      <button type="button" class="btn btn-default dropdown-button col-xs-12" href="#" data-activates="selected3" name="dataRangeIn" ng-blur="range_error = true">{{saveings_plan_form.date_range_in}}</button>
                      <ul id='selected3' class='dropdown-content' ng-click="changeHeight()">
                        <li ng-repeat="(item,value) in date_rage_in" ng-click="changeBeginEnd(item)">
                           {{item}}
                        </li>
                      </ul>
                      <div class="textbr"></div>
                       <div class="errormsg width_100" ng-show="range_error && (saveings_plan_form.date_range_in == [] || saveings_plan_form.date_range_in == null || saveings_plan_form.date_range_in == undefined || saveings_plan_form.date_range_in == 'Select Date Range')">
                         Select Date Range
                       </div>
                  </div> 

                 <div class="col-xs-12 select">
                     <label class="no_padding" for="uName" id="nameLabel">Name (if Age)</label>
                      <button type="button" class="btn btn-default dropdown-button col-xs-12 validate ng-pristine needsclick ng-invalid ng-invalid-required" href="#" data-activates="selected6a" name="uName" required="">{{saveings_plan_form.income_name}}</button>
                      <ul id='selected6a' class='dropdown-content'>
                        <li ng-repeat="item in name_values" ng-click="changeName(item.name)">
                           {{item.name}}
                        </li>
                      </ul> 
                      <div class="textbr"></div>
                  </div> 


                  <div class="input-field col-xs-6">
                    <div class="input-field">
                      <input type="number" id="begin" min="0" ng-model="saveings_plan_form.date_range_begin" name="uBegin" ng-blur="begin_errors = true" class="validate ng-pristine needsclick ng-invalid ng-invalid-required" required="">
                      <div class="textbr"></div>
                      <label for="begin" id="beginLabel">Begin</label>
                      <div class="errormsg width_100" ng-show="begin_errors">
                          <span ng-show="form.uBegin.$error.required" class="ng-scope">Enter End Date</span>
                      </div>
                    </div>
                  </div> 
                   <div class="input-field col-xs-6">
                    <div class="input-field">
                      <input type="number" id="end" min="0" ng-model="saveings_plan_form.date_range_end" name="uEnd" ng-blur="end_errors = true" class="validate ng-pristine needsclick ng-invalid ng-invalid-required" required="">
                      <div class="textbr"></div>
                      <label for="end" id="endLabel">End</label>
                      <div class="errormsg width_100" ng-show="end_errors">
                          <span ng-show="form.uEnd.$error.required" class="ng-scope">Enter End Date</span>
                      </div>
                    </div>
                  </div> 
                  <div class="col-xs-12">
                    <div class="input-field">
                        <input id="cost_basi" placeholder="" type="number" step="0.01" min='0' ng-model="saveings_plan_form.annual_flow" name="uAnnual" ng-blur="annual_errors = true" class="validate ng-pristine needsclick ng-invalid ng-invalid-required" required="">
                        <div class="textbr"></div>
                        <label for="cost_basi" class="col-xs-12" id="annualFlowLabel">Annual Flow</label>
                        <div class="errormsg width_100" ng-show="annual_errors">
                            <span ng-show="form.uAnnual.$error.required" class="ng-scope">Enter Annual Flow</span>
                        </div>
                    </div> 
                  </div>

                 <div class="col-xs-12 select">
                     <label class="no_padding" for="uAccount" id="taxableLabel">Taxable</label>
                      <button type="button" class="btn btn-default dropdown-button col-xs-12 validate ng-pristine needsclick ng-invalid ng-invalid-required" href="#" data-activates="selected6" name="uAccount" ng-blur="taxable_error = true" required="">{{saveings_plan_form.taxable}}</button>
                      <ul id='selected6' class='dropdown-content'>
                        <li ng-repeat="item in tax_values" ng-click="changeTaxable(item.name)">
                           {{item.name}}
                        </li>
                      </ul> 
                      <div class="textbr"></div>
                      <div class="errormsg width_100" ng-show="taxable_error && (saveings_plan_form.taxable == [] || saveings_plan_form.taxable == null || saveings_plan_form.taxable == undefined || saveings_plan_form.taxable == 'Select taxable')">
                        Select Taxable Status
                    </div>
                  </div> 

                  <div class="col-xs-12 select">
                      <label class="no_padding" for="answer" id="inflationLabel">Inflation</label>
                      <button type="button" class="btn btn-default dropdown-button col-xs-12"  href="#" data-activates="selected4" name="answer" ng-blur="answer_error = true" >{{saveings_plan_form.inflation}}</button>
                      <ul id='selected4' class='dropdown-content'>
                         <li ng-repeat="item in inflation_values" ng-click="changeAnswers(item.name)">
                             {{item.name}}
                         </li>
                      </ul>
                      <div class="textbr"></div>
                       <div class="errormsg width_100" ng-show="answer_error && (saveings_plan_form.inflation == [] || saveings_plan_form.inflation == null || saveings_plan_form.inflation == undefined || saveings_plan_form.inflation == 'Select Inflation')">
                         Select Inflation
                       </div>
                  </div>
                  <div class="col-xs-12">
                    <button class="btn btn-black-bg waves-effect col-sm-3 pull-right text-center client_submit n0_padding" type="submit" id="submitLabel">SUBMIT</button>
                    <button class="btn btn-black-bg waves-effect col-sm-3 pull-right text-center no_padding cancel" data-dismiss="modal" ng-click="notCommit()" id="cancelLabel">CANCEL</button>
                    <div class="col-xs-1 pull-right"></div>
              </div>
              </div>
            </div>
            
          </div>
        </div>
        </form>
        <!-- other income modal popup end here -->
        <div class="col-sm-12 no_padding">
           
        </div>
     </div>  
 </div><!--Container-fluid  end here -->

<script type="text/javascript">
  $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    // $('.modal-trigger').leanModal();
  });
</script>