
<div class="container-fluid"><!--Container-fluid start here -->



    <div class="TileContainer ">
      <div class="TileHeader">
            <h3 class="TileTitle">Client Positioning</h3>
            <ul class="TileHeaderActions">
              <li>
                <a class="BtnFullscreen Max" role="button" title="Toggle fullscreen"></a>
              </li>
            </ul>
             <div class="clear"></div>
          </div>
          <div class="TileBody">
              <div id="client_positioning"></div>
              <div class="clear"></div>
          </div>
      </div>





    <div class="TileContainer ">
      <div class="TileHeader">
            <h3 class="TileTitle"><a ng-href="/#/advisor_allocation/clientId/0">Advisory Model Portfolio</a></h3>
            <ul class="TileHeaderActions">
              <li>
                <a class="BtnFullscreen Max" role="button" title="Toggle fullscreen"></a>
              </li>
            </ul>
             <div class="clear"></div>
          </div>
          <div class="TileBody">
             <div id="advisory_model"></div>
              <div class="clear"></div>
          </div>
      </div>




    <div class="TileContainer ">
      <div class="TileHeader">
            <h3 class="TileTitle"><a ng-href="/#/advisor_allocation/clientId/0">Client Portfolio Allocation</a></h3>
            <ul class="TileHeaderActions">
              <li>
                <a class="BtnFullscreen Max" role="button" title="Toggle fullscreen"></a>
              </li>
            </ul>
             <div class="clear"></div>
          </div>
          <div class="TileBody">
              <div id="client_portfolio"></div>
              <div class="clear"></div>
          </div>
      </div>




    <div class="TileContainer ">
      <div class="TileHeader">
            <h3 class="TileTitle"><a ng-href="/#/advisor_allocation/clientId/0">Client Performance (5 years)</a></h3>
            <ul class="TileHeaderActions">
              <li>
                <a class="BtnFullscreen Max" role="button" title="Toggle fullscreen"></a>
              </li>
            </ul>
             <div class="clear"></div>
          </div>
          <div class="TileBody">
              <div id="client_performance"></div>
              <div class="clear"></div>
          </div>
      </div>





</div>
<script type="text/javascript" src="../js/Functions.js"></script>