 <div class="container-fluid">
     <div class="col-md-9 col-sm-12 col-xs-12 product_slick no_padding padding-right-10" id="asset_allocationproduct">
        <div class="asset_class_1 asset_allocationproduct clearfix" >
          <div class="product-scroll-table">
          <div class="risk-title margin-bottom-0 text-left padding-left-10 product-title" id="producttitle1">{{product_tables[current_table]['title']}}</div>
          <!-- <div class="product-selection-scrollable" style="height:auto !important">
          <table class="table table-striped Portfolio table-hover product_table" id="header-fixed"></table>
          </div> -->
          <div class="product-selection-scrollable">
          <table class="table table-striped Portfolio table-hover product_table" id="header-fixed"></table>

          <table class="table table-striped Portfolio table-hover product_table" id="product_table">
              <!-- first table start here -->
              <thead>
                
                <tr class="position-relative">
                  <th class="risk-title margin-bottom-0 text-left padding-left-10"></th>
                  <th class="risk-title margin-bottom-0 text-left padding-left-10"></th>
                  <th class="risk-title margin-bottom-0 text-left padding-left-10"></th>
                  <th class="risk-title margin-bottom-0 text-left padding-left-10"></th>
                  <th class="risk-title margin-bottom-0 text-left padding-left-10 span-parent"><span>{{product_tables[current_table]['title']}}</span></th>
                  <th class="risk-title margin-bottom-0 text-left padding-left-10"></th>
                  <th class="risk-title margin-bottom-0 text-left padding-left-10"></th>
                  <th class="risk-title margin-bottom-0 text-left padding-left-10"></th>
                  <th class="risk-title margin-bottom-0 text-left padding-left-10"></th>
                  <th class="risk-title margin-bottom-0 text-left padding-left-10"></th>
                  <th class="risk-title margin-bottom-0 text-left padding-left-10"></th>
                  <th class="risk-title margin-bottom-0 text-left padding-left-10"></th>
                </tr>
                <tr>
                    <!-- <th ng-repeat="category in product_tables[current_table]['header']">{{category}}</th> -->
                    <th ng-click="sortBy('fund_name')" id="fundNameLabel">Fund Name<span class="sortorder" ng-show="propertyName === 'fund_name'" ng-class="{reverse: reverse}"></span></th>
                    <th ng-click="sortBy('bbgid')" id="bbgidLabel">BBGID<span class="sortorder" ng-show="propertyName === 'bbgid'" ng-class="{reverse: reverse}"></span></th>
                    <th ng-click="sortBy('currency')" id="currencyLabel">CUR<span style="visibility:hidden">.</span><span class="sortorder" ng-show="propertyName === 'currency'" ng-class="{reverse: reverse}"></span></th>

                    <th ng-click="sortBy('issuer_name')" id="issuerLabel" ng-if="current_table ==0 && gotCashBonds()" >Issuer<span class="sortorder" ng-show="propertyName === 'issuer_name'" ng-class="{reverse: reverse}"></span></th>

                    <th ng-click="sortBy('maturity')" id="maturityLabel" ng-if="current_table ==0 && gotCashBonds()" >Maturity<span class="sortorder" ng-show="propertyName === 'maturity'" ng-class="{reverse: reverse}"></span></th>
                    <th ng-click="sortBy('bond_coupon')" id="couponLabel" ng-if="current_table ==0 && gotCashBonds()" >Coupon<span class="sortorder" ng-show="propertyName === 'bond_coupon'" ng-class="{reverse: reverse}"></span></th>
                    <th ng-click="sortBy('bond_yield')" id="yieldLabel" ng-if="current_table ==0 && gotCashBonds()" >Yield<span class="sortorder" ng-show="propertyName === 'bond_yield'" ng-class="{reverse: reverse}"></span></th>
                    <th ng-click="sortBy('bond_price')" id="priceLabel" ng-if="current_table ==0 && gotCashBonds()" >Price<span class="sortorder" ng-show="propertyName === 'bond_price'" ng-class="{reverse: reverse}"></span></th>
                    <th ng-click="sortBy('rating')" id="ratingLabel" ng-if="current_table ==0 && gotCashBonds()" >Rating<span class="sortorder" ng-show="propertyName === 'rating'" ng-class="{reverse: reverse}"></span></th>
                    <th ng-click="sortBy('fund_nav')" id="navLabel" ng-if="!current_table==0 || !gotCashBonds()" >NAV (m)<span class="sortorder" ng-show="propertyName === 'fund_nav'" ng-class="{reverse: reverse}"></span></th>
                    <th ng-click="sortBy('product_type')" id="typeLabel" ng-if="!current_table ==0 || !gotCashBonds()" > Type<span class="sortorder" ng-show="propertyName === 'product_type'" ng-class="{reverse: reverse}"></span></th>
                    <th ng-click="sortBy('fund_return1y')" id="ret1yLabel" ng-if="!current_table ==0 || !gotCashBonds()" >Ret 1Y <span class="sortorder" ng-show="propertyName === 'fund_return1y'" ng-class="{reverse: reverse}"></span></th>
                    <th ng-click="sortBy('fund_return3y')" id="ret3yLabel" ng-if="!current_table ==0 || !gotCashBonds()" >Ret 3Y <span class="sortorder" ng-show="propertyName === 'fund_return3y'" ng-class="{reverse: reverse}"></span></th>
                    <th ng-click="sortBy('fund_return5y')" id="ret5yLabel" ng-if="!current_table ==0 || !gotCashBonds()" >Ret 5Y <span class="sortorder" ng-show="propertyName === 'fund_return5y'" ng-class="{reverse: reverse}"></span></th>
                    <th ng-click="sortBy('fund_sharpe1y')" id="sharpe1yLabel" ng-if="!current_table ==0 || !gotCashBonds()" >Sharpe 1Y <span class="sortorder" ng-show="propertyName === 'fund_sharpe1y'" ng-class="{reverse: reverse}"></span></th>
                    <th ng-click="sortBy('fund_sharpe3y')" id="sharpe3yLabel" ng-if="!current_table ==0 || !gotCashBonds()" >Sharpe 3Y <span class="sortorder" ng-show="propertyName === 'fund_sharpe3y'" ng-class="{reverse: reverse}"></span></th>
                    <th ng-click="sortBy('fund_sharpe5y')" id="sharpe5yLabel" ng-if="!current_table ==0 || !gotCashBonds()" >Sharpe 5Y <span class="sortorder" ng-show="propertyName === 'fund_sharpe5y'" ng-class="{reverse: reverse}"></span></th>
                    <th ng-click="sortBy('fund_volatility1y')" id="volatilityLabel" ng-if="!current_table ==0 || !gotCashBonds()" >Volatility 1Y <span class="sortorder" ng-show="propertyName === 'fund_volatility1y'" ng-class="{reverse: reverse}"></span></th>
                    <th ng-click="sortBy('fund_sortino')" id="sortinoLabel" ng-if="!current_table ==0 || !gotCashBonds()" >Sortino <span class="sortorder" ng-show="propertyName === 'fund_sortino'" ng-class="{reverse: reverse}"></span></th>
                    <th ng-click="sortBy('fund_maxdw')" id="maxDWLabel" ng-if="!current_table ==0 || !gotCashBonds()" >MaxDW <span class="sortorder" ng-show="propertyName === 'fund_maxdw'" ng-class="{reverse: reverse}"></span></th>
                    <th ng-click="sortBy('management_fee')" id="feeLabel" ng-if="!current_table ==0 || !gotCashBonds()" > Fee <span style="visibility:hidden">.</span><span class="sortorder" ng-show="propertyName === 'management_fee'" ng-class="{reverse: reverse}"></span></th>
                    <th id="selectionLabel">Selection</th>
                    <th id="portfolioLabel">Portfolio Weight</th>
                </tr>
              </thead>
              <tbody>
                 <tr ng-repeat="item in product_tables[current_table]['body'] | orderBy:propertyName:reverse">
                    <td>{{item.fund_name}}</td>
                    <td>{{item.bbgid}}</td>
                    <td>{{item.currency}}</td>
                    <td ng-if="current_table ==0 && gotCashBonds()">{{item.issuer_name}}</td>
                    <td ng-if="current_table ==0 && gotCashBonds()">{{item.maturity | number:2 }}</td>
                    <td ng-if="current_table ==0 && gotCashBonds()">{{item.bond_coupon | number:2 }}</td>
                    <td ng-if="current_table ==0 && gotCashBonds()">{{item.bond_yield | number:2 }}</td>
                    <td ng-if="current_table ==0 && gotCashBonds()">{{item.bond_price | number:2 }}</td>
                    <td ng-if="current_table ==0 && gotCashBonds()">{{item.rating}}</td>
                    <td ng-if="!current_table ==0 || !gotCashBonds()">{{item.fund_nav | number:0}}</td>
                    <td ng-if="!current_table ==0 || !gotCashBonds()">{{item.product_type}}</td>
                    <td ng-if="!current_table ==0 || !gotCashBonds()">{{item.fund_return1y | number:2 }}</td>
                    <td ng-if="!current_table ==0 || !gotCashBonds()">{{item.fund_return3y | number:2 }}</td>
                    <td ng-if="!current_table ==0 || !gotCashBonds()">{{item.fund_return5y | number:2}}</td>
                    <td ng-if="!current_table ==0 || !gotCashBonds()">{{item.fund_sharpe1y | number:2}}</td>
                    <td ng-if="!current_table ==0 || !gotCashBonds()">{{item.fund_sharpe3y | number:2}}</td>
                    <td ng-if="!current_table ==0 || !gotCashBonds()">{{item.fund_sharpe5y | number:2}}</td>
                    <td ng-if="!current_table ==0 || !gotCashBonds()">{{item.fund_volatility1y | number:2}}</td>
                    <td ng-if="!current_table ==0 || !gotCashBonds()">{{item.fund_sortino | number:2}}</td>
                    <td ng-if="!current_table ==0 || !gotCashBonds()">{{item.fund_maxdw | number:2}}</td>
                    <td ng-if="!current_table ==0 || !gotCashBonds()">{{item.management_fee | number:2}}</td>
                    <td>
                      <fieldset class="standard" >
                        <div>
                          <md-checkbox aria-label="select" ng-click="checkOrUnchecked(item)" >
                          </md-checkbox>
                        </div>
                      </fieldset>
                    </td>
                    <td>
                      <div class="input-field portfolio_weight">
                        <input type="number" class="portfolio_weight" ng-model="item.portfolio_weight" step="1" id="pw" ng-blur="updateProduct(item)">
                      </div>
                    </td>
                  </tr>
                
              </tbody>
          </table>

          </div>
          </div>
           <div class="col-sm-12 no_padding padding-top-20">
            <button ng-click="current_table = current_table - 1;previousChange()" class="btn btn-black-bg waves-effect col-sm-1 text-center"  ng-class="product_tables.length ==1 || current_table ==0? 'blur':''" >
              <i class="fa fa-angle-left font-ccc" aria-hidden="true"></i>
            </button>
            <button ng-click="current_table = current_table + 1;nextChange()" class="btn btn-black-bg waves-effect col-sm-1 text-center margin-left-20" ng-class="product_tables.length ==1 || current_table == product_tables.length - 1? 'blur':''" >
              <i class="fa fa-angle-right font-ccc" aria-hidden="true"></i>
            </button>
           <!-- <button class="btn btn-black-bg waves-effect col-sm-2 pull-right text-center" id="save_products" ng-click="saveProductAllocations()">SAVE</button> -->
          </div>
        </div>
       
     </div>
    <div class="col-md-3 col-sm-12 col-xs-12 no-padding spider-border">
      <!-- <div class="risk-title margin-bottom-0 text-center padding-left-15">PRODUCT SELECTION</div> -->
      <div class="risk-title margin-bottom-0 text-center padding-left-15" id="allocationLabel">ALLOCATION</div>
      <!-- <div class="col-md-12 col-sm-12 col-xs-12 product_chart_parent no-padding">
        <div id="product_selection" style="min-width: 190px; height: 320px; margin: 0 auto"></div>
      </div> -->
      <div class="col-md-12 col-sm-12 col-xs-12 product_chart_parent no-padding">
        <div class="" style="padding:5px;background-color: #fff;">
          <div id="product_gauge" style="min-width: 192px; height: 433px; max-width: 298px; margin: 0 auto"></div>
        </div>
      </div>
      <div class="hide">
        <div class="risk-title margin-bottom-0 text-center padding-left-15">PRODUCT ALLOCATION</div>
        <div class="col-md-12 col-sm-12 col-xs-12 product_chart_parent no-padding">
          <div id="product_selection-gauge" style="min-width: 192px; height: 433px; margin: 0 auto">
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 no-padding margin-top-10">
      <div class="col-md-4 colsm-12 padding-left-0 padding-right-10">
        <div class="spider-border">
          <div class="risk-title margin-bottom-0 margin-top-10 text-center padding-left-15 margin-top-10" id="excessReturnsLabel">Excess Returns</div>
          <div id="excessReturns" style="min-width: 192px; height: 320px; margin: 0 auto"></div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 padding-left-10 padding-right-10">
        <div class="spider-border">
          <div class="risk-title margin-bottom-0 text-center padding-left-15 margin-top-10" id="risksLabel">Risks</div>
          <div id="risks" style="min-width: 190px; height: 320px; margin: 0 auto"></div>
        </div>
      </div>
      <div class="col-md-4 colsm-12 padding-left-10 padding-right-0">
        <div class="spider-border">
          <div class="risk-title margin-bottom-0 text-center padding-left-15 margin-top-10" id="riskAdjustedReturnsLabel">Risk Adjusted Returns</div>
          <div id="adjustedReturns" style="min-width: 190px; height: 320px; margin: 0 auto"></div>
        </div>
      </div>
    </div>
 </div>

<script>
 $(function() {
    $( "#progressbar" ).progressbar({
      value: 0
    });
    
    $( ".inc" ).click(function(){
      $( "#progressbar" ).progressbar({
      value: $("#progressbar").progressbar("value")+10
    });
    $("#progress-value").text($('#progressbar').progressbar('value')+'%');
    });
    
    $( ".dec" ).click(function(){
      $( "#progressbar" ).progressbar({
      value: $("#progressbar").progressbar("value")-10
    });
    $("#progress-value").text($('#progressbar').progressbar('value')+'%');
    });
    $("#progress-value").text($('#progressbar').progressbar('value')+'%');
  });
//  var tableOffset = $("#product_table").offset().top;
// var $header = $("#product_table > thead").clone();
// var $fixedHeader = $("#header-fixed").append($header);

// $(window).bind("scroll", function() {
//     var offset = $(this).scrollTop();
    
//     if (offset >= tableOffset && $fixedHeader.is(":hidden")) {
//         $fixedHeader.show();
//     }
//     else if (offset < tableOffset) {
//         $fixedHeader.hide();
//     }
// });

</script>
<script type="text/javascript" src="../js/Functions.js"></script>