<div class="container-fluid"><!--Container-fluid start here -->
      <!-- code from start here-->



<!--


████████╗██╗██╗     ███████╗     ██╗
╚══██╔══╝██║██║     ██╔════╝    ███║
   ██║   ██║██║     █████╗      ╚██║
   ██║   ██║██║     ██╔══╝       ██║
   ██║   ██║███████╗███████╗     ██║
   ╚═╝   ╚═╝╚══════╝╚══════╝     ╚═╝
                                    

-->  


<div class="col-lg-6 col-md-12 col-sm-12 no-padding  ">
    <div class="TileContainer">
      <div class="TileHeader">
            <h3 class="TileTitle">Risk Profile</h3>
            <ul class="TileHeaderActions">
              <li>
              </li>
            </ul>
             <div class="clear"></div>
          </div>
          <div class="TileBody">

              <div class="col-lg-8 col-md-8 col-sm-12">
               <div class="intial-aumm ">
                 <label for="intila_invest" class="col-lg-6 col-md-6 col-sm-6 col-xs-6 intial-aum-text" id="initialAUMLabel">Initial AUM(m)</label>
                 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 no_padding text-right input-group-risk">
                   <span class="input-group-addon">$</span>
                   <input type="number" min="1" step="1" class="RiskCalibration" id="intial_invest" ng-model="intialAmount" ng-change="displayChart()">
                 </div>
               </div>
              </div>

              <div class="col-md-12 col-sm-12"><!-- range slider 1 start here -->
                <div id="horizon-slider" class="clearfix">
                  <div class=" col-sm-12 no_padding">
                    <div class="col-lg-6 col-md-8 col-sm-6  range-field padding-right-20" >
                        <label id="horizonLabel">Horizon (Years)</label>                      
                        <md-slider flex min="1" max="30" id="slide" ng-model="slideAmount" ng-change="updateHorizon(slideAmount)" aria-label="red" class="md-primary">
                        </md-slider>
                    </div>
                    <div class="col-lg-6 col-md-4 col-sm-6 no_padding RCmargin-top-40 text-right input-group-risk">
                      <input flex type="number" ng-model="slideAmount" class="RiskCalibration" aria-label="red" aria-controls="red-slider" ng-change="updateHorizon(slideAmount)">
                      <span class="input-group-addon">yrs</span>
                    </div>
                  </div>
                </div>
              </div><!-- range slider 1 end here -->



              <div class="col-md-12 col-sm-12"><!-- range slider 3 start here -->
                  <div id="risk-slider" class="clearfix targetreturn">
                    <div class=" col-sm-12 no_padding">
                    <div class="col-lg-6 col-md-8 col-sm-6  range-field padding-right-20 ">
                       <label id="targetReturnLabel">Target Return (%):</label>
                       <md-slider flex min="0" max="30" id="" ng-model="returnAmount" ng-change="updateReturn(returnAmount)" aria-label="blue"  class="md-primary">
                        </md-slider>
                    </div>
                    <div class="col-lg-6 col-md-4 col-sm-6 no_padding text-right RCmargin-top-20">
                      <label class="col-xs-6 padding-left-0 padding-right-0 text-center " id="annualLabel">Annual</label>
                      <label class="col-xs-6 padding-left-0 padding-right-0 text-center " id="horizonLabel2">Horizon</label>
                      <div class="col-xs-6 input-group input-group-risk padding-right-5">
                        <div class="clearfix annual-horizon ">
                          <input flex type="number" ng-model="returnAmount" min="0" max="30" class="RiskCalibration" aria-label="blue" aria-controls="blue-slider" ng-change="updateReturn(returnAmount)" step="0.1">
                          <span class="input-group-addon">%</span>
                        </div>
                      </div>
                      <div class="col-xs-6 input-group input-group-risk padding-left-5">
                        <div class="clearfix annual-horizon ">
                          <input type="number" class="RiskCalibration" ng-model="returnHorizon" value="7" step="0.1" disabled>
                          <span class="input-group-addon last-child">%</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="chosenReturn"></div>
            </div>



          <div class="col-md-12 col-sm-12"><!-- range slider 2 start here -->
              <div id="risk-slider" class="clearfix">
                <div class=" col-sm-12 no_padding">
                <div class="col-lg-6 col-md-8 col-sm-6 range-field padding-right-20">
                    <label id="targetRiskLabel">Target Risk (%):</label>
                    <md-slider flex min="0" step="1" min="0" max="30" id="slide2" ng-model="riskAmount" ng-change="updateRisk(riskAmount)" aria-label="green" class="md-warn">
                    </md-slider>
                </div>
                <div class="col-lg-6 col-md-4 col-sm-6 no_padding text-right RCmargin-top-40">
                  <div class="col-xs-6 input-group input-group-risk padding-right-5">
                    <div class="clearfix annual-horizon">
                      <input flex type="number" min="0" ng-model="riskAmount" class="RiskCalibration" aria-label="green" aria-controls="green-slider" ng-change="updateRisk(riskAmount)" step="0.1">                                  
                      <span class="input-group-addon">%</span>
                    </div>
                  </div>
                  <div class="col-xs-6 input-group input-group-risk padding-left-5">
                    <div class="clearfix annual-horizon">
                      <input type="number" class="RiskCalibration" ng-model="riskHorizon" value="7" step="0.1" disabled>
                      <span class="input-group-addon last-child">%</span>
                    </div>
                  </div>
                </div>
                </div>
              </div>
              <div id="chosenRisk" class="leftLabel"></div>
          </div><!-- range slider 2 end here -->




      <div class="col-md-12 col-sm-12"><!-- range slider 3 start here -->
          <div id="loss-slider" class="clearfix">
            <div class=" col-sm-12 no_padding">
            <div class="col-lg-6 col-md-8 col-sm-6 range-field padding-right-20">
               <label id="targetLossLabel">Target Loss Probability</label>
               <md-slider flex min="1" max="30" id="slide4" ng-model="lossAmount" ng-change="updateLoss(lossAmount)" aria-label="blue"  class="md-primary">
                </md-slider>
            </div>
            <div class="col-lg-6 col-md-4 col-sm-6 no_padding text-right RCmargin-top-40">
              <div class="col-xs-6 input-group input-group-risk padding-right-5">
                <div class="clearfix annual-horizon">
                  <input flex type="number" ng-model="lossAmount" min="1" max="30" class="RiskCalibration" aria-label="blue" aria-controls="blue-slider" ng-change="updateLoss(lossAmount)" step="0.1">
                  <span class="input-group-addon">%</span>
                </div>
              </div>
              <div class="col-xs-6 input-group input-group-risk padding-left-5">
                <div class="clearfix annual-horizon">
                  <input type="number" class="RiskCalibration" ng-model="lossHorizon" value="7" step="0.1" disabled>
                  <span class="input-group-addon last-child">%</span>
                </div>
              </div>
            </div>
            </div>
          </div>
      </div><!-- range slider 3 end here -->



    <div class="col-md-12 col-sm-12" id="save-simulate">
      <div class="col-md-3 col-sm-12 no_padding padding-top-20">
         <button class="btn btn-black-bg waves-effect col-sm-2 text-center save_risk_calibrations" type="submit" ng-click="saveRiskCalibrations(intialAmount,slideAmount,riskAmount,returnAmount,lossAmount)" id="saveLabel">SAVE</button>
      </div>
    </div>


            <div class="clear"></div>
        </div>
    </div>
</div>









<!-- 


████████╗██╗██╗     ███████╗    ██████╗ 
╚══██╔══╝██║██║     ██╔════╝    ╚════██╗
   ██║   ██║██║     █████╗       █████╔╝
   ██║   ██║██║     ██╔══╝      ██╔═══╝ 
   ██║   ██║███████╗███████╗    ███████╗
   ╚═╝   ╚═╝╚══════╝╚══════╝    ╚══════╝
                                        

-->  

<div class="col-lg-6 col-md-12 col-sm-12 no-padding padding-left-20 WealthProjection">
    <div class="TileContainer">
      <div class="TileHeader">
            <h3 class="TileTitle">Wealth Projection</h3>
            <ul class="TileHeaderActions">
              <li>
                <a class="BtnFullscreen Max" role="button" title="Toggle fullscreen"></a>
              </li>
            </ul>
             <div class="clear"></div>
          </div>
          <div class="TileBody">

              <div class="risks_high_chart risks_high_chart_1" >
                 <!--<h4>Simulation</h4>
                    <div id="input-area">
                        <label class="iterations-label margin-bottom-20-ilscape" id="iterationsLabel">Number of iterations (1 to 20)</label>
                        <div class="input-field iterations" layout>
                           <input type="text" id = "iterations" name="iterations" ng-model="iterations"> 
                           <md-slider flex min="0" max="20" ng-model="iterations" aria-label="red" id="red-slider" class="md-warn">
                           </md-slider>
                           <div flex="20" layout layout-align="center center">
                             <input flex type="number" id="iterations" min="0" max="20" ng-model="iterations" aria-label="red" aria-controls="red-slider">
                           </div>
                        </div>
                        <button id="simulate" class="btn-black-bg" ng-click="runMCSimulation(riskAmount, returnAmount)" >SIMULATE</button>
                        <span ng-model="iterations"></span>
                    </div> 
                  <div id="simulation"></div> -->
                  <div id="wealthchart" style="height:440px; width:90%; margin: 0 auto"></div>
              </div>

              <div class="clear"></div>
          </div>
      </div>
</div>









<div class="clear"></div>




<!--

████████╗██╗██╗     ███████╗    ██████╗ 
╚══██╔══╝██║██║     ██╔════╝    ╚════██╗
   ██║   ██║██║     █████╗       █████╔╝
   ██║   ██║██║     ██╔══╝       ╚═══██╗
   ██║   ██║███████╗███████╗    ██████╔╝
   ╚═╝   ╚═╝╚══════╝╚══════╝    ╚═════╝ 
-->  


    <div class="TileContainer">
      <div class="TileHeader">
            <h3 class="TileTitle">Simulation of Projected Wealth</h3>
            <ul class="TileHeaderActions">
              <li>
                <a class="BtnFullscreen Max" role="button" title="Toggle fullscreen"></a>
              </li>
            </ul>
             <div class="clear"></div>
          </div>
          <div class="TileBody">


              <div class="col-sm-12 risks_high_chart no_padding" >
                  <div class="col-md-12 col-sm-12">
                     <div id="input-area">
                        <label class="iterations-label"><b>Simulation of Projected Wealth </b><br/>Number of iterations (1 to 20)</label>
                        <div class="iterations">
                           <md-slider min="0" max="20" ng-model="iterations" aria-label="red" id="red-slider" class="md-warn col-lg-7 col-md-8 col-sm-6">
                           </md-slider>
                           <div class="col-lg-2 col-md-4 col-sm-6">
                             <input type="number" id="iterations" min="0" max="20" ng-model="iterations" aria-label="red" aria-controls="red-slider">
                           </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 no-padding">
                          <button id="simulate" class="btn-black-bg" ng-click="runMCSimulation2(riskAmount, returnAmount)">SIMULATE</button>
                          <span ng-model="iterations"></span>
                        </div>
                        </div>

                      </div>
                  </div>
                  <div id="simulation2"></div>
              </div>


              <div class="clear"></div>
          </div>
      </div>

















</div>









</div><!--Container-fluid  end here -->

<script type="text/javascript">


  $(document).ready(function(){
    $("#risk-simulation-full").click(function(){
        $('.risks_high_chart_1, .risks_high_chart_2, #risk-simulation-full').hide();
        $('#risk-simulation-normal').show(300);
        $('.risks_high_chart_1, .risks_high_chart_2').hide();
        $('.full-simultation').show();
     });
     $("#risk-simulation-normal").click(function(){
        $('#risk-simulation-normal').hide(400);
        $('.risks_high_chart_1, .risks_high_chart_2,#risk-simulation-full').show(400);
        $('.risks_high_chart_1, .risks_high_chart_2').show();
        $('.full-simultation').hide();

     });
  });

</script>

<script type="text/javascript" src="../js/Functions.js"></script>