 <div class="container-fluid"><!--Container-fluid start here -->
    <div class="col-sm-12 no_padding">
        <div class="col-xs-12 no_padding table-title-new">
          <div class="risk-title margin-bottom-0 text-left padding-left-15 col-md-7" id="savingsPlanLabel">Savings Plan</div>
          <div class="sub_title clearfix margin-bottom-20 col-md-5">
              <!-- <h4 class="col-sm-10 no_padding">Savings Plans</h4> -->
              <div class="col-sm-10">
              </div>
              <button class="col-sm-3 pull-right btn btn-border-primary waves-effect add_row modal-trigger" ng-click="resetForm()" id="newSavingsPlanLabel"> 
                    <i class="fa fa-plus"></i> New Savings Plan
              </button>
          </div>
        </div>
        <table class="table table-striped Portfolio table-hover" id="savings_table">
            <tbody>
            <thead>
              <tr class="">
                <th ng-repeat="category in savings_head">{{category}}</th>
              </tr>
            </thead>
            <tbody>
               <tr ng-repeat="company in investments">


                  <td>
                     <div class="input-field">
                        <input type="text" ng-model="company.saver_name" ng-disabled=true>
                     </div>
                  </td>

                   <td class="select">
                       <!-- <select>
                         <option ng-repeat="item in tax_values" value="{{item.value}}">
                         {{item.name}}</option>    
                       </select> -->
                      <button type="button" class="btn btn-default dropdown-button" href="#" data-activates="selected">{{company.taxable}}</button>

                      <!-- Dropdown Structure -->
                      <!-- <ul id='selected' class='dropdown-content'>
                        <li ng-repeat="item in tax_values" ng-click="changeTaxable(item.name)">
                           {{item.name}}
                        </li>
                      </ul>      -->                                     
                  </td>
                    
                   <td>
                      <div class="input-field">
                        <input type="text" ng-model="company.description" ng-disabled=true>
                      </div>
                  </td>

                   <td class="select">
                      <!-- <select ng-options="item as item for (item,value) in date_rage_in" ng-model="date_range_in_selected" ng-change="changeBeginEnd()">
                      </select> -->
                      <button type="button" class="btn btn-default dropdown-button" href="#" data-activates="selected3">{{company.date_range_in}}</button>
                  </td>
                   <td>
                      <div class="input-field">
                        <input type="number" ng-model="company.date_range_begin" min="0" ng-disabled=true>
                      </div>
                  </td>

                   <td>
                      <div class="input-field">
                        <input type="number" ng-model="company.date_range_end" min='0' ng-disabled=true>
                      </div>
                  </td>

                   <td class="select">
                     
                      <button type="button" class="btn btn-default dropdown-button" href="#" data-activates="selected2" ng-bind-html="company.measure"></button>
                     <!--  <ul id='selected2' class='dropdown-content'>
                        <li ng-repeat="(item,value) in compansation" ng-click="changeOption(item)">
                           <span ng-bind-html="item"></span>
                        </li>
                      </ul>
-->
                  </td>

                   <td>
                      <div class="input-field">
                        <!-- <input type="number"  ng-model="company.opt_begin" min='0' ng-disabled=true> -->
                        <span>{{company.amount | number:2}}</span>
                      </div>
                  </td>

                   <td class="select">
                      <button type="button" class="btn btn-default dropdown-button" href="#" data-activates="selected4">{{company.inflation}}</button>
                      <!-- <ul id='selected4' class='dropdown-content'>
                        <li ng-repeat="item in answr" ng-click="changeAnswer(item)">
                           <div>{{item}}</div>
                        </li>
                      </ul> -->

                  </td>
                  <td>
                     <button class="btn btn-border-default waves-effect delete_row modal-trigger edit_row modal-trigger" id="edit_row" data-toggle="modal" data-target="myModal2" ng-click="editRow($index)">
                      <span class="glyphicon glyphicon-pencil"></span>
                     </button>
                     <button class="btn btn-border-default waves-effect delete_row delete deleting_row  modal-trigger" ng-click="removeRow($index)"> 
                      <i class="fa fa-times" aria-hidden="true"></i>
                     </button>
                  </td>

               </tr>

            </tbody>
        </table>
        <!-- savings plan modal popup start here -->
        <form ng-submit="addRow(saveings_plan_form)" class="ng-pristine ng-invalid ng-invalid-required" name="form" method="post" novalidate="">
        <div class="modal fade new_row" id="new_row" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header clearfix">
                <h5 class="col-sm-10" id="savingsPlanLabel2">Savings Plan</h5>
                <button type="button" class="close col-sm-1 no_padding" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body clearfix">
<!--
                  <div class="col-xs-12">
                   <div class="input-field">
                      <input id="saver_name" ng-model="saveings_plan_form.saver_name" type="text" class="validate ng-pristine needsclick ng-invalid ng-invalid-required" name="uSavername" ng-blur="saver_name_errors = true" required="" />
                      <div class="textbr"></div>
                      <label for="saver_name" class="col-xs-12" id="saverNameLabel">Saver Name</label>
                      <div class="errormsg width_100" ng-show="saver_name_errors">
                        <span ng-show="form.uSavername.$error.required" class="ng-scope">Enter Saver Name</span>
                      </div>
                    </div>
                  </div>
-->
                 <div class="col-xs-12 select">
                     <label class="no_padding" for="uSaverName" id="saverNameLabel">Saver Name</label>
                      <button type="button" class="btn btn-default dropdown-button col-xs-12 validate ng-pristine needsclick ng-invalid ng-invalid-required" href="#" data-activates="selected5" name="uSaverName" required="">{{saveings_plan_form.saver_name}}</button>
                      <ul id='selected5' class='dropdown-content'>
                        <li ng-repeat="item in name_values" ng-click="changeName(item.name)">
                           {{item.name}}
                        </li>
                      </ul> 
                      <div class="textbr"></div>
                  </div> 


                  <div class="col-xs-12 select">
                     <label class="no_padding" for="uAccount" id="typeAccountLabel">Type Of Account</label>
                      <button type="button" class="btn btn-default dropdown-button col-xs-12 validate ng-pristine needsclick ng-invalid ng-invalid-required" href="#" data-activates="selected6" name="uAccount" ng-blur="taxable_error = true" required="">{{saveings_plan_form.taxable}}</button>
                      <ul id='selected6' class='dropdown-content'>
                        <li ng-repeat="item in tax_values" ng-click="changeTaxable(item.name)">
                           {{item.name}}
                        </li>
                      </ul> 
                      <div class="textbr"></div>
                      <div class="errormsg width_100" ng-show="taxable_error && (saveings_plan_form.taxable == [] || saveings_plan_form.taxable == null || saveings_plan_form.taxable == undefined || saveings_plan_form.taxable == 'Select taxable')">
                        Select Type Of Account
                    </div>
                  </div> 
                  <div class="col-xs-12">
                    <div class="input-field">
                      <input id="Description" type="text" ng-model="saveings_plan_form.description">
                      <label for="Description" class="" id="descriptionLabel">Description</label>
                    </div>
                  </div> 
                  <div class="select col-xs-12">
                    <label class="no_padding" for="uRange" id="dateRangeLabel">Date Range In</label>
                    <button type="button" class="btn btn-default dropdown-button col-xs-12 validate ng-pristine needsclick ng-invalid ng-invalid-required" href="#" data-activates="selected7" name="uRange" ng-blur="range_error = true" required="">{{saveings_plan_form.date_range_in}}</button>
                      <ul id='selected7' class='dropdown-content' ng-click="changeHeight()">
                        <li ng-repeat="(item,value) in date_range_in_vals" ng-click="changeBeginEnd(item)">
                           {{item}}
                        </li>
                      </ul>
                    <div class="textbr"></div>
                    <div class="errormsg width_100" ng-show="range_error && (saveings_plan_form.date_range_in == [] || saveings_plan_form.date_range_in == null || saveings_plan_form.date_range_in == undefined || saveings_plan_form.date_range_in == 'Select Date Range')">
                        Select Date Range
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="input-field">
                      <input type="number" id="begin" min="0" ng-model="saveings_plan_form.date_range_begin" name="uBegin" ng-blur="begin_errors = true" class="validate ng-pristine needsclick ng-invalid ng-invalid-required" required="">
                      <div class="textbr"></div>
                      <label for="begin" class="" id="beginLabel">Begin</label>
                      <div class="errormsg width_100" ng-show="begin_errors">
                      <span ng-show="form.uBegin.$error.required" class="ng-scope">Enter Begin Date</span>
                    </div>
                    </div>
                  </div> 
                   <div class="col-xs-6">
                    <div class="input-field">
                      <input type="number" id="end" min="0" ng-model="saveings_plan_form.date_range_end" name="uEnd" ng-blur="end_errors = true" class="validate ng-pristine needsclick ng-invalid ng-invalid-required" required="">
                      <div class="textbr"></div>
                      <label for="end" class="" id="endLabel">End</label>
                      <div class="errormsg width_100" ng-show="end_errors">
                          <span ng-show="form.uEnd.$error.required" class="ng-scope">Enter End Date</span>
                      </div>
                    </div>
                  </div> 
                  <div class="compensation select col-xs-12">
                     <label class="no_padding" for="uCompensation" id="compensationLabel">$ or % of Compensation</label>
                     <button type="button" class="btn btn-default dropdown-button col-xs-12 validate ng-pristine needsclick ng-invalid ng-invalid-required" href="#" data-activates="selected8" ng-bind-html="saveings_plan_form.measure" ng-blur="options_error = true" name="uCompensation"></button>
                      <ul id='selected8' class='dropdown-content' ng-click="changeHgt()">
                        <li ng-repeat="item in percentage" ng-click="changeOption(item)">
                           <span ng-bind-html="item"></span>
                        </li>
                      </ul>
                    <div class="textbr"></div>
                    <div class="errormsg width_100" ng-show="options_error && (saveings_plan_form.measure == [] || saveings_plan_form.measure == null || saveings_plan_form.measure == undefined || saveings_plan_form.measure == 'Select Compensation')">
                        Select Compensation
                    </div>
                  </div>
                  <div class="col-xs-12">
                    <div class="input-field">
                        <input type="number"  id="cost_basi" step="0.01" ng-model="saveings_plan_form.amount" class="validate ng-pristine needsclick ng-invalid ng-invalid-required" name="uAnnual" ng-blur="annual_errors = true" required="">
                        <div class="textbr"></div>
                        <label for="cost_basi" class="" id="amountLabel">Annual Amount</label>
                        <div class="errormsg width_100" ng-show="annual_errors">
                        <span ng-show="form.uAnnual.$error.required" class="ng-scope">Enter Annual Amount</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 select">
                      <label class="no_padding" for="Inflation" id="inflationLabel">Inflation</label>
                      <button type="button" class="btn btn-default dropdown-button col-xs-12 validate ng-pristine needsclick ng-invalid ng-invalid-required" href="#" data-activates="selected9" ng-blur="answer_error = true" name="uInflation">{{saveings_plan_form.inflation}}</button>
                      <ul id='selected9' class='dropdown-content'>
                        <li ng-repeat="item in inflation_vals" ng-click="changeAnswer(item)">
                           <div>{{item}}</div>
                        </li>
                      </ul>
                      <div class="textbr"></div>
                      <div class="errormsg width_100" ng-show="answer_error && (saveings_plan_form.inflation == [] || saveings_plan_form.inflation == null || saveings_plan_form.inflation == undefined || saveings_plan_form.inflation == 'Select Inflation')">
                        Select Inflation
                      </div>
                  </div>
                  <div class="col-xs-12">
                    <button class="btn btn-black-bg waves-effect col-sm-3 pull-right text-center client_submit no_padding" type="submit" id="submitLabel">SUBMIT</button>
                    <button class="btn btn-grey-bg waves-effect col-sm-3 pull-right text-center no_padding cancel" data-dismiss="modal" ng-click="notCommit()" id="cancelLabel">CANCEL</button>
                    <div class="col-xs-1 pull-right"></div>
                 </div>
              </div>
            </div>
            
          </div>
        </div>
        <!-- savings plan modal popup end here -->
        </form>
    </div>
    <!-- <div class="col-sm-12 no_padding">
         <button type="submit" class="btn btn-black-bg waves-effect col-sm-2 pull-right text-center client_submit">SUBMIT</button>
   </div> -->
 </div><!--Container-fluid  end here -->

<script>
 $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    
  });
</script>