
    <div class="header_left no_padding"><!-- side menu header start here-->
        <div class="in client_in"><span>I</span>N</div>
        <div>John Rogers</div>
    </div><!-- side menu header end here -->
    <nav>
    <ul class="side_menu">
        <li>
            <a href='' class="over_view"  ng-class="overview ? 'nav-selected':''" ng-click="renderPage('/overview')" >Overview</a></li>
        <li>
            <a href='' class="clients_list" ng-class="clients_list ? 'nav-selected':''" ng-click="renderPage('/clients_list')">Client List</a></li>
        <li>
        <li>
            <a href='' class="client_detail" ng-class="clients_details ? 'nav-selected':''" ng-click="renderPage('/clients_details')">Client Details</a></li>
        <li>
            <a href="" class="assets" ng-class="assets ? 'nav-selected':''" ng-click="renderPage('/overview')">Assets</a>
                <li><a href='' class="saving_plans nested_li" ng-class="saving ? 'nav-selected':''" ng-click="renderPage('/savings')">Saving Plans</a></li>
                <li><a href='' class="investments nested_li" ng-class="investments ? 'nav-selected':''" ng-click="renderPage('/investments')">Investments</a></li>
                <li><a href='' class="income nested_li" ng-class="income ? 'nav-selected':''" ng-click="renderPage('/income')">Other Income</a></li>
        </li>
        <li>
            <a href='' class="expenses" ng-class="expenses ? 'nav-selected':''" ng-click="renderPage('/expenses')">Expenses</a> </li>
        <li>
            <a href='' class="risks" ng-class="risks ? 'nav-selected':''" ng-click="renderPage('/overview')">Risks</a></li>
        <li>
            <a href='' class="risks_calibrations" ng-class="risks_calibrations ? 'nav-selected':''" ng-click="renderPage('/risks_calibrations')">Risk Calibrations</a></li>
        <li>
            <a href='' class="projected_cash" ng-class="projected_cash? 'nav-selected':''" ng-click="renderPage('/overview')">Projected Cash Flows</a></li>
        <li>
            <a href='' class="assets_class" ng-class="assets_class ? 'nav-selected':''" ng-click="renderPage('/assets_class')">Asset Class Selection</a></li>
        <li>
            <a href='' class="asset_allocations" ng-class="assets_allocations ? 'nav-selected':''" ng-click="renderPage('/assets_allocation')">Asset Allocations</a></li>
        <li>
            <a href='' class="scenario" ng-class="scenario ? 'nav-selected':''" ng-click="renderPage('/overview')">Scenario Analysis</a>  </li>
        <li>
            <a href='' class="product_allocation" ng-class="product ? 'nav-selected':''" ng-click="renderPage('/product')">Product Allocation</a>  </li>
        <li class="nav_li_last"><span></span></li>
    </ul>
    </nav>