
<nav class="MainMenu">		
		<div class="navigation">
			<ul id="MainMenu1st" class="MenuTopLvl">
				<li id="CurrentItem">
					<a href="#" attr="Level1" ng-href="/#/client-dashboard/{{clientId}}" ng-click="renderPage('/client-dashboard')">
					<span class="LinkWrap">
						<svg version="1.1" id="IcoDashboard" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
								<path fill="#0868ac" d="M30.813,28.133H3.862V1.182c0-0.306-0.306-0.613-0.613-0.613H1.412C1.106,0.57,0.8,0.876,0.8,1.182
									v28.482c0,0.919,0.613,1.531,1.531,1.531h28.482c0.306,0,0.613-0.306,0.613-0.613v-1.838C31.426,28.439,31.12,28.133,30.813,28.133
									z"></path>
								<path fill="#0868ac" d="M7.538,25.071h1.838c0.306,0,0.613-0.306,0.613-0.613V10.37c0-0.306-0.306-0.613-0.613-0.613H7.538 c-0.306,0-0.613,0.306-0.613,0.613v14.088C6.925,24.764,7.231,25.071,7.538,25.071z"></path>
								<path fill="#a8ddb5" d="M13.663,25.071H15.5c0.306,0,0.613-0.306,0.613-0.613v-8.882c0-0.306-0.306-0.613-0.613-0.613
									h-1.838c-0.306,0-0.613,0.306-0.613,0.613v8.882C13.05,24.764,13.357,25.071,13.663,25.071z"></path>
								<path fill="#3089b3" d="M19.788,25.071h1.838c0.306,0,0.613-0.306,0.613-0.613V5.776c0-0.306-0.306-0.613-0.613-0.613
									h-1.838c-0.306,0-0.613,0.306-0.613,0.613v18.682C19.175,24.764,19.482,25.071,19.788,25.071z"></path>
								<path fill="#7bccc4" d="M25.913,25.071h1.838c0.306,0,0.613-0.306,0.613-0.613V2.714c0-0.306-0.306-0.613-0.613-0.613
									h-1.838c-0.306,0-0.613,0.306-0.613,0.613v21.745C25.301,24.764,25.607,25.071,25.913,25.071z"></path>
						</svg>
						<span class="LinkText">Dashboard</span>
					</span>
					</a>
				</li>
				<li>
					<a ng-click="renderPage('/risks_calibrations')" attr="Level1">
					<span class="LinkWrap">
						<svg version="1.1" id="IcoRisk" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
							<path fill="#0a91ab" d="M16.062,28.797h13.99c0.657,0,1.19-0.533,1.19-1.19s-0.533-1.19-1.19-1.19h-13.99
								c-0.513-1.719-2.107-2.976-3.994-2.976c-1.884,0-3.481,1.255-3.994,2.976H1.949c-0.657,0-1.19,0.533-1.19,1.19s0.533,1.19,1.19,1.19
								h6.126c0.513,1.719,2.107,2.976,3.994,2.976C13.951,31.774,15.548,30.519,16.062,28.797L16.062,28.797z"></path>
							<path fill="#ffc045" d="M29.283,17.488h0.768c0.657,0,1.19-0.533,1.19-1.19s-0.533-1.19-1.19-1.19h-0.768
								c-0.513-1.719-2.107-2.976-3.994-2.976c-1.884,0-3.481,1.255-3.994,2.976H1.949c-0.657,0-1.19,0.533-1.19,1.19
								c0,0.657,0.533,1.19,1.19,1.19h19.347c0.513,1.719,2.107,2.976,3.994,2.976C27.173,20.464,28.77,19.209,29.283,17.488z"></path>
							<path fill="#118df0" d="M10.704,6.178h19.347c0.657,0,1.19-0.533,1.19-1.19s-0.533-1.19-1.19-1.19H10.704
								C10.191,2.079,8.597,0.822,6.71,0.822c-1.884,0-3.481,1.255-3.994,2.976H1.949c-0.657,0-1.19,0.533-1.19,1.19s0.533,1.19,1.19,1.19
								h0.768C3.23,7.897,4.824,9.154,6.711,9.154C8.594,9.154,10.191,7.899,10.704,6.178L10.704,6.178z"></path>
						</svg>
						<span class="LinkText">Risk</span>
						</span>
					</a>
				</li>					
				<li class="parent">
					<a href="#" attr="Level1">
					<span class="LinkWrap">
						<svg version="1.1" id="IcoAllocation" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32" xml:space="preserve">
							<rect fill="#e24d4d" x="0.723" y="2.508" width="11.565" height="11.565"></rect>
							<rect fill="#ffb74d" x="19.224" y="3.178" transform="matrix(0.7071 0.7071 -0.7071 0.7071 12.989 -14.7797)" width="10.222" height="10.222"></rect>
							<polygon fill="#64b5f6" points="0.723,29.975 12.288,29.975 6.505,19.959 "></polygon>
							<circle fill="#81c784" cx="24.335" cy="25.156" r="5.783"></circle>
						</svg>
						<span class="LinkText">Allocation</span>
						</span>
					</a>
					<ul class="MainMenuSub">
						<li><a ng-href="/#/assets_class/{{clientId}}" ng-click="renderPage('/assets_class')">Asset Allocation Selection</a></li>
						<li><a ng-href="/#/assets_allocation/{{clientId}}" ng-click="renderPage('/assets_allocation')">Allocation</a></li>
						<li><a ng-href="/#/client_history/{{clientId}}" ng-click="renderPage('/client_history')">Reviews</a></li>
					</ul>
				</li>
				<li class="parent">
					<a href="#" attr="Level1" class="LastChild">
					<span class="LinkWrap">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="IcoProducts" x="0px" y="0px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
							<path fill="#37a6e4" d="M30.157,9.313c1.248-1.17,1.717-2.614,1.248-4.252c-0.78-2.809-4.174-3.901-6.515-2.146
								c-0.117,0.078-0.351,0.195-0.468,0.117c-1.834-0.858-3.745-1.014-5.696-0.78c-1.912,0.234-3.823,0.234-5.735,0
								s-3.784-0.117-5.54,0.741C7.217,3.11,7.061,3.11,6.866,2.915C5.071,1.51,2.575,1.783,1.131,3.539S-0.117,7.83,1.599,9.313
								c0.195,0.195,0.234,0.312,0.195,0.585c-0.429,1.795-0.468,3.589-0.078,5.384c0.546,2.731,1.873,5.111,3.589,7.256
								c2.224,2.77,4.916,4.994,7.764,7.022c0.117,0.078,0.195,0.156,0.312,0.234c0.078-0.624,0.156-1.209,0.234-1.795
								c0.039,0,0.078,0,0.117,0c0.624,1.404,1.326,2.731,2.848,3.394c0.039-1.404,0.312-2.692,1.404-3.706
								c0.39,0.663,0.39,1.404,0.429,2.146c1.873-1.287,3.589-2.653,5.189-4.174c2.146-2.068,4.057-4.33,5.345-7.022
								c1.365-2.809,1.873-5.774,1.053-8.856C29.961,9.625,30.039,9.43,30.157,9.313z M8.442,12.097c0-1.038,1.038-1.966,2.13-1.912
								c0.983,0,1.638,0.71,1.584,1.639c-0.055,1.038-1.092,1.966-2.185,1.912C9.097,13.681,8.442,13.026,8.442,12.097z M21.301,22.07
								c-0.312,1.482-1.287,2.38-2.731,2.77c-1.756,0.468-3.55,0.468-5.306,0c-1.873-0.468-2.887-1.756-2.926-3.706
								c-0.078-2.965,1.014-5.501,2.887-7.686c1.678-1.951,3.628-1.951,5.384,0c1.795,1.99,2.77,4.408,2.848,7.334
								C21.418,21.095,21.418,21.602,21.301,22.07z M21.683,13.736c-1.092,0-2.13-0.928-2.13-1.966c0-0.928,0.71-1.584,1.693-1.584
								c1.147,0,2.076,0.929,2.076,2.021C23.322,13.08,22.612,13.736,21.683,13.736z"></path>
							<path fill="#546ad9" d="M17.946,18.052c-1.365-0.741-2.77-0.741-4.096,0c-1.443,0.819-1.561,2.38-0.156,3.199c0.468,0.273,1.014,0.429,1.404,0.624
								c0,0.312,0,0.312,0,1.092c-0.78,0-1.17,0-1.56,0v0.39c1.56,0,3.511,0,4.682,0v-0.39c-0.39,0-1.17,0-1.56,0c0-0.78,0-0.819,0-1.092
								c0.39-0.195,0.975-0.351,1.443-0.624C19.467,20.431,19.311,18.871,17.946,18.052z"></path>
						</svg>
						<span class="LinkText">Products</span>
					</span>
					</a>
					<ul class="MainMenuSub">
						<li><a ng-href="/#/product_selection/{{clientId}}" ng-click="renderPage('/product_selection')">Products Selection <span class="Badge Info">33</span></a></li>
						<li><a ng-href="/#/trades/{{clientId}}" ng-click="renderPage('/trades')">Trades <span class="Badge New">NEW</span></a></li>
						<li><a ng-href="/#/trade_history/{{clientId}}" ng-click="renderPage('/trade_history')">Trades History</a></li>
					</ul>
				</li>
			</ul>
		</div>
	<div id="MainMenuTopToggle2" class="BtnToggle c-hamburger c-hamburger--htla "><span></span></div>
	<div id="MainMenuToggle" class="BtnToggle c-hamburger c-hamburger--tree"><span class="Lines"></span><span class="URL"></span></div>	
</nav>    


<div id="MainMenuLogo">
	<svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 36 32" style="enable-background:new 0 0 36 32;" xml:space="preserve">
		<path fill="#556071" d="M35.652,17.768L34.425,0.5l-16.34,21.526L1.745,0.5L0.518,17.768l10.393,13.708L10.893,31.5h0.038
			h14.309h0.038l-0.019-0.025L35.652,17.768z M33.026,5.211l0.424,5.971L23.272,24.551h2.161l8.202-10.764l0.245,3.448l-9.496,12.524
			h-0.429l-4.781-6.299L33.026,5.211z M11.786,29.758L2.29,17.234l0.249-3.501l8.242,10.817h2.161L2.723,11.129l0.42-5.918
			l13.853,18.249l-4.781,6.299H11.786z M14.392,29.758l3.693-4.865l3.693,4.865H14.392z"></path>
	</svg>
</div>

