
 
<div class="container-fluid">




    <div class="TileContainer">
      <div class="TileHeader">
            <h3 class="TileTitle">TradesX</h3>
            <ul class="TileHeaderActions">
              <li>
                <a class="BtnFullscreen Max" role="button" title="Toggle fullscreen"></a>
              </li>
            </ul>
             <div class="clear"></div>
          </div>
          <div class="TileBody">

            <table class="table Portfolio table-striped table-hover">
              <thead>
                <tr class="background_color">
                    <th ng-repeat="category in tradeHead ">{{category}}</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="client in trade">
                  <td>
                    <span>
                      {{client.date}}
                    </span>
                  </td>
                  <td>
                    <span>
                      {{client.fund}}
                    </span>
                  </td>
                  <td>
                    <span>
                      {{client.bbgid}}
                    </span>
                  </td>
                  <td>
                    <span>
                      {{client.boughtOrSold}}
                    </span>
                  </td>
                  <td>
                    <span>
                      {{client.unitsBoughtOrSold}}
                    </span>
                  </td>
                  <td>
                    <span>
                      {{client.unitPrice}}
                    </span>
                  </td>
                  <td>
                    <span>
                      {{client.outstanding}}
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>

              <div class="clear"></div>
          </div>
      </div>



</div>

<script type="text/javascript" src="../js/Functions.js"></script>
