











<!--

████████╗ █████╗ ██████╗ ██╗     ███████╗     ██╗
╚══██╔══╝██╔══██╗██╔══██╗██║     ██╔════╝    ███║
   ██║   ███████║██████╔╝██║     █████╗      ╚██║
   ██║   ██╔══██║██╔══██╗██║     ██╔══╝       ██║
   ██║   ██║  ██║██████╔╝███████╗███████╗     ██║
   ╚═╝   ╚═╝  ╚═╝╚═════╝ ╚══════╝╚══════╝     ╚═╝
-->

    <div class="TileContainer cashposition">
      <div class="TileHeader">
            <h3 class="TileTitle">Cash Position</h3>
            <ul class="TileHeaderActions">
              <li>
                <a class="BtnFullscreen Max" role="button" title="Toggle fullscreen"></a>
              </li>
            </ul>
             <div class="clear"></div>
          </div>
          <div class="TileBody">

                 <table class="table Portfolio table-striped table-hover">
                    <thead>
                      <tr class="background_color">
                        <th ng-repeat="category in cashPositionHead">{{category}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="client in cashPosition">
                        <td>
                          <span>
                            {{client.currency}}
                          </span>
                        </td>
                        <td>
                          <span>
                            {{client.amount | number:2}}
                          </span>
                        </td>
                       <td> <button class="modal-trigger" id="cashBondsCol" data-toggle="modal" ng-click="editCashPosition($index)">{{client.action}}</button></td>
                      </tr>
                    </tbody>
                  </table>

              <div class="clear"></div>
          </div>
      </div>



<!--
 ██╗ ██╗ 
████████╗
╚██╔═██╔╝
████████╗
╚██╔═██╔╝
 ╚═╝ ╚═╝ 
-->  

    <div class="insufficient hide">
       <div class="innercontent">
          <div><i class="fa fa-times pull-right insufficient-close" ng-click="insufficientClose()" aria-hidden="true"></i> </div>
          <div>Insufficient funds available</div>
          <div class="clearfix">
            <button ng-click="insufficientClose()" class="pull-right insufficient-button insufficient-close">Ok</button>
          </div>
       </div>
    </div>

    <form ng-submit="addPosition(cashPositionPopup)" class="ng-pristine ng-invalid ng-invalid-required" name="form" method="post" novalidate="">
        <div class="modal fade new_row" id="cashPositionPopup" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header clearfix">
                <h5 class="col-sm-10" id="cashPositionLabel2">CASH POSITION</h5>
                <button type="button" class="close col-sm-1 no_padding" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body clearfix">
                <div class="col-xs-6">
                  <div class="input-field">
                    <input type="text" id="currency" ng-model="cashPositionPopup.currency" disabled>
                    <label class="dropdown-label " for="currency" id="currentCurrencyLabel">Current Currency</label>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="input-field">
                    <input type="number" step='0.01' id="amount" ng-model="cashPositionPopup.amount" disabled>
                    <label id="amountLabel">Amount</label>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="input-field">
                    <label class="dropdown-label " ng-class="changeNewCurrency ? 'active':''" for="newcurrency" id="newCurrencyLabel">New Currency</label>
                    <button type="button"  class="btn btn-default dropdown-button text-left col-md-12 no_padding"  href="#" data-activates="selected55" id="newcurrency">{{selectNewCurrency.newCurrency}}</button>
                    <ul id='selected55' class='dropdown-content'  >
                       <li ng-repeat="item in newCurrency" ng-click="changeNew(item.name)">
                           {{item.name}}
                       </li>
                    </ul>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="input-field">
                    <input type="number" step="0.01" id="exchangerate" ng-model="cashPositionPopup.exchangeRate" disabled=>
                    <label id="exchangeRateLabel">Exchange Rate</label>
                  </div>
                </div>
                <div class="col-xs-12">
                  <div class="input-field">
                    <input type="number" step="0.01" id="amountnew" ng-model="cashPositionPopup.amountNewCurrency" disabled=>
                    <label id="amountNewLabel">Available Amount in New Currency</label>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="input-field">
                    <input type="number" id="amounttobuy" step="0.01" ng-model="cashPositionPopup.amtToBuy" ng-blur="convertAmount()">
                    <label id="amountBuyLabel">Amount to Buy</label>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="input-field">
                    <input type="number" step="0.01" id="amountold" ng-model="cashPositionPopup.amountold" disabled=>
                    <label id="amountCurrentLabel">Amount in Current Currency</label>
                  </div>
                </div>

                <div class="col-xs-12">
                  <button class="btn btn-black-bg waves-effect col-sm-3 pull-right text-center client_submit no_padding" type="submit" id="submitLabel1">SUBMIT</button>
                  <button class="btn btn-grey-bg waves-effect col-sm-3 pull-right text-center no_padding cancel" data-dismiss="modal" id="cancelLabel1">CANCEL</button>
                  <div class="col-xs-1 pull-right"></div>
              </div>
              </div>
            </div>
          </div>
        </div>
    </form>








<!--

████████╗ █████╗ ██████╗ ██╗     ███████╗    ██████╗ 
╚══██╔══╝██╔══██╗██╔══██╗██║     ██╔════╝    ╚════██╗
   ██║   ███████║██████╔╝██║     █████╗       █████╔╝
   ██║   ██╔══██║██╔══██╗██║     ██╔══╝      ██╔═══╝ 
   ██║   ██║  ██║██████╔╝███████╗███████╗    ███████╗
   ╚═╝   ╚═╝  ╚═╝╚═════╝ ╚══════╝╚══════╝    ╚══════╝
-->  



    <div class="TileContainer newcashbonds">
      <div class="TileHeader">
            <h3 class="TileTitle">Cash Position</h3>
           
            <ul class="TileHeaderActions">
              <li>
                <a class="BtnAdd" id="newCashBondLabel" role="button" title="Toggle fullscreen" data-toggle="modal" ng-click="newCashBonds()">New Cash Bond</a>
                <a class="BtnFullscreen Max" role="button" title="Toggle fullscreen"></a>
              </li>
            </ul>
             <div class="clear"></div>
          </div>
          <div class="TileBody">
            <table class="table Portfolio table-striped table-hover tradesPage-table"> 
                <thead>
                  <tr class="background_color">
                      <th ng-repeat="category in bondsHead">{{category}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="trade in cashBonds">
                    <td>{{trade.security}}</td>
                    <td>{{trade.bbgid}}</td>  
                    <td>{{trade.currency}}</td>  
                    <td>{{trade.maturity}}</td>  
                    <td>{{trade.coupon}}</td>  
                    <td>{{trade.yield}}</td>
                    <td>{{trade.rating}}</td>  
                    <td>{{trade.price | number:2}}</td>  
                    <td>{{trade.quantity | number:2}}</td>  
                    <td>{{trade.value | number:2}}</td>  
                    <td>{{trade.targetValue | number:2}}</td>  
                    <td> <button class="modal-trigger cashBondsAction" id="cashBondsCol" data-toggle="modal" ng-click="editCashBonds($index)">{{trade.action}}</button></td>                              
                  </tr>
                </tbody>
            </table>
            <div class="clear"></div>
          </div>
      </div>


<!--
 ██╗ ██╗ 
████████╗
╚██╔═██╔╝
████████╗
╚██╔═██╔╝
 ╚═╝ ╚═╝ 
-->  

    <form ng-submit="addNewCash(saveings_plan_form)" class="ng-pristine ng-invalid ng-invalid-required" name="form" method="post" >

        <div class="modal fade new_row" id="newCashBondsPopup" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header clearfix">
                <h5 class="col-sm-10" id="cashBondsLabel2">CASH BONDS</h5>
                <button type="button" class="close col-sm-1 no_padding" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body clearfix">
                <div class="col-xs-12">
                  <div class="input-field">
                    <input type="text" id="bbgid" ng-model="cashBondsPopup.bbgid" ng-blur="lookupbbgid()">
                    <label id="bbgidLabel">BBGID</label>
                  </div>
                </div>
                <div class="col-xs-12">
                  <div class="input-field">
                    <input type="text" id="security" ng-model="cashBondsPopup.security" ng-blur="lookupSecurity()">
                    <label id="securityLabel">Security</label>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="input-field">
                    <input type="number" id="name" step="0.01" ng-model="cashBondsPopup.maturity" disabled>
                    <label id="maturityLabel">Maturity</label>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="input-field">
                    <input type="number" id="type" step="0.01" ng-model="cashBondsPopup.coupon" disabled>
                    <label id="couponLabel">Coupon</label>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="input-field">
                    <input type="number" id="class" step="0.01" ng-model="cashBondsPopup.yield" disabled>
                    <label id="yieldLabel">Yield</label>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="input-field">
                    <input type="text" id="rating" ng-model="cashBondsPopup.rating">
                    <label id="ratingLabel">Rating</label>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="input-field">
                    <input type="number" id="unitPrice" ng-model="cashBondsPopup.price" step="0.01" min="0" disabled>
                    <label id="priceLabel">Price</label>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="input-field">
                    <input type="number" id="currentQuantity" ng-model="cashBondsPopup.CurrentQuantity" step="0.01" min="0" disabled>
                    <label id="currentQuantityLabel">Current quantity</label>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="input-field">
                    <input type="text" id="currency" ng-model="cashBondsPopup.currency" disabled>
                    <label id="currencyLabel">Currency</label>
                  </div>
                </div>

                <div class="col-xs-6">
                  <div class="input-field">
                    <input type="number" id="targetQuantity" ng-model="cashBondsPopup.targetValue" step="0.01" min="0">
                    <label id="targetQuantityLabel">Target quantity</label>
                  </div>
                </div>

                <div class="col-xs-6">
                  <div class="input-field">
                    <label class="dropdown-label" ng-class="changebuyOrSell ? 'active':''" for="buyorsell" id="buySellLabel">Buy Or Sell</label>
                    <button type="button"  class="btn btn-default dropdown-button text-left col-md-12 no_padding"  href="#" data-activates="selected35" id="buyorsell">{{selectBuySell.title}}</button>
                    <ul id='selected35' class='dropdown-content'  >
                       <li ng-repeat="item in title" ng-click="changeTrades(item.name)">
                           {{item.name}}
                       </li>
                    </ul>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="input-field">
                    <input type="number" id="quantityTrade" step="0.01" min="0" ng-model="cashBondsPopup.quantity" 
                    ng-change="checkCashBonds(cashBondsPopup)" required>
                    <label id="quantityLabel">Quantity</label>
                    <span ng-show="cashBondsPopup.quantity_error">
                      Invalid Quantity
                    </span>
                  </div>
                </div>
                
                <div class="col-xs-12">
                  <button class="btn btn-black-bg waves-effect col-sm-3 pull-right text-center client_submit n0_padding" type="submit" id="submitLabel2">SUBMIT</button>
                  <button class="btn btn-grey-bg waves-effect col-sm-3 pull-right text-center no_padding cancel" data-dismiss="modal" id="cancelLabel2">CANCEL</button>
                  <div class="col-xs-1 pull-right"></div>
              </div>
              </div>
            </div>
          </div>
        </div>
    </form>








<!--

████████╗ █████╗ ██████╗ ██╗     ███████╗    ██████╗ 
╚══██╔══╝██╔══██╗██╔══██╗██║     ██╔════╝    ╚════██╗
   ██║   ███████║██████╔╝██║     █████╗       █████╔╝
   ██║   ██╔══██║██╔══██╗██║     ██╔══╝       ╚═══██╗
   ██║   ██║  ██║██████╔╝███████╗███████╗    ██████╔╝
   ╚═╝   ╚═╝  ╚═╝╚═════╝ ╚══════╝╚══════╝    ╚═════╝ 
-->  





    <div class="TileContainer newcashbonds">
      <div class="TileHeader">
            <h3 class="TileTitle">Client Cash Position:</label> <span>{{clientCurrencyValue}}</span></h3>
           
            <ul class="TileHeaderActions">
              <li>
                <a class="BtnAdd" id="newtrade" role="button" title="Toggle fullscreen" data-toggle="modal" ng-click="newTrade()">New Security</a>
                <a class="BtnFullscreen Max" role="button" title="Toggle fullscreen"></a>
              </li>
            </ul>
             <div class="clear"></div>
          </div>
          <div class="TileBody">

             <table class="table Portfolio table-striped table-hover tradesPage-table"> 
                  <thead>
                    <tr class="background_color">
                      <th ng-repeat="category in tradesHead">{{category}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="trade in holdings">
                      <td>{{trade.ticker}}</td>  
                      <td>{{trade.name}}</td>  
                      <td>{{trade.bbgid}}</td>
                      <td>{{trade.currency}}</td>
                      <td>{{trade.type}}</td>  
                      <td>{{trade.class}}</td>  
                      <td>{{trade.unitPrice | number:2}}</td>  
                      <td>{{trade.quantity | number:2}}</td>  
                      <td>{{trade.value | number:2}}</td>  
                      <td>{{trade.targetValue | number:2}}</td>  
                      <td> <button class="modal-trigger" id="tradesCol" data-toggle="modal" ng-click="editTrade($index)">{{trade.action}}</button></td>                              
                    </tr>
                  </tbody>
              </table>

            <div class="clear"></div>
          </div>
      </div>






<!--
 ██╗ ██╗ 
████████╗
╚██╔═██╔╝
████████╗
╚██╔═██╔╝
 ╚═╝ ╚═╝ 
-->  




    <div class="insufficient2 hide">
       <div class="innercontent">
          <div><i class="fa-times pull-right insufficient-close" ng-click="insufficientClose2()" aria-hidden="true"></i> </div>
          <div>Insufficient funds available in currency</div>
          <div class="clearfix">
            <button ng-click="insufficientClose2()" class="pull-right insufficient-button insufficient-close">Ok</button>
          </div>
       </div>
    </div> 



    <form ng-submit="addRow(saveings_plan_form)" class="ng-pristine ng-invalid ng-invalid-required" name="form" method="post" novalidate="">
        <div class="modal fade new_row" id="tradePopup" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header clearfix">
                <h5 class="col-sm-10" id="holdingsLabel2">HOLDINGS</h5>
                <button type="button" class="close col-sm-1 no_padding" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body clearfix">
                <div class="col-xs-6">
                  <div class="input-field">
                    <input type="text" id="ticker" ng-model="tradingPopup.ticker" ng-blur=" lookupTicker()">
                    <label id="tickerLabel2">Ticker</label>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="input-field">
                    <input type="text" id="bbgid" ng-model="tradingPopup.bbgid" ng-blur=" lookupBbgid2()">
                    <label id="bbgidLabel2">BBGID</label>
                  </div>
                </div>
                <div class="col-xs-12">
                  <div class="input-field">
                    <input type="text" id="name" ng-model="tradingPopup.name" disabled>
                    <label id="nameLabel2">Name</label>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="input-field">
                    <input type="text" id="type" ng-model="tradingPopup.type" disabled>
                    <label id="typeLabel2">Type</label>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="input-field">
                    <input type="text" id="class" ng-model="tradingPopup.class" disabled>
                    <label id="classLabel2">Class</label>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="input-field">
                    <input type="text" id="currency" ng-model="tradingPopup.currency" disabled>
                    <label id="currencyLabel2">Currency</label>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="input-field">
                    <input type="number" id="unitPrice" ng-model="tradingPopup.unitPrice" step="0.01" min="0">
                    <label id="unitPriceLabel2">Unit price</label>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="input-field">
                    <input type="number" id="currentQuantity" ng-model="tradingPopup.currentQuantity" step="0.01" min="0" disabled>
                    <label id="currentQtyLabel">Current quantity</label>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="input-field"> 
                    <input type="number" id="targetQuantity" step="0.01" min="0" ng-model="tradingPopup.targetValue" disabled>
                    <label id="targetQtyLabel">Target quantity</label>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="input-field">
                    <label class="dropdown-label " ng-class="changebuyOrSell ? 'active':''" for="buyorsell" id="buySellLabel2">Buy Or Sell</label>
                    <button type="button"  class="btn btn-default dropdown-button text-left col-md-12 no_padding"  href="#" data-activates="selected5" id="buyorsell">{{selectBuySell.title}}</button>
                    <ul id='selected5' class='dropdown-content'  >
                       <li ng-repeat="item in title" ng-click="changeTrades(item.name)">
                           {{item.name}}
                       </li>
                    </ul>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="input-field">
                    <input type="number" id="quantityTrade" step="0.01" min="0" ng-model="tradingPopup.quantity" ng-change="validateTrade()">
                    <label id="qtyTradeLabel">Quantity to trade</label>
                  </div>
                </div>
                
                <div class="col-xs-12">
                  <button class="btn btn-black-bg waves-effect col-sm-3 pull-right text-center client_submit n0_padding" type="submit" id="submitLabel3">SUBMIT</button>
                  <button class="btn btn-grey-bg waves-effect col-sm-3 pull-right text-center no_padding cancel" data-dismiss="modal" id="cancelLabel3">CANCEL</button>
                  <div class="col-xs-1 pull-right"></div>
              </div>
              </div>
            </div>
          </div>
        </div>
    </form>







<!--

████████╗ █████╗ ██████╗ ██╗     ███████╗    ██╗  ██╗
╚══██╔══╝██╔══██╗██╔══██╗██║     ██╔════╝    ██║  ██║
   ██║   ███████║██████╔╝██║     █████╗      ███████║
   ██║   ██╔══██║██╔══██╗██║     ██╔══╝      ╚════██║
   ██║   ██║  ██║██████╔╝███████╗███████╗         ██║
   ╚═╝   ╚═╝  ╚═╝╚═════╝ ╚══════╝╚══════╝         ╚═╝
-->  




    <div class="TileContainer">
      <div class="TileHeader">
            <h3 class="TileTitle">Recent Trade</h3>
           
            <ul class="TileHeaderActions">
              <li>
                <a class="BtnFullscreen Max" role="button" title="Toggle fullscreen"></a>
              </li>
            </ul>
             <div class="clear"></div>
          </div>
          <div class="TileBody">

                <table class="table Portfolio table-striped table-hover tradesPage-table">
                  <thead>
                    <tr class="background_color">
                      <th ng-repeat="category in tradeHead ">{{category}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="client in trade">
                      <td>
                        <span>
                          {{client.date}}
                        </span>
                      </td>
                      <td>
                        <span>
                          {{client.ticker}}
                        </span>
                      </td>
                      <td>
                        <span>
                          {{client.fund}}
                        </span>
                      </td>
                      <td>
                        <span>
                          {{client.bbgid}}
                        </span>
                      </td>
                      <td>
                        <span>
                          {{client.currency}}
                        </span>
                      </td>
                      <td>
                        <span>
                          {{client.boughtOrSold}}
                        </span>
                      </td>
                      <td>
                        <span>
                          {{client.unitsBoughtOrSold}}
                        </span>
                      </td>
                      <td>
                        <span>
                          {{client.unitPrice}}
                        </span>
                      </td>
                      <td>
                        <span>
                          {{client.outstanding}}
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>

            <div class="clear"></div>
          </div>
      </div>









     </div>  
 </div><!--Container-fluid  end here -->
<script>
 $(document).ready(function(){
    $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 100 // Creates a dropdown of 15 years to control year
  });

  });
</script>

<script type="text/javascript" src="../js/Functions.js"></script>