<div class="scrollable ng-scope">
  <div class="scrollable-content scrollablecontent">
    <div >
      <div id="middle-container">
        <div class="homeContainer">
          <div class="gray-container" ng-class="count ? 'search_menu_container':''" ng-init="getCurrentPosition()">
            <div class="client clearfix overview_page">
                
                <div class="user-log col-md-12 col-sm-12 no_padding right_section"> <!-- advisor details section start here -->
              
                 <div ng-include="'templates/tab-menu.html'" class="container-fluid tab-menu" ng-if="!getUser()">
                </div>
                <div  ng-if="getUser()" >
                  <div ng-include="'templates/client-tabs-menu.html'" class="container-fluid tab-menu padding-left-12per"></div>
                </div>
                <div class="container-fluid user-log padding-12"><!--Container-fluid start here -->
                  <form name="form" novalidate>
                    
                    <table class="table Portfolio table-striped table-hover">
                      <thead>
                        <th ng-repeat="data in userHeader">
                          {{data}}
                        </th>
                      </thead>
                      <tbody>
                        <tr ng-repeat="user in userLog">
                          <td>
                            <input type="text" ng-model="user.firstName">
                          </td>
                          <td>
                            <input type="text" ng-model="user.lastName">
                          </td>
                          <td>
                            <input type="text" ng-model="user.email">
                          </td>
                          <td>
                            <input type="text" ng-model="user.intialPassword">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="col-sm-12 no_padding">
                         <button class="btn btn-black-bg waves-effect col-sm-2 pull-right text-center client_submit" type="button" ng-click="saveAdvisorDetails()">SUBMIT</button>
                         <button class="btn btn-black-bg waves-effect col-sm-2 pull-right client_submit text-center cancel text-center" type="button">CANCEL</button>
                    </div>
                </form>
              </div><!-- Container-fluid end here -->
            </div><!-- client details section end here -->
          </div>
        </div>
      </div>
      <div></div>
    </div>
  </div>
</div>
<script>
</script>